<header id="header">
    <div class="up">
        <div class="container">
            <div class="warrior">
                <img src="./images/icons/sub-logo.png" alt="img">
                <p class="title">Новини ветеранів зі всієї України</p>
            </div>
            <a class="logo-wrpa" href="#"><img src="./images/icons/logo.svg" alt="logo"></a>
            <div class="weather">
                <p>Понеділок, 13 грудня, 2022 -13°С</p>
            </div>
        </div>
    </div>
    <div class="bot">
        <div class="container">
            <div class="search">
                Пошук
            </div>
            <nav class="menu-wrap">
                <ul class="list">
                    <li class="item">
                        <a class="link" href="index.html">ГОЛОВНА</a>
                    </li>
                    <li class="item">
                        <a class="link" href="about.html">ПРО НАС</a>
                    </li>
                    <li class="item drop">
                        <span class="link">РОЗДІЛИ</span>
                        <ul class="sub-menu">
                            <li class="sub-item">
                                <a class="sub-link" href="#">всі новини</a>
                            </li>
                            <li class="sub-item">
                                <a class="sub-link" href="#">правове поле</a>
                            </li>
                            <li class="sub-item">
                                <a class="sub-link" href="#">military</a>
                            </li>
                            <li class="sub-item">
                                <a class="sub-link" href="#">мистецький простір ато</a>
                            </li>
                            <li class="sub-item">
                                <a class="sub-link" href="#">міністерство ветеранів</a>
                            </li>
                            <li class="sub-item">
                                <a class="sub-link" href="#">важливе</a>
                            </li>
                            <li class="sub-item">
                                <a class="sub-link" href="#">ветеранська  спільнота</a>
                            </li>
                            <li class="sub-item">
                                <a class="sub-link" href="#">точка зору</a>
                            </li>
                            <li class="sub-item">
                                <a class="sub-link" href="#">фронт та армія</a>
                            </li>
                            <li class="sub-item">
                                <a class="sub-link" href="#">патріоти до влади</a>
                            </li>
                        </ul>
                    </li>
                    <li class="item">
                        <a class="link" href="#">ВІДЕО</a>
                    </li>
                    <li class="item">
                        <a class="link" href="partners.html">ПАРТНЕРСТВО</a>
                    </li>
                    <li class="item">
                        <a class="link" href="contacts.html">КОНТАКТИ</a>
                    </li>
                </ul>
            </nav>
            <button class="burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
 </header>