body {
    font-family: Montserrat;

    .btn-orange-sm, .btn-white {
        display: inline-flex;
        justify-content: center;
        text-align: center;
        padding: 13px 0;
        min-width: 160px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        border: 2px solid;
    }
    
    .btn-orange-sm {
        background: $orange;
        color: $white;
        border-color: $orange;

        &:hover {
            background-color: #352F2D;
            color: $white;
            border-color: #352F2D;
        }
    }

    .btn-white {
        color: black;
        border-radius: 4px;
        border: 2px solid;
        transition: all 0.5s ease 0s;

        &:hover {
            color: $orange;
            border-color: $orange;
            transition: none;
        }
    }

    .btn-orange-bg {
        display: inline-flex;
        justify-content: space-between;
        text-align: center;
        padding: 13px 20px;
        width: 222px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        background: $orange;
        color: $white;
        margin-top: 40px;
    }

    .pages {
        background: url(../images/about-us/bg-logo.png) no-repeat 0 169px/100%;
        
        @include media("<tablet") {
            background: url(../images/about-us/bg-logo.png) no-repeat 0 31px/100%;
            padding: 80px 0 90px 0;
        }
    }

    .main-mob-logo {

        .mob-logo {
            @include media("<tablet") {
                display: none;
            }
        }
    }
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {

    @include media("<phone") {
        font-size: 24px;
    }
}

h4 {
    margin-bottom: 50px;
}

/* _________________main-section________________ */

.main-section {
    position: relative;
    background-image: url(../images/main-bg.png);
    background-position: 50% 50%;
    width: 100%;
    height: 900px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;

    @include media("<phone") {
        background: url(../images/mob/mob-main-bg.png);
        background-color: rgba(237, 237, 237, 1);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 50% 0;
        height: 100%;
    }

    .main-content {
        padding: 267px 0 207px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include media("<phone") {
            padding: 280px 0 32px 0;
        }
    
        h1 {
            line-height: 59px;
            margin: 53px 0 25px 0;

            @include media("<phone") {
                font-size: 26px;
                line-height: 32px;
                margin:25px 0 28px 0;
            }
        }
    
        p {
            font-size: 18px;
            line-height: 22px;  
            margin: 0 auto;
            margin-bottom: 66px;
            max-width: 470px;

            @include media("<phone") {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 52px;
            }
        }
    }
    
    .main-btn-wrap {

        @include media("<phone") {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .btn-orange-sm {
            margin-right: 22px;

            @include media("<phone") {
                margin: 0 0 17px 0;
            }
        }
    }

   .mob-main-logo {
        display: none;

        @include media("<phone") {
            display: block;
            margin-bottom: 45px;
        }
    }

    .mob-mouse {
        display: none;

        @include media("<phone") {
            display: block;
            margin-top: 27px;
        }
    }
}


/* ________________upgrade-section_____________ */

.upgrade-section {
    padding: 64px 0 70px 0;

    @include media("<phone") {
        padding: 52px 0 92px 0;
    }
    
    h4 {
        text-align: center;
        line-height: 27px;
        margin-bottom: 20px;

        @include media("<phone") {
            margin-bottom: 22px;
        }
    }
    
    .total {
        display: flex;
        justify-content: space-around;

        @include media("<desktop") {
            flex-wrap: wrap;
        }
    
        @include media("<phone") {
            flex-direction: column;
        }
    
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            padding: 0 15px;

            @include media("<phone") {
                max-width: 310px;
                margin: 0 auto;
                margin-bottom: 62px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
    
            .icon-men {
                font-size: 35px;
            }
    
            p {
                margin-top: 15px;
                text-align: center;
                font-size: 20px;
                line-height: 24px;
            }
    
            &::after {
                content: '';
                display: block;
                width: 145px;
                height: 1px;
                background-color: $orange;

                @include media("<phone") {
                    display: none;
                }
            }
        }
    }
}


/* _______________list-section____________ */

.list-section {

    .container {

        @include media("<phone"){
            padding: 0;
        }
    }

    .list-content {
        padding-bottom: 81px;

        h4 {
            text-align: center;
            margin-bottom: 50px;

            @include media("<phone"){
                margin-bottom: 40px;
            }
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 53px;
        margin: 0 auto;

        @include media("<1330px") {
            flex-direction: column;
            justify-content: center;
            align-items:center;
            
        }
    }
    
    .card {
        padding: 87px 55px 87px 63px;
        display: flex;
        justify-content: space-between;
        width: 50%;
        max-width: 650px;
        
        @include media("<1330px") {
            width: 100%;
            max-width: 650px;  
        }

        @include media("<tablet"){
            padding: 60px 20px 30px 0;
        }

        @include media("<phone"){
            flex-direction: column;
            align-items: center;
            padding: 23px 0 34px 0;
            min-width: 100%;
        }

        @include media(">phone"){
            &:hover {
                color: $white;
        
                .btn-orange-bg {
                    background-color: $white;
                    color: $orange;
                }
            }
        }
 
        .card-icon {
            text-align: center;
            max-width: 170px;

            @include media("<phone"){
                width: 100%;
            }
    
            .icon-men {
                font-size: 71px;
            }
    
            h3 {
                font-style: normal;
                font-weight: bold;
                margin: 0 auto;
                margin-top: 45px;

                @include media("<phone"){
                    margin: 15px 0;
                }
            }
        }
    
        .card-text {
            width: 55%;
            margin-left: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;

            @include media("<phone"){
                align-items: center;
                margin: 0;

                p {
                    margin-bottom: 24px;
                }
            }

            @include media("<tablet"){
                margin-left: 0;
            }
    
            .icon-arrow {
                font-size: 14px;
                text-align: center;
                padding-top: 3px;
            }
        }
    }
    
    .card-1, .card-4 {
        background-color: rgba(248, 249, 250, 1);
    }
    
    .card-1 {

        @include media("<phone") {
            background: url(../images/list-bg/1.png);   
            color: $white;

            .btn-orange-bg {
                background-color: $white;
                color: $orange;
            }
        }

        h3 {
            max-width: 160px;

            @include media("<phone") {
                max-width: 100%;
            }
        }

        @include media(">phone"){

            &:hover {
                background: url(../images/list-bg/1.png);  
            } 
        }
    }
    .card-2 {

        @include media("<phone") {
            background: url(../images/mob/mob-bg-card.png);   
        }

        @include media(">phone"){
            &:hover {
               background: url(../images/list-bg/2.png);   
            }
        }
    }
    
    .card-3 {

        @include media("<phone") {
            background: url(../images/list-bg/1.png);   
            color: $white;

            .btn-orange-bg {
                background-color: $white;
                color: $orange;
            }
        }

        h3 {
            max-width: 160px;

            @include media("<phone") {
                max-width: 100%;
            }
        }

        @include media(">phone"){

            &:hover {
                background: url(../images/list-bg/3.png);   
            }
        }
    }
    
    .card-4 {

        @include media("<phone") {
            background: url(../images/mob/mob-bg-card.png);     
        }

        @include media(">phone"){
            &:hover {
                background: url(../images/list-bg/4.png);   
            }
        }
    }
}

/* _______________problems-section___________________ */

.problems-section {
    margin-bottom: 85px;
    font-size: 20px;

    .problems-content {
        
        @include media("<phone") {
            display: flex;   
            justify-content: space-between; 
        }
    }

    .item-wrapper-problem {
        display: flex;
        flex-direction: column;
        
        @include media("<phone") {
            width: 50%; 
            align-items: center;
        }
    }

    .problem {

        @include media("<phone") {
            max-width: 120px;
            margin: 0 0 23px 0;
        }
    }
    
    .problems-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 40px 0 21px 0;
        text-align: center;

        @include media("<phone") {
            flex-direction: column; 
            height: 100%;
            margin: 0; 
        }

        div {
            max-width: 30%;

            @include media("<phone") {
                max-width: none; 
                min-height: 240px;
            }

            i {
                font-size: 35px;

                @include media("<phone") {
                    display: none;
                }
            }

            p {
                margin: 15px 0 0 0;

                @include media("<phone") {
                    margin: 0 0 15px 0;
                }
            }
        }
    }

    .line-wrapper {

        .line {
            display: block;
            background-color: black;
            width: 100%;
            height: 1px;

            @include media("<phone") {
                width: 1px;
                height: 100%;
                margin: 0 15px;
            }
        }
    }

    .item-wrapper-solution {
        display: flex;
        flex-direction: column;

        @include media("<phone") {
            width: 50%; 
        }
    }
    
    .solution {
        margin: 40px 0 40px 0;
        align-self: flex-end;

        @include media("<phone") {
            align-self: center;
            margin: 0 0 23px 0;
            max-width: 120px;
        }
    }

    .solutions-wrapper {
        display: flex;
        justify-content: space-between;
        text-align: center;

        @include media("<phone") {
            flex-direction: column; 
            height: 100%;
            margin: 0; 
        }

        div {
            max-width: 30%;

            @include media("<phone") {
                max-width: none; 
                min-height: 240px;
            }
            
            i {
                font-size: 35px;

                @include media("<phone") {
                    display: none;
                }
            }

            p {
                margin: 15px 0 0 0;

                @include media("<phone") {
                    margin: 0 0 15px 0;
                }
            }
        }
    }

    .btn-orange-bg {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        width: 250px;

        &:hover {
            background-color: #352F2D;
            color: $white;
            border-color: #352F2D;
        }

        @include media("<phone") {
            display: none;     
        }
    }
}

/* ___________our-projects-section______________ */

.our-projects-section {
    margin-bottom: 70px;

    h4 {
        text-align: center;
    }
    
    .mob-swiper {
        display: flex;
    
        .slide1 {
            background:linear-gradient(0deg, rgba(235, 91, 49, 0.8) 41.12%, rgba(235, 91, 49, 0) 100%), url(../images/Our-projects/1.png) 50%/cover no-repeat;
        }
    
        .slide2 {
            background:linear-gradient(0deg, rgba(235, 91, 49, 0.8) 41.12%, rgba(235, 91, 49, 0) 100%), url(../images/Our-projects/2.png) 50%/cover no-repeat;
        }
    
        .slide3 {
            background:linear-gradient(0deg, rgba(235, 91, 49, 0.8) 41.12%, rgba(235, 91, 49, 0) 100%), url(../images/Our-projects/3.png) 50%/cover no-repeat;
        }
    
        .slide4 {
            background:linear-gradient(0deg, rgba(235, 91, 49, 0.8) 41.12%, rgba(235, 91, 49, 0) 100%), url(../images/Our-projects/4.png) 50%/cover no-repeat;
        }
    
        .slide5 {
            background:linear-gradient(0deg, rgba(235, 91, 49, 0.8) 41.12%, rgba(235, 91, 49, 0) 100%), url(../images/Our-projects/5.png) 50%/cover no-repeat;
        }
    
        .text-slide {
            color: $white;
            margin: 0 auto;
            width: 60%;
            padding: 380px 24px 46px 24px;
    
            @include media("<tablet") {
                width: 85%;     
            }
    
            p {
                text-align: justify;
            }
    
            .btn-projects {
                display: block;
                margin: 0 auto;
                max-width: 272px;
                margin-top: 39px;
                background-color: $white;
                color: $orange;
                text-align: center;
                font-size: 16px;
                padding: 13px 0;
                border-radius: 3px 3px 0px 0px;
            }
        }
        
        .swiper-pagination {
            
            .swiper-pagination-bullet {
                background-color: $white;
                opacity: 1;
                width: 10px;
                height: 10px;
            }
            
            .swiper-pagination-bullet-active {
                border: 2px solid #FFFFFF;
                background-color: hsla(210, 17%, 98%, 0);
            }
        }
    
        .swiper-button-prev, .swiper-button-next {
            color: $white;
    
            @include media("<tablet") {
                display: none;    
            }
        }
    }

    .btn-orange-sm {
        display: block;
        margin: 0 auto;
        max-width: 149px;
        margin-top: 40px;
    }
}


/* _______________________awards-section_____________________ */

.awards-section {

    .container {

        @include media("<phone") {
            padding: 0;
         }
    }

    h4 {
        text-align: center;
    }

    .awards-wrap {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 79px;

        @include media("<1330px") {
            flex-wrap: wrap;
            justify-content: center;
        }
        
        @include media("<phone") {
           justify-content: center;
           width: 303px;
           margin: 0 auto;
           margin-bottom: 72px;
        }
    }

    .a-card {
        padding: 50px 60px 57px 60px;
        background-color: #F15A24;
        color: #fff;
        font-size: 22px;
        min-width: 310px;
        border-radius: 6px;
        margin-right: 20px;
        
        @include media("<1330px") {
            margin: 20px 10px 0;
        }

        @include media("<phone") {
            background-color: hsla(16, 88%, 54%, 0);
            min-width: 0;
            min-height: 0;
            padding: 0 41px 19px 10px;
            margin: 0;
            border-color: $orange;
            border-style: solid;
            border-radius: 0;
            border-width: 0 1px 1px 0;

            &:nth-child(even) {
                padding: 0 10px 0 41px;
                border-width: 0 0 1px 0;
            }

            &:nth-child(3n), &:nth-child(4n){
                padding-top: 19px;
                border-width: 0 1px 0 0;
            }
        }

        &:last-child {
            margin-right: 0;

            @include media("<1330px") {
                margin-right: 10px;
            }

            @include media("<phone") {
                margin: 0;
                border-width: 0 0 0 0;
            }

        }

        img {
            max-width: 190px;

            @include media("<phone") {
                max-width: 90px;
            }
        }

        p{
            margin-top: 66px;

            @include media("<phone") {
                display: none;
            }
        }
    }

    .a-card2 {
        padding: 69px 45px 72px 45px;

        @include media("<phone") {
            padding: 0;
        }
    }
}

/* __________________todiscuss-section_____________ */

.todiscuss-section {
    padding-bottom: 130px;

    @include media("<tablet") {
        padding-bottom: 75px;
    }

    h3 {
        margin-bottom: 45px;
        text-align: center;
    }

    .content-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include media("<desktop") {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .todiscuss-text-wrap {
        max-width: 50%;
        font-size: 16px;
        line-height: 21px;

        @include media("<tablet") {
            max-width: 100%
        }

        p {
            margin: 0;
            padding-right: 10px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left: 144px;

        @include media("<desktop") {
            margin: 40px 0 0 0;
        }

        input {
            padding: 11px;
            height: 44px;
            border: 1px solid #EB5B31;
            box-sizing: border-box;
            border-radius: 3px;
            background: $white;
            text-align: center;
            margin-bottom: 16px;
            color: $orange;
            
            &:focus {
                border: 1px solid #EB5B31;
            }
        }

        .btn-form {
            max-height: 50px;
            padding: 15px 59px;
            background: #EB5B31;
            border-radius: 3px;
            border: none;
            outline: none;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;

            &:hover {
                background-color: #352F2D;
                color: $white;
                border-color: #352F2D;
            }
        }
    }
}

/* ________________thebook-section_______________________ */

.thebook-section {
    position: relative;
    background: url(../images/orenge-bg.png) bottom left/ 35% 85% no-repeat;
    padding-bottom: 50px;
    margin-bottom: -5px;

    @include media("<tablet") {
        background: url(../images/orenge-bg.png) bottom/ 100% 25% no-repeat;
        padding-bottom: 152px;
    }

    .bg-book {
        position: absolute;
        right: -195px;
        top: 280px;
        color: $orange;
        font-weight: bold;
        font-size: 90px;
        line-height: 110px;
        transform: rotate(-90deg);
        margin: 0;
        z-index: -1;

        @include media("<desktop") {
            display: none;
        }
    }

    .title {
        text-align: center;
        margin: 0 auto;

        h4 {
            margin: 0 0 6px 0;
        }

        p {
            font-size: 20px;
            margin-bottom: 50px;

            @include media("<tablet") {
                margin-bottom: 47px;
            }
        }
    }

    .item-wrap {
       display: flex;
       justify-content: center;
       align-items:center;
       padding: 50px 0 0 0;

       @include media("<desktop") {
            justify-content: space-between;
        }

        @include media("<tablet") {
            flex-direction: column;
            padding: 0;
        }
    }

    .img-bg {

        @include media("<tablet") {
            order: 2;
        }
    }

    .text-wrap {
        margin-left: 133px;
        min-width: 360px;

        @include media("<desktop") {
            margin-left: 25px;
        }

        @include media("<tablet") {
            order: 1;
            margin: 0 0 63px 0;
            max-width: 360px;
            min-width: 0;
        }
        
        div {
            display: flex;
            margin-bottom: 30px;

            @include media("<tablet") {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }

        i {
            color: $orange;
            font-size: 40px;
        }

        p {
            margin: 0 0 0 51px;
            font-size: 20px;
            line-height: 24px;
            max-width: 360px;

            @include media("<tablet") {
                margin: 12px 0 0 0;

            }
        }
    }

    .btn-orange-bg {
        width: 300px;
        margin: 40px 0 0 0;

        &:hover {
            background-color: #352F2D;
            color: $white;
            border-color: #352F2D;
        }

        @include media("<tablet") {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 40px;
            background: $white;
            color: $orange;
            justify-content: space-evenly;
        }

        @include media("<phone") {
            width: 80%;
        }
        
        .icon-arrow {
            color: $white;
            font-size: 14px;
            padding-top: 3px;

            @include media("<tablet") {
                color: $orange;
            }
        }
    }
}

/* _________________about-us-section______________ */

.about-us-section {
    padding: 169px 0 130px 0;

    @include media("<1110px") {
        padding: 100px 0 80px 0;
    }

    .about-us-content {
        text-align: center;

        h1 {
            margin: 106px 0 43px 0;
            color: $orange;

            @include media("<tablet") {
                font-size: 24px;
                margin: 0 0 24px 0;
            }
        }
    }

    .main-img-text {
        width: 100%;
        background-color: $orange;
        padding: 16px 0 19px 0;
        color: #fff;
        margin-bottom: 56px;
        
        h3 {
            margin: 0;
            padding: 0 10px;

            @include media("<phone") {
                font-size: 12px;
            }
        }
    }

    .about-us-text, .our-wrap {
        display: flex;
        justify-content: space-around;
        font-size: 24px;
        line-height: 150%;
        text-align: justify;
        flex-wrap: wrap;

        @include media("<tablet") {
            font-size: 20px;
        }

        @include media("<phone") {
            font-size: 18px;
        }
        
        p {
            max-width: 500px;
            margin: 0 15px 40px 15px;

            @include media("<tablet") {
                margin: 0 15px 60px 15px;
            }

            @include media("<phone") {
                margin: 0;
            }
        }

        h3 {
            color: $orange;
            margin-left: 15px;

            @include media("<1110px") {
                text-align: center;
                margin: 50px 0 20px 0;
            }
        }
    }

    .btn-orange-sm {

        @include media("<phone") {
            margin-top: 35px;
            width: 80%;
        }
    }

    .our-wrap {
        position: relative;
        margin-top: 90px;

        @include media("<1110px") {
            margin: 0;
        }

        p {
            margin: 0 15px;

            @include media("<phone") {
                margin: 0;
            }
        }

        .vertical-line {
            background: #C4C4C4;
            width: 1px;

            @include media("<1110px") {
                display: none;
            }
        }
    }
}

/* __________________________top5-section_________________________ */

.top5-section {
    margin-bottom: 11px;
    text-align: center;

    h2 {
        color: $orange;
        margin-bottom: 128px;

        @include media("<tablet") {
            margin-top: 25px;
        }

        @include media("<phone") {
            font-size: 24px;
            margin-bottom: 56px;
        }
    }

    .top-wrap {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .top-item {
        max-width: 360px;
        margin: 0 15px 66px 15px;

        i {
            font-size: 32px;
        }
        
        p {
            font-size: 20px;
            margin: 0;
        }

        .title-top {
            margin: 18px 0 8px 0;
        }
    }
}

/* ________________________review-section____________________ */

.review-section {
    text-align: center;
    padding-bottom: 77px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .container {
        width: 100%;
    }
    
    .clutch-widget-desk {
        max-width: 1020px;
        margin: 0 auto;
        margin-bottom: 40px;

        iframe {
            max-height: 100%;
        }

        @include media("<phone") {
            display: none;
        }
    }

    .clutch-widget-mob {
        display: none;

        @include media("<phone") {
            display: flex;
            max-width: 300px;
            margin: 0 auto;
            margin-bottom: 40px;
        }
    }
}

/* ________________________services-section________________________ */

.services-section {
    padding: 275px 0 90px 0;
    
    @include media("<tablet") {
        padding: 80px 0 90px 0;
    }

    h1 {
        color: $orange;
        text-align: center;
        margin-bottom: 115px;
        
        @include media("<tablet") {
            margin-bottom: 0;
        }

        @include media("<phone") {
            margin-bottom: 37px;
        }
    }

    .services-wrap {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .img-wrap {
        padding-top: 93px;

        @include media("<phone") {
            padding-top: 0;
        }
    }

    .text-wrap {
        padding: 0 20px;

    }

    h2 {
        margin-bottom: 159px;

        @include media("<1242px") {
            font-weight: bold;
            text-align: center;
            margin: 50px 0;
        }
    }

    .wrap-item {
        display: flex;
        flex-wrap: wrap;
        max-height: 320px;
        max-width: 600px;
        margin: 0 auto;

        .item {
            width: 50%;
            border: #C4C4C4;
            border-style:solid;
            border-width: 0 1px 1px 0;

            &:nth-child(even) {
                border-width: 0 0 1px 0;
            }

            &:nth-child(3n) {
                border-width: 0 1px 0 0;
            }

            &:nth-child(4n) {
                border-width: 0 0 0 0;
            }

            p {
                text-align: center;
                font-weight: 600;
                font-size: 36px;
                padding: 50px 0 60px 0;
                margin: 0;

                @include media("<tablet") {
                    font-size: 28px;
                    padding: 50px 0;
                }

                @include media("<phone") {
                    font-size: 17px;
                    padding: 35px 0;
                }
            }
        }
    }
}

/* ______________________buy-section______________________ */

.buy-section {
    margin-bottom: 77px;

    .buy-content {
        background: url(../images/services/buy-bg.jpg);
        padding: 12px 0 48px 0;
        text-align: center;
        
        color: $white;
    }

    .buy-item-wrap {
        display: flex;
        flex-direction: column;

        p {
            font-size: 20px;
        }

        i {
            font-size: 36px;
        }
    }

    .wrap1, .wrap2, .wrap3 {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 60px;

        @include media("<tablet") {
            flex-direction: column;
            margin-top: 0;
        }
    }

    .wrap1, .wrap3 {
        align-self: center;
    }

    .buy-item {
        min-width: 359px;

        @include media("<tablet") {
            margin-top: 55px;
            min-width: 0;
            width: 100%;
        }

        i {
            font-size: 32px;
        }

        .item-title {
            margin: 18px 0 8px 0;
        }

        p {
            margin-bottom: 0;
        }
    }

    .btn-orange-sm {
        margin-top: 73px;
        background-color: $white;
        color: $orange;
    }
}

/* ______________________vacancies-section_______________________ */

.vacancies-section {
    margin-bottom: 128px;

    @include media("<desktop") {
        background-color: #F8F9FA;
        margin-bottom: 60px;
    }

    .vacancies-content {
        display: flex;
        flex-direction: column;
    }

    .vacancies-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include media("<desktop") {
            flex-direction: column;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            @include media("<desktop") {
                flex-direction: column;
            }

            .text-wrap {
                background: $white;

                @include media("<desktop") {
                    background-color: #F8F9FA;
                }
            }
        }
    }

    .img-wrap {
        width: 50%;

        @include media("<desktop") {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .text-wrap {
        width: 50%;
        background-color: #F8F9FA;
        padding: 57px 95px 43px 95px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: justify;
        height: 463px;

        @include media("<desktop") {
            width: 100%;
            padding: 35px 0;
            text-align: center;
            align-items: center;
            height: 100%;
        }

        h2 {
            font-size: 30px;
            margin-bottom: 0;
        }
        
        p {
            margin: 20px 0 20px 0;
        }
    }

    .hashtag-wrap {
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;

        @include media("<desktop") {
            justify-content: center;
        }
        
        a {
            color: $orange;
            padding: 5px 20px;
            background-color: rgba(234, 234, 234, 1);
            margin: 10px 7px 0 0;
        }
    }

    .btn-orange-sm {
        align-self: flex-start;

        @include media("<desktop") {
            align-self: center;
            margin-top: 30px;
        }
    }
}
/* 
________________________portfolio-section_____________________ */

.portfolio-section {
    padding: 274px 0 101px 0;

    @include media("<tablet") {
        padding-bottom: 37px;
    }

    .portfolio-content {
        display: flex;
        flex-direction: column;
    }

    h1 {
        text-align: center;
        color: $orange;
        margin-bottom: 174px;

        @include media("<tablet") {
            margin-bottom: 37px;
        }
    }

    .cards-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media("<tablet") {
            flex-direction: column;
            align-items: center;
        }
    }  

    .card {
        display: flex;
        flex-direction: column;

        @include media("<tablet") {
            position: relative;
            
            &::after {
                content:'';
                position: absolute;
                display: block;
                height: 1px;
                width: 30%;
                background-color: #C4C4C4;
                top: 96%;
                left: 50%;
                transform: translateX(-50%);
            }
        }     

        p {
            margin: 8px 0 4px 0;
            color: #8C8C8C;

            @include media("<tablet") {
                order: 3;
                text-align: center;
                margin: 0 0 210px 0;
            }
        }

        h3 {
            margin-bottom: 40px;

            @include media("<tablet") {
                order: 2;
                margin: 30px 0 15px 0;
                text-align: center;
            }
        }
    }
    
    .card-content {
        position: relative;

        @include media("<tablet") {
            order: 1;
        }

        @include media(">tablet") {

            &:hover {
    
                .hover-wrap {
                    opacity: 1;
                }
            }
        }

        .hover-wrap {
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 110px 21px 55px;
            color: $white;
            background:$orange;
            opacity: 0;
            transition: all 0.3s ease-in-out;

            @include media("<tablet") {
                opacity: 1;
                height: 0;
                background: none;
                top: 125%;
                padding: 0;
            }
            
            h3 {

                @include media("<tablet") {
                    display: none;
                    order: 3;

                }
                
            }

            p {
                font-size: 18px;
                color: $white;

                @include media("<tablet") {
                    order: 1;
                    margin-bottom: 20px;
                    color: black;
                }
            }
    
            .btn-orange-sm {
                border-color: $white;
                align-self: center;

                @include media("<tablet") {
                    order: 2;
                    border: none;
                }
            }
        }
    }

    .btn-orange-sm {
        align-self: center;
    }
    
    .portfolio-btn {
        
        @include media("<tablet") {
           background: $white;
           color:rgba(140, 140, 140, 1);
           border: 1px solid rgba(140, 140, 140, 1);
           margin-bottom: 50px;

        }
    }
}

/* ________________________project-section____________________ */

.project-section {
    padding: 149px 0 50px 0;

    @include media("<tablet") {
        padding: 50px 0 50px 0;
    }

    .orenge-line {
        display: flex;
        justify-content: space-between;
        background-color: $orange;
        color: $white;
        padding: 12px 96px;
        margin-bottom: 60px;

        a {
            margin-top: 12px;
        }

        i {
            font-size: 33px;
            color: $white;

            @include media("<tablet") {
                display: none;
            }
        }

        h1 {
            margin: 0;
        }
    }

    .text-wrap {
        display: flex;
        text-align: justify;

        @include media("<desktop") {
            flex-direction: column;
            align-items: center;
        }
        
        .text {
            margin-right: 60px;
            max-width: 814px;

            @include media("<desktop") {
                margin-right: 0;
            }

            @include media("<tablet") {
                text-align: center;

                p {
                    text-align: justify;
                }
            }
        }
    }
    
    .about {
        margin-bottom: 50px;    
        
        h3 {
            margin-bottom: 15px;
        }
    
        p {
            margin-bottom: 15px;
        }
    }

    .have {
        display: flex;

        @include media("<desktop") {
            flex-direction: column;
            align-items: center;
        }

        h3 {
            margin-bottom: 25px;
        }

        .icon-wrap {
            display: flex;
            font-size: 68px;
            color: $orange;

            @include media("<tablet") {
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
            }

            i {
                margin-right: 30px;

                @include media("<tablet") {
                    margin-right: 0;
                    margin: 20px 10px 0;
                }
            }
        }
    }

    .result {

        @include media("<desktop") {
            margin-top: 30px;
        }

        p {
            margin: 0;
        }
    }

    .feedback-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media("<desktop") {
            max-width: 814px;
            margin: 50px 0;
        }

        h3 {
            margin-bottom: 25px;

            @include media("<desktop") {
                text-align: center;
            }
        }
    }

    .profil-wrap {
        display: flex;
        
        @include media("<tablet") {
            justify-content: center;
        }
    }

    .foto {
        width: 100%;

        @include media("<tablet") {
            width: 40%;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    }

    .profil-text {
        margin-left: 9px;

        @include media("<tablet") {
            width: 60%;
        }

        h3 {
            margin-bottom: 0;

            @include media("<desktop") {
                text-align: start;
            }
        }

        .pc {
            font-size: 12px;
            font-style: italic;
            margin-bottom: 16px;
        }
    }

    .btn-orange-sm {
        margin: auto 0 0 0;

        @include media("<desktop") {
            margin-top: 50px;
        }
    }
}

/* ________________________see-section_________________________ */

.see-section {
    margin-top: 50px;
    background: url(../images/orenge-bg.png) 0 0/50% 100% no-repeat,
                url(/dist/images/project/see-bg.jpg) 100% 0/50% 100% no-repeat;

                @include media("<desktop") {
                    display: none;
                }

    .see-content {
        display: flex;
    }

    .we-do {
        min-width: 50%;
        color: $white;
        padding: 55px 225px 100px 100px;
        font-size: 24px;

        .title {
            margin-bottom: 50px;
        }

        a {
            color: $white;
        }
    }

    .item {
        display: flex;
        justify-content: space-between;

        p {
            margin-bottom: 25px;
        }
    }

    .bottom-line {

        &:hover {
            text-decoration: underline;
        }
    }

    .other-project {
        padding: 30px 0 33px 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 24px;
        line-height: 45px;

        .text {
            margin-left: 40px;
        }
    }

    .btn-orange-sm {
        margin: 0 auto;
        min-width: 400px;
    }
}

/* ________________________blog-section___________________________ */

.blog-section {
    padding: 275px 0 100px 0;

    @include media("<phone") {
        padding:  275px 0 0 0;
    }

    .blog-content {
        display: flex;
        flex-direction: column;
        text-align: center;

        h1 {
            color: $orange;
            margin-bottom: 145px;

            @include media("<tablet") {
                margin-bottom: 37px;
            }
        }
    }

    .blog-item-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;

        @include media("<1317px") {
            justify-content: space-around;
        }

        @include media("<phone") {
            margin-bottom: 0;
        }
    }

    .blog-item {
        position: relative;
        margin-bottom: 5px;
    }
    
    .blog-item-text {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white;
        background: hsla(14, 82%, 56%, 0.5);

        h3 {
            margin-bottom: 17px;
            font-weight: 600;
        }

        p {
            margin-bottom: 19px;
            font-size: 18px;
        }
        
        .btn-orange-sm {
            align-self: center;
            background: $white;
            color: $orange;
            border-color: $white;
        }
    }

    .btn-orange-sm {
        align-self: center;
    }
    
    .blog-btn {
        @include media("<phone") {
            display: none;
        }
    }
}

/* _______________________blog-read-section______________________ */

.blog-read-section {
    padding: 150px 0 40px 0;

    @include media("<tablet") {
        padding: 50px 0 40px 0;
    }

    .blog-read-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-title-wrap {
        width: 100%;
        text-align: center;
        padding: 30px 0 60px 0;

        p {
            margin: 15px 0 0 0;

            @include media("<tablet") {
                display: none;
            }
        }
    }

    .blog-title {
        display: flex;
        justify-content: center;
        align-items:center;

        h1 {
            margin: 0 7% 0; 
        }

        a {
            font-size: 25px;
            color: black;
            padding-top: 15px;

            @include media("<tablet") {
                display: none;
            }
        }
    }

    .blog-text-wrap {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .blog-text-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media("<1100px") {
            flex-direction: column;
        }

        .blog-text {
            max-width: 675px;
            font-size: 24px;
            text-align: justify;
            margin-right: 30px;

            @include media("<1100px") {
                max-width: 100%;
                margin-right: 0;
            }  
        }

        .blog-img {
            max-width: 595px;

            @include media("<1100px") {
                margin-top: 30px;
            }  
        }
    }

    .item2 {
        margin: 50px 0 40px 0;

        .blog-text {
            margin: 0 0 0 80px;

            @include media("<1100px") {
                margin: 0;
            }  
        
            h2 {
                font-size: 32px;
                margin-bottom: 15px;

                @include media("<1100px") {
                    text-align: center;
                }  
            }
        }

        .blog-img2 {

            @include media("<1100px") {
                display: none;
            }
        }
    }

    .item3 {
        margin-bottom: 30px;
        
        .blog-text {
            max-width: 895px;
            display: flex;
            flex-direction: column;
            align-items:center;
            margin: 0;
            
            h3 {
                margin-top: 36px;
                max-width: 528px;
                text-align: center;
            }
        }
        
        .paragraph1 {
            margin: 0 0 30px 0;

            @include media("<tablet") {
                display: none;
            }
        }

        .paragraph2 {

            @include media("<tablet") {
                display: none;
            }
        }
        
    }

    .paragraph2 {
        margin: 0;
        
    }
}

/* ________________________contact-section____________________ */

.contact-section {
    padding: 275px 0 31px 0;
    text-align: center;

    h1 {
        color: $orange;
        margin-bottom: 135px;

        @include media("<phone") {
            margin-bottom: 37px;
        }
    }

    h3 {
        margin-bottom: 105px;

        @include media("<phone") {
            margin-bottom: 37px;
        }
    }

    .contact-wrap {
        display: flex;
        justify-content: space-between;

        @include media("<1100px") {
            flex-direction: column;
            align-items: center;
        }
    }

    form {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 405px;
        
        input {
            border: 1px solid $orange;
            margin-bottom: 30px;
            padding: 14px 15px;
            text-align: center;
            color: $orange;

            &::placeholder {
                color: #DBDBDB;
                font-size: 20px;
            }

            &:focus {
                border: 1px solid $orange;
            }
        }

        textarea {
            min-height: 175px;
            border: 1px solid $orange;
            margin-bottom: 40px;
            padding: 10px 20px;
            color: $orange;
        }

        .btn-form-wrap {
            display: flex;

            .btn-form {
                max-width: 160px;
                max-height: 50px;
                padding: 15px 59px;
                background: $orange;
                border-radius: 3px;
                border: none;
                outline: none;
                color: $white;
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                display: block;

                &:hover {
                    background-color: #352F2D;
                    color: $white;
                    border-color: #352F2D;
                }
            }

            p {
                align-self: center;
                margin: 0 0 0 30px;
                text-align: justify;
                font-size: 10px;
                line-height: 12px;
            }
        }
    }

    .map-wrap {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 70px;
        flex-grow: 1;
        position: relative;

        @include media("<1100px") {
            margin: 50px 0 0 0;
            align-items: center;
        }
    }

    .adres-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 18px;
        max-width: 100%;

        @include media("<1100px") {
            justify-content: center;
        }

        @include media("<tablet") {
            flex-direction: column;
            align-items: center;
        }
    }

    .adres-item {
        font-size: 18px;
        font-weight: 600;
        text-align: start;

        @include media("<tablet") {
            text-align: center;
            margin: 24px 0 0 0;
        }

        a {
            color: black;
        }

        i {
            margin: 0 7px 0 0;
            font-size: 15px;
        }
    }

    .tel-wrap {
        max-width: 50%;

        @include media("<tablet") {
            max-width: 100%;

        }
    }

    .geo-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 50%;

        @include media("<tablet") {
            max-width: 100%;
        }

        .first-adres, .second-adres {
            margin:0 0 24px 0;
        }

        i {
            margin-top: 5px;
        }
    }

    .emeil1-wrap, .emeil2-wrap {
        margin: 24px 20px 0 0;
    } 
    
    #map {
        max-height: 350px;
        max-width: 100%;
    }
}

/* ________________________work-section__________________________ */

.work-section {
    text-align: center;
    background: url(../images/contact/work-bg.jpg) 50%/cover no-repeat;
    padding: 47px 0 42px 0;

    .work-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        max-width: 446px;
        margin: 16px 0 38px 0;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        max-width: 646px;

        @include media("<tablet") {
        flex-direction: column;
        align-items: center;
        }

        input {
            width: 284px;
            height: 44px;
            padding: 11px 10px;
            background: #EB5B31;
            box-shadow: inset 0px 2px 7px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            outline: none;
            font-size: 14px;
            line-height: 17px;
            border: none;
            color: $white;
            margin: 0 13px 20px 13px;
            
            &::placeholder {
                color: $white;
            }
        }

        .btn-form {
            margin: 0 13px;
            width: 92%;
            height: 35px;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: $orange;
            background: #FFFFFF;
            border: 1px solid #EB5B31;
            box-sizing: border-box;
            border-radius: 3px;
            outline: none;

            &:hover {
                background-color: #352F2D;
                color: $white;
                border-color: #352F2D;
            }
        }
    }
}

/* ________________________404-section___________________________ */

.error-section {
    height: 100vh;
    text-align: center;
    color: $orange;
    display: flex;
    align-items: center;

    @include media("<phone") {
        height: 100%;   
    }
    
    .error-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 200px 0 70px 0;
        height: 100vh;

        @include media("<phone") {
            padding: 0 0 50px 0;
            height: 100%;
        }
    }

    h1 {
        margin-bottom: 100px;
        font-weight: 800;

        @include media("<phone") {
            margin-bottom: 37px;
            font-size: 96px;
        }
    }

    h2 {
        line-height: 80px;
        font-weight: 800;
        margin-bottom: 30px;

        @include media("<phone") {
            margin-bottom: 20px;
            font-size: 24px;
        }
    }

    .btn-orange-sm {
        align-self: center;
        width: 275px;
    }
}

/* ________________________thank-section_____________________________ */

.thank-section {
    height: 100vh;
    text-align: center;
    color: $orange;
    display: flex;
    align-items: center;

    @include media("<phone") {
        height: 100%;
    }
    
    .thank-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 200px 0 70px 0;
        height: 100vh;

        @include media("<phone") {
            padding: 0 0 0 0;
            height: 100%;
            justify-content: start;
        }
    }

    h2 {
        margin-bottom: 30px;

        @include media("<phone") {
            font-size: 22px;
        }
    }

    .btn-orange-sm {
        align-self: center;
        width: 275px;
    }

    span {
        color: black;
    }
}