#footer {
    background: $orange;

    @include media("<phone") {
        display: none;     
    }
}

.footer-content {
    padding: 60px 0 40px 0;

    .main-footer {
        display: flex;
        justify-content: space-between;
    }
}

.footer-logo-wrap {
    color: #fff;

    .footer-logo {
        display: block;
        margin: 5px 0 97px 0;
    }

    h6 {
        line-height: 17px;
        font-weight: normal;
        margin: 0;
    }
    
    img {
        margin: 11px 18px 0 0;

        &:last-child {
            margin-right: 0;
        }
    }
}

.title-footer {
    max-width: 127px;

    h5 {
        margin: 0 0 49px 0;
    }
    
    a {
        color: #fff;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin: 0 0 20px 0;
        }
    }
}

.contact {
    max-width: 284px;
    color: #fff;
    
    h5 {
        margin-bottom: 18px;
    }

    input, .help {
        background: #FFFFFF;
        box-shadow: inset 0px 1px 7px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        margin-bottom: 9px;
        min-height: 31px;
        outline: none;
        padding: 8px;
        color: $orange;

        &::placeholder {
            color: $orange;
            font-size: 12px;
        }
    }
    
    .name-wrap {
        display: flex;
        justify-content: space-between;
    
        input {
            max-width: 135px;
        }
    }
    
    .work-emeil {
        width: 100%;
    }

    .help {
        width: 100%;
        min-height: 91px;
    }

    p {
        font-size: 7px;
        line-height: 9px;
        margin: 0 0 15px 0;
        color: #FFFFFF;
    }

    .btn-form {
        min-width: 113px;
        min-height: 35px;
        background: #FFFFFF;
        border-radius: 3px;
        border: none;
        outline: none;
        color: $orange;
        font-size: 12px;
        line-height: 15px;
        display: block;
        float: right;
    }
}

/* ______________________second-footer-section______________ */

.second-footer-section {
    background-color: black;
    padding: 18px 0 19px 0;

    @include media("<phone") {
        padding: 57px 0 19px 0;
    }

    .second-footer-content {
        display: flex;
        justify-content: space-between;

        @include media("<phone") {
            flex-direction: column;
            align-items: center;
        }
        
        a {
            color: #FFFFFF;
            font-size: 14px;
        }
    }

    .policy {
        margin-top: 3px;

        @include media("<phone") {
            order: 2;
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            margin: 0 0 40px 0;
            width: 100%;
        }
        
        a {
            margin-right: 50px;
            
            @include media("<phone") {
                font-size: 18px;
                margin: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .icon-footer {
        display: flex;

        @include media("<phone") {
            order: 1;
            margin-bottom: 46px;
            justify-content: space-around;
            width: 100%;
        }
        
        a {
            font-size: 22px;
            margin-right: 20px;

            @include media("<phone") {
                font-size: 34px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .icon-LinkedIn {

            &:hover {
                color:#0e76a8 ;
            }
        }

        .icon-C {

            &:hover {
                color:#F58529;
            }
        }
        .icon-Be {

            &:hover {
                color: #053eff;
            }
        }

        .icon-Facebook {

            &:hover {
                color: #3b5998;
            }
        }

        .icon-Insta {

            &:hover {
                color:#F58529;
            }
        }
    }

    .reserved {

        @include media("<phone") {
            order: 3;
            font-size: 14px;
            text-align: center;
        }
    }
}