#header {
    position: absolute;
    z-index: 50;
    padding-top: 32px;
    width: 100%;
}

.header-content {
    position: relative;
}

.burger{
    position: absolute;
    display: none;
    overflow: hidden;
    cursor: pointer;
    right: 30px;
    top: 0;
    width: 30px;
    height: 35px;
    z-index: 50;

    @include media("<phone") {
        display: block;
    }

    span{
        display: block;
        position: relative;
        height: 3px;
        margin: 4px auto;
        background-color: $orange;
        border-radius: 5px;
    }
  
    .sp1{
        transition: all .3s .5s;
    }
    
    .sp2{
        transition: all .3s .3s;
    }
    
    .sp3{
        transition: all .3s .1s;
        width: 50%;
    }

}
 
.burger-active {

    .sp1{
        width: 30px;
        height: 30px;
        margin: 5px auto;
        transition: all .3s .1s;
    }

    .sp2{
        background-color: $white;
        transform: translateY(-21px) rotateZ(45deg);
        transition: all .3s .3s;
    }

    .sp3{
        background-color: $white;
        transform: translateY(-28px) rotateZ(-45deg);
        transition: all .3s .5s;
        width: 100%;
    }
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
        width: 141px;
    }
}

.menu {
    display: flex;
    justify-content: flex-end;

    & :nth-child(6) {
        a {
            margin-right: 68px;
        }
    }

    & :nth-last-child() {
        a {
            margin-right: 0;
        }
    }
}

.menu-li {
    list-style-type: none;

    a {
        line-height: 1;
        text-decoration: none;
        margin-right: 38px;
        color: black;

        &:hover {
            color: $orange;
            transition: ease 0s;
        }
    }
}

.down {

    img {
        margin-top: 8px;
        transition: ease 0.5s;
    }
    
    .submenu {
        position: absolute;
        list-style-type: none;
        padding: 0;
        white-space: nowrap;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;

        li {
            margin-top: 8px;
        }

        a {
            
            &:hover {
                color: $orange;
            }
        }
    }

    &:hover {

        img {
            transform: rotate(180deg);
            transition: ease 0.5s;
        }

        .submenu {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            transition: ease 0.5s;
            z-index: 10;
        }
    }    
}