.header {
    position: absolute;
    z-index: 50;
    padding-top: 32px;
    width: 100%;

    @include media("<tablet") {
        background: url(../images/mob/menu.png) no-repeat, rgba(237, 237, 237, 1);
        background-position: 50% 0;
        background-size: 100% auto;
        padding: 0;
        position: absolute;
        z-index: 40;
        top: -1000px;
        transition: all 1s ease 0s;
    }
}

.header-active {
    top: 0;
}

.burger{
    position: absolute;
    display: none;
    overflow: hidden;
    cursor: pointer;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 35px;
    z-index: 50;

    @include media("<tablet") {
        display: block;
    }

    span{
        display: block;
        position: relative;
        height: 3px;
        margin: 4px auto;
        background-color: $orange;
        border-radius: 5px;
    }
  
    .sp1{
        transition: all .3s .5s;
    }
    
    .sp2{
        transition: all .3s .3s;
    }
    
    .sp3{
        transition: all .3s .1s;
        margin-left: 50%;
        width: 50%;
    }

}
 
.burger-active {

    .sp1{
        width: 30px;
        height: 30px;
        margin: 5px auto;
        transition: all .3s .1s;
    }

    .sp2{
        background-color: $white;
        transform: translateY(-21px) rotateZ(45deg);
        transition: all .3s .3s;
    }

    .sp3{
        background-color: $white;
        transform: translateY(-28px) rotateZ(-45deg);
        transition: all .3s .5s;
        width: 100%;
        margin: 0;
    }
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media("<tablet") {
        flex-direction: column;
        margin: 102px 0 54px 0;
    }

    .header-logo {
        width: 141px;

        @include media("<tablet") {
            display: none;
        }
    }
}

.menu {
    display: flex;
    justify-content: flex-end;

    @include media("<tablet") {
        width: 300px;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
        margin: 0;
    }

    & :nth-child(6) {
        a {
            margin-right: 68px;

            @include media("<desktop") {
                margin-right: 35px;
            }

            @include media("<tablet") {
                margin: 0;
            }

        }
    }

    & :nth-last-child() {
        a {
            margin-right: 0;
        }
    }
}

.menu-li {
    list-style-type: none;

    @include media("<tablet") {
        width: 50%;
        text-align: center;

        &:nth-child(1), &:nth-child(2) {

            a {
                padding: 48px 0;
            }
        }

        &:nth-child(even) {

            a {
                border-width: 0 0 1px 0;
            }
        }
    }

    a {
        line-height: 1;
        text-decoration: none;
        margin-right: 38px;
        color: black;

        @include media("<tablet") {
            display: block;
            margin: 0;
            font-weight: 800;
            font-size: 20px;
            color: $orange;
            text-align: center;
            border-color: black;
            border-style: solid;
            border-width: 0 1px 1px 0;
            padding: 66px 0;

            &:hover {
                background-color:$orange;
                border: 1px solid $orange;
            }
        }
        
        @include media("<desktop") {
            margin-right: 20px;
        }

        @include media("<tablet") {
            margin-right: 0;
        }

        &:hover {
            color: $orange;
            transition: ease 0s;

            @include media("<tablet") {
                color: $white;
            }
        }
    }
}

.down {

    @include media("<tablet") {
        display: none;
    }

    img {
        margin-top: 8px;
        transition: ease 0.5s;
    }
    
    .submenu {
        position: absolute;
        list-style-type: none;
        padding: 0;
        white-space: nowrap;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;

        li {
            margin-top: 8px;
        }

        a {
            
            &:hover {
                color: $orange;
            }
        }
    }

    &:hover {

        img {
            transform: rotate(180deg);
            transition: ease 0.5s;
        }

        .submenu {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            transition: ease 0.5s;
            z-index: 10;
        }
    }
}

.mob-logo {
    display: none;

    @include media("<tablet") {
        display: block;
        margin: 20px 0 0 26px;
    }
}

.mob-header-logo {
    display: none;

    @include media("<tablet") {
        display: block;
        margin-bottom: 40px;
    }
}

.mob-social-wrap {
    display: none;
    margin-top: 35px;
    color: $orange;
    width: 300px;

    @include media("<tablet") {
        display: block;
    }

    h5 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 45px;
    }

    .mob-social {
        display: flex;
        justify-content: space-between;
        font-size: 34px;

        a {
            color: $orange;
        }
    }
}

