html {
    scroll-behavior: smooth;
}

body {
    font-family: $Montserrat;
    background-color: $green18;
}

.container {
    width: 100%;
    max-width: 1360px;
    padding: 0 20px;
    margin: 0 auto;
}

section {
    padding: 50px 0;

    @include media('<tablet'){
        padding: 40px 0;
    }
}

.title-box {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;

    @include media('<phone'){
        margin-bottom: 30px;
    }

    &::before {
        content:'';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $white;
        opacity: .25;
        z-index: -1;
    }

    .title {
        display: inline;
        font-size: 40px;
        color: $gold13;
        font-weight: 600;
        line-height: 1.4;
        margin: 0;
        padding: 0 30px;
        background-color: $green18;

        @include media('<phone'){
            font-size: 24px;
            padding: 0 10px;
        }
    }
}

.img-wrap {
    position: relative;
    
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.btn {
    display: block;
    background: $gold13;
    border-radius: 5px;
    border: 2px solid $gold13;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    color: #202610;
    padding: 20px 20px 19px 20px;
    transition: all .3s ease 0s;

    &:hover {
        background: transparent;
        color: $white;
    }
}

/* ----------------main-section----------------- */

.main-section {

    @include media('<tablet'){
        padding: 30px 0 40px 0;
    }

    .main-title {
        text-align: center;
        color: $white;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 5px;
        @include adaptiv-vaule("font-size", 54, 26, 1);

        @include media('<tablet'){
            margin: 0 -10px 5px -10px;
        }

        span {
            color: $gold13;
        }
    }

    .sub-title {
        max-width: 590px;
        margin: 0 auto 0 auto;
        @include adaptiv-vaule("margin-bottom", 211, 50, 1); 
        text-align: center;
        font-size: 18px;
        color: $whiteE3;
        font-weight: 400;
        line-height: 1.4;

        @include media('<phone'){
            font-size: 16px;
        }
    }

    .img-box {
        position: relative;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
        @include adaptiv-vaule("width", 267, 80, 1); 
        @include adaptiv-vaule("top", -150, -40, 1); 
    }

    .img-wrap {
        @include adaptiv-vaule("min-height", 520, 235, 1); 
    }
}

/* ----------------galery-section----------------- */

.galery-section {

    .swiper-wrapper {

        @include media('>800px'){
           gap: 20px;
        }
    }

    .slide {
        
        @include media('>800px'){
            flex-shrink: 1;
        }
    }

    .img-wrap {
        @include adaptiv-vaule("min-height", 440, 330, 1);
        border-radius: 10px;
        overflow: hidden;
    }
}

/* ----------------about-section------------------- */

.about-section {

    .block {
        display: flex;
        justify-content: space-between;
        gap: 12px;

        @include media('<960px'){
            flex-direction: column;
        }
    }

    .img-wrap {
        width: 47%;
        min-height: 100%;
        border-radius: 5px;
        overflow: hidden;

        @include media('<960px'){
            width: 100%;
            min-height: 386px;
        }
    }

    .text-wrap {
        width: 47.5%;

        @include media('<960px'){
            width: 100%;
        }

        .title {
            text-align: justify;
            color: $white;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.4;
            margin-bottom: 24px;

            @include media('<phone'){
                font-size: 18px;
            }
        }
    }

    .text-box {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 50px;

        @include media('<phone'){
            gap: 12px;
        }
    }

    .text {
        position: relative;
        text-align: justify;
        color: $white;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.6;
        margin: 0;

        @include media('<phone'){
            font-size: 16px;
        }

        &::before {
            content:'';
            position: absolute;
            top: -4px;
            left: -10px;
            width: 120px;
            height: 2px;
            background-color: #5F7327;
            opacity: .4;
        }

        i {
            color: $gold13;
        }
    }

    .stiker {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
        cursor: pointer;

        &:hover {
            .hov {
                opacity: 1;
            }
        }
    }

    .title-stiker {
        margin: 0;
        color: $gold13;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.6;

        @include media('<phone'){
            font-size: 20px;
        }
    }

    .hov {
        opacity: 0;
        transition: all .3s ease 0s;
    }
}

/* ---------------slider-section------------------- */

.slider-section {

    @include media('<tablet'){
        padding: 0 0 70px 0;
    }

    .title-box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::before {
            display: none;
        }

        .title {
            padding: 0;

            @include media('<phone'){
                font-size: 24px;
            }
        }
    }

    .arrow-box {
        display: flex;
        gap: 12px;
    }

    .arrow {
        min-width: 45px;
        height: 45px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        background-color: #171713;
        transition: all .3s ease 0s;
        cursor: pointer;

        &:hover {
            background-color: $gold13;

            svg {
                stroke: $black;
            }
        }

        svg {
            stroke: $white;
            transition: all .3s ease 0s;
        }
    }

    .next {

        svg {
            transform: rotate(180deg);
        }
    }

    .swiper-button-lock {
        display: none;
    }

    .slide {
        height: auto;
        min-height: 317px;
        background-color: rgba(91, 97, 56, 0.4);
        border-radius: 10px;

        &:hover {
            .img-wrap {

                img {
                    transform: scale(1.1);
                }
            }
        }

        a {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            font-size: 0;
            color: transparent;
        }
    }

    .slide-content {
        padding: 17px 17px 26px 17px;

        .img-wrap {
            width: 100%;
            height: 162px;
            border-radius: 5px;
            margin-bottom: 14px;
            overflow: hidden;

            img {
                transition: all .3s ease 0s;
            }
        }
    
        .title {
            color: $white;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.4;
            margin-bottom: 4px;
        }
    
        .text {
            color: #EDF3DB;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.4;
            margin-bottom: 4px;
        }
    
        .date {
            color: $gold13;
            font-size: 13px;
            font-weight: 600;
            line-height: 1.4;
            margin: 0;
            opacity: .7;
        }
    }
}

/* ---------------------post-section--------------- */ 

.post-section {

    .container {
        max-width: 1135px;
    }

    .date p {
        text-align: center;
        color: $gold13;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 16px;

        @include media('<phone'){
            font-size: 14px;
        }
    }

    .title {
        text-align: center;
        color: $white;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 40px;

        @include media('<tablet'){
            font-size: 22px;
        }
    }

    .main-img {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .post-content {
        max-width: 945px;
        padding: 50px 0;
        margin: 0 auto;

        @include media('<phone'){
            padding: 30px 0;
        }

        p {
            color: $white;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.4;
            margin-bottom: 25px;

            @include media('<phone'){
                font-size: 16px;
            }
        }

        ul {
            color: $white;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.4;
            margin-bottom: 25px; 
            padding: 0;
        }

        li {
            color: $white;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.4;
            margin-left: 30px;
        }

        a {
            color: $gold13;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}