html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: $black;
}

#wrapper {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.ibg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-video {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0 50px 0;

    @include media ("<tablet") {
        padding: 160px 0 50px 0;
    }

    &::before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(50% 50% at 50% 50%, rgba(19, 18, 18, 0) 60.42%, #131212 100%);
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;

        @include media ("<phone") {
            display: none;
        }
    }

    .main-img{
        display: none;
        z-index: -1;

        @include media ("<phone") {
            display: block;
        }
    }

    .logo{
        width: 90%;

        @include media ("<tablet") {
            width: 150%;
        }

        @include media ("<phone") {
            width: 200%;
        }
    }
}

.main-section {
    padding-bottom: 250px;
    @include adaptiv-vaule("padding-bottom", 250, 100, 1);
    background: $black;
    position: relative;

    .container {
        padding: 0;
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-top: 400px;

        @include media ("<tablet_max") {
            @include adaptiv-vaule("padding-top", 500, 155, 1);
        }
    }

    .main-title {
        max-width: 715px;
        margin-bottom: 25px;
        z-index: 2;
        max-width: 700px;

        @include media ("<tablet_max") {
            @include adaptiv-vaule(" max-width", 700, 280, 1);
        }
    }

    .main-board {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        object-fit: fill;
    }

    .main-btn {
        background: $gray_10;
        border-radius: 4px;
        padding: 15px 25px;
        font-weight: 700;
        font-size: 16px;
        color: $black;
        text-transform: uppercase;
        z-index: 2;
        transition: all 0.3s ease;
        display: inline-block;
        border: 1px solid $gray_10;

        @include media ("<tablet") {
            font-size: 14px;
            padding: 10px 20px;
        }

        &:hover {
            background: none;
            color: $gray_10;
        }
    }
}

.menu {

    .box-wrap {
        display: flex;

        &:nth-child(even) {
            flex-direction: row-reverse;

            @include media ("<tablet_max") {
                flex-direction: column-reverse;
            }
        }

        @include media ("<tablet_max") {
            flex-direction: column-reverse;
            height: 100%;
        }
    }

    .box-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 50%;
        height: 100%;
        padding: 100px 25px;
        text-align: center;

        @include media ("<tablet_max") {
            width: 100%;
        }

        @include media ("<phone") {
            display: none;
        }

        .ibg {
            object-fit: cover;
            z-index: -1;
        }

        .box-title {
            font-size: 48px;
            margin-bottom: 15px;

            @include media ("<tablet") {
                font-size: 42px;
            }
        }

        .box-description {
            font-style: italic;
            font-size: 22px;
            margin-bottom: 40px;
            max-width: 455px;
            font-weight: 500;
            line-height: 125%;
            text-align: center;

            @include media ("<tablet") {
                font-size: 20px;
            }
        }

        .box-img {
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            width: 300px;
            height: 300px;
            margin-bottom: 50px;
        }

        .ingridients {
            text-align: center;
            max-width: 525px;
        }

        .title-ingridients {
            color: $gold;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 5px;
        }

        .ingridients-description {
            font-style: italic;
            font-weight: 500;
            font-size: 18px;
            line-height: 125%;
        }
    }

    .box-video {
        position: relative;
        width: 50%;

        @include media ("<tablet_max") {
            width: 100%;
            min-height: 450px;
        }

        @include media ("<phone") {
            display: none;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .mob-video{
        position: relative;
        display: none;
        width: 100%;

        @include media ("<phone") {
            display: block;
        }

        video{
            width: 100%;
            height: 100%;
        }
    }
}

.about_chef {
    position: relative;
    background: $black;
    padding-bottom: 160px;

    @include media ("<phone") {
        padding-bottom: 100px;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 340px;
        
        @include media ("<tablet_max") {
            @include adaptiv-vaule("padding-top", 460, 160, 1);
        }
    }

    .chef-board {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .about-title {
        margin-bottom: 15px;
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 15px;
        z-index: 2;
        text-align: center;
        position: relative;

        @include media ("<tablet_max") {
            order: 1;
        }
    }

    .text {
        margin-bottom: 30px;

        @include media ("<tablet_max") {
            order: 3;
            margin-bottom: 0;
        }
    }

    .about-description {
        position: relative;
        font-weight: 500;
        font-size: 22px;
        line-height: 125%;
        max-width: 600px;
        max-height: 110px;
        margin: 0 auto 25px auto;
        z-index: 2;
        overflow: hidden;

        @include media ("<tablet") {
            font-size: 18px;
            max-height: 115px;
        }

        @include media ("<phone") {
            font-size: 14px;
            max-height: 108px;
        }
    }

    .about-btn {
        padding: 15px 25px;
        border: 1px solid $gray_10;
        border-radius: 4px;
        font-size: 16px;
        color: $gray_10;
        text-transform: uppercase;
        display: inline-block;
        transition: all 0.3s ease;
        text-align: center;
        z-index: 2;
        position: relative;
        background-color: transparent;

        &:hover {
            background: $gray_10;
            color: $black;
        }

        @include media ("<phone") {
            font-size: 14px;
        }
    }

    .chef-img {
        border-radius: 50%;
        overflow: hidden;
        width: 520px;
        height: 520px;
        margin: 0 auto;
        position: relative;
        filter: drop-shadow(0px -30px 60px rgba(19, 10, 3, 0.6));

        @include media ("<tablet_max") {
            order: 2;
            margin-bottom: 30px;
        }

        @include media ("<tablet") {
            width: 350px;
            height: 350px;
        }

        @include media ("<phone") {
            width: 250px;
            height: 250px;
        }
    }

    .pop-up{
        position: fixed;
        top: 50%;
        left: 50%;
        background: $white;
        box-shadow: 1px 12px 42px rgba(155, 164, 162, 0.12);
        border-radius: 4px;
        transform: translate(-50%, -50%);
        z-index: 3;
        padding: 40px 65px 55px 65px;
        width: 100%;
        max-width: 920px;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease 0s;

        @include media ("<tablet") {
            padding: 60px 30px;
        }
    
        @include media('<phone'){
            top: 0;
            transform: translate(-50%);
            padding: 30px 20px 50px 20px;
            overflow: auto;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        &.active{
            z-index: 3;
            opacity: 1;
            visibility: visible;
        }
    }

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease 0s;

        &.active{
            z-index: 3;
            opacity: 50%;
            visibility: visible;
        }
    }

    .text-popup{
        font-weight: 500;
        font-size: 22px;
        line-height: 125%;
        color: $black;

        @include media ("<tablet") {
            font-size: 18px;
        }

        @include media ("<phone") {
            font-size: 14px;
            overflow: scroll;
        }
    }

    .btn-close{
        position: absolute;
        top: 20px;
        right: 20px;

        @include media('<phone'){
            top: 10px;
            right: 10px;
        }

        svg{
            fill: $black;
            width: 20px;
            height: 20px;
            transition: all .3s ease 0s;
        }

        &:hover{

            svg{
                transform: rotate(180deg);
            }
        }
    }
}

/* --------------------- page-section ----------------- */

.page-section{
    margin: 102px 0 50px 0;

    .board{
        position: absolute;
        top: -230px;
        left: 50%;
        transform: translate(-50%);
        z-index: -1;

        @include media ("<tablet_max") {
            @include adaptiv-vaule("top", -300, 0, 1);
        }
    }

    .container{
        position: relative;
        padding-top: 135px;
        text-align: center;
        overflow: hidden;
        min-height: 500px;
        
        @include media ("<tablet_max") {
            @include adaptiv-vaule("padding-top", 200, 150, 1);
            @include adaptiv-vaule("min-height", 600, 300, 1);
        }
    }

    .logo{
        margin-bottom: 40px;
        width: 89px;
        height: 116px;

        @include media ("<tablet_max") {
            display: none;
        }
    }

    .title{
        font-weight: 500;
        font-size: 92px;
        color: $gray_10;
        opacity: .9;

        @include media ("<tablet") {
            @include adaptiv-vaule(" font-size", 92, 48, 1);
        }
    }
}

/* --------------------- menu-section ----------------------- */

.menu-section{
    padding: 100px 0 20px 0;

    @include media ("<tablet") {
        padding: 50px 0 60px 0;
    }

    .container{
        max-width: 1320px;
    }
    
    .block{
        margin-bottom: 180px;

        @include media ("<tablet") {
            margin-bottom: 120px;
        }
    }

    .title-wrap{
        border-bottom: 2px solid $gold;
        margin-bottom: 75px;
    }

    .title{
        position: relative;
        font-weight: 500;
        padding: 0 24px;
        text-align: center;
        max-width: max-content;
        margin: 0 auto;
        @include gold_gradient;
        text-transform: uppercase;
        @include adaptiv-vaule(" font-size", 60, 34, 1);

        &:before{
            content:'';
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: $black;
        }

        @include media ("<tablet") {
            max-width: min-content;
        }
    }

    .item-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 25px;
        row-gap: 70px;
        height: 100%;

        @include media ("<phone") {
            row-gap: 30px;
        }
    }

    .item{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        overflow: hidden;
        background: rgba(162, 127, 95, 0.12);
        backdrop-filter: blur(2px);
        width: 23%;

        @include media ("<1300px") {
            width: 31%;
        }

        @include media ("<desktop") {
            width: 44%;
        }

        @include media ("<tablet") {
            width: 70%;
        }

        @include media ("<670px") {
            width: 100%;
        }

        &::after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 150px;
            background-color: $black;
            z-index: -1;
        }
    }

    .text{
        padding: 20px;
    }

    .img-wrap{
        position: relative;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 25px auto;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .name{
        font-family: $CD;
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #F5F5F5;
        margin-bottom: 10px;
    }

    .descripton{
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 125%;
        text-align: center;
        color: $gray_10;
        opacity: 0.8;
    }

    .item-price{
        width: 100%;
        font-weight: 700;
        font-size: 20px;
        line-height: 125%;
        text-align: center;
        color: $gold;
        padding: 20px 0;
        border-top: 1px solid rgba(252, 241, 234, 0.2);
    }

    .item-big{
        grid-column: span 2;
        width: 46%;

        @include media ("<1300px") {
            width: 62%;
        }

        @include media ("<desktop") {
            width: 88%;
        }

        @include media ("<tablet") {
            width: 70%;
        }

        @include media ("<670px") {
            width: 100%;
        }

        &::after {

            @include media ("<tablet") {
                height: 80px;
            }
        }

        .text{
            padding: 80px 20px 20px 20px;

            @include media ("<tablet") {
                padding: 20px;
            }

            @include media ("<phone") {
                padding: 20px 0;
            }
        }

        .img-wrap{
            width: 162px;
            height: 162px;

            @include media ("<tablet") {
                width: 96px;
                height: 96px;
                margin: 0;
            }
        }

        .menu-wrap{
            display: flex;
            justify-content: space-around;

            @include media ("<tablet") {
                flex-direction: column;
                align-items: center;
            }

            @include media ("<phone") {
                padding: 0 20px;
            }
        }

        .text-wrap{
            max-width: 200px;

            @include media ("<tablet") {
                max-width: 255px;
                margin-bottom: 15px;
            }
        }

        .name, .descripton{
            text-align: left;

            @include media ("<tablet") {
                text-align: center;
            }
        }
    }

    .img-cont{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .price-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 300px;
    }

    .price-item{
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        width: 32%;

        @include media ("<tablet") {
            align-items: center;
        }
    }

    .price-name{
        font-weight: 500;
        font-size: 14px;
        color: $gray;
        margin-bottom: 5px;
    }

    .price{
        font-weight: 500;
        font-size: 14px;
        color: $gold;
    }

    .plus{
        @include media ("<phone") {
            width: 11px;
            height: 10px;
        }
    }

    .list{
        width: 100%;
        max-width: 300px;

        @include media ("<desktop") {
            max-width: 48%;
        }

        @include media ("<670px") {
            max-width: 100%;
        }

        @include media ("<phone") {
            align-items: center;
        }

        &::after {
            display: none;
        }

        .text{
            padding: 40px 20px 30px 20px;
        }
    }

    .list-wrap{
        margin: 0;
    }

    .list-item{
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 125%;
        color: $gray_10;
        margin-bottom: 5px;

        &::marker{
            color: $gold;
        }
    }

    .list-big{
        width: 100%;
        max-width: 626px;

        @include media ("<desktop") {
            max-width: 48%;
        }

        @include media ("<670px") {
            max-width: 100%;
        }
    }

    .list-cont{
        display: flex;
        justify-content: center;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }
}