@include media("<tablet") {

    body.lock {
        overflow: hidden;
    }
}

header {
    position: fixed;
    width: 100%;
    z-index: 50;
    left: 0;
    top: 50px;
    background-color: $dark;

    @include media("<tablet") {
        top: 0;
        height: 60px;
    }

    @include media("<phone") {
        height: 50px;
    }


    .header-content {
        display: flex;
        justify-content: space-between;

        @include media("<tablet") {
            margin-top: 5px;
        }

        @include media("<phone") {
            margin-top: 8px;
        }
        
        .logo {
            display: flex;
            justify-content: space-between;
            padding: 27px 0;

            img {
                width: 100%;

                @include media("<tablet") {
                    width: 85%;
                }
                
                @include media("<phone"){
                    width: 50%;
                }

            }

            .line {
                min-width: 1px;
                min-height: 46px;
                border: 1px solid #F2F2F2;
                margin: 0 30px;

                @include media("<phone") {
                    display: none;
                }
            }

            .geo-block {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include media("<desktop") {
                    display: none;
                }

                .geo {
                    margin-right: 13px;
                }
                
                a {
                    color: $white;

                    &:hover {
                        color: $brown;
                    }
                }
            }
        }

        .burger {
            display: none;
        }

        .nav-menu {
            min-width: 412px;
            
            .menu {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                margin: 42px 0;
                padding: 0;
                
                a {
                    position: relative;
                    display: block;
                    color: $white;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    line-height: 1; /*задаём высоту строки*/
                    text-decoration: none;
                    
                    &:hover, &:active, &:focus {
                        color: $brown;
                    }

                    &:after {
                        display: block;
                        position: absolute;
                        left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
                        width: 0;/*задаём длинну линии до наведения курсора*/
                        height: 2px; /*задаём ширину линии*/
                        top: 35px;
                        background-color: $brown; 
                        color: $brown;
                        content: "";
                        transition: width 0.3s ease-out; /*задаём время анимации*/
                    }
                    
                    &:hover:after,
                    &:focus:after {
                        width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
                    
                    }
                }
            }
        }
      
        @include media("<tablet") {
            
            .burger {
                display: block;
                position: relative;
                width: 30px;
                height: 20px;
                top: 0;
                z-index: 2;
                margin-top: 15px;

                @include media("<phone") {
                    width: 25px;
                    height: 18px;
                    margin-top: 9px;
                }

                &::before, &::after {
                    content:'';
                    background-color: #F2F2F2;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    transition: all 0.5s ease 0s;
                }

                &::before {
                    top: 0;
                }

                span {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    top: 9px;
                    background-color: #F2F2F2;
                    transition: all 0.5s ease 0s;

                    @include media("<phone") {
                        top: 8px;
                    }                    
                }

                &::after {
                    bottom: 0;
                }
            }

            .active {

                &::before {
                    transform: rotate(45deg);
                    top: 9px;

                    @include media("<phone") {
                        top: 8px;
                    }
                }

                &::after {
                    transform: rotate(-45deg);
                    bottom: 9px;

                    @include media("<phone") {
                        top: 8px;
                    }
                }

                span {
                    display: none;
                }
            }

            .nav-menu {
                position: fixed;
                width: 100%;
                top: -100%;
                overflow: auto;
                left: 50%;
                transform: translateX(-50%);
                background-color: $dark;
                transition: all 0.6s ease 0s;
                
                .menu {
                    flex-direction: column;
                    align-items: center;
                    height: 300px;
                    margin: 55px 0;
                   
                    li {
                        margin: 10px 0;

                        a {
                            font-size: 20px;

                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }

            .active {
                top: 0;
                transition: all 0.6s ease 0s;
            }

            .logo {
                padding: 5px 0 0 0;
                               
                .line {
                    margin: 0 15px;
                    min-height: 42px;
                }
            }
        }
    }
}