body {
    font-family: 'Poppins', sans-serif;
    background-color: $main-black;
}

.body_lock{
    overflow: hidden;
}

#main{
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 191px;
    padding: 13px 15px;
    border: 1px solid $white;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    z-index: 1;
    overflow: hidden;
    transition: all .3s ease 0s;
    
    &::before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0.25turn, rgba(252, 31, 31, 1), rgba(252, 147, 21, 1));
        transition: all .3s ease 0s;
        z-index: -1;
        opacity: 0;
    }

    &:hover{
        border: 1px solid transparent;

        &::before{
            opacity: 1;
        }
    }

    img{
        margin-left: 40px;
    }
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border: 1px solid $purpule-text;
    border-radius: 50%;
}

.wing{
    position: absolute;
    top: -100px;
    right: -50%;
    width: 880px;
    height: 580px;
    animation-name: wing;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.wing-revers{
    animation-direction: reverse;
}

@keyframes wing {
    0%{
        right: -50%;
    }

    100%{
        right: 100%;
    }
}

.linear{
    position: relative;
    @include adaptiv-vaule("min-height", 300, 130, 1);
    background: $main-black;
    background: linear-gradient(180deg, $main-black 0%, $purpule-bg 100%);
}

.linear-revers{
    background: linear-gradient(0deg, $main-black 0%, $purpule-bg 100%);
}

.big-text{
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 25%;
    @include adaptiv-vaule("left", -100, -30, 1);
    overflow: hidden;

    @include media('<phone'){
        top: 10%;
    }

    p{
        @include adaptiv-vaule("font-size", 288, 96, 1);
        font-weight: bold;
        color: $white;
        line-height: .8;
        z-index: 1;
        color: transparent;
        text-transform: uppercase;
        -webkit-text-stroke: 1px $white;
        text-stroke: 1px $white;
        opacity: 17%;
    }
}

.slick-dots{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    z-index: 2;

    li{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #C4C4C4;
        margin: 0 6px;
        transition: all .3s ease 0s;
        cursor: pointer;
    }

    .slick-active{
        background: #fff;
        transition: all .3s ease 0s;
    }
    
    button{
        border: none;
        background: none;
    }
}

.slick-track{
    display: flex;
    align-items: flex-start;
}

.pages{
    position: relative;
    padding: 90px 0;

    .container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: calc(100vh - 180px);
        z-index: 3;

        @include media('<phone'){
            padding: 0;
        }
    }
}

.page-main{
    
    .port, .testi{
        background-color: $main-black;

        h2{
            font-size: 32px;
        }
    }
}

.img{
    position: relative;
    overflow: hidden;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* -----------------------------main------------------------- */

.main{
    position: relative;
    padding: 90px 0;
    background-color: hsla(0, 0%, 4%, 0.80);

    video, iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .container{
        min-height: calc(100vh - 180px);
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media('<desktop'){
            justify-content: flex-end;
        }
    }

    .content{
        max-width: 50%;

        @include media('<tablet'){
            max-width: 55%;
        }

        @include media('<600px'){
            max-width: 100%;
        }
    }

    h1{
        @include adaptiv-vaule("font-size", 55, 24, 1);
        margin-bottom: 30px;
    }

    p{
        @include adaptiv-vaule("font-size", 18, 14, 1);
        line-height: 1.5;
        margin-bottom: 50px;
    }

    .main-btn{

        @include media('<phone'){
            display: block;
            max-width: 191px;
            margin: 0 auto;
        }
    }
}

/* -----------------------------servis------------------------- */

.servis{
    position: relative;
    padding: 50px 0 60px 0;

    .container{
        @include media('<phone'){
            padding: 0;
        }
    }

    .wing{
        top: -260px;
    }

    .container{
        position: relative;
    }

    h2{
        margin-bottom: 75px;

        @include media('<phone'){
            padding: 0 15px;
        }
    }

    .item-cont{
        display: flex;
        justify-content: space-between;
    }

    .first-item{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #242424;
        padding: 50px 45px;
        border: 1px solid #E0E0E0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        @include media('<desktop'){
            width: 38.5%;
        }

        @include media('<tablet'){
            display: none;
        }

        .title{
            span{
                display: block;
                color: $purpule-text;
                font-size: 15px;
                text-transform: uppercase;
                margin-bottom: 15px;
            }

            p{
                font-weight: bold;
                font-size: 40px;
                line-height: 1.2;
            }
        }

        .description{
            font-size: 15px;
            line-height: 115.5%;

            span{
                color: $purpule-text;
            }
        }
    }

    .item-wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 69.5%;

        @include media('<desktop'){
            width: 61%;
        }

        @include media('<tablet'){
            width: 100%;
            display: block;
        }
    }

    .item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 49.5%;
        border: 1px solid #E0E0E0;
        border-top-right-radius: 5px;
        padding: 25px 20px;
        margin-bottom: 5px;

        &:nth-child(3), &:nth-child(4){
            margin-bottom: 0;
        }

        &:nth-child(3){

            @include media('<desktop'){
               margin-bottom: 5px;
            }

            @include media('<tablet'){
                margin-bottom: 0;
            }
        }

        @include media('<desktop'){
            width: 100%;
        }
        
        @include media('<tablet'){
            text-align: center;
            max-width: 100%;
            margin: 0 20px 0 20px;
        }

        @include media('<phone'){
            margin: 0;
            border: none;
        }
        
        .icon{
            margin-bottom: 17px;

            @include media('<tablet'){
                margin: 0 auto;
                margin-bottom: 17px;
            }
        }

        p{
            font-weight: bold;
            font-size: 33px;
            line-height: 119%;

            @include media('<tablet'){
                font-size: 28px;
            }
        }
    }
}

.servis-slider{
    overflow: hidden;

    .slick-track{
        align-items: stretch;

        @include media('<phone'){
            border: 1px solid #E0E0E0;
            border-left: none;
            border-right: none;
        }
    }

    .slick-dots{
        margin-top: 50px;
    }
}

/* -----------------------------progress------------------------- */

.progress{
    padding: 60px 0 0 0;
}

.progress-content{
    display: flex;
    justify-content: space-between;

    @include media('<desktop'){
        flex-wrap: wrap;
        justify-content: center;
    }

    .circle{
        position: relative;
        max-width: 208px;
        height: 208px;

        @include media('<desktop'){
            margin: 0 7% 100px;
        }

        @include media('<=607px'){
            margin: 0 3% 50px 3%;
        }

        svg {
            min-width: 208px;
            min-height: 208px;

            circle{
                min-width: 208px;
                min-height: 208px;
            }
        }
    }
    
    .text{
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;

        span{
            font-weight: bold;
            font-size: 55px;
            color: #5E3DA6;
        }

        p{
            margin: 0;
        }
    }

    /* .circle1 {
        fill: transparent;
        stroke: $purpule-text;
        stroke-dasharray: 655;
        stroke-dashoffset: 655;
        animation: circle 5s forwards;
    }
    
    @keyframes circle {
        0%{
            stroke-dashoffset: 0;
            stroke-width: 0;
        }
        
        1%{
            stroke-dashoffset: 655;
            stroke-width: 0;
        }
        
        50%{
            stroke-dashoffset: 1310;
            stroke-width: 2;
        }
        
        100%{
            stroke-dashoffset: 1310;
            stroke-width: 2;
            stroke: transparent;
        }
    }

    .circle2{
        fill: transparent;
        stroke: $purpule-text;
        stroke-dasharray: 510;
        stroke-dashoffset: 510;
        animation: circle2 5s forwards;
    }
    
    @keyframes circle2 {
        0%{
            stroke-dashoffset: 0;
            stroke-width: 0;
        }
        
        1%{
            stroke-dashoffset: 510;
            stroke-width: 0;
        }
        
        50%{
            stroke-dashoffset: 1020;
            stroke-width: 2;
        }
        
        100%{
            stroke-dashoffset: 1020;
            stroke-width: 2;
            stroke: transparent;
        }
    } */
}

/* -----------------------------clients------------------------- */

.clients{
    padding: 110px 0 40px 0;
    background-color: $purpule-bg;

    .content{
        display: flex;
        justify-content: space-between;

        @include media('<phone'){
            flex-direction: column;
            align-items: center;
        }
    }

    .text{
        width: 45%;
        max-width: 400px;

        @include media('<phone'){
            width: 100%;
            max-width: 100%;
            margin-bottom: 85px;
        }

        h2{
            @include adaptiv-vaule("margin-bottom", 65 , 35, 1);
        }

        p{
            font-size: 15px;
            line-height: 115.5%;
            letter-spacing: 0.05rem;
        }
    }

    .item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        min-width: 100%;
        padding: 0 15px;
        margin-bottom:80px;

        .img-wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 70px;
            height: 65px;
        }

        p{
            font-weight: 800;
            font-size: 15px;
            line-height: 130%;
            text-transform: uppercase;
            margin: 0;
        }
    }
}

.icons-slider{
    max-width: 50%;
    overflow: hidden;

    @include media('<phone'){
        max-width: 100%;
    }

    .slick-slide{
        display: flex;

        @include media('<tablet'){
            flex-direction: column;
        }
    }
}

/* -----------------------------lastnews------------------------- */

.lastnews{
    @include adaptiv-vaule("padding-bottom", 180, 60, 1);

    .container{
        @include media('<phone'){
            padding: 0;
        }
    }

    .content{
        @include media('<phone'){
            text-align: center;
        }

    }

    h2{
        @include media('<phone'){
            text-align: left;
            padding: 0 15px;
        }
    }

    .item-wrap{
        display: flex;
        justify-content: space-between;
    }

    .item{
        max-width: 361px;
        width: 32%;

        @include media('<phone'){
            margin-bottom: 40px;
        }

        p{
            font-weight: bold;
            @include adaptiv-vaule("font-size", 28, 18, 1);
            margin-bottom: 20px;
        }

        span{
            display: block;
            font-size: 15px;
            color: $purpule-text;
        }

        @include media('<desktop'){
            width: 48%;

            &:last-child{
                display: none;
            }
        }

        @include media('<tablet'){
            width: 100%;
            max-width: 100%;
            height: 420px;

            &:nth-last-child(-n+2){
                display: none;
            }
        }
    }

    .img{
        width: 100%;
        height: 360px;
        margin-bottom: 20px;
    }

    .btn-wrap{
        display: none;

        @include media('<phone'){
            display: block;
        }
    }
}

/* -----------------------------about-page------------------------- */

.about{
    
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media('<tablet'){
            flex-direction: column;
        }
    }

    h1{
        @include adaptiv-vaule("font-size", 55, 36, 1);
    }

    img{
        @include media('<phone'){
            min-width: 500px;
        }
    }

    .wing{
        top: 20%;
    }
}

/* -----------------------------bio------------------------- */

.bio{
    padding: 0 0 70px 0;

    p, li{
        @include adaptiv-vaule("font-size", 20, 16, 1);
        font-weight: 300;
        line-height: 1.5;
        color: $white;
    }

    h3{
        @include media('<phone'){
            text-align: center;
        }
    }

    .description{
        @include adaptiv-vaule("margin-bottom", 60 , 30, 1);
    }

    .block{
        display: flex;
        justify-content: space-between;

        @include media('<desktop'){
            flex-direction: column;
        }
    }
    
    .text{
        margin-right: 20px;

        @include media('<desktop'){
            margin: 0 0 150px 0;
        }
    }

    .block-list{
        @include adaptiv-vaule("margin-bottom", 60 , 30, 1);
    }

    .progress-content{
        flex-wrap: wrap;
        max-width: 460px;
        min-width: 460px;

        @include media('<desktop'){
            max-width: 100%;
            min-width: 0;
        }

        .circle{

            &:nth-child(1),  &:nth-child(2){
                margin-bottom: 35px;
            }
        }
    }
}

/* -----------------------------skills------------------------- */

.skills{
    padding: 70px 0 130px 0;

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media('<desktop'){
            align-items: flex-start;
        }

        @include media('<650px'){
            flex-direction: column;
            align-items: center;
        }
    }

    .description{
        width: 27%;

        @include media('<desktop'){
            width: 48%;
        }

        @include media('<650px'){
            width: 100%;
            margin-bottom: 45px;
        }
        
        p{
            @include adaptiv-vaule("font-size", 20, 16, 1);
            font-weight: 300;
            line-height: 1.5;
        }
    }   

    .block{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70%;
        padding: 0 0 0 60px;
        border-left:1px solid $white;

        @include media('<desktop'){
            flex-direction: column;
            width: 49%;
        }

        @include media('<tablet'){
            padding: 0 0 0 20px;
        }

        @include media('<650px'){
            width: 100%;
            border: none;
            align-items: center;
            padding: 0;
        }
    }

    .item{
        display: flex;
        align-items: center;
        width: 48%;

        @include media('<desktop'){
            width: 100%;
        }

        @include media('<650px'){
            width: 80%;
        }

        @include media('<phone'){
            width: 100%;
        }

        p{
            font-weight: bold;
            font-size: 20px; 
            margin: 0;
        }
    }

    .img-wrap{
        display: flex;
        justify-content: center;
        max-width: 110px;
        min-width: 110px;
    }
}

/* -----------------------------services------------------------- */

.services{
    position: relative;

    .container{
        max-width: 1440px;
        padding: 0;
    }

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media('<tablet'){
            flex-direction: column;
        }
    }

    h1{
        padding-left: 10%;

        @include media('<desktop'){
            padding-left: 15px;
        }

        @include media('<tablet'){
            padding: 0;
            margin-bottom: 65px;
        }
    }

    .img{
        width: 57%;
        height: 500px;
        border-radius: 10px 0px 0px 10px;

        @include media('<1250px'){
            height: 320px;
        }

        @include media('<tablet'){
            width: 100%;
            height: 490px;
            border-radius: 0;
        }
    }

    .wing{
        top: 70%;
    }
}

/* -----------------------------digital------------------------- */

.digital{
    padding: 50px 0 0 0;

    .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 150px;

        &:nth-child(even){
            flex-direction: row-reverse;

            @include media('<tablet'){
                flex-direction: column-reverse;
            }

            .img-wrap{
                justify-content: flex-start;

                @include media('<tablet'){
                    justify-content: center;
                }
            }
        }

        @include media('<tablet'){
            flex-direction: column-reverse;
        }
    }

    .text{
        width: 64%;

        @include media('<tablet'){
            width: 100%;
        }

        @include media('<phone'){
            text-align: center;
        }

        h2{
            @include adaptiv-vaule("font-size", 48, 28, 1);
            margin-bottom: 30px;
            max-width: 475px;
            line-height: 119%;

            @include media('<tablet'){
                max-width: 100%;
            }
        }

        p{
            @include adaptiv-vaule("font-size", 18, 16, 1);
            line-height: 115.5%;
            margin-bottom: 40px;
            font-weight: 300;

            @include media('<phone'){
                text-align: left;
            }
        }
    }

    .btn-wrap{
        a{
            margin-right: 30px;

            @include media('<phone'){
                margin: 15px;
            }
        }
    }

    .img-wrap{
        display: flex;
        justify-content: flex-end;
        width: 34%;

        @include media('<tablet'){
            justify-content: center;
            margin-bottom: 50px;
            width: 100%;
        }
    }
}

/* -----------------------------service-pages------------------------- */

.service-pages{
    position: relative;

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media('<tablet'){
            flex-direction: column;
        }
    }

    .wing{
        top: 70%;
    }
}

/* -----------------------------full-digital------------------------- */

.full-digital{
    padding: 30px 0 65px 0;

    .title{
        margin-bottom: 60px;

        @include media('<phone'){
            text-align: center;
        }

        h3{
            @include adaptiv-vaule("font-size", 35, 28, 1);
            margin-bottom: 10px;
        }

        p{
            @include adaptiv-vaule("font-size", 18, 14, 1); 
        }
    }

    .description{
        @include adaptiv-vaule("margin-bottom", 90 , 40, 1);

        p{
            @include adaptiv-vaule("font-size", 18, 16, 1);
            font-weight: 300;
            line-height: 115.5%; 
        }
    }

    .btn-wrap{
        text-align: center;
    }
}

/* -----------------------------full-digital-icon------------------------- */

.full-digital-icon{
    position: relative;
    padding: 65px 0 60px 0;

    h3{
        @include adaptiv-vaule("margin-bottom", 90 , 35, 1);

        @include media('<tablet'){
            text-align: center;
        }
    }

    .block{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        margin-bottom: 70px;

        @include media('<desktop'){
            width: 43%;
        }

        @include media('<tablet'){
            width: 100%;
            justify-content: center;
        }

        img{
            margin-right: 15px;
        }

        p{
            @include adaptiv-vaule("font-size", 18, 16, 1);
            line-height: 115.5%;
            margin: 0;
        }
    }
}

/* ///////////////////////tabs/////////////////////// */

.tabs__item-wrap{
    position: relative;
    padding-top: 50px;
    transition: all 0.3s ease;

    &::after{
        content:'';
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $purpule;
    }
}

.tabs__nav-btn{
    position: absolute;
    top: 0;
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 20px;
    color: $white;

    @include media ('>=tablet'){
        &::before{
            content:'';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 0;
            height: 3px;
            transition: all 0.3s ease;
        }
    }

    @include media ('<tablet'){
        position: relative;
        display: block;
        min-width: 310px;
        text-align: left;
        padding: 15px 50px 15px 15px;
        background-color: #1D2525;
        margin: 20px auto;
        transition: all 0.5s ease;

        &::before, &::after{
            content:'';
            position: absolute;
            top: 25px;
            right: 20px;
            width: 10px;
            height: 2px;
            transition: all 0.5s ease;
        }

        &::before{
            transform: rotate(90deg);
        }

        &::after{
            transform: rotate(0);
        }
    }
}

.tab_btn1{
    left: 5%;

    @include media ('<tablet'){
        left: 0;
    }
}

.tab_btn2{
    left: 40%;
    transform: translate(-40%);

    @include media ('<tablet'){
        left: 0;
        transform: translate(0%);
    }
}

.tab_btn3{
    left: 70%;
    transform: translate(-70%);

    @include media ('<tablet'){
        left: 0;
        transform: translate(0%);
    }
}

.tab_btn4{
    right: 5%;

    @include media ('<tablet'){
        right: 0;
    }
}

.tab_active{

    &::after{
        content:'';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #FAB2FF;
        border-radius: 10px;
        transition: all .3s ease 0s;
        box-shadow: 0px 5px 30px 5px #FAB2FF;
        z-index: 2;
    }
    
    @include media ('>=tablet'){

        &::before{
            transition: all 0.3s ease;
            width: 100%;
        }
    }

    @include media ('<tablet'){
        transition: all 0.5s ease;

        &::before, &::after{
            transition: all 0.5s ease;
        }

        &::before{
            transform: rotate(-135deg);
        }

        &::after{
            transform: rotate(135deg);
        }
    }
}

.tabs__item{
    transition: opacity 1s ease;
    max-height: 0;
    opacity: 0;
    visibility: hidden;

    @include media ('<tablet'){
        border: none;
    }
}

.tab__item_active{
    max-height: 99999px;
    visibility: visible;
    opacity: 1;
    transition: opacity 2s ease;

    @include media ('<tablet'){
        transition: max-height 30s ease, opacity 2s ease;
    }
}

/* -----------------------------portfolio------------------------- */

.portfolio{
    .item-wrap{
        .item2{
            display: block;
        }
    }
}