<footer id="footer">
    <div class="container">
        <div class="top">
            <a class="logo" href="#">
                <img src="./images/icons/logo.svg" alt="logo">
            </a>
            <div class="block">
                <div class="item">
                    <p class="footer-title">Contacts</p>
                    <div class="contacts">
                        <a class="contact contact-link" href="tel:7777777373">
                            <img src="./images/icons/footer-phone.svg" alt="icon phone">
                            777-777-7373
                        </a>
                        <a class="contact contact-link" href="mailto:purevent@gmail.com">
                            <img src="./images/icons/footer-mail.svg" alt="icon mail">
                            purevent@gmail.com
                        </a>
                        <a class="contact contact-link" target="_blank" href="#">
                            <img src="./images/icons/footer-geo.svg" alt="icon geo">
                            Miami,FL
                        </a>
                        <p class="contact">
                            <img src="./images/icons/footer-time.svg" alt="icon time">
                            Monday – Friday, 8am to 6pm
                        </p>
                    </div>
                </div>
                <div class="item nav">
                    <p class="footer-title">Quick Links</p>
                    <nav class="menu-wrap">
                        <ul class="menu">
                            <li class="menu-item"><a class="link-close" href="index.html">home</a></li>
                            <li class="menu-item"><a class="link-close" href="#about">about</a></li>
                            <li class="menu-item"><a class="link-close" href="#air360">air360</a></li>
                            <li class="menu-item"><a class="link-close" href="#pricing">pricing</a></li>
                            <li class="menu-item"><a class="link-close" href="#estimate">estimate</a></li>
                            <li class="menu-item"><a class="link-close" href="#faq">faq</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="item form-wrap">
                    <p class="footer-title">Join our newsletter for exclusive deals</p>
                    <form action="">
                        <input class="input" type="email" placeholder="Enter your email">
                        <div class="main-btn form-btn">
                            <input type="submit" value="">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M3.5 12H20.33" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                             
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bot">
            <p class="rights">2023 © All rights reserved by PureVent</p>
        </div>
    </div>
</footer>