<section class="port">
    <div class="container">
        <div class="contant">
            <h2>Portfolio</h2>
            <div class="item-wrap">
                <div class="item item1">
                    <div class="item-content">
                        <div class="img">
                            <img src="./images/main-page/port/1.jpg" alt="img">
                        </div>
                        <div class="text">
                            <p>Lorem ipsum</p>
                            <span># Marketing</span>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a href="#" class="main-btn">
                            See more
                            <img src="./images/icon/arrow1.svg" alt="icon">
                        </a>
                    </div>
                </div>
                <div class="item item2">
                    <div class="item-content">
                        <div class="img">
                            <img src="./images/main-page/port/2.jpg" alt="img">
                        </div>
                        <div class="text">
                            <p>Lorem ipsum</p>
                            <span># Marketing</span>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a href="#" class="main-btn">
                            See more
                            <img src="./images/icon/arrow1.svg" alt="icon">
                        </a>
                    </div>
                </div>
            </div>
            <div class="item-wrap">
                <div class="item item1">
                    <div class="item-content">
                        <div class="img">
                            <img src="./images/main-page/port/3.jpg" alt="img">
                        </div>
                        <div class="text">
                            <p>Lorem ipsum</p>
                            <span># Brand identity</span>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a href="#" class="main-btn">
                            See more
                            <img src="./images/icon/arrow1.svg" alt="icon">
                        </a>
                    </div>
                </div>
                <div class="item item2">
                    <div class="item-content">
                        <div class="img">
                            <img src="./images/main-page/port/4.jpg" alt="img">
                        </div>
                        <div class="text">
                            <p>Lorem ipsum</p>
                            <span># Brand identity</span>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a href="#" class="main-btn">
                            See more
                            <img src="./images/icon/arrow1.svg" alt="icon">
                        </a>
                    </div>
                </div>
            </div>
            <div class="item-wrap">
                <div class="item item1">
                    <div class="item-content">
                        <div class="img">
                            <img src="./images/main-page/port/5.jpg" alt="img">
                        </div>
                        <div class="text">
                            <p>Lorem ipsum</p>
                            <span># Web&App</span>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a href="#" class="main-btn">
                            See more
                            <img src="./images/icon/arrow1.svg" alt="icon">
                        </a>
                    </div>
                </div>
                <div class="item item2">
                    <div class="item-content">
                        <div class="img">
                            <img src="./images/main-page/port/6.jpg" alt="img">
                        </div>
                        <div class="text">
                            <p>Lorem ipsum</p>
                            <span># Web&App</span>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a href="#" class="main-btn">
                            See more
                            <img src="./images/icon/arrow1.svg" alt="icon">
                        </a>
                    </div>
                </div>
            </div>
            <div class="item-wrap">
                <div class="item item1">
                    <div class="item-content">
                        <div class="img">
                            <img src="./images/main-page/port/7.jpg" alt="img">
                        </div>
                        <div class="text">
                            <p>Lorem ipsum</p>
                            <span># Training</span>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a href="#" class="main-btn">
                            See more
                            <img src="./images/icon/arrow1.svg" alt="icon">
                        </a>
                    </div>
                </div>
                <div class="item item2">
                    <div class="item-content">
                        <div class="img">
                            <img src="./images/main-page/port/8.jpg" alt="img">
                        </div>
                        <div class="text">
                            <p>Lorem ipsum</p>
                            <span># Training</span>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a href="#" class="main-btn">
                            See more
                            <img src="./images/icon/arrow1.svg" alt="icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>