<section class="testi">
    <div class="container">
        <div class="content">
            <div class="title">
                <h2>Client Testimonials</h2>
                <div class="btn-wrap">
                    <a href="#" class="main-btn">
                        Sea more
                        <img src="./images/icon/arrow1.svg" alt="icon">
                    </a>
                </div>
            </div>
            <div class="comments testi-slider">
                <div class="item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <div class="user">
                        <div class="img">
                            <img src="./images/main-page/user.jpg" alt="user icon">
                        </div>
                        <div class="name">
                            <p>Kadin Schleifer</p>
                            <span>CEO</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, comod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnnsectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <div class="user">
                        <div class="img">
                            <img src="./images/main-page/user.jpg" alt="user icon">
                        </div>
                        <div class="name">
                            <p>Kadin Schleifer</p>
                            <span>CEO</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <div class="user">
                        <div class="img">
                            <img src="./images/main-page/user.jpg" alt="user icon">
                        </div>
                        <div class="name">
                            <p>Kadin Schleifer</p>
                            <span>CEO</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>