.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, .6);
    z-index: 5000;
}

.overlay-visible {
    display: block;
}

.btn-closs {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    z-index: 3;
    top: 15px;
    right: 15px;
    cursor: pointer;

    &:hover {
        span {
            background-color: $orange;
        }

        &::before {
            background-color:$orange;
        }
    }

    span{
        position: absolute;
        background-color: rgba(210, 210, 210, 1);
        width: 100%;
        height: 2px;
        top: 9px;
        animation-name: line;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    &::before {
        content:'';
        position: absolute;
        background-color: rgba(210, 210, 210, 1);
        width: 100%;
        height: 2px;
        top: 9px;
        animation-name: line2;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes line {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(45deg);
        }
    }

    @keyframes line2 {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(-45deg);
        }
    }
}

/* _________________________get-for________________________ */

.get-for, .order {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 6000;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    padding: 20px 30px 10px;
    margin: 0 auto;

    @include media("<phone") {
        padding: 15px 40px;
    }
    
    h4 {
        text-align: center;
        margin-bottom: 10px;
    }

    p {
        font-size: 20px;
        margin-bottom: 20px;

        @include media("<phone") {
            font-size: 16px;
        }
    }

    .modal-form-wrap {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .modal-img-wrap {

        @include media("<desktop") {
            display: none;
        }
    }
    
    .get-for-form {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        
        input {
            height: 49px;
            background: #FFFFFF;
            border: 1px solid #EB5B31;
            box-sizing: border-box;
            border-radius: 3px;
            padding: 15px 47px;
            color: $orange;

            @include media("<phone") {
                padding: 15px 10px;
            }

            &::placeholder {
                color: $orange;
            }
        }

        .btn-form {
            max-height: 50px;
            padding: 15px 42px 15px 47px;
            background: #EB5B31;
            border-radius: 3px;
            border: none;
            outline: none;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            margin-top: 20px;

            @include media("<phone") {
                padding: 15px 10px;
                font-size: 15px;
            }

            i {
                margin-left: 15px;
            }
        }
    }

    .check-wrap {
        display: flex;
        padding: 13px 0 0 0;


        .check {
            height: 16px;
            width: 16px;
            margin: 0 5px 0 0;
            color: $orange;
        }

        p {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: #EB5B31;
            margin: 0;
        }
    }
}

.get-for-visible {
    display: block;
}

/* _________________________order____________________________ */

.order {
    display: none;
}

.order-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 590px;
    font-size: 22px;

    h2 {
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 32px;

        @include media("<tablet") {
            margin-bottom: 10px;
        }
    }

    .order-form-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    input,  .Message {
        border: 1px solid #EB5B31;
        box-sizing: border-box;
        border-radius: 3px;
        height: 59px;
        margin-bottom: 10px;
        padding: 16px 22px;
        outline: none;
        color: $orange;
        width: 100%;

        @include media("<tablet") {
            height: 0;
            margin-bottom: 10px;
        }

        &::placeholder {
            color: rgba(219, 219, 219, 1);
            
        }
        
        &:focus {
            border: 1px solid #EB5B31;
            outline: none;
        }
    }
    
    .order-name-wrap {
        display: flex;
        justify-content: space-between;

        @include media("<tablet") {
            flex-direction: column;
        }

        input {
            width: 280px;
            margin-right: 25px;

            @include media("<tablet") {
                width: 100%;
                margin-right: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .Message {
        height: 110px;
    }

    .order-text-wrap {
        max-width: 500px;
        align-self: center;
        color: $orange;
        margin: 0 auto;

        p {
            font-size: 12px;
            margin-bottom: 44px;

            @include media("<tablet") {
                font-size: 10px;
                margin-bottom: 20px;
            }

            span {
                text-decoration: underline;
            }
        }
    }

    .btn-form {
        max-height: 50px;
        width: 160px;
        padding: 15px 42px 15px 47px;
        background: #EB5B31;
        border-radius: 3px;
        border: none;
        outline: none;
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        align-self: center;
        display: block;
        margin: 0 auto;
    }
}

.order-visible {
    display: block;
}

/* ________________________pricepopup___________________________ */

.pricepopup {
    width: 100%;
    display: none;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 35px 63px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 6000;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);

    @include media("<phone") {
        padding: 35px 30px;
    }
}

.pricepopup-visible {
    display: block;
}

.pricepopup-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;

    .pricepopup-btn {
        right: 30px;
    }

    .pricepopup-title {
        max-width: 340px;
        margin: 0 auto;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 15px;

        @include media("<phone") {
            font-size: 18px;
            line-height: 22px;
        }
    }

    .pricepopup-subtitle {
        font-size: 18px;
        line-height: 22px;
    }

    .pricepopup-form-wrap {
        display: flex;
        flex-direction: column;

        .price-input {
            padding: 15px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $orange;
            margin-bottom: 15px;
            border: 1px solid $orange;
            border-radius: 3px;
            outline: none;

            &::placeholder {
                text-align: center;
                color: $orange;
            }

        }
    }

    .check-wrap {
        display: flex;
        margin: 0 auto;

        .check {
            height: 16px;
            width: 16px;
            margin: 0 5px 0 0;
            color: $orange;
        }

        p {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: #EB5B31;
            margin: 0;
        }
    }

    .btn-form {
        display: block;
        width: 100%;
        padding: 15px;
        background: #EB5B31;
        border-radius: 3px;
        border: none;
        outline: none;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        align-self: center;
        margin: 0 auto;
        margin-top: 20px;
    }
}