.header {
    position: fixed;
    z-index: 50;
    padding: 10px 0;
    width: 100%;
    transition: all 0.5s ease 0s;

    @include media("<tablet") {
        background: url(../images/mob/menu.png) no-repeat, rgba(237, 237, 237, 1);
        background-position: 50% 0;
        background-size: 100% auto;
        padding: 0;
        position: absolute;
        z-index: 40;
        top: -1000px;
        transition: all 1s ease 0s;
    }
}

.logo-test {
    text-align: start;
    max-width: 145px;

    a {
        display: flex;
        align-items: center;
        color: black;
    }

    .logo-text-wrap {
        margin-left: 10px;
        align-self: center;
        padding: 1px 0;

        h6 {
            max-width: 82px;
            font-weight: 900;
            font-size: 15px;
            line-height: 15px;
            margin-bottom: 0;
            overflow: hidden;
            animation-name: text-logo;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            font-family: Gilroy;

            @keyframes text-logo {

                0% {
                    width: 0;
                }

                100% {
                    width: 125px;
                }
            }
        }
    }

    .logo-wrap {
        position: relative;
        width: 48px;
        height: 48px;
        background-color: $orange;
        border-radius: 5px;
        padding: 15px 5px;
    }

    span {
        position: absolute;
        background-color: $white;
    }

    .cercl1 {
        height: 0px;
        width: 0px;
        border-radius: 50%;
        bottom: 11px;
        left: 7px;
        animation-name: c1;
        animation-duration: 150ms;
        animation-fill-mode: forwards;

        @keyframes c1 {

            0% {
                height: 0;
                width: 0;
            }

            100% {
                height: 8px;
                width: 8px;
            }
        }
    }

    .line1 {
        height: 0;
        width: 0;
        bottom: 18px;
        left: 9px;
        border-radius: 10px;
        transform: rotate(-45deg);
        animation-name: l1;
        animation-duration: 150ms;
        animation-delay: 150ms;
        animation-fill-mode: forwards;

        @keyframes l1 {

            0% {
                height: 0;
                width: 0;
            }

            100% {
                height: 3px;
                width: 11px;
            }
        }
    }

    .cercl2 {
        height: 0px;
        width: 0px;
        border-radius: 50%;
        bottom: 20px;
        left: 16px;
        animation-name: c2;
        animation-duration: 150ms;
        animation-delay: 300ms;
        animation-fill-mode: forwards;

        @keyframes c2 {

            0% {
                height: 0;
                width: 0;
            }

            100% {
                height: 8px;
                width: 8px;
            }
        }
    }

    .line2 {
        height: 0px;
        width: 0px;
        bottom: 20px;
        left: 21px;
        border-radius: 10px;
        transform: rotate(20deg);
        animation-name: l2;
        animation-duration: 150ms;
        animation-delay: 450ms;
        animation-fill-mode: forwards;

        @keyframes l2 {

            0% {
                height: 0;
                width: 0;
            }

            100% {
                height: 3px;
                width: 11px;
            }
        }
    }

    .cercl3 {
        height: 0px;
        width: 0px;
        border-radius: 50%;
        bottom: 15px;
        left: 28px;
        animation-name: c3;
        animation-duration: 150ms;
        animation-delay: 600ms;
        animation-fill-mode: forwards;

        @keyframes c3 {

            0% {
                height: 0;
                width: 0;
            }

            100% {
                height: 8px;
                width: 8px;
            }
        }
    }

    .line3 {
        height: 0px;
        width: 0px;
        bottom: 25px;
        left: 27px;
        transform: rotate(-66deg);
        border-radius: 10px;
        animation-name: l3;
        animation-duration: 150ms;
        animation-delay: 750ms;
        animation-fill-mode: forwards;

        @keyframes l3 {

            0% {
                height: 0;
                width: 0;
            }

            100% {
                height: 3px;
                width: 15px;
            }
        }
    }

    .cercl4 {
        height: 0px;
        width: 0px;
        border-radius: 50%;
        bottom: 31px;
        left: 34px;
        animation-name: c4;
        animation-duration: 150ms;
        animation-delay: 900ms;
        animation-fill-mode: forwards;

        @keyframes c4 {

            0% {
                height: 0;
                width: 0;
            }

            100% {
                height: 8px;
                width: 8px;
            }
        }
    }
}

.main-page {

    .header-menu {
        display: flex;
        justify-content: space-between;

        .logo-test {

            @include media(">tablet") {
                opacity: 0;
                transition: all 0.5s ease 0s;
            }

        }
    }

    .header-fixed {

        .logo-test {
            opacity: 1;
            transition: all 0.5s ease 0s;

        }
    }
}

.header-fixed {

    @include media(">tablet") {
        background-color: $darkgray;
        opacity: 1;
        transition: all 0.5s ease 0s;

        .logo-wrap {
            span {
                background-color: $darkgray;
                transition: all 0.5s ease 0s;
            }
        }

        .logo-text-wrap {
            color: $white;
            transition: all 0.5s ease 0s;
        }

        .menu-li {

            a {
                transition: all 0.5s ease 0s;
                color: $white;
            }
        }

        .down {

            &:hover {
                color: $orange;

                .submenu {
                    background-color: $darkgray;
                    border-radius: 5px;
                    width: 40px;
                }
            }
        }
    }
}

.header-active {
    top: 0;
}

.burger {
    position: absolute;
    display: none;
    overflow: hidden;
    cursor: pointer;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 35px;
    z-index: 50;

    @include media("<tablet") {
        display: block;
    }

    span {
        display: block;
        position: relative;
        height: 3px;
        margin: 4px auto;
        background-color: $orange;
        border-radius: 5px;
    }

    .sp1 {
        transition: all .3s .5s;
    }

    .sp2 {
        transition: all .3s .3s;
    }

    .sp3 {
        transition: all .3s .1s;
        margin-left: 50%;
        width: 50%;
    }

}

.burger-active {

    .sp1 {
        width: 30px;
        height: 30px;
        margin: 5px auto;
        transition: all .3s .1s;
    }

    .sp2 {
        background-color: $white;
        transform: translateY(-21px) rotateZ(45deg);
        transition: all .3s .3s;
    }

    .sp3 {
        background-color: $white;
        transform: translateY(-28px) rotateZ(-45deg);
        transition: all .3s .5s;
        width: 100%;
        margin: 0;
    }
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media("<tablet") {
        flex-direction: column;
        margin: 102px 0 54px 0;
    }
}

.menu {
    display: flex;
    justify-content: flex-end;


    @include media("<tablet") {
        width: 300px;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
        margin: 40px 0 0 0;
    }

    & :nth-child(7) {
        a {
            margin-right: 68px;

            @include media("<desktop") {
                margin-right: 15px;
            }

            @include media("<tablet") {
                margin: 0;
            }

        }
    }

    & :nth-last-child() {
        a {
            margin-right: 0;
        }
    }
}

.menu-li {
    list-style-type: none;

    @include media("<tablet") {
        width: 50%;
        text-align: center;

        &:nth-child(1),
        &:nth-child(2) {

            a {
                padding: 48px 0;
            }
        }

        &:nth-child(even) {

            a {
                border-width: 0 0 1px 0;
            }
        }
    }

    a {
        line-height: 1;
        text-decoration: none;
        margin-right: 38px;
        color: black;


        @include media("<tablet") {
            display: block;
            margin: 0;
            font-weight: 800;
            font-size: 20px;
            color: $orange;
            text-align: center;
            border-color: black;
            border-style: solid;
            border-width: 0 1px 1px 0;
            padding: 66px 0;

            &:hover {
                background-color: $orange;
                border: 1px solid $orange;
            }
        }

        @include media("<desktop") {
            margin-right: 15px;
        }

        @include media("<tablet") {
            margin-right: 0;
        }

        &:hover {
            color: $orange;
            transition: ease 0s;

            @include media("<tablet") {
                color: $white;
            }
        }
    }
}

.down {
    position: relative;

    @include media("<tablet") {
        display: none;
    }

    i {
        position: absolute;
        font-size: 9px;
        right: 25px;
        bottom: 3px;
        transition: ease 0.5s;

        @include media("<desktop") {
            right: 0;
        }
    }

    .submenu {
        position: absolute;
        list-style-type: none;
        padding: 0;
        white-space: nowrap;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        transition: all 0.4s ease;

        li {
            margin-top: 8px;
        }

        a {

            &:hover {
                color: $orange;
            }
        }
    }

    &:hover {

        i {
            transform: rotate(-180deg);
            transition: ease 0.5s;
        }

        .submenu {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            transition: ease 0.5s;
            z-index: 10;
        }
    }
}

.mob-logo {
    display: none;

    @include media("<tablet") {
        display: block;
        margin: 20px 0 0 26px;
    }
}

.mob-header-logo {
    display: none;

    @include media("<tablet") {
        display: block;
        margin-bottom: 40px;
    }
}

.mob-social-wrap {
    display: none;
    margin-top: 35px;
    color: $orange;
    width: 300px;

    @include media("<tablet") {
        display: block;
    }

    h5 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 45px;
    }

    .mob-social {
        display: flex;
        justify-content: space-between;
        font-size: 34px;

        a {
            color: $orange;
        }
    }
}