<header id="header">
    <div class="container">
        <div class="header-content">
            <div class="header-logo">
                <a class="logo-link" href="#">
                    <img class="header-logo-img" src="/dist/images/Icons/astronaut.svg" alt="logo-img">
                    <h5 class="logo-text">Alexander Hobbs</h5>
                </a>
            </div>
            <nav class="header-nav">
                <ul class="nav-wrap">
                    <li class="nav-item"><a class="nav-link" href="#">Main</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Awards</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Blogs</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>
 </header>