@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-Bold.ttf");
    font-style: bold;
    font-weight: 700;
}