.date_adventure {
    @include adaptiv-vaule("padding-top", 160, 60, 1);
    @include adaptiv-vaule("padding-bottom", 160, 60, 1);
    position: relative;

    .line{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .innovation_title {
        max-width: 875px;
        margin: 0 auto;

        &::before,
        &::after {
            @include adaptiv-vaule("height", 60, 20, 1);
        }
    }

    .image_wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 65px 15px;

        @include media ("<tablet") {
            flex-direction: column;
            gap: 60px;
        }
    }

    .adventure_image {
        max-width: 500px;
        max-height: 500px;

        @include media ("<phone") {
            max-width: 300px;
            max-height: 300px;
        }
    }

    .strawberry{
        max-width: 140px;
        margin-top: 50px;

        @include media ("<tablet") {
            margin: 0;
        }
        
        @include media ("<phone") {
            max-width: 100px;
        }
    }

    .chocolate{
        max-width: 200px;
        margin-bottom: 70px;

        @include media ("<tablet") {
            margin: 0;
        }
        
        @include media ("<phone") {
            max-width: 100px;
        }
    }

    .arrow_left{
        margin-top: 150px;

        @include media ("<tablet") {
            margin: 0;
            transform: rotate(270deg);
        }


        @include media ("<phone") {
            max-width: 70px;
        }
    }

    .arrow_right{
        margin-bottom: 120px;

        @include media ("<tablet") {
            margin: 0;
            transform: rotate(270deg);
        }

        @include media ("<phone") {
            max-width: 70px;
        }
    }
}

.typography_date {
    .gradient_block {
        background: linear-gradient(90deg, #0B0A06 0%, #F9C0AC 49.48%, #3F4D34 98.96%);

        @include media ("<phone_max") {
            background: linear-gradient(180deg, #0B0A06 0%, #F9C0AC 49.48%, #3F4D34 98.96%);
        }
    }

    .color_name {
        &:last-child {
            color: $black;
        }
    }
}