.date_adventure {
    @include adaptiv-vaule("padding-top", 160, 60, 1);
    @include adaptiv-vaule("padding-bottom", 160, 60, 1);
    position: relative;

    .line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .innovation_title {
        max-width: 875px;
        margin: 0 auto;
        z-index: 1;

        &::before,
        &::after {
            @include adaptiv-vaule("height", 60, 20, 1);
        }
    }

    .image_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 65px 15px;
        @include adaptiv-vaule("padding-top", 65, 35, 1);
        @include adaptiv-vaule("padding-bottom", 65, 35, 1);
        position: relative;
        z-index: 1;

        @include media ("<desktop") {
            flex-direction: column;
            gap: 30px;
        }
    }

    .adventure_image {
        max-width: 700px;

        @include media ("<desktop") {
            max-width: 400px;
        }
    }

    .strawberry {
        margin-top: 50px;
        position: relative;

        @include media ("<desktop") {
            margin: 0;
        }
    }

    .strawberry_title,
    .chocolate_title {
        max-width: 140px;
        position: absolute;

        @include media ("<phone") {
            max-width: 100px;
        }
    }

    .strawberry_title {
        left: 45%;
        transform: translateX(-50%);
        bottom: 40px;
    }

    .chocolate_title {
        left: 60%;
        transform: translateX(-50%);
        bottom: 15px;
    }

    .strawberry_img {
        max-width: 360px;
        @include adaptiv-vaule("width", 360, 150, 1);

        @include media ("<tablet") {
            width: 250px;
        }
    }

    .chocolate {
        margin-bottom: 70px;
        position: relative;

        @include media ("<desktop") {
            margin: 0;
        }
    }

    .chocolate_img {
        max-width: 300px;
        @include adaptiv-vaule("width", 300, 70, 1);

        @include media ("<tablet") {
            width: 250px;
        }
    }

    .arrow_left {
        margin-top: 150px;

        @include media ("<desktop") {
            margin: 0;
            transform: rotate(270deg);
        }


        @include media ("<phone") {
            max-width: 70px;
        }
    }

    .arrow_right {
        margin-bottom: 120px;

        @include media ("<desktop") {
            margin: 0;
            transform: rotate(270deg);
        }

        @include media ("<phone") {
            max-width: 70px;
        }
    }
}

.typography_date {
    .gradient_block {
        background: linear-gradient(90deg, #0B0A06 0%, #F9C0AC 49.48%, #3F4D34 98.96%);

        @include media ("<phone_max") {
            background: linear-gradient(180deg, #0B0A06 0%, #F9C0AC 49.48%, #3F4D34 98.96%);
        }
    }

    .color_name {
        &:last-child {
            color: $black;
        }
    }
}