.date_adventure {
    @include adaptiv-vaule("padding-top", 160, 60, 1);
    @include adaptiv-vaule("padding-bottom", 160, 60, 1);

    .innovation_title {
        max-width: 875px;
        margin: 0 auto;

        &::before,&::after{
            @include adaptiv-vaule("height", 60, 20, 1);
        }
    }
}

.typography_date{
    .gradient_block{
        background: linear-gradient(90deg, #0B0A06 0%, #F9C0AC 49.48%, #3F4D34 98.96%);

        @include media ("<phone_max") {
            background: linear-gradient(180deg, #0B0A06 0%, #F9C0AC 49.48%, #3F4D34 98.96%);
        }
    }

    .color_name{
        &:last-child{
            color: $black;
        }
    }
}