@font-face {
    font-family: "IBMPlexMono";
    src: url('../fonts/IBMPlexMono-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "NeueHaas";
    src: url('../fonts/NeueHaasGroteskDisplayPro-Medium.woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "NeueHaas";
    src: url('../fonts/NeueHaasGroteskDisplayPro-Roman.woff');
    font-style: normal;
    font-weight: 500;
}