@font-face {
    font-family: "Queensila";
    src: url("../fonts/Queensila.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "QueensilaRegular";
    src: url('../fonts/QueensilaRegular.woff2') format('woff2'),
         url('../fonts/QueensilaRegular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Boska";
    src: url("../fonts/Boska-Light.ttf");
    font-style: light;
    font-weight: 300;
}

@font-face {
    font-family: "Boska";
    src: url("../fonts/Boska-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Boska";
    src: url("../fonts/Boska-Medium.ttf");
    font-style: medium;
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-regular.ttf");
    font-style: regular;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-semibold.ttf");
    font-style: semibold;
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-bold.ttf");
    font-style: bold;
    font-weight: 700;
}