@font-face {
    font-family: "Queensila";
    src: url("../fonts/Queensila.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-regular.ttf");
    font-style: regular;
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-semibold.ttf");
    font-style: semibold;
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-bold.ttf");
    font-style: bold;
    font-weight: 700;
}