// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
	margin: 0;
	font-family: 'Queensila';
	color: $headings-color;
	text-transform: uppercase;
	color:$blue;
}

h1, .h1 {
	font-size: $h1-font-size;
}

h2, .h2 {
	@include adaptiv-vaule("font-size", 80, 42, 1);
	line-height: 85 / 80 * 100%;
	font-weight: 400;
}

h3, .h3 {
	@include adaptiv-vaule("font-size", 48, 32, 1);
	line-height: 60 / 48 * 100%;
	font-weight: 400;
}

h4, .h4 {
	font-size: $h4-font-size;
}

h5, .h5 {
	font-size: $h5-font-size;
}

h6, .h6 {
	font-size: $h6-font-size;
}

p {
	margin: 0;
	font-family: 'Gilroy';
	color: $gray_2;
	font-weight: 500;
	font-size: 16px;
	line-height: 26 / 16 * 100%;
}

ul{
	margin: 0;
	li{
		font-family: 'Gilroy';
	}
}

a {
	color: $base-link-color;
	text-decoration: none;
	font-family: 'Gilroy';
	transition: color .3s ease;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}