<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="main-footer">
                <div class="footer-logo-wrap">
                    <a class="footer-logo" href="index.html">
                        <img src="./images/icon/logo-footer.svg" alt="footer-logo">
                    </a>
                    <div class="footer-awards">
                        <h6>Awards</h6>
                        <img src="./images/Awards/Designers.png" alt="award">
                        <img src="./images/Awards/2sm.png" alt="award">
                        <img src="./images/Awards/B2B.png" alt="award">
                        <img src="./images/Awards/Developers.png" alt="award">
                    </div>
                </div>
                <div class="title-footer-wrap">
                    <div class="about title-footer">
                        <h5><a href="about-us.html">About us</a></h5>
                        <ul>
                            <li><a href="#mission-section">Mission and Vision</a></li>
                            <li><a href="#core-values">Core Values</a></li>
                            <li><a href="#reviews">Reviews</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                        </ul>
                    </div>
                    <div class="services title-footer">
                        <h5><a href="services.html">Services</a></h5>
                        <ul>
                            <li><a href="#consulting">Consulting</a></li>
                            <li><a href="#development">Veb Development</a></li>
                            <li><a href="#design">UI/UX and Web Design</a></li>
                            <li><a href="#brand">Brand identity</a></li>
                        </ul>
                    </div>
                    <div class="contact title-footer">
                        <h5><a href="contact.html">Contact</a></h5>
                        <ul>                                  
                            <li><a href="#contact-form">Contact form</a></li>
                            <li><a href="#location">Location</a></li>
                            <li><a href="#careers">Careers</a></li>
                            <li><a href="#request">Request a service</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-wrap title-footer">
                        <h5><a href="portfolio.html">Portfolio</a></h5>
                        <h5><a href="blog.html">Blog</a></h5>
                    </div>
                </div>
                <div class="contact">
                    <h5>Contact us</h5>
                    <form action="#">
                        <div class="name-wrap">
                            <input name="first-name" type="text" placeholder="First name">
                            <input name="last-name" type="text" placeholder="Last name">
                        </div>
                        <input class="work-emeil" name="emeil" type="email" id="email" placeholder="Work email address">
                        <textarea class="help" name="help" type="text"
                        placeholder="How can we help you"></textarea>
                        <p>Blend needs the contact information you provide to us to contact you about our products and services. You may unsubscribe from these communications at anytime. For information on how to unsubscribe, as well as our privacy practices and commitment to protecting your privacy, check out our Privacy Policy.</p>
                        <button class="btn-form" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="second-footer-section">
    <div class="container">
        <div class="second-footer-content">
            <div class="policy">
                <a href="#">Privacy Policy</a>
                <a href="#">Cookies Policy</a>
            </div>
            <div class="icon-footer">
                <a href="#"><i class="icon-LinkedIn"></i></a>
                <a href="#"><i class="icon-C"></i></a>
                <a href="#"><i class="icon-Be"></i></a>
                <a href="#"><i class="icon-Facebook"></i></a>
                <a href="#"><i class="icon-Insta"></i></a>
            </div>
            <a class="reserved" href="#">© 2021 Krock Digital Solutions. All rights reserved.</a>
        </div>
    </div>
</section>