<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="main-footer">
                <div class="footer-logo-wrap">
                    <a class="footer-logo" href="#">
                        <img src="./images/icon/logo-footer.svg" alt="footer-logo">
                    </a>
                    <div class="footer-awards">
                        <h6>Awards</h6>
                        <img src="./images/Awards/1sm.png" alt="award">
                        <img src="./images/Awards/2sm.png" alt="award">
                        <img src="./images/Awards/1sm.png" alt="award">
                    </div>
                </div>
                <div class="about title">
                    <h5><a href="#">About us</a></h5>
                    <ul>
                        <li><a href="#">Awards</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Meet the team</a></li>
                        <li><a href="#">Community Support</a></li>
                    </ul>
                </div>
                <div class="services title">
                    <h5><a href="#">Services</a></h5>
                    <ul>
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">UI/UX and Web Design</a></li>
                        <li><a href="#">Brand Identity Design</a></li>
                        <li><a href="#">Virtual Data Room</a></li>
                    </ul>
                </div>
                <div class="contact title">
                    <h5><a href="#">Contact</a></h5>
                    <ul>                                  
                        <li><a href="#">Office</a></li>
                        <li><a href="#">Location</a></li>
                        <li><a href="#">Contact form</a></li>
                        <li><a href="#">Contact options</a></li>
                    </ul>
                </div>
                <div class="portfolio-wrap title">
                    <h5><a href="#">Portfolio</a></h5>
                    <h5><a href="#">Blog</a></h5>
                </div>
                <div class="contact">
                    <h5>Contact us</h5>
                    <form action="#">
                        <div class="name-wrap">
                            <input type="text">
                            <input type="text">
                        </div>
                        <input type="text">
                        <input type="text">
                        <p></p>
                        <button>
                            <a href="#"></a>
                        </button>
                    </form>
                </div>
            </div>
            <div class="second-footer">
            </div>
        </div>
    </div>
</footer>