<div class="get-for">
    <div class="btn-closs get-for-btn"></div>
    <h4>Must Haves For a Successful Website</h4>
    <p>All web klowledge without IT education for you</p>
    <div class="modal-form-wrap">
        <div class="modal-img-wrap">
            <img src="./images/modal/book.jpg" alt="book-img">
        </div>
        <form class="get-for-form" action="#">
            <input class="your-emeil" name="Your-Email" type="email" id="email" placeholder="Your Email">
            <button class="btn-form" type="submit">Send me Free E-book <i class="icon-arrow"></i> </button>
            <div class="check-wrap">
                <input class="check" type="checkbox">
                <p>Execept our Privacy Policy</p>
            </div>
        </form>
    </div>
</div> 