<header id="header">
    <div class="container">
        <div class="header-content">
            <nav class="header-menu">
                <div class="header-logo">
                   <a href="#"><img src="./images/icon/logo.svg" alt=""></a> 
                </div>
                <ul class="menu">
                    <li class="menu-li"><a href="index.html">Main</a></li>
                    <li class="menu-li"><a href="about-us.html">About us</a></li>
                    <li class="menu-li"><a href="services.html">Services</a></li>
                    <li class="menu-li"><a href="portfolio.html">Portfolio</a></li>
                    <li class="menu-li"><a href="blog.html">Blog</a></li>
                    <li class="menu-li"><a href="contact.html">Contact</a></li>
                    <li class="menu-li down">
                        <a href="#">Eng
                            <img src="./images/icon/Arrow.svg" alt="Arrow">
                        </a>
                        <ul class="submenu">
                            <li><a href="#">Eng</a></li>
                            <li><a href="#">De</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
 </header>