<div class="logo-test mob-logo">
    <a href="index.html">
        <div class="logo-wrap">
            <span class="cercl1"></span>
            <span class="line1"></span>
            <span class="cercl2"></span>
            <span class="line2"></span>
            <span class="cercl3"></span>
            <span class="line3"></span>
            <span class="cercl4"></span>
        </div>
        <div class="logo-text-wrap">
            <h6><b> KROCK <br> DIGITAL <br> SOLUTIONS</b></h6>
        </div>
    </a>
</div>
<div class="burger">
    <span class="sp1"></span>
    <span class="sp2"></span>
    <span class="sp3"></span>
</div>
<header class="header" id="header">
    <div class="container">
        <div class="header-content">
            <nav class="header-menu">
                <div class="logo-test">
                    <a href="index.html">
                        <div class="logo-wrap">
                            <span class="cercl1"></span>
                            <span class="line1"></span>
                            <span class="cercl2"></span>
                            <span class="line2"></span>
                            <span class="cercl3"></span>
                            <span class="line3"></span>
                            <span class="cercl4"></span>
                        </div>
                        <div class="logo-text-wrap">
                            <h6><b> KROCK <br> DIGITAL <br> SOLUTIONS</b></h6>
                        </div>
                    </a>
                </div>
                <ul class="menu">
                    <li class="menu-li"><a href="index.html">Main</a></li>
                    <li class="menu-li"><a href="about-us.html">About us</a></li>
                    <li class="menu-li"><a href="services.html">Services</a></li>
                    <li class="menu-li"><a href="portfolio.html">Portfolio</a></li>
                    <li class="menu-li"><a href="blog.html">Blog</a></li>
                    <li class="menu-li"><a href="contact.html">Contact</a></li>
                    <li class="menu-li down">
                        <a href="#">Eng
                            <img src="./images/icon/Arrow.svg" alt="Arrow">
                        </a>
                        <ul class="submenu">
                            <li><a href="#">Eng</a></li>
                            <li><a href="#">De</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="mob-social-wrap">
                    <h5>Social network</h5>
                    <div class="mob-social">
                        <a href="#"><i class="icon-LinkedIn"></i></a>
                        <a href="#"><i class="icon-C"></i></a>
                        <a href="#"><i class="icon-Be"></i></a>
                        <a href="#"><i class="icon-Facebook"></i></a>
                        <a href="#"><i class="icon-Insta"></i></a>
                    </div>
                </div>
            </nav>
        </div> 
    </div>
 </header>