<div class="order">
    <div class="order-wrap">
        <h2>Contact form</h2>
        <form class="order-form-wrap" action="#">
            <div class="order-name-wrap">
                <input type="text" placeholder="First name">
                <input type="text" placeholder="Last name">
            </div>
            <input type="text" placeholder="Project name">
            <input type="emeil" placeholder="Email adress">
            <textarea class="Message" placeholder="Message"></textarea>
            <p>Krock DS needs the contact information you provide to us to contact you about our products and services. You may unsubscribe from these communications at anytime. <br>
            For information on how to unsubscribe, as well as our privacy practices and commitment to protecting your privacy, check out our Privacy Policy</p>
            <button class="btn-form" type="submit">Send</button>
        </form>
    </div>
</div> 