<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <a href="#"><img src="./images/icons/logo_footer.svg" alt="logo"></a>
            </div>
            <div class="contacts">
                <p>123456, Санкт-Петербург, Невский пр-кт 127 </p>
                <a href="mailto:sales@log.ru">sales@log.ru</a>
            </div>
            <div class="number">
                <a class="phone" href="tel:+8 (800) 123-45-67">8 (800) 123-45-67</a>
                <a class="phone" href="tel:+8 (800) 123-45-67">8 (800) 123-45-67</a>
            </div>
            <div class="DEN">
                <a href="mailto:D-E-N.ru">Разработано - D-E-N.ru</a>
            </div>
        </div>       
    </div>
</div>
    
</footer>