<header id="header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="#"><img src="./images/icons/logo_header.svg" alt="logo">
                </a>
                <div class="line"></div>
                <div class="geo-block">
                    <div class="geo"><a href="#"><img src="./images/icons/nav.svg" alt="geo"></a>
                    </div>
                    <div class="text-geo"><a href="#"> Наши офисы</a>
                    </div>           
                </div>
            </div>
            <div class="burger">
                <span></span>
            </div>
            <nav class="nav-menu">
                <ul class="menu">
                    <li><a href="#">услуги</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">вакансии</a></li>
                    <li><a href="#">контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
 </header>