.desktop_image {
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.owners {
    width: 100%;
    @include adaptiv-vaule("padding-top", 160, 40, 1);
    @include adaptiv-vaule("padding-bottom", 160, 40, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    .owners_img {
        position: relative;
    }

    .innovation_title {
        max-width: 875px;
        width: 100%;
        margin: 0 auto;
        z-index: 1;
        @include adaptiv-vaule("font-size", 56, 26, 1);
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.01) -42.4%, #FFF 52.53%, rgba(255, 255, 255, 0.04) 139.86%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media ("<phone") {
            top: 20%;
        }

        &::before,
        &::after {
            @include adaptiv-vaule("height", 60, 20, 1);
        }
    }


}

.planeta_video{
    border:none;
}

.typography_planeta {
    .gradient_block {
        background: linear-gradient(90deg, #EAF1FF 16.67%, #2758B7 49.48%, #FAF8F3 85.94%);

        @include media ("<phone_max") {
            background: linear-gradient(180deg, #EAF1FF 16.67%, #2758B7 49.48%, #FAF8F3 85.94%);
        }
    }

    .color_name {
        color: $white;

        &:first-child,
        &:last-child {
            color: $black;
        }
    }
}