<footer id="footer">
    <div class="container">
        <a class="btn" href="tel:+18504646666">
            <img src="./images/icons/phone.svg" alt="tel">
            Call us now
        </a>
        <p class="phone">(850) 464-6666</p>
        <address class="address-block">
            <h2 class="title">Or contact us on:</h2>
            <div class="links">
                <a class="soc-link" href="#" target="_blank">
                    <img src="./images/icons/message.svg" alt="icon">
                    IMessage
                </a>
                <a class="soc-link" href="https://wa.me/18504646666" target="_blank">
                    <img src="./images/icons/whatsapp.svg" alt="icon">
                    WhatsUp
                </a>
                <a class="soc-link" href="https://t.me/WhatMoneyExchange" target="_blank">
                    <img src="./images/icons/telegram.svg" alt="icon">
                    Telegram
                </a>
                <a class="soc-link" href="mailto:contact@what-money.com">
                    <img src="./images/icons/mail.svg" alt="icon">
                    Email
                </a>
            </div>
        </address>
        <p class="yer">©2023 WhatMoney</p>
    </div>
</footer>