body {
    font-family: $mont;
    transition: background-color .3s ease-out;
    
    &.change-bg {
        background-color: $purple;

        span, figcaption, p, h1, h2, h3, h4, time, ul, li, span{
            color: $white;
        }

        .main-btn{
            border: 1px solid $white;
        }

        .left-menu__arrow{
            i{
                color: $white;
            }
        }

        .left-menu__link{
            color: $white;
        }

        .list-content{
            ul, li {
                color: $white;
            }
        }

        .partners{
            p, h3{
                color: $white;
            }

            .icon-wrap{
                border-color: $white;
                
                i{
                    color: $white;
                }
            }
        }

        .user__name-wrap{
            h3{
                color: $white;
            }
        }
    }
}


.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1320px;
    padding: 0 15px 0 125px;

    @include media ("<tablet"){
        padding: 0 30px;
    }
}

.main-btn{
    min-width: 235px;
    max-width: 350px;
    padding: 16px 60px;
    text-align: center;
    background-color: $purple;
    font-weight: 800;
    font-size: 20px;
    color: $white;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    transition: all 800ms ease;

    &::after{
        top: -100%;
        left: 0px;
        width: 100%;
        position: absolute;
        background: #000000;
        content: 'Contact us';
        transform-origin: left bottom;
        transform: rotateX(90deg);
        line-height: 2.9;
        height: 56px;
    }

    &:hover{
        transform: rotateX(-90deg) translateY(100%);
    }
}

.btn-info{
    color: $white;
    font-size: 14px;
    font-weight: 800;
    transition: all 300ms ease;

    &:hover{
        transform: scale(1.01);
    }
}

.btn-wrap{
    display: flex;
    justify-content: center;
}

.second-btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: 800;
    font-size: 14px;
    transition: all 0.5s ease 0s;
    line-height: 1; 
    text-decoration: none; 

    &:after {
        content:"";
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 2px; 
        background-color: $black; 
        transition: width 0.3s ease-out; 
    }

    &:hover:after,
    &:focus:after {
        width: 100%;
    }

    .btn-arrow{
        position:static;
        width: 30px;
        height: 10px;
        margin-left: 8px;
    }
}

.big-text{
    position: absolute;
    right: 0px;
    text-transform:uppercase;
    font-weight: 800;
    @include adaptiv-vaule("font-size", 93, 5, 1);
    -webkit-text-stroke: .5px $white;
    color: transparent;

    @include media ("<desktop"){
        display: none;
    }
}

/* ________________________________________slider */

.slick-list {
    overflow: hidden;
}

.slick-track{
   display: flex;
}

.slick-arrow{
    display: none !important;
}

.slick-dots{
    position: absolute;
    list-style: none;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    margin: 0;
    padding: 0;

    li{
        margin-right: 10px;

        &:last-child{
            margin-right: 0;
        }

        button{
            font-size: 0;
            height: 14px;
            width: 8px;
            border-radius: 50%;
            border: 1px solid $color-dots;
            background-color: transparent;
        }
    }
}

.slick-active{
    button{
        position: relative;

        &::before{
            content:'';
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $purple;
            top: 2.5px;
            left: 50%;
            transform: translate(-50%);
        }
    }
}

/* ________________________________________main-section___________________________________ */

.main-section {
    @include adaptiv-vaule("padding-top", 160, 90, 1);
    @include adaptiv-vaule("min-height", 550, 250, 1);
    padding-bottom: 30px;

    h1{
        @include adaptiv-vaule("font-size", 85, 36, 1);
    }

    p{
        @include adaptiv-vaule("font-size", 24, 14, 1);
        @include adaptiv-vaule("margin-top", 20, 15, 1);
        @include adaptiv-vaule("margin-bottom", 20, 15, 1);
    }
}

/* ________________________________________main-img-bg________________________________ */

.main-img-bg{
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 520px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media ("<desktop"){
        max-height: 390px;
    }

    @include media ("<tablet"){
        padding-right: 20px;
    }

    @include media ("<phone"){
        max-height: 560px;
        justify-content: flex-end;
        padding-bottom: 60px;
    }

    .main-img-bg__img{
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }

    p{
        font-size: 14px;
        margin-bottom: 7px;

        @include media ("<tablet"){
            padding: 0;
        }
    }

    h2{
        max-width: 460px;
        margin-bottom: 70px;

        @include media ("<desktop"){
            font-size: 52px;
        }

        @include media ("<phone"){
            font-size: 36px;
            margin-bottom: 33px;
        }
    }


    .second-btn{
        color: $white;

        &::after{
            background-color: $white;
        }
    }
}

/* ________________________________________services___________________________________ */

.services{
    padding: 0 0 85px 0;

    @include media ("<phone"){
        padding: 0 0 95px 0;
    }

    .container{
        @include media ("<phone"){
            padding: 0;
        }
    }

    h3{
        margin-bottom: 60px;

        @include media ("<phone"){
            padding: 0 30px;
            margin-bottom: 30px;
        }
    }

    .services__gallery{
        display: grid;
        gap: 35px;
        grid-template-columns: repeat(auto-fit, minmax(370px, 370px));
        justify-content: center;

        @include media ("<phone"){
            display: flex;
            position: relative;
        }
    }

    .services__gallery__item{
        position: relative;
        height: 275px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 35px;

        @include media ("<phone"){
            height: 380px;
        }
        
        p{
            font-weight: 800;
            font-size: 52px;
            line-height: 100%;
            color: $white;
            margin-bottom: 0;
        }
        
    }
    
    .services__gallery__item__img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }

    .second-btn{
        position: absolute;
        bottom: -32px;
        left: 0;

        @include media ("<phone"){
            left: 50%;
            transform: translate(-50%);
        }
    }

    .slick-dots{
        bottom: -60px;
    }
}

/* ________________________________________challenges____________________________________ */

.challenges{
    padding: 0 0 250px 0;

    @include media ("<tablet"){
        padding: 0 0 145px 0;
    }

    @include media ("<phone"){
        padding: 0 0 90px 0;
    }

    h3{
        margin-bottom: 130px;

        @include media ("<phone"){
            margin-bottom: 30px;
        }
    }

    .challenges__item-wrap{

        ol{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            list-style-type: none;
            counter-reset:  item;
            margin: 0;
            padding: 0;

            @include media ("<1120px"){
                flex-direction: column;
            }
        }
    }

    .challenges__item{
        width: 100%;
        max-width: 480px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 86px;

        &:nth-child(-n+9){
            &::before{
                content: '0' counter(item);
            }
        }

        &::before{
            content: '' counter(item);
            counter-increment: item;
            font-weight: 800;
            font-size: 80px;
            color: $purple;
            line-height: 75%;
            margin-right: 17px;
        }

        &:nth-child(even){
            margin-left: 20px;
        }

        @include media ("<1120px"){
            margin-bottom: 60px;

            &:nth-child(even){
                align-self: flex-end;
                flex-direction: row-reverse;
                margin-left: 0;

                &::before{
                    margin-right: 0;
                    margin-left: 17px;
                }
            }
        }

        p{
            font-weight: 600;
            font-size: 17px;
            line-height: 120%; 
            margin-bottom: 0;
            max-width: 350px;

            @include media ("<phone"){
                font-size: 14px;
            }
        }
    }
}

/* ________________________________________project__________________________________________ */

.project{
    padding: 0 0 70px 0;

    .container{
        @include media ("<phone"){
            padding: 0;
        }
    }

    .project-content{
        display: flex;
        justify-content: space-between;

        @include media ("<tablet"){
            flex-direction: column;
            align-items: center;
        }
    }

    .project__item-wrap{
        width: 100%;
        max-width: 555px;
        margin-right: 25px;

        &:last-child{
            margin-right: 0;
        }

        @include media ("<tablet"){
            margin-right: 0;
        }
    }

    .project__item-text{
        max-width: 400px;
        margin-bottom: 75px;

        @include media ("<phone"){
            padding: 0 30px;
            margin-bottom: 50px;
        }

        h3{
            margin-bottom: 30px;

            @include media ("<phone"){
                margin-bottom: 15px;
            }
        }

        p{
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            margin-bottom: 30px;

            @include media ("<phone"){
                font-size: 13px;
                margin-bottom: 0;
            }
        }

        .btn-wrap{
            justify-content: flex-start;

            @include media ("<phone"){
                display: none;
            }

            .main-btn{           
                &::after{
                    content: 'View all';
                }
            }
        }
    }

    .project__item{
        margin: 0 0 75px 0;
        position: relative;

        @include media ("<phone"){
            height: 100vh;
            max-height: 590px;
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            padding-bottom: 25px;
        }

        a{
            @include media (">phone"){
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 10;
                
                &:hover + p{
                    transition: all 5s ease 0s;
                    position: relative;
    
                    &::after{
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }

        p{
            margin-bottom: 20px;

            @include media (">phone"){
                position: relative;

                &::after{
                    content:'';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0);
                    z-index: 5;
                    transition: .5s ease 0s;
                }
            }

            @include media ("<phone"){
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
                left: 0;
                top: 0;
                margin: 0;
            }

            @include media ("<phone"){
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: -1;
                }
            }
        }

        figcaption{
            font-weight: 600;
            font-size: 13px;
            line-height: 120%;

            @include media ("<phone"){
                color: $white;
                padding: 0 30px;
                margin-bottom: 40px;
            }

            span{
                font-weight: 600;
                font-size: 27px;
                line-height: 120%;
                margin-bottom: 10px;
                display: block;

                @include media ("<phone"){
                    font-size: 36px;
                }
            }
        }
    }

    .second-btn{
        display: none;

        @include media ("<phone"){
            display: block;
            color: $white;
            padding: 0 30px;
            font-weight: 800;
            font-size: 20px;
            line-height: 120%;
            padding: 0;
            margin-right: 25px;

            &::after{
                background-color: $white;
            }
        }
    }
}

/* ________________________________________partners_____________________________________________ */

.partners{
    padding: 95px 0 120px 0;

    .partners-content{
        position: relative;
    }

    .partners__item{
        margin-bottom: 160px;

        &:last-child{
            margin-bottom: 0;
        }

        @include media ("<530px"){
            margin-bottom: 100px;
        }
    }

    .partners__item__title{
        margin-bottom: 115px;

        @include media ("<530px"){
            margin-bottom: 90px;
        }

        h3{
            margin-bottom: 30px;
            color: $white;
        }

        p{
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            color: $white;
            width: 100%;
            max-width: 400px;

            @include media ("<530px"){
                font-size: 13px;
            }
        }
    }

    .partners__item__social{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media ("<1100px"){
            flex-wrap: wrap;
        }

        @include media ("<530px"){
            flex-direction: column;

        }

        .social-icon-wrap{
            margin: 0 25px 40px 0;

            &:last-child{
                margin: 0 0 40px 0;
            }

            @include media ("<530px"){
                margin: 0 0 40px 0;
            }
        }

    }

    .partners__item__links{
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        @include media ("<tablet"){
            flex-direction: column;
            align-items: center;
        }
    }
    
    .partners__item__link{
        width: 100%;
        max-width: 235px;
        
        .icon-wrap{
            display: inline-block;
            height: 125px;
            text-align: center;
            border: 1px solid $white;
            margin: -5px -5px 35px -5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: none;
            border-bottom: none;

            @include media ("<tablet"){
                border-left: none;
            }

    
            i{
                font-size: 50px;
                color:$white;
            }
        }

        p{
            text-align: center;
            color: $white;
            font-weight: 800;
            font-size: 15px;
            line-height: 130%;
            text-transform: uppercase;
            padding: 0 10px;

            @include media ("<tablet"){
                margin-bottom: 75px;
            }
        }
    }
}

/* ________________________________________btn-contact-us_____________________________ */

.btn-contact-us{
    padding: 120px 0;

    @include media ("<tablet"){
        padding: 0 0 85px 0;
    }

    .btn-contact-us-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        p{
            max-width: 625px;
            font-weight: 600;
            font-size: 17px;
            line-height: 120%;
            margin-bottom: 30px;

            @include media ("<phone"){
                font-size: 14px;
            }
        }
    }
}

/* ________________________________________posts_____________________________________________ */

.posts{
    padding: 0 0 90px  0;

    h3{
        margin-bottom: 45px;
    }

    .posts__item-wrap{
        display: flex;
        flex-direction: column;
    }

    .post{
        span{
            color: $gray;
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            margin-bottom: 15px;
            display: block;
        }

        p{
            font-weight: 600;
            font-size: 25px;
            line-height: 130%;
            margin-bottom: 50px;
        }

        time{
            font-size: 18px;
            font-weight: 800;
        }
    }

    .posts__item-wrap__main{
        margin-bottom: 75px;
        position: relative;

        &::after{
            content:'';
            position: absolute;
            bottom: -75px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $black;
        }

        p{
            font-size: 57px;

            @include media ("<phone"){
                font-size: 36px;
            }
        }
    }

    .posts__item-wrap__all{
        padding-top: 50px;
        display: flex;
        justify-content: space-between;

        @include media ("<tablet"){
            position: relative;
        }

        .post{
            width: 100%;
            max-width: 370px;
            margin-right: 20px;

            &:last-child{
                margin-right: 0;
            }

            @include media ("<tablet"){
                max-width: 100%;
            }
        }

        .slick-dots{
            bottom: -50px;
        }
    }
}

/* ________________________________________about___________________________________________ */

.about{
    padding:90px 0 20px 0;

    .container{
        @include media ("<phone"){
            padding: 0;
        }
    }

    h2{
        margin-bottom: 50px;
        color: $purple;

        @include media ("<phone"){
            padding: 0 30px;
            font-size: 36px;
        }
    }

    h3{
        margin-bottom: 25px;
    }

    .about-content{
        display: flex;
        flex-direction: column;
    }

    .about__first-text-wrap{
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;

        @include media ("<desktop"){
            margin-bottom: 0;
        }

        @include media ("<tablet"){
            flex-direction: column;
        }

        @include media ("<phone"){
            padding: 0 30px;
        }

        span{
            font-weight: 800;
            font-size: 18px;
            line-height: 120%;
            display: block;
            margin-bottom: 50px;

            @include media ("<phone"){
                font-size: 16px;
            }
        }
        
        p{
            &:first-child{
                margin-right: 30px;
            }
        }
    }
    
    .about__sec-text-wrap{
        margin-bottom: 105px;
        display: flex;
        justify-content: space-between;

        @include media ("<desktop"){
            flex-direction: column;
            margin-bottom: 0;

            .about__text__parag{
                &:first-child{
                    margin-right: 30px;
                }
            }
        }

        @include media ("<phone"){
            .about__text__parag-wrap{
                padding: 0 30px;
            }
        }
    }

    .about__third-text-wrap{
        @include media ("<desktop"){
            .about__text__parag{
                p{
                    max-width: 100%;
                }
            }
        }

        @include media ("<phone"){
            padding: 0 30px;
        }
    }
    
    .about__text{
        p{
            margin-bottom: 50px;
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            width: 100%;
            max-width: 530px;

            @include media ("<desktop"){
                margin-bottom: 40px;
                max-width: 380px;
            }

            @include media ("<tablet"){
                max-width: 100%;
            }

            @include media ("<phone"){
                font-size: 14px;
            }
        }
    }

    .about__text__parag-row{
        display: flex;
        justify-content: space-between;

        @include media ("<tablet"){
            flex-direction: column;
        }
    }

    .about__text__parag-wrap{
        @include media ("<desktop"){
            display: flex;
            justify-content: space-between;
        }

        @include media ("<tablet"){
            flex-direction: column;
        }
    }

    .about__text__parag{
        display: flex;
        flex-direction: column;
    }

    .about__text__img-wrap{
        position: relative;
        width: 100%;
        max-width: 555px;
        height: 100vh;
        max-height: 305px;
        margin-right: 30px;
        
        @include media ("<desktop"){
            max-width: 100%;
            margin-bottom: 40px;
        }

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}

/* ________________________________________list______________________________________________ */

.list{
    padding: 0 0 80px 0;

    .list-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;

        @include media ("<810px"){
            flex-direction: column;
        }

        ul{
            font-weight: 800;
            font-size: 18px;
            line-height: 130%;
            color: $purple;
            margin: 0;
            padding: 0;
            width: 100%;
            max-width: 393px;
            border: 1px solid $white;
            border-left: none;
            border-top: none;
            margin: -1px;
            padding-right: 30px;
            padding-left: 50px;
            padding-top: 20px;

            &:nth-child(3n){
                padding-right: 2px;

                @include media ("<=1312px"){
                    padding-right: 40px;
                }
            }

            &:nth-child(1), &:nth-child(4), &:nth-child(7), &:nth-child(10){
                padding-left: 0;
            }
            
            @include media ("<=1312px"){
                max-width: 50%;
                padding-left: 0;
                padding-right: 40px;
                padding-top: 60px;
                padding-bottom: 80px;

                &:nth-child(even){
                    padding-left: 50px;
                }

                &:nth-child(1), &:nth-child(2) {
                    padding-top: 20px;
                }

                &:nth-last-child(-n+2){
                    padding-bottom: 0;
                }
            }

            @include media ("<810px"){
                border:none;
                max-width: 80%;
                padding: 0;
                margin-bottom: 30px;

                &:nth-child(even){
                    align-self: flex-end;
                }
            }

            @include media ("<phone"){
                max-width: 100%;
                font-size: 14px;
            }
        }

        li{
            color: $black;
            font-weight: 600;
            margin-left: 50px;

            &:first-child{
                margin-top: 20px;
            }

            &:last-child{
                margin-bottom: 20px;
            }
        }
    }
}

/* ________________________________________partners__aboutUs-page________________________________ */

.partners__aboutUs-page{
    padding: 0;

    .partners__item{
        h3{
            color: $black;
        }

        p{
            color: $black;
        }
    }

    .partners__item__link{
        .icon-wrap{
            border: 1px solid $black;
            border-right: none;
            border-bottom: none;

            @include media ("<tablet"){
                border-left: none;
            }

            i{
                color:$black;
            }
        }
    }
}

/* ________________________________________reviews_____________________________________ */

.reviews{
    padding: 0 0 200px 0;
    position: relative;

    @include media ("<desktop"){
        padding: 0 0 120px 0;
    }

    @include media ("<phone"){

        &::after{
            content:'';
            position: absolute;
            width: 85%;
            height: 1px;
            background-color: $black;
            left: 50%;
            transform: translate(-50%);
            bottom: 15px;
        }
    }

    h3{
        margin-bottom: 45px;

        @include media ("<desktop"){
            margin-bottom: 30px;
        }
    }

    .reviews__item-wrap{
        display: flex;
        justify-content: space-between;
    }

    .reviews__item{
        width: 100%;
        max-width: 570px;
        margin-right: 25px;
        
        &:last-child{
            margin-right: 0;
        }

        @include media ("<tablet"){
            max-width: 100%;
        }
    }

    .slick-dots{
        bottom: 80px;
    }
}

.user {
    .user-title{
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        @include media ("<desktop"){
            margin-bottom: 20px;
        }

        @include media ("<phone"){
            margin-bottom: 30px;
        }
    }

    .user__img-wrap{
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;

        @include media ("<desktop"){
            width: 55px;
            height: 55px;
        }

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
        }
    }

    .user__name-wrap{
        margin-left: 30px;

        @include media ("<desktop"){
            margin-left: 20px;
        }

        @include media ("<phone"){
            margin-left: 16px;
            max-width: 75%;
        }

        h3{
            margin-bottom: 0;
            text-transform: capitalize;
            color: $purple;
            font-size: 25px;

            @include media ("<desktop"){
                font-size: 17px;
            }
        }

        p{
            margin-bottom: 0;
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;

            @include media ("<desktop"){
                font-size: 12px;
            }
        }
    }

    .user-text{
        span{
            display: block;
            font-weight: 800;
            font-size: 57px;
            line-height: 130%;
            margin-bottom: 45px;

            @include media ("<desktop"){
                margin-bottom: 30px;
                font-size: 40px;
            }

            @include media ("<phone"){
                font-size: 24px;
            }
        }

        p{
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            margin-bottom: 30px;

            @include media ("<desktop"){
                margin-bottom: 20px;
                font-size: 12px;
            }
        }

        time{
            font-weight: 800;
            font-size: 18px;
            line-height: 130%;

            @include media ("<desktop"){
                font-size: 12px;
            }

            @include media ("<phone"){
                font-size: 18px;
            }
        }
    }
}

/* ________________________________________career________________________________________ */

.career{
    padding: 0 0 60px 0;

    h3{
        margin-bottom: 35px;
    }

    p{
        font-weight: 800;
        font-size: 43px;
        line-height: 130%;
        color: $purple;

        @include media ("<phone"){
            font-size: 24px;
        }
    }

    .second-btn{
        text-transform: uppercase;
        font-size: 14px;

        i{
            margin-left: 18px;
        }
    }
}

/* ________________________________________cases-page______________________________________ */

.cases-project{
    @include adaptiv-vaule("padding-top", 205 , 45, 1); 
}

/* ________________________________________services-page______________________________________ */

.services-page__title{

    .services__gallery{
        p{
            @include adaptiv-vaule("font-size", 115, 96, 1);
        }
    }

    .services__gallery__item{
        @include adaptiv-vaule("height", 375, 250, 1);
    }   
}

/* ________________________________________offerings_____________________________________________ */

.offerings{
    padding-bottom: 80px;

    h2 {
        margin: 0 0 5px 0;
        @include adaptiv-vaule("font-size", 57, 36, 1); 
        color: $purple;
    }

    .offerings__sub-title{
        margin: 0;
        @include adaptiv-vaule("font-size", 24, 20, 1); 
        @include adaptiv-vaule("margin-bottom", 65 , 25, 1); 
    }

}

.offerings__item-wrap{
    display: flex;
    justify-content: space-between;

    @include media ("<desktop"){
        flex-direction: column;
    }
}

.offerings__item{
    min-width: 45%;
    position: relative;
    min-height: 300px;

    @include media ("<desktop"){
        margin-bottom: 40px;
    }

    ul{
        padding: 0;
        margin: 0;
        margin-left: 95px;
        list-style: none;

        @include media ("<desktop"){
            margin-left: 0;
        }

        @include media ("<phone"){
            margin-left: 70px;
        }
    }

    li{
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 25px;

        @include media ("<phone"){
            font-size: 18px;
        }
    }
}

.offerings__item__text{
    position: absolute;
    top: 30%;
    left: -100px;
    font-weight: 800;
    font-size: 57px;
    color: $light-blue;
    transform: rotate(-90deg);
    margin: 0;

    @include media ("<desktop"){
        position: static;
        transform: rotate(0);
        margin-bottom: 10px;
    }

    @include media ("<phone"){
        font-size: 48px;
        transform: rotate(-90deg);
        position: absolute;
        margin-bottom: 0;
    }
}

/* ________________________________________customer____________________________________________ */

.customer{

    h3{
        @include adaptiv-vaule("margin-bottom", 40 , 20, 1);
        color: $purple;
    }

    .customer__item{
        margin: 0;
        @include adaptiv-vaule("margin-bottom", 40 , 50, 1);

        figcaption{
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;

            span{
                font-weight: 800;
            }
        }
    }

    .customer__main{
        .customer__img-wrap{
            @include media ("<tablet"){
                position: relative;
                width: 100%;
                height: 100vh;
                max-height: 340px;

                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }
        }
        
        figcaption{
            margin: 0;
            margin-top: 25px;
        }
    }

    .customer__double{
        display: flex;

        @include media ("<tablet"){
            flex-direction: column;
        }
    }
    
    .customer__double__item{
        margin: 0;
        padding: 0;
        min-width: 50%;

        &:first-child{
            padding-right: 12px;

            @include media ("<tablet"){
                padding: 0;
                margin-bottom: 40px;
            }
        }

        &:last-child{
            padding-left: 12px;

            @include media ("<tablet"){
                padding: 0;
            }
        }

        figcaption{
            margin-bottom: 10px;
            line-height: 180%;
        }

        .customer__img-wrap{
            position: relative;
            width: 100%;
            height: 100vh;
            max-height: 300px;
            margin: 0;

            @include media ("<desktop"){
                max-height: 200px;
            }

            @include media ("<tablet"){
                max-width: 100%;
                max-height: 300px;
            }

            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;

                @include media ("<tablet"){
                    position: static;
                }
            }
        }
    }

    .customer__wide{

        .customer__img-wrap{
            position: relative;

            @include media ("<tablet"){
                max-width: 100%;
                height: 100vh;
                max-height: 290px;
            }

            img{
                width: 100%;

                @include media ("<tablet"){
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }
        }

        figcaption{
            margin-bottom: 10px;
            line-height: 180%;
        }
    }

    .customer__item-wrap{
        display: flex;
    }
}

.customer1{

    .customer__item-wrap{
        @include media ("<tablet"){
            flex-direction: column;
        }
    }

    .customer__double{
        flex-direction: column;
        margin-right: 25px;

        @include media ("<tablet"){
            margin-right: 0;
        }

        .customer__double__item{
            margin-bottom: 40px;
            padding: 0;

            @include media ("<tablet"){

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    
    .customer__wide{
        .customer__img-wrap{
            position: relative;
            max-width: 550px;
            width: 100%;
            height: 100vh;
            max-height: 715px;

            @include media ("<desktop"){
                max-width: 370px;
                max-height: 515px;
            }
            
            @include media ("<tablet"){
                max-width: 100%;
                max-height: 320px;
            }
            
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }
}

/* ________________________________________support_________________________________________ */

.support{
    @include adaptiv-vaule("padding-top", 90, 35, 1);
    padding-bottom: 65px;

    .support__img-wrap{
        margin-bottom: 120px;

        @include media ("<tablet"){
            display: none;
        }
    }

    h4{
        font-weight: 800;
        @include adaptiv-vaule("font-size", 57, 36, 1);
        line-height: 130%;
        color: $white;
        max-width: 800px;
        @include adaptiv-vaule("margin-bottom", 80 , 50, 1);

        @include media ("<phone"){
            max-width: 100%;
        }
    }

    .support__list-wrap{
        display: flex;
        justify-content: space-between;

        @include media ("<=900px"){
            flex-direction: column;
        }
    }

    .support__list-item{
        max-width: 340px;
        
        &:not(:last-child){
            margin-right: 30px;
        }


        @include media ("<=1175px"){
            max-width: 235px;
        }

        @include media ("<=900px"){
            max-width: 80%;
            
            &:not(:last-child){
                margin-right: 0px;
                margin-bottom: 50px;
            }
        }

        @include media ("<phone"){
            max-width: 100%;
        }

        span{
            font-weight: 800;
            font-size: 20px;
            line-height: 180%;

            @include media ("<=1175px"){
                font-size: 16px;
            }

            @include media ("<phone"){
                font-size: 20px;
            }
        }

        p{
            font-weight: 600;
            font-size: 20px;
            line-height: 180%;
            margin-bottom: 30px;

            &:last-child{
                margin-bottom: 0;
            }

            @include media ("<=1175px"){
                font-size: 16px;
            }

            @include media ("<phone"){
                font-size: 20px;
            }
        }
    }

    .support__list-item__title{
        display: block;
        position: relative;
        font-weight: 800;
        font-size: 25px;
        line-height: 180%;
        margin-bottom: 30px;
        width: 100%;

        @include media ("<=1175px"){
            font-size: 20px;
        }

        @include media ("<phone"){
            font-size: 25px;
        }

        &::after{
            content:'';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $white;
        }
    }
}

/* ________________________________________outsource_____________________________________ */

.outsource{
    @include adaptiv-vaule("padding-top", 75, 40, 1);
    @include adaptiv-vaule("padding-bottom", 135, 90, 1);

    .outsource__img-wrap{
        margin-bottom: 120px;

        @include media ("<tablet"){
            display: none;
        }
    }

    h4{
        font-weight: 800;
        @include adaptiv-vaule("font-size", 57, 36, 1);
        line-height: 130%;
        margin-bottom: 50px;
    }

    .outsource__item{
        max-width: 80%;
        margin-bottom: 0;

        @include media ("<phone"){
            max-width: 100%;
        }

        .offerings__item__text{
            @include media ("<phone"){
                top: 10%;
            }
        }
        
        li{
            font-weight: 600;
            font-size: 20px;
            line-height: 180%;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

/* ________________________________________open-position_______________________________________ */

.open-position{
    @include adaptiv-vaule("padding-top", 70, 40, 1);
    padding-bottom: 80px;

    p{
        @include adaptiv-vaule("font-size", 18, 14, 1);
        @include adaptiv-vaule("margin-bottom", 65 , 40, 1);
        font-weight: 600;
        line-height: 120%;
    }

    h3{
        @include adaptiv-vaule("font-size", 35, 16, 1);
        margin-bottom: 60px;
        font-weight: 800;
        line-height: 130%;
        text-transform:initial;
    }

    .open-position__item-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        overflow: hidden;

        @include media ("<540px"){
            justify-content: flex-start;
            text-align: start;
        }
    }

    .open-position__item{
        max-width: 305px;
        font-weight: 800;
        font-size: 22px;
        line-height: 130%;
        color: $purple;
        border: 1px solid $purple;
        width: 100%;
        height: 100%;
        padding: 10px;
        padding-bottom: 40px;
        padding-top: 40px;
        margin: 0;
        border-right: none;
        border-bottom: none;
        margin-top: -1px;

        &:nth-child(1), &:nth-child(4), &:nth-child(7) {
            border-left: none;

            @include media ("<860px"){
                border-left: 1px solid $purple;
            }

            @include media ("<540px"){
                border-left:none;
            }
        }

        &:nth-child(odd){
            @include media ("<860px"){
                border-left: none;
            }
        }

        @include media ("<=1052px"){
            font-size: 20px;
            max-width: 240px;
        }

        @include media ("<540px"){
            border: none;
            padding: 0;
            font-size: 18px;
            
            &:not(:last-child){
                margin-bottom: 40px;
            }
        }
    }
}

/* ________________________________________career-form________________________________________ */

.career-form{
    @include adaptiv-vaule("padding-bottom", 120, 40, 1);

    h3{
        @include adaptiv-vaule("font-size", 35, 16, 1);
        margin-bottom: 60px;
        font-weight: 800;
        line-height: 130%;
        text-transform:initial;
        color: $purple;
    }

    form{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 50%;

        @include media ("<tablet"){
            max-width: 70%;
        }

        @include media ("<phone"){
            max-width: 100%;
        }

        label, input, textarea{
            width: 100%;
        }

        label{
            font-weight: 600;
            @include adaptiv-vaule("font-size", 17, 12, 1);
            line-height: 130%;
            margin-bottom: 35px;
        }

        input{
            padding: 15px 20px;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            margin-top: 10px;
        }

        textarea{
            padding: 15px 20px;
            height: 190px;
            margin-top: 10px;
        }

        .main-btn{
            max-width: 235px;
            font-weight: 800;
            font-size: 17px;
            line-height: 130%;
            outline: none;
            border: none;

            &::after{
                content:'Sumbit now';
            }
        }
    }
}

/* ________________________________________post_______________________________________ */

.post-page{
    @include media ("<phone"){
        display: none
    }
}


.post{
    @include adaptiv-vaule("padding-top", 100, 0, 1);
    @include adaptiv-vaule("padding-bottom", 110, 45, 1);

    .container{
        @include media ("<phone"){
            padding: 0;
        }
    }

    .post__item{
        position: relative;
        padding-bottom: 80px;
        margin-bottom: 60px;

        &::after{
            content:'';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            width: 70%;
            height: 1px;
            background-color: $black;

            @include media ("<phone"){
                left: 0;
                transform: translate(0);
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: -1;
            }
        }

        @include media ("<tablet"){
            padding-bottom: 40px;
            margin-bottom: 40px;
        }

        @include media ("<phone"){
            height: 100vh;
            max-height: 585px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 0;
            color: $white;
            margin-bottom: 0;
        }
    }

    .post__text{
         
        h2{
            font-weight: 800;
            @include adaptiv-vaule("font-size", 57, 36, 1);
            line-height: 130%;
            margin-bottom: 40px;

            @include media ("<phone"){
                padding: 0 30px;
            }
        }

        p{
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            margin-bottom: 30px;

            @include media ("<phone"){
                display: none;
            }
        }

        .second-btn{
            margin-bottom: 50px;
            font-weight: 800;
            font-size: 18px;
            line-height: 130%;

            @include media ("<phone"){
                color: $white;
                margin: 0 30px;
                margin-bottom: 20px;

                &::after{
                    background-color: $white;
                }
            }
        }
    }

    .post__text__img-wrap{
        width: 100%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;

            @include media ("<phone"){
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                z-index: -1;
            }
        }
    }

    .main-btn{
        &::after{
            content:'SUBMIT NOW';
        }

        @include media ("<phone"){
            margin-top: 40px;
        }
    }
}

.post__user-wrap{
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    @include media ("<phone"){
        padding: 0 30px;
    }

    p{
        font-weight: 600;
        @include adaptiv-vaule("font-size", 25, 15, 1);
        line-height: 130%;
        margin-bottom: 0;
        color: $color-dots;
        margin-left: 30px;
    }
}

.post__user-img-wrap{
    width: 81px;
    height: 81px;
    border-radius: 50%;

    @include media ("<phone"){
        width: 36px;
        height: 36px;
    }

    img{
        width: 100%;
        height: 100%;
    }
}

/* ________________________________________error________________________________________ */

.error{
    @include adaptiv-vaule("padding-top", 160, 90, 1);
    height: 100vh;

    .error-content{
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    h1{
        @include adaptiv-vaule("font-size", 115, 65, 1);
    }

    p{
        @include adaptiv-vaule("font-size", 48, 25, 1);
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .main-btn{
        &::after{
            content:'Back';
        }
    }
}

/* ________________________________________work-img-bg____________________________________ */

.work-img-bg{
    justify-content: center;

    .sec-main-img{
        @include adaptiv-vaule("width", 615, 280, 1);
        margin: 0 auto;
    }
}

/* ________________________________________work-project_____________________________________ */

.work-project{
    padding: 40px 0 30px 0;

    h3{
        margin-bottom: 30px;
    }

    p{
        margin-bottom: 75px;
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
    }

    .work-project__item{
        display: flex;
        min-height: 200px;
        margin-bottom: 25px;
    }

    .work-project__timeline{
        min-width: 50%;
    }

    .work-project__brand{
        min-width: 50%;

        p{
            margin-bottom: 20px;
        }
    }

    .work-project__img-conteiner{
        display: flex;
        justify-content: space-between;
        align-items:center;

        @include media ("<phone"){
            flex-direction: column;
        }
    }

    .work-project__img-first-wrap{
        margin-right: 30px;

        @include media ("<phone"){
            margin-right: 0;
            margin-bottom: 100px
        }
        
        img{
            @include adaptiv-vaule("width", 480, 280, 1);
        }
    }

    .work-project__img-wrap{
        padding: 40px 50px;

        &:last-child{
            background-color: $black
        }

        @include media ("<tablet"){
            padding: 25px;
        }

        img{
            @include adaptiv-vaule("width", 480, 335, 1);
        }
    }
}

/* ________________________________________work-galery____________________________________ */

.work-galery{
    padding-bottom: 30px;

    .container{
        @include media ("<phone"){
            padding: 0;
        }
    }

    .work-galery__item{
        @include adaptiv-vaule("margin-bottom", 45 , 15, 1);
        width: 100%;
        height: 100%;

        img{
            width: 100%;
            height: auto;
        }

        &:nth-child(2){
            display: flex;

            img{
                width: 50%;

                &:nth-child(1){
                    @include adaptiv-vaule("padding-right", 15, 7, 1);
                }

                &:nth-child(2){
                    @include adaptiv-vaule("padding-left", 15, 7, 1);
                }
            }
        }
    }
}

/* ________________________________________main-post________________________________________ */

.main-post{
    @include adaptiv-vaule("padding-top", 90, 40, 1);
    @include adaptiv-vaule("padding-bottom", 180, 25, 1);

    .container{
        @include media ("<phone"){
            padding: 0;
        }
    }

    time{
        display: block;
        @include adaptiv-vaule("margin-bottom", 40 , 20, 1);

        @include media ("<tablet"){
            display: none;
        }
    }

    .main-post__user-container{
        display: flex;
        align-items:center;
        justify-content: space-between;

        @include media ("<desktop"){
            flex-direction: column;
            align-items:flex-start;
        }
    }

    .main-post__hashtag_wrap{
        display: flex;

        @include media ("<desktop"){
            margin-bottom: 40px;
        }

        @include media ("<tablet"){
            display: none;
        }
    }

    .hashtag-item{
        padding: 5px 35px;
        min-width: 90px;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        color: $white;
        background-color: $purple;

        &:not(:last-child){
            margin-right: 15px;
        }
    }

    .main-post__item{
        margin-bottom: 35px;

        p{
            font-weight: 600;
            font-size: 17px;
            line-height: 150%;
            margin: 0;

            @include media ("<phone"){
                padding: 0 30px;
            }
        }

        img{
            width: 100%;
            height: auto;
        }
    }

    .main-post__description{
        max-width: 860px;
    }

    .dubl-img{
        display: flex;
        justify-content: space-between;

        @include media ("<tablet"){ 
            flex-direction: column;
        }

        .main-post__img-wrap{
            width: 50%;

            &:first-child{
                padding-right: 15px;

                @include media ("<tablet"){
                    padding-right: 0;
                    margin-bottom: 25px;
                }
            }

            &:last-child{
                padding-left: 15px;
                @include media ("<tablet"){
                    padding-left: 0;
                }
            }

            @include media ("<tablet"){
                width: 100%;
            }
        }
    }

    .main-post__img-wrap{
        @include media ("<phone"){
            width: 100%;
            height: 100vh;
            max-height: 400px;
            overflow: hidden;
            position: relative;

            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }

    .main-post__btn-wrap{
        display: flex;
        justify-content: space-between;

        .blogs-btn{
            max-width: 500px;
            @include adaptiv-vaule("min-width", 300 , 140, 1);
            color: $white;
            background-color: $purple;
            padding: 15px 25px;
            text-align: center;
            transition: all .3s ease 0s;

            &:hover{
                background-color: $black;
            }

            &:first-child{
                text-align: right;
                margin-right: 5px;
            }

            &:last-child{
                text-align: left;
                margin-left: 5px;
            }
        }
    }
}