#header {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    z-index: 10;

    .container{
        padding: 0 15px;

        @include media ("<tablet"){
            padding: 0 30px;
        }
    }
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media ('<tablet') {
        align-items: flex-start;
        justify-content: space-between;
    }
}

.logo {
    width: 192px;
    height: 47px;

    @include media ("<tablet"){
        width: 95px;
        height: 23px;
    }
}

.header__logo {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ____________________________ */

.menu__burger {
    display: none;
}

.menu__body {

    .menu__link {
        color: $purple;
        font-size: 18px;
    }
}

.menu__list {

    li {
        position: relative;
        list-style: none;

        .menu__arrow {
            position: absolute;
            transition: all 0.5s ease 0s;
        }
    }

    .menu__link {
        position: relative;
        font-weight: 800;
    }
}

.menu__sub-list {
    padding: 0;
    font-size: 12px;
    line-height: 14px;
    padding-top: 15px;

    .menu__sub-list__li {
        margin: 14px 0 0 0;

        &:nth-child(n+2) {
            position: relative;

            &::before {
                content:'';
                position: absolute;
                top: -7px;
                height: 1px;
            }
        }
        
        &:first-child {
            margin: 0 0 0 0;
        }

        &:last-child {
            margin-left: 0;
        }

        .menu__sub-link{
            color: $purple;
        }
    }

}


/* ____________________________ */

._pc {
    .menu__list {
        li{
            &:hover {
                .menu__arrow {
                    transform: rotate(180deg);
                }

                .menu__sub-list {
                    opacity: 1;
                    visibility:visible;
                    pointer-events: all;
                }
            }
        }
    }
}

._touch {
    .menu__list {
        ._active{
            .menu__arrow {
                transform: rotate(180deg);
            }

            .menu__sub-list {
                opacity: 1;
                visibility:visible;
                pointer-events: all;
            }
            
        }
    }
}

/* ____________________________ */

@include media ('>desktop') {
    .menu__list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        font-size: 20px;

        .mob-link {
            display: none;
        }

        li {
            margin-left: 55px;

            &:last-child {
                margin-left: 60px;
            }
        
            .menu__link {
                position: relative;
                cursor: pointer;
                line-height: 1; 
                text-decoration: none; 
        
                &:after {
                    content:"";
                    display: block;
                    position: absolute;
                    left: 0; 
                    width: 0;
                    height: 2px; 
                    background-color: $purple; 
                    transition: width 0.3s ease-out; 
                }
        
                &:hover:after,
                &:focus:after {
                    width: 100%;
                }
            }

            .menu__arrow {
                right: -15px;
                top: 40%;
            }
        }
    }

    .menu__sub-list {
        position: absolute;
        top: 100%;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease 0s;
    }

    .menu__sub-list__li{
        &:nth-child(n+2) {

            &::before {
                left: 0;
                width: 75px;
                background: $gray;
            }
        }

        .menu__sub-link {
            color: $black;
        }
    }

    .mob-social-menu {
        display: none;
    }

    .mob-language{
        &::after{
            content:'';
            position: absolute;
            height: 100%;
            width: 1px;
            top: 0;
            left: -80%;
            background-color: $purple;
        }
    }
}

@include media ('<=desktop') {

    .menu__burger {
        z-index: 5;
        display: block;
        position: relative;
        width: 35px;
        height: 25px;
        cursor: pointer;

        &::before, &::after, span {
            position: absolute;
            height: 5px;
            width: 100%;
            transition: all 0.5s ease 0s;
            border-radius: 5px;
            background-color: $purple;
        }

        &::before, &::after {
            content:'';
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
            width: 50%;
            right: 0;
        }

        span {
            top: 40%;
            transform: scale(1) translate(0px -50%);
        }
    }

    .menu__burger_active {
        &::before, &::after, span {
            background-color: $white;
        }

        &::before {
            top: 10px;
            transform: rotate(45deg);
        }

        &::after {
            right: -15px;
            opacity: 0;
        }

        span {
            transform: rotate(-45deg);
        }
    }

    .menu__body {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/bg-img/mob-menu-bg.svg) center/cover no-repeat local;
        background-color: $purple;
        transition: all 0.5s ease 0s;
        overflow: auto;

        .menu__link {
            font-weight: bold;
            font-size: 36px;
            color: $white;
        }
    }

    .menu__body_active {
        top: 0;
    }

    .menu__list {
        margin: 15vh 0 0 0;
        text-align: center;
        padding: 0;

        li {
            margin-bottom: 30px;
        }

        ._active {
            .menu__sub-list {
                display: block;
            }
        }
    }

    .menu__sub-list {
        position: relative;
        display: none;
    }
    
    .menu__sub-list__li {
        &:nth-child(n+2) {
    
            &::before {
                content:'';
                width: 180px;
                background: $white;
            }
        }
    
        .menu__sub-link {
            color: $white;
            font-size: 16px;
        }
    }

    .menu__arrow {
        width: 15px;
        margin: 20px 0 0 17px;
    }

    .mob-language{
        margin-top: 60px;
        display: flex;
        justify-content: center;

        .mob-language__link {
            font-size: 24px;
            margin-right: 65px;
            font-weight: normal;

            &::after {
                content:'';
                position: absolute;
                top: -5px;
                left: 180%;
                height: 130%;
                width: 1px;
                background: $white;
            }
        }
        
        .mob-language__arrow {
            display: none;
        }

        .mob-language__sub-list {
            display: block;
            min-width: 0;

        }

        .mob-language__sub-link {
            font-size: 24px;
        }
    }

    .mob-social-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 60px 0;

        .mob-social-menu__item {
            margin: 0 10px;

            i {
                font-size: 38px;
                color: $white;
            }
        }
    }
}