<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer__logo">
                <a href="#"><img src="./images/footer-logo.png " alt="logo"></a>
            </div>
            <div class="footer__text-wrap">
                <address class="footer__text-item">
                    <h5>VISITEZ-NOUS!</h5>
                    <div class="footer__text-description">
                        <p>40 rue Garneau</p>
                        <a class="address-link" href="tel:+14186091669">+1 (418) 609-1669</a>
                        <a class="address-link" href="ezbgalerie@gmail.com">ezbgalerie@gmail.com</a>
                    </div>
                </address>
                <div class="footer__text-item">
                    <h5>HEURES D'OUVERTURE</h5>
                    <div class="footer__text-description">
                        <div class="footer__text-description__item">
                            <p>Lundi - mercredi</p>
                            <p>11AM - 19PM</p>
                        </div>
                        <div class="footer__text-description__item">
                            <p>Jeudi</p>
                            <p>11AM - 20PM</p>
                        </div>
                        <div class="footer__text-description__item">
                            <p>Vendredi - samedi</p>
                            <p>11AM - 21PM</p>
                        </div>
                        <div class="footer__text-description__item">
                            <p>dimanche</p>
                            <p>11AM - 18PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__info-wrap">
                <div class="social-wrap">
                    <a target="_blank" href="#"><img src="./images/icon-svg/facebook.svg" alt="facebook"></a>
                    <a target="_blank" href="#"><img src="./images/icon-svg/insta.svg" alt="instagram"></a>
                </div>
                <div class="footer__info">
                    <a target="_blank" href="#">Pravicy Policy</a>
                    <a target="_blank" href="#">Coockies Policy</a>
                    <p>All rights reserved </p>
                    <a target="_blank" href="https://krockds.com/">website by Krock DS</a>
                </div>
            </div>
        </div>
    </div>
</footer>