<header id="header">
    <div class="header__wrap">
        <div class="container">
            <div class="header__content">
                <div class="header__main">
                    <div class="header__logo logo">
                        <div class="logo__wrap"></div>
                    </div>
                    <div class="header__menu menu">
                        <nav class="menu__wrap">
                            <ul class="menu__list">
                                <li class="menu__item">
                                    <div class="menu__item-control">
                                        <a class="menu__link" href="#">Lorem</a>
                                        <button class="menu__arrow btn-arrow">
                                            <span class="btn-arrow"></span>
                                            <span class="btn-arrow"></span>
                                        </button>
                                    </div>
                                    <ul class="menu__sub-list">
                                        <li class="menu__sub-item">
                                            <a class="menu__sub-link" href="#"> Lorem 1</a>
                                        </li>
                                        <li class="menu__sub-item">
                                            <a class="menu__sub-link" href="#"> Lorem 2</a>
                                        </li>
                                        <li class="menu__sub-item">
                                            <a class="menu__sub-link" href="#"> Lorem 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#">Lorem</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#">Lorem</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#">Lorem</a>
                                </li>
                            </ul>
                        </nav>
                        <ul class="header__language language">
                            <li class="menu__item language__wrap">
                                <div class="menu__item-control language-menu__item-control">
                                    <a class="menu__link" href="#">En</a>
                                    <button class="menu__arrow language-menu__arrow btn-arrow">
                                        <span class="btn-arrow"></span>
                                        <span class="btn-arrow"></span>
                                    </button>
                                </div>
                                <ul class="menu__sub-list language__sub-list">
                                    <li class="menu__sub-item language__sub-item">
                                        <a class="menu__sub-link language__sub-link" href="#"> Rus</a>
                                    </li>
                                    <li class="menu__sub-item language__sub-item">
                                        <a class="menu__sub-link language__sub-link" href="#"> Du</a>
                                    </li>
                                    <li class="menu__sub-item language__sub-item">
                                        <a class="menu__sub-link language__sub-link" href="#"> Fr</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>