<div class="pricepopup">
    <div class="pricepopup-wrap">
        <div class="btn-closs pricepopup-btn"><span></span></div>
        <h2 class="pricepopup-title">Would you like to know know
            cost of aproximate costs?
        </h2>
        <p class="pricepopup-subtitle">Fill up the form and we gladly send you our Price list</p>
        <form class="pricepopup-form-wrap" action="#">
            <input class="price-input" type="text" placeholder="First Name">
            <input class="price-input" type="text" placeholder="Last Name">
            <input class="price-input" type="emeil" placeholder="Your Email">
            <label class="check-wrap">
                <input class="check" type="checkbox">
                <p>Execept our Privacy Policy</p>
            </label>
            <button class="btn-form" type="submit">Request me Price List</button>
        </form>
    </div>
</div> 