<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <h4>our partners.</h4>
            <div class="partners-wrap">
                <i class="icon-australian"></i>
                <i class="icon-nsw"></i>
                <i class="icon-avant"></i>
                <i class="icon-line-music"></i>
                <i class="icon-din-orange"></i>
                <i class="icon-baker"></i>
                <i class="icon-spa"></i>
            </div>
            <div class="footer-arrow">
                <a href="#header"><i class="icon-arrow"></i></a>
            </div>
            <div class="footer-text-wrap">
                <h6>Sydney Philharmonia Choirs</h6>
                <p>Pier 4, Hickson Road Walsh Bay NSW 2000</p>
                <p><a href="tel:02 8274 6200">Phone: 02 8274 6200</a></p>
                <p><a href="mailto:admin@sydneyphilharmonia.com.au">admin@sydneyphilharmonia.com.au</a></p>
                <p><a href="mailto:sydneyphilharmonia.com.au">sydneyphilharmonia.com.au </a></p>
                <p><a href="mailto:singwithpassion.com.au">singwithpassion.com.au</a></p>
            </div>
            <div class="social">
                <a class="icon-facebook" href="#"><i></i></a>
                <a class="icon-twitter" href="#"><i></i></a>
                <a class="icon-insta" href="#"><i></i></a>
                <a class="icon-you-tube" href="#"><i></i></a>
                <a class="icon-search" href="#"><i></i></a>
            </div>
            <div class="end-text">
                <p><span>Design </span>Sylvia Weimer, Spacelab Design <a href="mailto">www.spacelabdesign.com</a></p>
                <p><span>photography </span>Keith Saunders and Will Taylor</p>
            </div>
        </div>
    </div>
</footer>