<header id="header">
    <div class="container">
        <div class="header-content">
            <div class="text-wrap">
                <div class="logo">
                    <a href="#"><img src="./images/icons/SVG/sydney-logo.svg" alt="logo"></a>
                </div>
                <div class="season17">
                    <h2>2017</h2>
                    <h4>SEASON</h4>
                </div>
                <div class="season18">
                    <h2>2018</h2>
                    <h4>SEASON</h4>
                </div>
                <div class="text">
                    <p><span>Sydney Philharmonia
                        Choirs</span> celebrating
                        100 years in 2020
                        </p>
                </div>
                <div class="header-donate">
                    <p>shop/<br>cart</b></p>
                    <div class="social">
                        <a class="icon-facebook" href="#"><i></i></a>
                        <a class="icon-twitter" href="#"><i></i></a>
                        <a class="icon-insta" href="#"><i></i></a>
                        <a class="icon-you-tube" href="#"><i></i></a>
                        <a class="icon-search" href="#"><i></i></a>
                    </div>
                    <a class="donate-btn" href="#">donate</a>
                </div>
            </div>
            <div class="burger"><span></span></div>
            <nav class="nav-menu">
                <ul class="ul-menu">
                    <li><a href="#part1">what‘s on</a></li>
                    <li><a href="#part2">support us</a></li>
                    <li><a href="#part3">about us</a></li>
                    <li><a href="#part4">media</a></li>
                    <li><a href="#footer">contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
 </header>