body::-webkit-scrollbar {
    width: 0;
}


.main_body_section {
    overflow-x: hidden;
}

// .section{
//     height: 100vh;
// }

.video_block {
    position: relative;
    height: 100vh;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.video_block_full {

        video {
            object-fit: cover;
        }
    }

    &.video-opacity {
        animation-name: opacity-video;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;

        @keyframes opacity-video {

            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
    }

    .top_video_btn {
        position: absolute;
        right: 20px;
        top: 13px;
        z-index: 6;

        .hide {
            display: none !important;
        }

        @include media ("<tablet") {
            top: auto;
            bottom: 40px;
            right: 16px;
        }
    }

    .btn_black {
        font-family: $IBM-font;
        padding: 28.5px 32px;
        cursor: pointer;
        position: relative;
        font-size: 20px;

        @include media ("<tablet") {
            padding: 15.5px 32px;

        }
    }

    .video_btn_block-mob {
        position: absolute;
        right: 20px;
        bottom: 32px;

        @include media ("<tablet") {
            right: 16px;
            left: 16px;
            bottom: 36px;
            transform: none;
            right: 16px;

        }
    }

    .bottom_video_btn-top {
        display: none;
        margin-bottom: 12px;

        @include media ("<tablet") {
            display: block;
        }
    }

    .btn_black {
        font-family: $IBM-font;
        display: inline-block;
        position: relative;
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        line-height: 128%;
        letter-spacing: -0.14px;
        text-transform: uppercase;
        padding: 28.5px 58px;
        border: 1px solid $white;
        transition: $transition_all_03;
        color: $white;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
        backdrop-filter: blur(10px);

        @include media ("<tablet") {
            @include adaptiv-vaule("padding-top", 15, 10, 1);
            @include adaptiv-vaule("padding-bottom", 15, 10, 1);
            @include adaptiv-vaule("font-size", 20, 16, 1);
            text-align: center;
        }


        .left_arrow,
        .right_arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .left_arrow {
            left: 32px;

        }

        .right_arrow {
            right: 32px;

        }

        svg {
            fill: $white;
            transition: $transition_all_03;
        }

        &:hover {
            background-color: $white;
            transition: $transition_all_03;
            color: $black;

            svg {
                fill: $black;
                transition: $transition_all_03;
            }
        }
    }

    .sound_turn {
        display: none;
    }

    .turn_sound {
        border: 1px solid $white;
        padding: 24px;
        position: absolute;
        left: 20px;
        bottom: 32px;
        border-radius: 50%;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
        display: flex;

        @include media (">tablet") {
            &:hover {
                background: $white;
                transition: all 0.3s ease;
            }

            &:hover svg path {
                fill: $black;
                transition: all 0.3s ease;
            }
        }

        @include media ("<tablet") {
            bottom: auto;
            top: 10px;
            left: 16px;
            padding: 5px;
            z-index: 10;
        }

        svg {
            @include media ("<tablet") {
                width: 20px;
                height: 20px;
            }
        }

    }

    .text_main_video {
        font-family: $NeueHaas-font;
        font-size: 48px;
        font-weight: 500;
        line-height: 100%;
        color: $white;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: -3px;
        letter-spacing: 2px;

        @include media ("<tablet") {
            display: none;
        }
    }

    .text_video_1 {
        top: 160px;
        left: 20px;
        max-width: 430px;
        --animate-duration: 4s;
    }

    .text_video_2 {
        top: 50%;
        transform: translate(0, -50%);
        right: 20px;
        max-width: 500px;
        --animate-duration: 4s;
    }
}

/* .brain_section {
    font-family: $NeueHaas-font;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    @include media ("<tablet") {
        align-items: start;
        padding-top: 80px;
    }

    .img_brain_block {
        position: absolute;
        right: 0;
        z-index: 1;

        @include media ("<tablet") {
            width: 200%;
            top: 200px;
        }
    }

    .container {
        display: flex;
        align-items: center;
        position: relative;

        @include media ("<tablet") {
            display: block;
        }
    }

    .content {
        max-width: 865px;
        width: 100%;
        margin: 0;
        z-index: 2;
    }

    .brain_title {
        color: $white;
        @include adaptiv-vaule("font-size", 132, 52, 1);
        font-style: normal;
        font-weight: 500;
        letter-spacing: -3px;
        text-transform: uppercase;
        @include adaptiv-vaule(" margin-bottom", 24, 16, 1);
    }


    .brain_text {
        color: $white;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        font-style: normal;
        font-weight: 500;
        max-width: 397px;
        letter-spacing: -1px;
        @include adaptiv-vaule(" margin-bottom", 163, 44, 1);
    }

    .brain_text_first {
        margin-bottom: 10px;
    }

} */

.our_work-sc {
    min-height: 100vh;
    display: flex;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 auto;
        padding: 100px 0 30px 0;
        height: 100%;
    }

    .title {
        position: relative;
        max-width: max-content;
        color: $white;
        font-family: $NeueHaas-font;
        font-size: 86px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -2.58px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .work_counter {
        position: absolute;
        top: -20px;
        right: -55px;
        top: -20px;
        right: -55px;
        color: $gray_A6;
        font-size: 24px;
        font-weight: 500;
        line-height: 126%;
        letter-spacing: -0.24px;
        text-transform: uppercase;
        font-family: "IBMPlexMono";
    }

    .our_work-slider {
        width: 100%;
        margin-bottom: 30px;
        flex: 1 1 auto;
    }

    .item {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        transition: all 0.3s ease;

        &::after {
            content: '';
            position: absolute;
            transition: all 0.3s ease;
            width: 100%;
            height: 150px;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(14, 14, 14, 0.00) 0%, #0E0E0E 100%);
        }

        &:hover {

            &::after {
                height: 100%;
            }

            .text_wrap {
                padding-bottom: 40px;
            }
        }
    }

    .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .tags_wrap {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        gap: 10px;
    }

    .tag {
        color: $gray_A6;
        font-size: 16px;
        font-weight: 500;
        line-height: 126%;
        letter-spacing: -0.16px;
        text-transform: uppercase;
        margin: 0;
        display: inline-block;
        max-width: max-content;
        text-align: center;
        border: 1px solid $gray_A6;
        padding: 3px 8px;
    }

    .text_wrap {
        position: relative;
        z-index: 1;
        padding: 20px;
        transition: all 0.3s ease;
    }

    .item_title {
        color: $white;
        font-family: $NeueHaas-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 126%;
        letter-spacing: -0.24px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .item_description {
        color: $gray_D8;
        font-family: $IBM-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 126%;
        letter-spacing: -0.14px;
        text-transform: uppercase;
    }
}

.button_form_section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../images/main_page/background-form.png);

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        max-width: 865px;
        width: 100%;
        margin: 0 auto;
    }

    .button_form_title {
        color: $white;
        text-align: center;
        @include adaptiv-vaule("font-size", 132, 52, 1);
        font-style: normal;
        font-weight: 500;
        letter-spacing: -3px;
        text-transform: uppercase;

        @include media ("<tablet") {
            margin-bottom: 44px;
        }
    }

    .btn_white_circle {
        cursor: pointer;
        width: 172px;
        height: 172px;
        color: $black;
        font-size: 14px;
        font-weight: 500;
        line-height: 128%;
        letter-spacing: -1px;
        text-transform: uppercase;
        border: 1px solid $white;
        transition: $transition_all_03;
        position: absolute;
        bottom: 100px;
        right: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: $white;

        @include media ("<desktop") {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            bottom: 0;
            right: 0;
        }

        .left_arrow,
        .right_arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .left_arrow {
            left: 16px;
        }

        .right_arrow {
            right: 16px;
        }

        svg {
            fill: $black;
            transition: $transition_all_03;
        }

        &:hover {
            background-color: transparent;
            transition: $transition_all_03;
            color: $white;

            svg {
                fill: $white;
                transition: $transition_all_03;
            }
        }
    }

}

//pop_up
.body_lock {
    overflow: hidden !important;
}

.overlay-popup {
    background: #0E0E0ECC;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;

    &.active {
        display: block;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 10;

    &.active {
        display: block;
    }
}

.exspand_btn {
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: 15;

    @include media ("<tablet") {
        display: none;
    }

    button {
        display: inline-block;
        width: 100%;
        color: $white;
        font-size: 14px;
        font-weight: 500;
        line-height: 128%;
        letter-spacing: -0.14px;
        text-transform: uppercase;
        padding: 15px 16px 15px 14px;
        border: none;
        transition: all 0.3s ease;
        background: none;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            background: url(../images/main_page/expand-icon.svg);
            display: block;
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }

        &::after {
            font-family: $IBM-font;
            content: 'Expand';
        }

        .icon_btn {
            display: flex;
            align-items: center;

            svg {
                margin-right: 10px;
            }
        }
    }
}

.close_popup {
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 5;
    top: 40px;
    left: 32px;
    cursor: pointer;

    @include media ("<tablet") {
        left: 24px;
        top: 24px;
    }

    span {
        position: absolute;
        top: 11px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $white;
        border-radius: 10px;
        transition: all .7s ease 0s;
        opacity: 0;

    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        right: 0;
        height: 2px;
        width: 100%;
        background-color: $white;
        border-radius: 10px;
    }

    &::before {
        top: 15px;
        transform: rotate(45deg);
    }

    &::after {
        bottom: 15px;
        transform: rotate(-45deg);
    }


}

.contact_form_section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .site_btn_white {
        font-family: $IBM-font;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .back_form {
        max-width: 790px;
        width: 100%;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(12px);
        transition: all 1s ease;
        border: 1px solid $white;
    }

    .success_block {
        display: none;
        max-width: 790px;
        width: 100%;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(12px);
        transition: all 1s ease;
        border: 1px solid $white;
    }

    .content {
        margin: 0 auto;
        max-width: 790px;
        padding: 68px;
        position: relative;
        transition: all 1s ease;

        @include media ('<tablet') {
            padding: 50px 24px 50px;
        }
    }

    .contact_title {
        font-family: $NeueHaas-font;
        color: $white;
        text-align: center;
        @include adaptiv-vaule("font-size", 70, 42, 1);
        font-style: normal;
        font-weight: 500;
        letter-spacing: -2.1px;
        text-transform: uppercase;
        @include adaptiv-vaule(" margin-bottom", 35, 28, 1);
    }

    .success_text {
        @include adaptiv-vaule(" margin-bottom", 55, 28, 1);

        p {
            font-size: 22px;
            font-weight: 500;
            line-height: 150%;
            text-align: center;
            color: rgba(219, 219, 219, 1);

        }
    }

    form,
    .inpur_wrap {
        font-family: $IBM-font;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .inpur_wrap {
        margin-bottom: 15px;
    }

    .area {
        margin-bottom: 25px;
    }

    .input_label {
        font-family: $IBM-font;
        color: $white;
        font-size: 12px;
        font-weight: 600;
        line-height: 126%;
        letter-spacing: -0.12px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .data_text,
    .area_text {
        border: 1px solid $white;
        background: #262626;
        width: 100%;
        padding: 18px 16px;
        color: $white;
        font-size: 14px;
        transition: $transition_all_03;

        &:focus {
            border: 1px solid $gray_A6;
            transition: $transition_all_03;
        }

        &::placeholder {
            font-family: $IBM-font;
            color: $gray_A6;
            font-size: 14px;
            font-weight: 500;
            line-height: 126%;
            letter-spacing: -0.14px;
            text-transform: uppercase;
        }
    }

    .area_text {
        height: 165px;
    }

    .form_btn {
        font-family: $IBM-font;
        width: 100%;
        color: $black;
        font-size: 14px;
        font-weight: 500;
        line-height: 126%;
        letter-spacing: -0.14px;
        text-transform: uppercase;
        padding: 18px 16px;
        border: 1px solid $white;
        transition: $transition_all_03;
        position: relative;

        .left_arrow,
        .right_arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .left_arrow {
            left: 16px;

        }

        .right_arrow {
            right: 16px;
        }

        svg {
            fill: $black;
            transition: $transition_all_03;
        }

        &:hover {
            background-color: transparent;
            transition: $transition_all_03;
            color: $white;

            svg {
                fill: $white;
                transition: $transition_all_03;
            }
        }
    }

    .site_btn_white:hover .left_arrow {
        left: 36%;
    }

    .site_btn_white:hover .right_arrow {
        right: 36%;
    }
}

.safari_button {
    bottom: 110px !important;
}

.chrome_button {
    bottom: 125px !important;
}

.expand_active {
    transition: all 1s ease;

    .exspand_btn {
        button {
            &::before {
                content: '';
                background: url(../images/main_page/minimize-icon.svg);
                display: block;
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }

            &::after {
                content: 'minimize';
            }
        }
    }

    .back_form {
        max-width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        transition: all 1s ease;
    }

    .content {
        max-width: 958px;
    }
}

.swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}

.scroll_body {
    overflow: auto;
}

.sound_turn {
    display: none;
}

.loader_block {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: $black;
    z-index: 20;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    transition: all 0.3s ease;

    .loader {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 5px solid #ddd;
        border-top-color: #333;
        animation: rotate 1s infinite;
    }

    @keyframes rotate {
        100% {
            rotate: 360deg;
        }
    }
}

.show_loader {
    display: flex;
}