html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.video_page {
    .content {
        .video_block {
            position: relative;

            video {
                width: 100%;
                height: 100%;

            }

            .top_video_btn {
                position: absolute;
                right: 20px;
                top: 32px;

                .btn_black {
                    padding: 18px 32px;
                }
            }

            .bottom_video_btn {
                position: absolute;
                right: 20px;
                bottom: 40px;
            }

            .btn_black {
                display: inline-block;
                position: relative;
                width: 100%;
                color: $white;
                font-size: 14px;
                font-weight: 500;
                line-height: 17.6px;
                letter-spacing: -0.14px;
                text-transform: uppercase;
                padding: 18px 48px;
                border: 1px solid $white;
                transition: $transition_all_03;

                .left_arrow,
                .right_arrow {
                    position: absolute;
                    top: 55%;
                    transform: translateY(-55%);
                }

                .left_arrow {
                    left: 32px;
                }

                .right_arrow {
                    right: 32px;
                }

                svg {
                    fill: $white;
                    transition: $transition_all_03;
                }

                &:hover {
                    background-color: $white;
                    transition: $transition_all_03;
                    color: $black;

                    svg {
                        fill: $black;
                        transition: $transition_all_03;
                    }
                }
            }
        }

    }
}

.work_page {
    @include adaptiv-vaule("padding-top", 100, 50, 1);
    padding-bottom: 30px;

    .work_title {
        @include adaptiv-vaule("font-size", 132, 64, 1);
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -3.96px;
        text-transform: uppercase;
    }

    .work_main_block {
        .list {
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 488px 488px;
        }
    }

    .swiper_work {
        .swiper-wrapper {
            width: 70%;
        }
    }
}


.contact_form_section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiv-vaule("padding-top", 135, 115, 1);
    @include adaptiv-vaule("padding-bottom", 135, 115, 1);

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        max-width: 680px;
        width: 100%;
        margin: 0 auto;
    }

    .contact_title {
        color: $white;
        text-align: center;
        @include adaptiv-vaule("font-size", 70, 42, 1);
        font-style: normal;
        font-weight: 500;
        letter-spacing: -2.1px;
        text-transform: uppercase;
        @include adaptiv-vaule(" margin-bottom", 35, 45, 1);
    }

    form,
    .inpur_wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .inpur_wrap {
        margin-bottom: 15px;
    }

    .area {
        margin-bottom: 25px;
    }

    .input_label {
        color: $white;
        font-size: 12px;
        font-weight: 600;
        line-height: 126%;
        letter-spacing: -0.12px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .data_text,
    .area_text {
        border: 1px solid #FFF;
        background: transparent;
        backdrop-filter: blur(5px);
        width: 100%;
        padding: 18px 16px;
        color: $white;
        font-size: 14px;
        transition: $transition_all_03;

        &:focus {
            border: 1px solid $gray_A6;
            transition: $transition_all_03;
        }

        &::placeholder {
            color: $gray_A6;
            font-size: 14px;
            font-weight: 500;
            line-height: 126%;
            letter-spacing: -0.14px;
            text-transform: uppercase;
        }
    }

    .area_text {
        height: 165px;
    }

    .form_btn {
        width: 100%;
        color: $black;
        font-size: 14px;
        font-weight: 500;
        line-height: 126%;
        letter-spacing: -0.14px;
        text-transform: uppercase;
        padding: 18px 16px;
        border: 1px solid $white;
        transition: $transition_all_03;
        position: relative;

        .left_arrow,
        .right_arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .left_arrow {
            left: 16px;
        }

        .right_arrow {
            right: 16px;
        }

        svg {
            fill: $black;
            transition: $transition_all_03;
        }

        &:hover {
            background-color: transparent;
            transition: $transition_all_03;
            color: $white;

            svg {
                fill: $white;
                transition: $transition_all_03;
            }
        }
    }
}

.brain_section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background: url(../../src/images/main_page/brain.png) no-repeat right center;

    .container {
        display: flex;
        align-items: center;
    }

    .content {
        max-width: 865px;
        width: 100%;
        margin: 0;
    }

    .brain_title {
        color: $white;
        @include adaptiv-vaule("font-size", 132, 52, 1);
        font-style: normal;
        font-weight: 500;
        letter-spacing: -3px;
        text-transform: uppercase;
        @include adaptiv-vaule(" margin-bottom", 24, 16, 1);
    }


    .brain_text {
        color: $white;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        font-style: normal;
        font-weight: 500;
        max-width: 397px;
        letter-spacing: -1px;
        @include adaptiv-vaule(" margin-bottom", 163, 44, 1);
    }

    .btn_black {
        width: 100%;
        color: $white;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.6px;
        letter-spacing: -0.14px;
        text-transform: uppercase;
        padding: 18px 40px;
        border: 1px solid $white;
        transition: $transition_all_03;
        position: relative;



        .left_arrow,
        .right_arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .left_arrow {
            left: 16px;
        }

        .right_arrow {
            right: 16px;
        }

        svg {
            fill: $white;
            transition: $transition_all_03;
        }

        &:hover {
            background-color: $white;
            transition: $transition_all_03;
            color: $black;

            svg {
                fill: $black;
                transition: $transition_all_03;
            }
        }
    }
}


.button_form_section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        max-width: 865px;
        width: 100%;
        margin: 0 auto;
    }

    .button_form_title {
        color: $white;
        text-align: center;
        @include adaptiv-vaule("font-size", 132, 52, 1);
        font-style: normal;
        font-weight: 500;
        letter-spacing: -3px;
        text-transform: uppercase;
    }


    .button_form_text {
        color: $white;
        text-align: center;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        font-style: normal;
        font-weight: 500;
        letter-spacing: -1px;
        text-transform: uppercase;
        @include adaptiv-vaule(" margin-bottom", 58, 20, 1);
    }

    .btn_white_circle {
        width: 172px;
        height: 172px;
        color: $black;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.64px;
        letter-spacing: -1px;
        text-transform: uppercase;
        border: 1px solid $white;
        transition: $transition_all_03;
        position: absolute;
        bottom: 100px;
        right: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: $white;

        @include media ("<desktop") {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            bottom: 0;
            right: 0;
        }

        .left_arrow,
        .right_arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .left_arrow {
            left: 16px;
        }

        .right_arrow {
            right: 16px;
        }

        svg {
            fill: $black;
            transition: $transition_all_03;
        }

        &:hover {
            background-color: transparent;
            transition: $transition_all_03;
            color: $white;

            svg {
                fill: $white;
                transition: $transition_all_03;
            }
        }
    }
}