.header{
    position: sticky;
    width: 100%; 
    top: 0;
    left: 0;
    z-index: 5;
    max-height: 80px;

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0;
.header__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
    .btn_black{
        display: inline-block;
        position: relative;
        width: 100%;
        color: $white;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.6px;
        letter-spacing: -0.14px;
        text-transform: uppercase;
        padding: 18px 48px;
        border: 1px solid $white;
        transition: $transition_all_03;
        &:hover {
            background-color: $white;
            transition: $transition_all_03;
            color: $black;
        }

}
.burger {
    position: relative;
    width: 30px;
    height: 15px;
    z-index: 5;
span {
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $white;
    border-radius: 10px;
    transition: all .7s ease 0s;
    
}
&::before, &::after {
    content: '';
    position: absolute;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: $white;
    border-radius: 10px;
}
}
}
}