.header{
    position: fixed;
    width: 100%; 
    top: 0;
    left: 0;
    z-index: 5;
    max-height: 80px;

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0;
.header__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
    .btn_black{
        display: inline-block;
        position: relative;
        width: 100%;
        color: $white;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.6px;
        letter-spacing: -0.14px;
        text-transform: uppercase;
        padding: 18px 32px;
        border: 1px solid $white;
        transition: $transition_all_03;
        
        &:hover {
            background-color: $white;
            transition: $transition_all_03;
            color: $black;
        }

}
.burger-btn{
    background-color: rgba(28,28,28,0);
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    color: $white;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.6px;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    padding: 15px;
    border: 1px solid $white;
    transition: $transition_all_03;
    .text_burger_btn {
       margin-left: 10px;
        &::before{
    content: 'menu';
    }
    }
}
.burger {
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 5;
span {
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $white;
    border-radius: 10px;
    transition: all .7s ease 0s;
    
}
&::before, &::after {
    content: '';
    position: absolute;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: $white;
    border-radius: 10px;
}
&::before {
    top: 4px;
}

&::after {
    bottom: 4px;
}


}
.menu{
    position: relative;
    z-index: -1;
    position: fixed;
    min-width: 400px;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: $white;
    padding: 180px 45px 80px 70px;
    transition: all .5s ease 0s;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    @include media ('<tablet'){
        min-width: 100%;
        padding: 210px 20px 80px 20px;
        text-align: center;
    }

    @include media ('<phone'){
        padding: 150px 20px 80px 20px;
    }
}
.menu_active {
    left: 0;
}
.menu__wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
}

.menu__list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    position: relative;

    @include media ('<tablet'){
        justify-content: center;
    }

    a{
        transition: color .3s ease 0s;
        font-size: 24px;
        color: $black;
        position: relative;
        margin-bottom: 5px;

        &::after{
            content:'';
            position: absolute;
            width: 0;
            height: 2px;
            left: 0;
            bottom: -3px;
            background-color: $black;
            transition: all .3s ease 0s;
        }

        &:hover{
            &::after{
                width: 100%;
            }
        }

        @include media ('<tablet'){
            font-size: 64px;
        }

        @include media ('<phone'){
            font-size: 46px;
        }
    }
}

}
}