<footer id="footer">
    <img class="bg" src="/dist/images/footer-bg.png" alt="bg">
    <div class="container">
        <div class="form-wrap">
            <h2 class="title">Зв’яжіться з нами</h2>
            <form action="#">
                <input class="field" type="text" placeholder="Ім‘я">
                <input class="field" type="text" placeholder="Прізвище">
                <input class="field" type="email" placeholder="Ваш e-mail">
                <textarea class="field" placeholder="Ваше повідомлення"></textarea>
                <input type="submit" value="Відправити">
            </form>
        </div>
        <div class="bot">
            <ul class="menu">
                <li class="menu-item"><a class="link link-close" href="#galery">Галерея</a></li>
                <li class="menu-item"><a class="link link-close" href="#about">Про нас</a></li>
                <li class="menu-item"><a class="link link-close" href="#blog">Блог</a></li>
            </ul>
            <div class="socials">
                <a class="soc" href="#" target="_blank">
                    <img src="./images/icons/telegram.svg" alt="telegram">
                </a>
                <a class="soc" href="#" target="_blank">
                    <img src="./images/icons/instagram.svg" alt="telegram">
                </a>
                <a class="soc" href="#" target="_blank">
                    <img src="./images/icons/facebook.svg" alt="telegram">
                </a>
            </div>
            <a class="logo" href="#"><img src="./images/icons/logo-sm.svg" alt="logo"></a>
        </div>
    </div>
</footer>