<section class="img-text-big-section">
    <div class="img-wrap wow animate__animated animate__fadeInLeft">
        <img class="img" src="./images/vlog-page/main-img.jpg" alt="img">
    </div>
    <div class="block">
        <div class="text wow animate__animated animate__fadeInRight">
            <h2 class="title-text">Intraoral Cameras</h2>
            <p class="discription">Your Smile Creator in Bay Harbor Islands, FL, we keep up with the latest dental technology, so your treatment is always state-of-the-art. For that reason, we have equipped our office with intraoral cameras to ensure thorough treatment of any issue with your teeth and gums. <br>
            This handheld camera fits inside your mouth to record sharp images of every tooth as well as the shape of your gums and mouth. As an extra benefit, we can also show you any problems clearly during your dental exam. You can vividly see the inside of your mouth and every tooth! <br>
            An intraoral camera can also be used in place of the gummy impression trays we used to use when planning bridges, crowns, or Invisalign treatment. That’s a benefit our patients love!</p>
        </div>
    </div>
</section>