<section class="img-text-big-section img-text-big-rev-section">
    <div class="block">
        <div class="text wow animate__animated animate__fadeInLeft">
            <h2 class="title-text"><span>3</span>D X-Rays</h2>
            <p class="discription">With 3D X-rays, we can plan the most precise care for our patients. There are times when we need to be able to visualize the shape and density of every inch of bone or know exactly where every nerve is. When it comes to placing dental implants, this type of X-ray is invaluable. We can discover exactly where to place an implant and whether or not a bone graft is needed before placement. If we are going to perform a procedure like a sinus lift, this type of imaging is essential. <br>
            We can also clearly detect infections or other pathologies that could be missed with conventional X-rays. Being able to offer 3D X-rays is another way we make sure we can keep our patients in very good health. <br>
            We continually invest in updated dental equipment, so we can protect the health of every patient that comes to us. With 3D X-rays, we can also keep your exposure to X-rays minimal because one scan obtains a complete picture of your mouth and jaws.</p>
        </div>
    </div>
    <div class="img-wrap wow animate__animated animate__fadeInRight">
        <img class="img" src="./images/vlog-page/main-img.jpg" alt="img">
    </div>
</section>