<section class="img-text-list-section">
    <div class="container">
        <div class="img-wrap wow animate__animated animate__fadeInLeft">
            <img class="img" src="./images/vlog-page/main-img.jpg" alt="img">
        </div>
        <div class="text wow animate__animated animate__fadeInRight">
            <span class="number">01</span>
            <h2 class="title-text">Protecting Your Health, Preserving Your Teeth</h2>
            <p class="discription">Each time we see a patient in our Bay Harbor Islands office, we look for problems like tooth decay or gum disease. Seeing a patient at least twice every year means we can treat cavities while they are tiny and gum disease as soon as it starts. By eliminating these problems immediately, we help each patient maintain good dental and oral health. <br>
            We also have a chance to educate our patients on any changes they should make in their at-home care regimen. This is also an essential part of maintaining good dental health. <br>
            All these actions work together, so we can help our patients to preserve their teeth for their whole lives. At the same time, we foster an atmosphere of friendliness and welcome that makes every visit as pleasurable as possible. We want our patients to look forward to their next dental visits.</p>
        </div>
    </div>
</section>