<section class="img-list-section img-list-circle-section">
    <div class="container">
        <div class="sec-title-wrap anim">
            <h2 class="sec-title">Why Dental Checkups Help <br> Protect Your Health</h2>
        </div>
        <div class="content">
            <div class="img-wrap wow animate__animated animate__fadeInLeft">
                <img class="img" src="./images/vlog-page/main-img.jpg" alt="img">
            </div>
            <div class="block">
                <p class="description wow animate__animated animate__fadeInRight">When you are searching online for “dental exam near me,” you have found your best choice on the East Island of Bay Harbor Islands. The regular teeth cleanings we offer our patients do so much more than just keep teeth clean and sparkly. They have everything to do with maintaining their overall health. <br>
                A regular schedule of dental exams and teeth cleanings helps provide the following protection:</p>
                <ul class="list">
                    <li class="item wow animate__animated animate__fadeInRight">Reduction of tooth decay</li>
                    <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".3s">Protection against serious gum disease</li>
                    <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".6s">Prevention of tooth loss</li>
                    <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".9s">Early diagnosis of mouth cancers</li>
                    <li class="item wow animate__animated animate__fadeInRight" data-wow-delay="1.2s">Reduction in risk of diabetes, heart disease, arthritis, and dementia related to gum disease</li>
                    <li class="item wow animate__animated animate__fadeInRight" data-wow-delay="1.5s">Early diagnosis of bruxism (teeth grinding) to prevent worn-down teeth</li>
                </ul>
                <p class="description wow animate__animated animate__fadeInRight" data-wow-delay="1.8s">For all these reasons, we encourage our patients to maintain a regular schedule of dental exams and teeth cleanings. On Bay Harbor Islands, FL, we are your best choice for thorough preventative care that can contribute to a healthy and beautiful smile.</p>
            </div>
        </div>
    </div>
</section>