<section class="img-list-section">
    <div class="container">
        <div class="title-linedown-wrap anim">
            <h2 class="title-linedown">What to Do Until You Can Get Emergency Dentistry</h2>
        </div>
        <div class="content">
            <div class="img-wrap wow animate__animated animate__fadeInLeft">
                <img class="img" src="./images/vlog-page/main-img.jpg" alt="img">
            </div>
            <div class="block">
                <ul class="list">
                    <li class="item wow animate__animated animate__fadeInRight"><strong>Toothache:</strong> Floss gently to remove food particles, then make a mixture of salt and warm water. Rinse your mouth with this mixture repeatedly. Use an over-the-counter pain reliever as needed.</li>
                    <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".3s"><strong>Broken tooth:</strong> If the tooth is bleeding, press gauze or a soft towel on the area until bleeding stops. Put a cold pack on the outside of your cheek to reduce pain.</li>
                    <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".6s"><strong>Knocked out tooth:</strong> If possible, replace the tooth in its socket. If not, store the tooth in milk or hold it inside the cheek. Never touch the tooth by the root but just by the hard, white crown. Get to a dentist the first minute possible. If the tooth can be restored to its socket within 30 minutes, it may be able to be saved. It may still require root canal therapy afterwards.</li>
                    <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".9s"><strong>Lost crown or bridge:</strong> Purchase dental cement at a pharmacy. (NEVER use Superglue or any other glue.) Place this cement inside the crown or bridge and fit it back in place. Bite down gently when the crown or bridge seems to fit well. Wipe away any cement that gets squeezed out. Note: A damaged crown or bridge may not be able to be cemented back in place.</li>
                    <li class="item wow animate__animated animate__fadeInRight" data-wow-delay="1.2s"><strong>Lost filling:</strong> To protect a tooth after a filling has been lost, spread dental cement across the damaged area to protect it. Avoid chewing in this area.</li>
                </ul>
                <p class="description wow animate__animated animate__fadeInRight" data-wow-delay="1.5s">Dr. Anatoly Ripa and his staff are very accustomed to offering emergency dentist’s care. We are proud to offer emergency dental services to Miami, FL.</p>
            </div>
        </div>
    </div>
</section>