<section class="img-text-circle-section">
    <div class="container">
        <div class="sec-title-wrap anim">
            <h2 class="sec-title">The Many Causes <br> of Bad Breath</h2>
        </div>
        <div class="content">
            <div class="img-wrap wow animate__animated animate__fadeInLeft">
                <img class="img" src="./images/vlog-page/main-img.jpg" alt="img">
            </div>
            <div class="text wow animate__animated animate__fadeInRight">
                <p>To work out how to get rid of bad breath permanently, a dentist must start by determining which of the many causes is at work. They may take into account the following possibilities:</p>
                <ul>
                    <li>Dry mouth</li>
                    <li>Tooth, gum or mouth infections</li>
                    <li>Gum disease</li>
                    <li>Sinus infections</li>
                    <li>Poor dental hygiene</li>
                    <li>Smoking</li>
                    <li>Eating strong-smelling foods like garlic</li>
                    <li>Reflux disease</li>
                    <li>Medications</li>
                    <li>Poorly-cleaned dental appliances</li>
                    <li>Pneumonia</li>
                    <li>Tonsil stones</li>
                    <li>Liver problems</li>
                    <li>Parasites</li>
                    <li>Certain diets</li>
                </ul>
                <p>As you can see, bad breath from the stomach, sinuses and other parts of the body may be the cause. The problem may not originate in the mouth.</p>
            </div>
        </div>
    </div>
</section>