<section class="img-title-text-section">
    <div class="container">
        <div class="title-linedown-wrap anim mob">
            <h2 class="title-linedown">Polishing, Too</h2>
        </div>
        <div class="img-cont wow animate__animated animate__fadeInLeft">
            <img src="./images/payments-page/1.jpg" alt="img">
        </div>
        <div class="block">
            <div class="title-linedown-wrap anim desc">
                <h2 class="title-linedown">Polishing, Too</h2>
            </div>
            <div class="text">
                <p>When you get your teeth cleaned at your dentist’s office, it’s likely that your hygienist uses hand tools and a sonic cleaner on all the surfaces of your teeth and then follows this with polishing. The AIRFLOW system does two steps at once, incorporating both sonic cleaning and polishing. Completing two types of cleaning in one step saves you time. You may also find the AIRFLOW cleaning system more comfortable than earlier types of dental cleaning you’ve had. <br>
                A dental hygienist typically follows AIRFLOW cleaning with manual cleaning of any tough, hardened spots of calculus.</p>         
            </div>
        </div>
    </div>
</section>