<section class="img-text-list-section img-text-list-rev-section">
    <div class="container">
        <div class="text wow animate__animated animate__fadeInLeft">
            <span class="number">02</span>
            <h2 class="title-text">Professional Teeth Cleaning</h2>
            <p class="discription">Sometimes referred to as prophylaxis, a professional cleaning is an effective way to rid the mouth of harmful plaque and tartar. We use special dental tools to clean the patient’s gums and teeth, including all surfaces of their teeth and below their gum line. <br>
            Next, surface stains are eliminated by cleansing and polishing the teeth. This thorough cleaning process leaves the patient with reduced bad breath and a long-lasting sense of oral freshness. We also use this opportunity to check the patient’s mouth for any signs or symptoms of tooth decay or gum disease. Every patient is also examined for any signs of mouth cancer.</p>
        </div>
        <div class="img-wrap wow animate__animated animate__fadeInRight">
            <img class="img" src="./images/vlog-page/main-img.jpg" alt="img">
        </div>
    </div>
</section>