<section class="list-section">
    <div class="container">
        <div class="title-wrap anim">
            <h2 class="title">Emergency Dental <br> Services We Offer</h2>
        </div>
        <p class="description wow animate__animated animate__fadeInUp">With immediate and expert dental care, your oral health problems can be resolved before they worsen. Whether you are in need of a major fix or a minor repair, you can call our team of dedicated emergency dentists serving Miami Beach. Our focus will be on relieving your pain quickly, so you can return to living your life. <br>
        We offer emergency dental services including treatment of:</p>
        <ol class="list">
            <li class="item wow animate__animated animate__fadeInRight">Cracked or broken tooth</li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".3s">Loosened tooth</li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".6s">Abscesses</li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".9s">Tooth pain</li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay="1.2s">Lost filling, crown or bridge</li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay="1.5s">Extremely swollen gums or jaw</li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay="1.8s">Cuts inside the mouth that won’t quit bleeding</li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay="2.1s">Gum or tooth infection</li>
        </ol>
    </div>
</section>