<section class="list-section list-three-section">
    <div class="container">
        <div class="title-wrap anim">
            <h2 class="title">Treating Halitosis</h2>
        </div>
        <p class="description wow animate__animated animate__fadeInUp">Dr. Ripa is ready to help you find the right cause, so you know how to get rid of halitosis. He knows that there are actually 72 different causes of halitosis. There are a number of tests he performs to zero in on the correct causes, including:</p>
        <ol class="list">
            <li class="item wow animate__animated animate__fadeInRight">
                <span>Microscope in-vitro test</span>
                This test looks for anaerobic bacteria (ones that do not require oxygen) that might exist in the mouth and that can be eliminated with liquid ozone. This treatment restores the proper bacterial flora in the mouth.
            </li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".3s">
                <span>Salivary cultures</span>
                A test for pathogens in the saliva can detect diseases in the mouth or elsewhere in the body. This test also determines the quantity and quality of saliva being produced.
            </li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".6s">
                <span>Arterial oxygen saturation</span>
                If inadequate amounts of oxygen are being carried in arterial blood, it can permit an overpopulation of anaerobic bacteria in the mouth.
            </li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".9s">
                <span>HaliSens test and scoring.</span>
                If inadequate amounts of oxygen are being carried in arterial blood, it can permit an overpopulation of anaerobic bacteria in the mouth.
            </li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay="1.2s">
                <span>Test for mycosis</span>
                This is a test for fungal overgrowth that can be treated with an antifungal medication.
            </li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay="1.5s">
                <span>Test for parasites or viral infections.</span>
                This will be treated appropriately.
            </li>
        </ol>
        <p class="description wow animate__animated animate__fadeInUp">Once the correct cause or causes are found, you’ll know how to get rid of halitosis. Your treatment can also be lasting. Dr. Ripa has assembled a talented and experienced interdisciplinary team of practitioners who can help you remedy the problem and achieve better health at the same time.</p>
    </div>
</section>