<section class="list-three-section">
    <div class="container">
        <h2 class="title wow animate__animated animate__fadeInUp">Then we follow these steps:</h2>
        <ol class="list">
            <li class="item wow animate__animated animate__fadeInRight">Place a protective rubber sheet around the tooth to keep the tooth dry and to help prevent the infection from spreading to other areas of the mouth.</li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".3s">Make an opening in the top of a tooth, just like what is done when a tooth receives a filling.</li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".6s">Remove the soft pulp that fills the canals in the middle of the roots, all the way to the tip of the tooth.</li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay=".9s">Clean and shape the canals, so they can easily be filled with biocompatible material.</li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay="1.2s">Clean and shape the canals, so they can easily be filled with biocompatible material.</li>
            <li class="item wow animate__animated animate__fadeInRight" data-wow-delay="1.5s">Place a filling in the top of the tooth.</li>
        </ol>
    </div>
</section>