<section class="offers-text-section">
    <div class="container">
        <div class="title-wrap anim">
            <h2 class="title">Your General Dentist <br> Offering a Range Of Services</h2>
        </div>
        <div class="block">
            <div class="item wow animate__animated animate__fadeInLeft">
                <div class="img-wrap">
                    <img class="img" src="./images/vlog-page/main-img.jpg" alt="img">
                </div>
                <h3 class="title-item">FREE CONSULTATION</h3>
                <a class="line-btn" href="#">
                    Receive Your FREE Consultation Now
                    <img class="icon-arrow" src="./images/icons/arrow.svg" alt="icon">
                </a>
            </div>
            <div class="item wow animate__animated animate__fadeInRight">
                <div class="img-wrap">
                    <img class="img" src="./images/vlog-page/main-img.jpg" alt="img">
                </div>
                <h3 class="title-item">$<span>99</span> New Patient Cleaning</h3>
                <a class="line-btn" href="#">
                    I Am Due for A Cleaning
                    <img class="icon-arrow" src="./images/icons/arrow.svg" alt="icon">
                </a>
            </div>
        </div>
    </div>
</section>