<section class="qr-code-section">
    <div class="container">
        <img class="qr-img wow animate__animated animate__bounceInDown" src="./images/icons/qr-code.png" alt="qr-code">
        <div class="title-wrap anim">
            <h2 class="title">See Your New <br> Smile In a Second!</h2>
        </div>
        <div class="text">
            <h3 class="title-text wow animate__animated animate__fadeInUpBig" data-wow-delay=".3s">Invisalign® SmileView™ simulates your new smile!</h3>
            <p class="discription wow animate__animated animate__fadeInUpBig" data-wow-delay=".6s">Take a smiling selfie and we’ll show you what Invisalign® treatment can do for you.</p>
            <a class="line-btn wow animate__animated animate__fadeInUpBig" data-wow-delay=".9s" href="#">
                Schedule a Consultation for Invisalign
                <img class="icon-arrow" src="./images/icons/arrow.svg" alt="icon">
            </a>
        </div>
    </div>
</section>