<section class="text-img-circle-section">
    <div class="container">
        <div class="sec-title-wrap anim">
            <h2 class="sec-title">A Dental Emergency for You <br> is Our Emergency, Too!</h2>
        </div>
        <div class="content">
            <p class="description wow animate__animated animate__fadeInLeft">What can we do if we see you on an emergency basis? We will start right away by diagnosing the cause of your problem. Your dental emergency could result from something as simple as a stuck piece of food that can’t be removed with floss. We will find it, remove it and disinfect the area. <br>
            If your dental emergency consists of an abscess, we can relieve your pain and, if needed, provide you with antibiotics. This should improve your tooth pain until you can schedule a regular office visit for a more complete resolution.
            A broken tooth may be able to be repaired and a loosened tooth can be secured in the jaw, so healing can start.
            When a person is seen by an emergency dentist quickly enough after knocking out a tooth, it might be possible to clean that tooth and restore it to the jaw bone. This action must take place within 30 minutes. <br>
            We have the skills and the facilities to repair your unexpected injury or dental damage and relieve your pain. Then we can schedule you for further appointments to complete your treatment. <br>
            If you have trouble finding an emergency dentist in Miami Beach, please call Family & Cosmetic Dentistry Wellness Spa in Bay Harbor Islands, FL. We will see a patient in pain even during evening hours.
            </p>
            <div class="img-wrap wow animate__animated animate__fadeInRight">
                <img class="img" src="./images/vlog-page/main-img.jpg" alt="img">
            </div>
        </div>
    </div>
</section>