<section class="text-img-section">
    <div class="container">
        <div class="title-linedown-wrap anim">
            <h2 class="title-linedown">Unexpected Events Happen</h2>
        </div>
        <div class="content">
            <p class="description wow animate__animated animate__fadeInLeft">No matter how well you might take care of your teeth, accidents or injuries to the teeth or mouth can happen. Very often, these injuries take place during athletic activities or car accidents. <br>
            We know very well that when you need emergency dental care in Miami, it can be difficult to find emergency dentists that will see you right away. In every case possible, we see those needing emergency dentistry on the same day they call us. <br>
            Some dentists who do offer emergency dental care will only offer the care to those people who are established patients. This is not so at Family & Cosmetic Dentistry Wellness Spa. We will help you to the best of our ability, whether you are an established patient or new to our practice. <br>
            When emergencies happen after hours, you might wonder what your options are. By calling our emergency dentistry line, we will work fast to get you the care that you need as quickly as possible.
            </p>
            <div class="img-wrap wow animate__animated animate__fadeInRight">
                <img class="img" src="./images/vlog-page/main-img.jpg" alt="img">
            </div>
        </div>
    </div>
</section>