<section class="title-text-btn-img-section">
    <div class="container">
        <div class="text">
            <div class="title-linedown-wrap anim">
                <h2 class="title-linedown">AIRFLOW Cleaning</h2>
            </div>
            <div class="description wow animate__animated animate__fadeInUp">
                <p>
                    Because we want to offer our patients the very best therapies for the health of their teeth and gums, we provide AIRFLOW therapy. This therapy uses pressurized air, water and specially formulated powders to clean the teeth. We have found that this process is faster and more comfortable for our patients.
                </p>
                <p>The unique AIRFLOW system also reaches into tiny spaces that can’t adequately be cleaned by hand. Especially for a patient with crooked teeth, dental implants or braces, an AIRFLOW cleaning cleans better and deeper.</p>
                <p>It is safe for restorations such as veneers and can even be used to clean the tongue. AIRFLOW reaches 4 mm under the gums to clean out bacterial deposits that may have taken root. AIRFLOW is another way we keep our dental technology state-of-the-art, so every patient can receive the very best care possible.</p>
            </div>
            <a class="line-btn wow animate__animated animate__fadeInUp" href="#">
                More about airflow cleaning
                <img class="icon-arrow" src="./images/icons/arrow.svg" alt="icon">
            </a>
        </div>
        <div class="media">
            <div class="title-linedown-wrap anim mob">
                <h2 class="title-linedown">AIRFLOW Cleaning</h2>
            </div>
            <div class="img-wrap wow animate__animated animate__fadeInRight">
                <img class="img" src="/dist/images/main-page/1.jpg" alt="img">
            </div>
        </div>
    </div>
</section>