<section class="title-text-teeth-section">
    <div class="container">
        <div class="title-wrap anim">
            <h2 class="title">Cosmetic Treatment Before & After</h2>
            <div class="text">
                <p class="description">One of the most important steps for maintaining healthy teeth and oral structures is to visit us twice every year for a complete dental checkup. These routine visits allow our experts to keep track of your oral health and to administer timely treatment in the event that any issues are discovered. <br>
                Our dental checkups include a professional teeth cleaning, digital X-rays when necessary and an oral cancer screening. Patients are expected to see a dentist every six months for a checkup to stay healthy.</p>
                <a class="line-btn" href="#">
                    I Am Due for A Cleaning
                    <img class="icon-arrow" src="./images/icons/arrow.svg" alt="icon">
                </a>
            </div>
        </div>
        <div class="content">
            <div class="item img-wrap wow animate__animated animate__fadeInLeft">
                <img class="img" src="./images/gallery-page/1.jpg" alt="img">
                <div class="info">
                    <img class="icon" src="./images/icons/eye.svg" alt="icon">
                    <p class="info-title">Sensitive content</p>
                    <p class="info-sub-title dec">Hover your cursor over the photo</p>
                    <p class="info-sub-title mob">Tap the photo</p>
                </div>
                <span class="inscr">before</span>
            </div>
            <div class="item img-wrap wow animate__animated animate__fadeInRight">
                <img class="img" src="./images/gallery-page/1.1.jpg" alt="img">
                <span class="inscr">After</span>
            </div>
        </div>
    </div>
</section>