@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue-Roman.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue-Medium.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}