<header id="header">
    <div class="overflow"></div>
    <div class="container">
        <a class="logo" href="index.html"><img src="./images/icons/main-logo.svg" alt="logo"></a>
        <div class="menu-block">
            <nav class="menu-wrap">
                <ul class="menu">
                    <li class="menu-item"><a class="link link-close" href="index.html#mission">Миссия</a></li>
                    <li class="menu-item"><a class="link link-close" href="index.html#advantages">Преимущества</a></li>
                    <li class="menu-item"><a class="link link-close" href="index.html#privileges">Привелегии</a></li>
                    <li class="menu-item"><a class="link link-close" href="index.html#meetings">Встречи</a></li>
                    <li class="menu-item"><a class="link link-close" href="index.html#rules">Правила</a></li>
                    <li class="menu-item"><a class="link link-close" href="index.html#cost">Стоимость</a></li>
                    <li class="menu-item"><a class="link link-close" href="index.html#application">Мобильное приложение</a></li>
                </ul>
            </nav>
            <div class="btn-wrap">
                <a class="main-btn link-close" href="#form">ЗАЯВКА НА ВСТУПЛЕНИЕ В КЛУБ</a>
                <!-- <div class="lang-wrap">
                    <img src="./images/icons/lang-icon.svg" alt="lang-icon">
                    <p>RU</p>
                </div> -->
            </div>
        </div>
        <button class="burger">
            <span></span>
        </button>
    </div>
 </header>