<header id="header">
    <div class="overflow"></div>
    <div class="container">
        <div class="menu-block">
            <nav class="menu-wrap">
                <ul class="menu">
                    <li class="menu-item"><a class="link link-close" href="index.html#mission">Миссия</a></li>
                    <li class="menu-item"><a class="link link-close" href="index.html#about">Преимущества</a></li>
                    <li class="menu-item"><a class="link link-close" href="index.html#air360">Опыт</a></li>
                    <li class="menu-item"><a class="link link-close" href="index.html#pricing">Правила вступления</a></li>
                    <li class="menu-item"><a class="link link-close" href="index.html#application">Мобильное приложение</a></li>
                </ul>
            </nav>
            <div class="btn-wrap">
                <a class="main-btn link-close" href="tel:7777777373">Связаться с нами</a>
            </div>
        </div>
        <button class="burger">
            <span></span>
        </button>
    </div>
 </header>