@font-face {
    font-family: "Lota Grotesque Alt 1";
    src: url("../fonts/LotaGrotesqueAlt1Regular.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Lota Grotesque Alt 1";
    src: url("../fonts/Lota GrotesqueAlt1Bold.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Recoleta";
    src: url("../fonts/RecoletaRegular.ttf");
    font-style: normal;
    font-weight: 400;
}