<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer__item-wrap">
                <a class="footer-logo" href="index.html"><img src="./images/logo-white.svg" alt="logo"></a>
                <div class="footer__item">
                    <a href="#">Location</a>
                    <a href="#">Adress</a>
                </div>
                <div class="footer__item">
                    <a href="#">Contact</a>
                    <address>
                        <a class="address-link" href="mailto:mail@agensy.com">mail@agensy.com</a>
                        <a class="address-link" href="tel:+1 234 567 78 90">+1 234 567 78 90</a>
                    </address>
                </div>
            </div>
            <div class="footer__item-wrap">
                <div class="policy-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Coockies Policy</a>
                </div>
                <a href="#">All rights reserved Prot Group</a>
                <a target="_blank" href="https://krockds.com/">website by Krock DS</a>
            </div>
        </div>
    </div>
</footer>