<header id="header">
    <div class="container">
        <div class="header-content">
            <a href="index.html" class="header__logo logo">
                <img src="./images/logo.svg" alt="logo">
            </a>
            <div class="header__menu menu">
                <a href="#" class="menu__burger">
                    <span></span>
                </a>
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li>
                            <a class="menu__link" href="services.html">Services</a>
                            <img class="menu__arrow" src="./images/icons/arrow.svg" alt="arrow">
                            <ul class="menu__sub-list">
                                <li class="menu__sub-list__li"><a class="menu__sub-link" href="#">Business development</a></li>
                                <li class="menu__sub-list__li"><a class="menu__sub-link" href="#">Sales & marketing support</a></li>
                                <li class="menu__sub-list__li"><a class="menu__sub-link" href="#">Customer engagement</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="menu__link" href="aboutUs.html">About us</a>
                            <img class="menu__arrow" src="./images/icons/arrow.svg" alt="arrow">
                            <ul class="menu__sub-list">
                                <li class="menu__sub-list__li"><a class="menu__sub-link" href="#">Careers</a></li>
                            </ul>
                        </li>
                        <li><a class="menu__link" href="#">Blog</a></li>
                        <li><a class="menu__link" href="cases.html">Case studies</a></li>
                        <li><a class="menu__link" href="#">Contaсt</a></li>
                        <li class="mob-language">
                            <a class="menu__link mob-language__link" href="#">Eng</a>
                            <img class="menu__arrow mob-language__arrow" src="./images/icons/arrow.svg" alt="arrow">
                            <ul class="menu__sub-list mob-language__sub-list">
                                <li class="menu__sub-list__li"><a class="menu__sub-link mob-language__sub-link" href="#">Deu</a></li>
                                <li class="menu__sub-list__li"><a class="menu__sub-link mob-language__sub-link" href="#">Spa</a></li>
                                <li class="menu__sub-list__li"><a class="menu__sub-link mob-language__sub-link" href="#">Ukr</a></li>
                            </ul>
                        </li>
                    </ul> 
                </nav>
            </div>
        </div>
    </div>
 </header>
