body {
    font-family: $Helvetica;
    background-color: $body-black;
}

.body_lock{
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.bottom-line{
    position: relative;

    &::after{
        content:'';
        position: absolute;
        width: 470px;
        height: 4px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        background-color: $main-color;
        z-index: 10;

        @include media('<tablet'){
            width: 250px;
        }
    }
}

.text-bg{
    position: absolute;
    font-weight: bold;
    font-size: 96px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.2;
    margin: 0;
    white-space: nowrap;
    writing-mode: vertical-rl;
    z-index: -1;

    &:nth-child(1){
        left: -55px;
    }

    &:nth-child(2){
        right: -55px;
    }

    @include media('<phone'){
        display: none;
    }
}

.main-btn{
    display: inline-block;
    min-width: 190px;
    padding: 9px 10px;
    background-color: $main-color;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient($hover-color, $hover-color);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    box-sizing: border-box;
    transition: all .5s ease 0s;
    border: none;

    &:hover{
        background-size: 100% 100%;
        transition: all .5s ease 0s;
    }
}

/* --------------------------main-section-------------------- */

.main-section{
    position: relative;
    min-height: 100vh;
    padding: 100px 0 60px 0;

    &::before{
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 70%;
        z-index: 2;
    }
}

.main-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.main-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 160px);
    padding: 20px 0 0 0;
    text-align: center;
    z-index: 4;

    h1{
        font-family: 'Bebas Neue', cursive;
        @include adaptiv-vaule("font-size", 320, 75, 1);
        text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
        text-transform: uppercase;
        line-height: 0.85;
        background: #565656;
        background: -webkit-linear-gradient(to bottom, #565656 35%, #393939 60%);
        background: -moz-linear-gradient(to bottom, #565656 35%, #393939 60%);
        background: linear-gradient(to bottom, #565656 35%, #393939 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
    }

    p{
        position: relative;
        @include adaptiv-vaule("font-size", 20, 7, 1);
        font-weight: bold;
        letter-spacing: 0.685em;
        text-transform: uppercase;
        color: #5B5B5B;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0 0 60px 0;

        &::before, &::after{
            content:'';
            position: absolute;
            top: 5px;
            height: 7px;
            @include adaptiv-vaule("width", 300, 25, 1);
            background: #5B5B5B;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            @include media ("<tablet"){
                height: 3px;
            }

            @include media ("<phone"){
                height: 1.5px;
                top: 4px;
            }
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }
}

.icon-mouse{
    width: 25px;
    height: 67px;
    margin: 20px auto;

}

/* --------------------------services-section-------------------- */

.services {
    position: relative;
    @include adaptiv-vaule("padding-top", 140, 95, 1);
    @include adaptiv-vaule("padding-bottom", 90 , 50, 1);
    overflow: hidden;
}

.services-content {
    position: relative;
    text-align: center;
    z-index: 2;
}

.services__item-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.services__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 370px; 
    max-width: 370px;
    margin-bottom: 70px;
    padding: 0 15px;

    @include media ("<phone") {
        min-width: 100%; 
        max-width: 100%;
    }
}

.services__item-img {
    margin-bottom: 10px;
    text-align: center;
}

.services__item-text {
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;

    span {
        display: block;
        margin-bottom: 5px;
    }

    P {
        font-size: 18px;
    }
}

/* --------------------------about-section-------------------- */

.about {
    @include adaptiv-vaule("padding-top", 140, 70, 1);
    padding-bottom: 5px;
    overflow: hidden;

    h2 {
        @include adaptiv-vaule("margin-bottom", 100, 70, 1);
    }
}

.about-content {
    position: relative;
    padding: 50px 0;
    min-height: calc(100vh - 270px);

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about__text-wrap {
    display: flex;
    align-items: center;

    @include media ("<tablet"){
        padding: 0;
        min-height: calc(100vh - 270px);
    }
}

.indefinite {
    width: 100%;
    max-width: 50%;
    min-height: calc(100vh - 270px);

    @include media ("<tablet") {
        display: none;
    }
}

.about__text {
    position: relative;
    max-width: 50%;
    padding: 40px 15px 50px 70px;
    z-index: 2;

    @include media ("<tablet") {
        max-width: 100%;
        padding: 40px 15px;
    }
    
    &::after {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 1000%;
        height: 100%;
        background-color: $main-color;
        z-index: -1;

        @include media ("<tablet") {
            width: 100%;
        }
    }

    h2 {
        color: $black;
        margin-bottom: 25px;
    }

    p {
        font-size: 18px;
        line-height: 1.4;
    }
}

/* --------------------------project-section-------------------- */

.project {
    position: relative;
    text-align: center;
    @include adaptiv-vaule("padding-top", 140, 95, 1);
    @include adaptiv-vaule("padding-bottom", 90 , 50, 1);

    .container {
        padding: 0;
    }
}

/* /////////////////////////projects-block///////////////////////// */

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects__item {
    width: 100%;
    max-width: 33.3%;
    min-width: 33.3%;
    margin-bottom: 90px;

    @include media ("<widescreen") {
        max-width: 50%;
        min-width: 50%;
    }

    @include media ("<tablet") {
        max-width: 100%;
        min-width: 100%;
    }
}

.projects__img {
    position: relative;
    width: 100%;
    min-height: 320px;
    max-height: 320px;
    overflow: hidden;
    margin-bottom: 15px;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.projects__text {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.project__text-title {
    padding-right: 15px;
    text-align: left;

    h2{
        @include adaptiv-vaule("font-size", 24, 20, 1);
        font-weight: bold;
        text-transform: none;
        color: $main-color;
        margin-bottom: 10px;
    }

    p{
        @include adaptiv-vaule("font-size", 18, 16, 1);
        line-height: 1.4;
        color: $white;
        margin: 0;
    }
}

.project__text-icon {
    position: relative;
    max-width: 48px;
    min-width: 48px;
    max-height: 48px;
    min-height: 48px;

    svg{
        width: 25px;
        height: 22px;
        fill: $main-color;
        transition: all .4s ease 0s;
    }

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 10px 5px 10px 10px;
        border: 2px solid $main-color;
        border-radius: 100%;
        box-sizing: border-box;
        transition: all .3s ease 0s;

        &:hover{
            border: 2px solid $hover-color;
    
            svg{
                fill: $hover-color;
                transform: rotate3d(1, 0, 0, 180deg);
                transition: all .4s ease 0s;
            }
        }
    }
}

/* --------------------------partners-section-------------------- */

.partners{
    position: relative;
    min-height: 700px;
    @include adaptiv-vaule("padding-top", 140, 95, 1);
    @include adaptiv-vaule("padding-bottom", 90 , 50, 1);
    overflow: hidden;

    @include media('<phone'){
        min-height: min-content;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 500px;
        padding: 0 40px;

        @include media('<phone'){
            min-height: min-content;
            padding: 0 15px;
        }
    }
}

/* /////////////////////////partners-slider///////////////////////// */

.partners-slider-wrap{
    position: relative;

    .slick-list{
        overflow: hidden;
    }

    .slick-track{
        display: flex;
        align-items: flex-start;
    }

    .partners-slider__item{
        position: relative;
        display: flex;
        justify-content: center;
        padding: 0 20px;
    }
    
    .arrow-prev, .arrow-next{
        position: absolute;
        top: 40%;
        cursor: pointer;
    
        svg{
            width: 25px;
            height: 22px;
            fill: $main-color;
            transition: all .4s ease 0s;
        }

        &:hover{
    
            svg{
                fill: $hover-color;
                transform: rotate3d(1, 0, 0, 180deg);
                transition: all .4s ease 0s;
            }
        }
    }

    .arrow-prev{
        left: 0;
        transform: rotate(180deg);
    }

    .arrow-next{
        right: 0;
    }
}

/* --------------------------contact-section-------------------- */

.contact{
    position: relative;
    @include adaptiv-vaule("padding-top", 140, 95, 1);
    @include adaptiv-vaule("padding-bottom", 90 , 50, 1);
    overflow: hidden;
    
    .container{
        padding: 0 45px;

        @include media('<phone'){
            padding: 0 15px;
        }
    }
}

.contact-content{
    text-align: center;
}

.form-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    @include media('<tablet'){
        flex-direction: column;
    }
}

.input-wrap{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 50px;

    @include media('<desktop'){
        width: 40%;
    }

    @include media('<tablet'){
        width: 100%;
    }

    input{
        width: 100%;
        padding: 14px 22px;
        margin-bottom: 20px;
        background: #2C2C2C;
        border: 1px solid #BEA363;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        color: $main-color;

        &:focus, &:focus-visible{
            border: 2px solid $hover-color;
        }

        &::placeholder{
            color: #494949;
        }
    }
}


textarea{
    width: 40%;
    padding: 14px 22px;
    margin-bottom: 20px;
    background: #2C2C2C;
    border: 1px solid #BEA363;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    color: $main-color;

    &:focus{
        border: 2px solid $hover-color;
    }

    &::placeholder{
        color: #494949;
    }

    @include media('<desktop'){
        width: 55%;
    }

    @include media('<tablet'){
        width: 100%;
        height: 300px;
    }

    @include media('<phone'){
        height: 200px;
    }
}


/* --------------------------portfolio-section-------------------- */

.portfolio, .project-page{
    padding-top: 160px;
    @include adaptiv-vaule("padding-bottom", 160, 40, 1);
    min-height: calc(100vh - 189px);

    @include media('<phoneXL'){
        min-height: calc(100vh - 248px);
    }

    .container{
        padding: 0;
    }

    h1{
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 81px;
        text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
        text-transform: uppercase;
        line-height: 0.85;
        background: #565656;
        background: -webkit-linear-gradient(to bottom, #565656 35%, #393939 60%);
        background: -moz-linear-gradient(to bottom, #565656 35%, #393939 60%);
        background: linear-gradient(to bottom, #565656 35%, #393939 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 40px; 
    }
}

/* --------------------------project-page-section-------------------- */

.wrap__img{
    position: relative;
    width: 100%;
    min-height: 727px;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* --------------------------client-section-------------------- */

.client, .result, .result-img{
    padding: 50px 0;
}

.client-content, .result-content{
    text-align: center;

    h2{
        font-size: 24px;
        text-transform: none;
        color: #BEA363;
        margin-bottom: 10px;
    }

    span{
        display: block;
        font-size: 24px;
        color: $white;
        margin-bottom: 50px;
    }

    p{
        font-size: 20px;
        text-align: left;
        line-height: 1.4;
        color: $white;
    }
}

.client__item-wrpa{
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px, 1fr));
    grid-template-rows: repeat(auto-fit,minmax(370px, 1fr));
    gap: 25px;
    -ms-flex-pack: center;
    justify-content: center;

    @include media('<tabletXL'){
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit,minmax(300px, 1fr));
    }

    @include media('<phoneXL'){
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fit,minmax(530px, 1fr));
        gap: 10px;
    }
}

.client__item{
    position: relative;

    &:nth-child(1){
        grid-column: span 1;
        grid-row: span 2;

        @include media('<phoneXL'){
            grid-row: span 1;
        }
    }

    &:nth-child(2){
        grid-column: span 2;
        grid-row: span 2;

        @include media('<tablet'){
            grid-column: span 1;
        }

        @include media('<phoneXL'){
            grid-row: span 1;
        }
        
    }

    &:nth-child(3){
        grid-column: span 2;
        grid-row: span 1;
        
        @include media('<tablet'){
            grid-column: span 2;
        }

        @include media('<phoneXL'){
            grid-column: span 1;
        }
    }

    &:nth-child(4){
        
        @include media('<tablet'){
            grid-column: span 2;
        }

        @include media('<phoneXL'){
            grid-column: span 1;
        }
    }

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
