.body_lock{
    overflow: hidden;
}

#header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    
    button{
        outline: none;
        border: none;
        background-color: transparent;
        padding: 0;
    }
}

.header__wrap{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.header-container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    @include adaptiv-vaule("padding-right", 70, 20, 1);
    @include adaptiv-vaule("padding-left", 70, 20, 1);
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
    padding: 5px 0;
    
    &::before, &::after{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    &::before{
        background-color: $main-color;

    }

    &::after{
        background: url(../images/header-img-bg.png) 0 0/cover no-repeat;
    }
}

.header__basket{
    z-index: 5;
}

.menu{
    position: relative;
    z-index: -1;
    position: fixed;
    min-width: 400px;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: $white;
    padding: 180px 45px 80px 70px;
    transition: all .5s ease 0s;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    &::after{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        background: url(../images/burger-bg.png) 0 100%/370px no-repeat;

        @include media ('<tablet'){
            background: url(../images/burger-bg.png) 0 100%/260px no-repeat,
                        url(../images/burger-bg-2.png) 100% 50%/150px no-repeat;
        }
    }

    @include media ('>widescreen'){
        min-width: calc(400px + 400 * ((100vw - 320px) / (2500 - 320)));
        @include adaptiv-vaule("padding-left", 200, 0, 2);
    }

    @include media ('>1850px'){
        min-width: calc(700px + 400 * ((100vw - 320px) / (2500 - 320)));
        @include adaptiv-vaule("padding-left", 300, 0, 2);
    }

    @include media ('<tablet'){
        min-width: 100%;
        padding: 210px 20px 80px 20px;
        text-align: center;
    }

    @include media ('<phone'){
        padding: 150px 20px 80px 20px;
    }
}

.menu_active{
    left: 0;
}

.menu__wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
}

.menu__list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    position: relative;

    @include media ('<tablet'){
        justify-content: center;
    }

    a{
        transition: color .3s ease 0s;
        font-size: 24px;
        color: $main-color;
        position: relative;
        margin-bottom: 5px;

        &::after{
            content:'';
            position: absolute;
            width: 0;
            height: 2px;
            left: 0;
            bottom: -3px;
            background-color: $main-color;
            transition: all .3s ease 0s;
        }

        &:hover{
            &::after{
                width: 100%;
            }
        }

        @include media ('<tablet'){
            font-size: 64px;
        }

        @include media ('<phone'){
            font-size: 46px;
        }
    }
}


/* ///////////////////////////////burger */

.burger-wrap{
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 5;

    svg {
        height: 80px;
        position: absolute;
        width: 80px;
        top: 0;
        left: 0;
    }
    
    .plates {
        display: flex;
        flex-wrap: wrap;
    }

    .burger {
        filter: url(#gooeyness);
    }

    .x {
        transform: scale(0);
        transition: transform 400ms;
    }

    .line {
        fill: none;
        stroke: $white;
        stroke-width: 6px;
        stroke-linecap: round;
        stroke-linejoin: round;
        transform-origin: 50%;
        transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
    }

    .x .line {
        stroke-width: 5.5px;
    }

    .plate7 .line {
        transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
    }

    .plate7 .line1 {
        stroke-dasharray: 21 102;
    }

    .plate7 .line2 {
        stroke-dasharray: 21 92;
    }

    .plate7 .line3 {
        stroke-dasharray: 21 97;
    }

    .plate7 .line4 {
        stroke-dasharray: 21 97;
    }

    .plate7 .line5 {
        stroke-dasharray: 21 92;
    }

    .plate7 .line6 {
        stroke-dasharray: 21 102;
    }

    .plate7 .x {
        transition: transform 400ms 50ms;
    }
      
    .active.plate7 .line {
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
    }

    .active.plate7 .line1 {
        stroke-dasharray: 2 102;
        stroke-dashoffset: -102px;
    }

    .active.plate7 .line2 {
        stroke-dasharray: 2 92;
        stroke-dashoffset: -92px;
    }

    .active.plate7 .line3 {
        stroke-dasharray: 2 97;
        stroke-dashoffset: -97px;
        transition-delay: 20ms;
    }

    .active.plate7 .line4 {
        stroke-dasharray: 2 97;
        stroke-dashoffset: -97px;
        transition-delay: 20ms;
    }

    .active.plate7 .line5 {
        stroke-dasharray: 2 92;
        stroke-dashoffset: -90px;
        transition-delay: 40ms;
    }

    .active.plate7 .line6 {
        stroke-dasharray: 2 102;
        stroke-dashoffset: -100px;
        transition-delay: 40ms;
    }

    .active.plate7 .x {
        transition: transform 400ms 50ms;
        transform: scale(1);
    }
}

.menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.menu_overlay_active {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}


/* ////////////////////////logo */

.logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    background-color: $main-color;
    padding: 10px;
    z-index: 5;

    @include media ('<phone'){
        width: 75px;
        height: 75px;
    }
}

.logo__wrap{
    position: relative;
}

.logo__item1{
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translate(-50%);

    @include media ('<phone'){
        max-width: 26px;
        top: 14px;
    }
}

.logo__item2{
    animation-name: logo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes logo {
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(180deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}

.logo{
    &:hover{
        .logo__item2{
            animation-play-state: paused;
        }
    }
}

.social-wrap{

    a{
        margin-right: 20px;

        &:last-child{
            margin-right: 0;
        }
    }

    img{
        &:hover{
            animation-name: 'icon';
            animation-duration: .3s;
            animation-iteration-count: 1;
        }

        @include media ('<tablet'){
            width: 40px; 
        }
    }
}

  
@keyframes icon {
    33% {
      transform: translateY(2px);
    }

    66% {
      transform: translateY(-2px);
    }

    100% {
      transform: translateY(0);
    }
}
