<header id="header">
    <div class="container">
        <div class="content">
            <button class="burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <nav class="menu-wrap">
                <ul class="menu">
                    <li class="menu-item"><a class="link link-close" href="#about"><img class="link-icon" src="./images/icons/big-star.svg" alt="icon"> About me</a></li>
                    <li class="menu-item"><a class="link link-close" href="#why-us"><img class="link-icon" src="./images/icons/big-star.svg" alt="icon"> What we use</a></li>
                    <li class="menu-item"><a class="link link-close" href="#"><img class="link-icon" src="./images/icons/big-star.svg" alt="icon"> why us?</a></li>
                    <li class="menu-item"><a class="link link-close" href="#"><img class="link-icon" src="./images/icons/big-star.svg" alt="icon"> Our platforms</a></li>
                </ul>
                <div class="social-wrap">
                    <div class="social">
                        <a href="#" target="_blank" class="link-close">
                            <img src="./images/icons/facebook.svg" alt="icon">
                        </a>
                        <a href="#" target="_blank" class="link-close">
                            <img src="./images/icons/youtube.svg" alt="icon">
                        </a>
                        <a href="#" target="_blank" class="link-close">
                            <img src="./images/icons/insta.svg" alt="icon">
                        </a>
                        <a href="#" target="_blank" class="link-close">
                            <img src="./images/icons/twitter.svg" alt="icon">
                        </a>
                    </div>
                    <div class="our-contact">
                        <p class="cont-title">Our Contacts</p>
                        <a class="cont-link link-close" href="mailto:hello@maxraiting.com">hello@maxraiting.com</a>
                        <a class="cont-link link-close" href="tel:7196682648">719-668-2648</a>
                    </div>
                </div>
            </nav>
            <a class="btn link-close" href="#">Contact Us</a>
        </div>
    </div>
</header>