html {
    scroll-behavior: smooth;
}

body {
    background-color: $black0E;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1248px;
    padding: 0 16px;
    margin: 0 auto;
}

.main-btn {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 18px 32px;
    background-color: $green55;
    border: 1px solid $green55;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    font-family: $SF;
    color: $black1B;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    transition: $anim_03;

    &:hover {
        background-color: transparent;
        color: $green55;

        svg {
            stroke: $green55;
        }
    }

    svg {
        stroke: $black1B;
        transition: $anim_03;
    }
}

.title {
    font-family: $SF;
    color: $whiteFB;
    font-size: 64px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 20px;

    @include media ("<tablet") {
        font-size: 48px;
    }

    @include media ("<phone") {
        font-size: 36px;
    }

    .img-wrap {
        display: inline-block;
        width: 100px;
        height: 64px;
        border-radius: 49px;
        overflow: hidden;
        transform: translateY(13px);

        @include media ("<tablet") {
            width: 50px;
            height: 32px;
            transform: translateY(2px);
        }
    }
}

.text {
    font-family: $SF;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;

    @include media ("<phone") {
        font-size: 16px;
    }
}

.stiker {
    display: inline-block;
    background-color: rgba($green55, 0.12);
    border-radius: 20px;
    padding: 9px 24px;
    text-align: center;
    font-family: $SF;
    color: $green55;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
}

.img-wrap {
    position: relative;
    
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.animate__animated {
    --animate-duration: 1.5s;
}

/* -----------------------------main-section---------------------- */

.main-section {
    position: relative;
    min-height: 100vh;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &::after {
        content:'';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 188px;
        background: linear-gradient(180deg, rgba(14, 14, 14, 0.00) 0%, #0E0E0E 100%);
    }

    .main-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .main-title {
        max-width: 600px;
        margin: 0 auto 50px auto;
        font-family: $SF;
        font-size: 88px;
        font-weight: 600;
        line-height: 100%;

        @include media ("<tablet") {
            font-size: 68px;
        }

        @include media ("<phone") {
            font-size: 48px;
        }
    }

    .block {

        @include media ("<tablet") {
            display: none;
        }
    }

    .qr-wrap {
        display: flex;
        justify-content: center;
        gap: 18px;
        margin-bottom: 18px;
    }

    .text {
        max-width: 140px;
        margin: 0 auto;
    }

    .mouse {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;

        &:hover {

            svg {
                fill: $whiteFB;
            }
        }

        svg {
            fill: $grayAE;
            transition: $anim_03;
        }
    }

    .mouse2 {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        animation-name: arrow_tik;
        animation-duration: 2s;
        animation-timing-function: steps(3,start);
        animation-iteration-count: infinite;
    }

    @keyframes arrow_tik {
        0%{
            top: -2px;
        }
        100% {
            top: 12px;
        }
    }

    .block-btn {
        display: none;

        @include media ("<tablet") {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
        }
    }
}

/* ------------------------------how-section---------------------- */

.how-section {
    padding: 100px 0;

    @include media ("<phone") {
        padding: 80px 0 40px 0;
    }

    .container {
        position: relative;
    }

    .circle {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;

        @include media ("<tablet") {
            display: none;
            top: 65%;
        }

        &.mob {
            display: block;
        }   
    }   

    .content {
        display: flex;
        align-items: center;
        gap: 30px;

        @include media ("<desktop") {
            align-items: flex-end;
        }

        @include media ("<tablet") {
            flex-direction: column;
            gap: 50px;
        }
    }

    .title {
        margin-bottom: 64px;
        opacity: 0;
        transform: translateY(40px);

        @include media ("<tablet") {
            margin: 0 auto;
        }

        &.show {
            opacity: 1;
            transform: translate(0);
            transition: $anim_15;
        }
    }

    .slider-how-nav {
        position: relative;
        width: 100%;
        max-width: 580px;
        margin: 0;

        @include media ("<tablet") {
           display: none;
        }

        &.show {

            .item-nav {
                opacity: 1;
    
                &:nth-child(1) {
                    transition: opacity .5s ease 0s;
                }
    
                &:nth-child(2) {
                    transition: opacity .5s ease .3s;
                }
    
                &:nth-child(3) {
                    transition: opacity .5s ease .6s;
                }
    
                &:nth-child(4) {
                    transition: opacity .5s ease .9s;
                }
            }
    
            .top {
                opacity: 1;
                transition: opacity .5s ease .6s;
            }
    
            .mid {
                opacity: 1;
                transition: opacity .5s ease .9s;
            }
    
            .bot {
                opacity: 1;
                transition: opacity .5s ease 1.2s;
            }
        }

        .swiper-wrapper {
            display: flex;
            flex-wrap: wrap;
            row-gap: 56px;

            @include media ("<desktop") {
                flex-direction: column;
                gap: 20px;
            }
        }
    }

    .item-nav {
        height: auto;
        width: 100%;
        max-width: 232px;
        min-width: 232px;
        margin-left: 56px;
        transition: $anim_03;
        cursor: pointer;
        opacity: 0;

        @include media ("<desktop") {
            margin: 0;
            max-width: 100%;
        }

        &.first {
            margin: 0;
        }

        &:hover {
            .item-nav-content {
                border: 2px solid $green55;
            }
        }
    }

    .swiper-slide-thumb-active {

        .item-nav-content {
            border: 2px solid $green55;
        }
    }

    .item-nav-content {
        padding: 36px 22px;
        border-radius: 40px;
        border: 2px solid transparent;
        background-color: $black1B;
        transition: $anim_03;

        @include media ("<desktop") {
            padding: 22px;
        }

        @include media ("<tablet") {
            background: none;
            text-align: center;
            padding: 0;
            margin: 0 auto 30px auto;
            max-width: 208px;
        }

        .img {
            margin-bottom: 12px;
        }

        .text {
            margin: 0;
            font-family: $SF;
            font-size: 24px;
            font-weight: 600;
            line-height: 140%;

            @include media ("<phone") {
                font-size: 20px;
            }
        }
    }

    .line {
        position: absolute;
        z-index: -1;
        opacity: 0;

        @include media ("<desktop") {
            display: none;
        }

        &.top {
            top: 80px;
            left: 44%;
            transform: translate(-50%);
        }

        &.mid {
            top: 50%;
            left: 48%;
            transform: translate(-50%, -50%);
        }

        &.bot {
            bottom: 80px;
            left: 55%;
            transform: translate(-50%);
        }
    }

    .slider-how {
        width: 100%;
        max-width: 332px;
        opacity: 0;
        transform: translate(100px);
        transition: $anim_2;

        @include media ("<tablet") {
            opacity: 1;
            transform: translate(0);
            max-width: 100%;
        }

        &.show {
            opacity: 1;
            transform: translate(0);
            transition: $anim_15;
        }
    }

    .slide {

        .item-nav-content {

            @include media ("<tablet") {
                opacity: 0;
                transform: translateY(30px);
                transition: $anim_15;
            }
        }

        .slide-content {

            @include media ("<tablet") {
                opacity: 0;
                transform: translate(100px);
                transition: $anim_15;
            }
        }

        &.show {

            .item-nav-content {
                opacity: 1;
                transform: translate(0);
            }

            .slide-content {
                opacity: 1;
                transform: translate(0);
            }
        }
    }
    
    .swiper-slide-active {

        .slide-content {
            opacity: 1;
        }
    }

    .slide-content {
        position: relative;
        opacity: 0;
        transition: $anim_1;
        width: 332px;
        height: 660px;
        border-radius: 60px;
        overflow: hidden;
        margin: 0 auto;

        @include media ("<phone") {
            width: 219px;
            height: 436px;
            border-radius: 40px;
        }
    }

    .mockup {
        position: absolute;
        top: 0;
        left: 0;
        width: 332px;
        height: 660px;

        @include media ("<phone") {
            width: 219px;
            height: 436px;
        }
    }

    .video {
        width: 332px;
        height: 660px;
    }

    .mob {
        display: none;

        @include media ("<tablet") {
            display: block;
        }
    }
}

/* ------------------------------try-section---------------------- */

.try-section {
    padding: 100px 0;
    text-align: center;

    @include media ("<phone") {
        padding: 40px 0;
    }

    .text {
        max-width: 630px;
        margin: 0 auto 50px auto;
        line-height: 162%;
    }

    .content {
        position: relative;
        margin: 0 -16px;
    }

    .grad {
        position: absolute;
    }

    .grad1 {
        top: 0;
        left: 0;
        width: 100%;
        height: 230px;
        background: linear-gradient(180deg, #0E0E0E 0%, rgba(14, 14, 14, 0.00) 100%);

        @include media ("<tablet") {
            height: 83px;
        }
    }

    .grad2 {
        top: 0;
        right: 0;
        width: 230px;
        height: 100%;
        background: linear-gradient(270deg, #0E0E0E 0%, rgba(14, 14, 14, 0.00) 100%);

        @include media ("<desktop") {
            display: none;
        }
    }

    .grad3 {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 230px;
        background: linear-gradient(0deg, #0E0E0E 0%, rgba(14, 14, 14, 0.00) 100%);

        @include media ("<tablet") {
            height: 83px;
        }
    }

    .grad4 {
        top: 0;
        left: 0;
        width: 230px;
        height: 100%;
        background: linear-gradient(90deg, #0E0E0E 0%, rgba(14, 14, 14, 0.00) 100%);

        @include media ("<desktop") {
            display: none;
        }
    }
}

/* ------------------------------our-section----------------------- */

@mixin transition {
	@for $i from 1 through 100 {

		&:nth-child(#{$i}) {

			.slide-content {
				transition: all .7s #{$i * .3}s ease;
			}
		}
	}
}

.our-section {
    padding: 100px 0;
    text-align: center;

    @include media ("<phone") {
        padding: 40px 0;
    }

    .title {
        padding: 0 16px;
    }

    .text {
        max-width: 630px;
        margin: 0 auto 60px auto;
        line-height: 162%;
        padding: 0 16px;
    }

    .slide {
        display: flex;
        flex-direction: column;
        min-width: 216px;
        max-width: 216px;
        min-height: 500px;
        @include transition;

        @include media ("<phone") {
            min-width: 100px;
            max-width: 100px;
            min-height: 230px;
        }

        &:nth-child(1),
        &:nth-child(6n) {
            justify-content: center;
        }

        &:nth-child(2),
        &:nth-child(5n),
        &:nth-child(9n) {

            .slide-content {
                min-height: 280px;

                @include media ("<phone") {
                    min-height: 130px;
                }
            }
        }

        &:nth-child(3),
        &:nth-child(5n),
        &:nth-child(7n) {
            justify-content: flex-end;
        }

        &:nth-child(odd) {
            
            .slide-content {
                transform: translateY(50px);
                opacity: 0;
            }
        }

        &:nth-child(even) {

            .slide-content {
                transform: translateY(-50px);
                opacity: 0;
            }
        }
    }

    .slide-content {
        position: relative;
        min-width: 216px;
        min-height: 400px;
        border-radius: 50px;
        overflow: hidden;

        @include media ("<phone") {
            min-width: 100px;
            min-height: 190px;
            border-radius: 23px;
        }
    }
        
    .img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .show {

        .slide {
             
            &:nth-child(odd),
            &:nth-child(even) {
                
                .slide-content {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}

/* -----------------------------reviews-section--------------------- */

.reviews-section {
    padding: 100px 0;

    @include media ("<phone") {
        padding: 40px 0;
    }

    .container {
        text-align: center;
        padding: 0;
    }

    .stiker {
        margin-bottom: 36px;
    }

    .title {
        margin-bottom: 200px;
        line-height: 122%;
        padding: 0 16px;

        @include media ("<desktop") {
            margin-bottom: 80px;
        }

        @include media ("<phone") {
            font-size: 34px;
        }
    
        .img-wrap {
    
            @include media ("<phone") {
                transform: translateY(5px);
            }
        }
    }

    .block {
        position: relative;
        min-height: 600px;

        @include media ("<desktop") {
            display: flex;
        }

        @include media ("<phone") {
            min-height: 340px;
        }
    }

    .map-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .slider-reviews {
        min-height: 600px;
        overflow: inherit;

        @include media ("<desktop") {
            min-height: 0;
            overflow: hidden;
            margin: auto 0;
            padding: 0 45px;
        }
    }

    .slide {
        min-height: 600px;
        @include transition;

        @include media ("<desktop") {
            min-height: 0;
        }

        @include media (">desktop") {

            &:nth-child(1) {
                z-index: 1;
    
                .text-box {
                    top: 80%;
                }
    
                .slide-content {
                    left: 55%;
                    top: 33%;
    
                    &:hover {
                        
                        .text-box {
                            top: 130%;
                        }
                    }
                }
            }
    
            &:nth-child(2) {
                z-index: 2;
    
                .text-box {
                    bottom: 80%;
                }
    
                .slide-content {
                    left: 50%;
                    top: 60%;
    
                    &:hover {
                        
                        .text-box {
                            bottom: 130%;
                        }
                    }
                }
            }
    
            &:nth-child(3) {
                z-index: 3;
    
                .text-box {
                    top: 80%;
                }
    
                .slide-content {
                    left: 43%;
                    top: 26%;
    
                    &:hover {
                        
                        .text-box {
                            top: 130%;
                        }
                    }
                }
            }
    
            &:nth-child(4) {
                z-index: 4;
    
                .text-box {
                    bottom: 80%;
                }
    
                .slide-content {
                    left: 50%;
                    top: 44%;
    
                    &:hover {
                        
                        .text-box {
                            bottom: 130%;
                        }
                    }
                }
            }
    
            &:nth-child(5) {
                z-index: 5;
    
                .text-box {
                    bottom: 80%;
                }
    
                .slide-content {
                    left: 10%;
                    top: 65%;
    
                    &:hover {
                        
                        .text-box {
                            bottom: 130%;
                        }
                    }
                }
            }
        }
    }

    .slide-content {
        position: absolute;
        z-index: 1;
        cursor: pointer;
        opacity: 0;

        @include media ("<desktop") {
            position: relative;
        }

        &:hover {

            .slide-img {
                border: 3px solid $green55;
            }
            
            .text-box {
                opacity: 1;
            }
        }
    }

    .slide-img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid transparent;
        transition: $anim_03;

        @include media ("<desktop") {
            display: none;
        }
    }

    .text-box {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        opacity: 0;
        min-width: 224px;
        padding: 24px;
        border-radius: 30px;
        background: $black1B;
        transition: $anim_03;
        z-index: -1;
        pointer-events: none;

        @include media ("<desktop") {
            position: relative;
            left: auto;
            transform: none;
            opacity: 1;
            min-width: 0;
            z-index: 1;
            pointer-events: all;
        }
    }

    .name-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        margin-bottom: 6px;
    }

    .name {
        font-family: $SF;
        color: $whiteFB;
        font-size: 24px;
        font-weight: 600;
        margin: 0;
    }

    .rait {
        display: flex;
        align-items: center;
        gap: 4px;
        font-family: $SF;
        color: $green55;
        font-size: 18px;
        font-weight: 500;
        line-height: 111%;
    }

    .text {
        margin: 0;
        text-align: left;
        font-family: $SF;
        color: $grayAE;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }

    .arrow {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        @include media ("<desktop") {
            display: block;
        }

        &.prev {
            left: 30px;

        }

        &.next {
            right: 30px;
        }
    }

    .show {

        .slide-content {
            opacity: 1;
        }
    }

    .num-wrap {
        display: flex;
        justify-content: space-between;
        gap: 36px;
        padding: 0 16px;

        @include media ("<desktop") {
            flex-wrap: wrap;
        }
    }

    .item {
        text-align: left;

        @include media ("<desktop") {
            width: 45%;
            text-align: center;
        }

        @include media ("<550px") {
            width: 100%;
        }
    }

    .num {
        margin-bottom: 12px;
        font-family: $SF;
        color: $green55;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;

        @include media ("<phone") {
            font-size: 36px;
        }
    }

    .num-text {
        margin: 0;
        font-family: $SF;
        color: $whiteFB;
        font-size: 24px;
        font-weight: 500;
        line-height: 100%;

        @include media ("<phone") {
            font-size: 20px;
        }
    }
}