.footer {

    .container {
        max-width: 1352px;
    }

    .block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 28px;
        padding: 70px 0 30px 0;
        border-top: 1px solid rgba($whiteF4, .1);
        border-bottom: 1px solid rgba($whiteF4, .1);

        @include media ("<tablet") {
            flex-direction: column;
        }

        @include media ("<phone") {
            padding: 60px 0 25px 0;
        }
    }

    .logo {
        margin-right: 60px;

        @include media ("<tablet") {
            margin: 0;
        }
    }

    .menu {
        display: flex;
        gap: 48px;
        padding: 0;
        margin: 0;
        list-style: none;

        @include media ("<desktop") {
            gap: 20px;
        }

        @include media ("<phone") {
            text-align: center;
            flex-direction: column;
        }
    }

    .link {
        font-family: $SF;
        color: $whiteF4;
        font-size: 16px;
        font-weight: 400;
        line-height: 112%;
        transition: $anim_03;

        &:hover {
            color: $green55;
        }
    }

    .socials {
        display: flex;
        gap: 25px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .soc-link {

        svg {
            fill: $green55;
            transition: $anim_03;
        }

        &.insta {

            svg {
                fill: none;
                stroke: $green55;
            }
        }

        &:hover {

            svg {
                fill: $whiteF4;
            }
    
            &.insta {
    
                svg {
                    fill: none;
                    stroke: $whiteF4;
                }
            }
        }
    }

    .bot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 25px 0;

        @include media ("<tablet") {
            flex-direction: column-reverse;
        }
    }

    .text {
        color: $grayAE;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
    }

    .creator {
        display: flex;
        align-items: flex-end;
        gap: 10px;
        color: #625E5C;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;
        text-transform: uppercase;
        transition: $anim_03;
        margin-right: 100px;

        @include media ("<tablet") {
            margin: 0;
        }

        &:hover {
            color: $green55;
        }

        img {
            width: 100px;
        }
    }

    .privacy-link {
        transition: $anim_03;

        &:hover {
            color: $green55;
        }
    }
}