.main_ryan {
    .container {
        width: 100%;
        max-width: 1440px;
        padding: 0 60px;
        margin: 0 auto;

        @include media('<widescreen') {
            padding: 0 20px;
        }
    }
}

.about_ryan {

    .container {
        width: 100%;
        max-width: 1440px;
        padding: 0 60px;
        margin: 0 auto;

        @include media('<widescreen') {
            padding: 0 20px;
        }
    }

    padding-top: 0;

    @include media ("<desktop") {
        padding-top: 25px;
    }

    .container {
        position: relative;
    }

    .content {
        position: absolute;
        top: 25px;
        left: 20px;
        z-index: 1;

        @include media ("<desktop") {
            position: static;
        }
    }
}

@mixin on-circle($item-count, $circle-size, $item-size, $angle) {
    position: absolute;
    width: $circle-size + px;
    height: $circle-size + px;
    padding: 0;
    border-radius: 50%;
    list-style: none;

    >* {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: $item-size + px;
        height: $item-size + px;
        margin: -($item-size / 2) + px;

        $rot: -90;
        $itemTranslate: $circle-size / 2 - ($item-size / 2);

        @for $i from 1 through $item-count {
            &:nth-of-type(#{$i}) {
                transform:
                    rotate($rot * 1deg) translate($itemTranslate + px);
            }

            $rot: $rot+$angle;
        }
    }
}

@keyframes rotating {
    from {
        transform: rotate(360deg) translate(-50%, 0);
    }

    to {
        transform: rotate(0deg) translate(-50%, 0);
    }
}

.card-section {
    $cardCarouselWidth: 2200;
    $cardCarouselHeight: 2200;

    position: relative;
    padding-top: 25px;
    padding-bottom: 140px;
    overflow: hidden;
    min-height: 920px;
    background-color: transparent;

    @include media('<phone') {
        // min-height: 320px;
        min-height: 520px;
        padding-bottom: 100px;
    }

    .container {
        width: 100%;
        max-width: 1440px;
        padding: 0 60px;
        margin: 0 auto;

        @include media('<widescreen') {
            padding: 0 20px;
        }
    }

    .stars {
        position: absolute;
    }

    .star1 {
        width: 75px;
        height: 75px;
        top: 10%;
        right: 5%;
    }

    .star2 {
        width: 60px;
        height: 60px;
        top: 27%;
        right: 21%;
    }

    .star3 {
        width: 45px;
        height: 45px;
        top: 180px;
        right: 40%;
    }

    .star4 {
        width: 40px;
        height: 40px;
        top: 30%;
        left: 15%;
    }

    .star5 {
        width: 30px;
        height: 30px;
        top: 15%;
        left: 35%;
    }

    .circle {
        position: absolute;
        // bottom: -1900px;
        bottom: -1815px;
        left: 50%;
        transform: translateX(-50%);
        // width: 2100px;
        width: 200vw;
        height: 2100px;
        background-color: $yellowD0;
        border-radius: 50%;
        z-index: 2;

        @include media ("<desktop") {
            width: 1800px;
        }

        @include media('<phone') {
            bottom: -870px;
            width: 1000px;
            height: 1000px;
        }
    }

    .circle_dashed {
        position: absolute;
        bottom: -1815px;
        left: 50%;
        transform: translateX(-50%);
        width: 200vw;
        height: 2100px;
        background-color: transparent;
        border-radius: 50%;
        z-index: 2;
        border: 2px dashed #CF7C58;

        @include media ("<desktop") {
            width: 1800px;
            bottom: -1795px;
        }

        @include media('<phone') {
            bottom: -840px;
            width: 1000px;
            height: 1000px;
        }
    }

    .block {
        display: flex;
    }

    .card-holder {
        @include on-circle($item-count: 20, $circle-size: $cardCarouselWidth, $item-size: 320, $angle: 24);
        position: absolute;
        // top: 20px;
        top: 260px;
        left: 50%;
        transform: translate(-50%, 0);
        transform-origin: 0 $cardCarouselWidth / 2 + px;
        animation: rotating 150s linear infinite;

        @include media('<phone') {
            top: 200px;
            $cardCarouselWidth: 1300;
            $cardCarouselHeight: 900;
            transform-origin: 0 $cardCarouselWidth / 2 + px;
            @include on-circle($item-count: 20, $circle-size: $cardCarouselWidth, $item-size: 135, $angle: 24);
        }

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            transition: .15s;

            img {
                transform: rotate(90deg);
            }
        }
    }
}

.phone-section {

    .container {
        width: 100%;
        max-width: 1440px;
        padding: 0 60px;
        margin: 0 auto;

        @include media('<widescreen') {
            padding: 0 20px;
        }
    }

    padding-top: 25px;
    @include adaptiv-vaule("padding-bottom", 150, 75, 1);
    background-color: $yellowD0;
    position: relative;
    z-index: 2;
    border-top: 1px solid rgba(14, 14, 14, 0.2);

    @include media('<widescreen') {
        padding: 30px 0 70px 0;
    }

    .tip {
        color: $black;
        margin-bottom: 0;
    }

    .container {
        position: relative;
    }

    .steps {
        padding: 0;
        margin: 0;
    }

    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 100px 0 200px 0;
        margin: 0;
        list-style: none;
        gap: 20px;

        &:last-child {
            padding: 100px 0 0 0;
        }

        @include media('<widescreen') {
            position: relative;
            flex-direction: column;
            text-align: center;
            padding: 30px 0;
        }

        @include media('<phone') {
            align-items: flex-start;
        }

        &:last-child {

            .kids {
                margin: 0;
            }
        }
    }

    .description {
        width: 50%;
        max-width: 460px;

        @include media('<1400px') {
            width: 30%;
        }

        @include media('<widescreen') {
            width: 100%;
            max-width: 100%;
            margin-bottom: 24px;
        }
    }

    .stiker {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        padding: 6px 16px;
        border-radius: 160px;
        background: rgba(22, 22, 19, 0.04);
        margin-bottom: 20px;
    }

    .step-text {
        margin: 0;
        color: #161613;
        // font-family: $Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;

        @include media('<phone') {
            font-size: 14px;
        }
    }

    .title {
        color: #161613;
        // font-family: $Recoleta;
        font-size: 52px;
        font-weight: 700;
        line-height: 113%;
        margin-bottom: 20px;

        @include media('<desktop') {
            font-size: 42px;
        }

        @include media('<phone') {
            font-size: 28px;
        }

        span {
            color: rgba(22, 22, 19, 0.35);
        }
    }

    .text {
        color: rgba(22, 22, 19, 0.75);
        // font-family: $Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 155%;
        margin-bottom: 36px;

        @include media('<phone') {
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    .btn-orange {

        &.mobile {
            display: none;

            @include media('<phone') {
                display: none;
                position: fixed;
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 500;

                &.active {
                    display: inline-flex;
                }
            }
        }

        @include media('<phone') {
            display: none;
        }
    }

    .anim {
        position: relative;
        width: 290px;
        overflow: hidden;
        border-radius: 55px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 185px;
            background: linear-gradient(0deg, #F6E9D0 15.10%, rgba(246, 233, 208, 0.00) 100%);
            z-index: 2;
            display: none;

            @include media('<widescreen') {
                display: block;
            }
        }
    }

    .iphone_mockup {
        position: relative;
        z-index: 1;
    }

    .img-step {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 265px;
    }

    .kids-wrap {
        overflow: hidden;
        width: 460px;

        @include media('<widescreen') {
            width: 265px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }

        @include media('<phone') {
            justify-content: flex-end;
            margin: 0 0 0 auto;
        }
    }

    .kids {
        width: 100%;
        margin: -10px;

        @include media('<widescreen') {
            width: 280px;
        }
    }
}

.works_img{
    width: 100%;

    img{
        width: 100%;
    }
}

.voice_ryan {
    .container {
        width: 100%;
        max-width: 1440px;
        padding: 0 60px;
        margin: 0 auto;

        @include media('<widescreen') {
            padding: 0 20px;
        }
    }

    border: none;

    .about_text {
        max-width: 750px;
    }

    .swiper_voice {
        border: none;
        padding-bottom: 120px;
        position: relative;


        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 10%;
            z-index: 2;
            height: 100%;
        }

        &::before {
            left: 0;
            background: linear-gradient(270deg, rgba(14, 14, 14, 0.00) 0%, #0E0E0E 100%);
        }

        &::after {
            right: 0;
            background: linear-gradient(90deg, rgba(14, 14, 14, 0.00) 0%, #0E0E0E 100%);
        }
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slide_img {
        @include adaptiv-vaule("width", 220, 185, 1);
        @include adaptiv-vaule("height", 220, 185, 1);
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 15px;
        position: relative;
        padding: 0;
    }

    .play_btn {
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        @include adaptiv-vaule("width", 80, 35, 1);
        @include adaptiv-vaule("height", 80, 35, 1);
    }

    .play {
        transition: $transition_all_03;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    .playInactive {
        transform: translate(-50%, -50%) scale(0);
        transition: $transition_all_03;
    }

    .pause {
        width: 100%;
        height: 100%;
        transition: $transition_all_03;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
    }

    .pauseActive {
        transform: translate(-50%, -50%) scale(1);
        transition: $transition_all_03;
    }

    .name {
        color: $beige_FB;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 58.76px;
        text-align: center;
    }
}

.ryan_fairy {
    .container {
        width: 100%;
        max-width: 1440px;
        padding: 0 60px;
        margin: 0 auto;

        @include media('<widescreen') {
            padding: 0 20px;
        }
    }

    @include adaptiv-vaule("padding-top", 40, 30, 1);
    @include adaptiv-vaule("padding-bottom", 160, 70, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    .innovation_title {
        max-width: 750px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }

    .innovation_image {
        width: 100%;
        position: relative;
        top: -40px;
        @include adaptiv-vaule("top", -40, 0, 1);

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.page_ryan {
    .container {
        width: 100%;
        max-width: 1440px;
        padding: 0 60px;
        margin: 0 auto;

        @include media('<widescreen') {
            padding: 0 20px;
        }
    }

    .about_img {
        &::before {
            display: block;
            @include adaptiv-vaule("height", 150, 30, 1);
        }

        &::after {
            @include adaptiv-vaule("height", 150, 30, 1);
        }
    }
}

.typography_ryan {
    .container {
        width: 100%;
        max-width: 1440px;
        padding: 0 60px;
        margin: 0 auto;

        @include media('<widescreen') {
            padding: 0 20px;
        }
    }

    border: none;

    .gradient_block {
        background: linear-gradient(90deg, #27282A 0%, #918B7F 12.5%, #F6E9D0 24.48%, #FAF5EA 50.03%, #CF7C58 76.04%, #27282A 100%);

        @include media ("<phone_max") {
            background: linear-gradient(180deg, #27282A 0%, #918B7F 12.5%, #F6E9D0 24.48%, #FAF5EA 50.03%, #CF7C58 76.04%, #27282A 100%);
        }
    }
}

.feel_ryan {
    @include adaptiv-vaule("padding-top", 40, 30, 1);
    @include adaptiv-vaule("padding-bottom", 105, 55, 1);

    .feel_img {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.ryan_result {
    .first_btn {
        margin-bottom: 20px;
    }
}