@font-face {
    font-family: "TTFirsNeue";
    src: url("../fonts/TTFirsNeue-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "TTFirsNeue";
    src: url("../fonts/TTFirsNeue-Medium.ttf");
    font-style: medium;
    font-weight: 500;
}

@font-face {
    font-family: "TTFirsNeue";
    src: url("../fonts/TTFirsNeue-DemiBold.ttf");
    font-style: bold;
    font-weight: 600;
}