.modal-img{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.modal-img_active{
    display: flex;
    
    animation-name: imgPopup;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    
    @keyframes imgPopup {
        0%{
            opacity: 0;
        }
    
        100%{
            opacity: 1;
        }
    }
}

.modal-img__overflow{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.3);
    z-index: 1;
}

.modal-img__img-wrap{
    position: relative;
    width: 100%;
    max-width: 80vw;
    height: 80vh;
    z-index: 2;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 5px;

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }
}

.modal-btn-close{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    right: 0;
    background-color: #fff;

    span{
        position: absolute;
        height: 2px;
        background-color: black;
        top: 12px;
        left: 3px;

        &:first-child{
            animation-name: firstSpan;
            animation-delay:.3s;
            animation-duration: .7s;
            animation-fill-mode: forwards;
    
            @keyframes firstSpan {
                0%{
                    width: 0px;
                }
                
                50%{
                    width: 20px;
                    transform: rotate(0deg);
                }

                100%{
                    width: 20px;
                    transform: rotate(45deg);
                }
            }
        }

        &:last-child{
            animation-name: lastSpan;
            animation-delay:.3s;
            animation-duration: .7s;
            animation-fill-mode: forwards;
    
            @keyframes lastSpan {
                0%{
                    width: 0px;
                }
                
                50%{
                    width: 20px;
                    transform: rotate(0deg);
                }

                100%{
                    width: 20px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}