<section class="main-slider-section anim">
    <span class="stiker">Scroll</span>
    <div class="container">
        <div class="bg">
            <img src="./images/icons/gerb.svg" alt="icon">
        </div>
        <div class="main-slider swiper">
            <div class="swiper-wrapper">
                <div class="slide swiper-slide">
                    <div class="title-wrap anim">
                        <h2 class="title">Veneers</h2>
                    </div>
                    <div class="content">
                        <div class="img-cont wow animate__animated animate__fadeInLeft">
                            <img class="img" src="./images/main-page/1.jpg" alt="img">
                        </div>
                        <div class="text wow animate__animated animate__fadeIn">
                            <p class="description">
                                We can convert that unattractive smile to a beautiful one you love to show off. Whether the problem is broken or missing teeth, discolored teeth or a crooked smile, we can quickly get you started on the road to a beautiful, even and healthier smile.
                            </p>
                            <a class="line-btn" href="#">
                                schedule a consult
                                <img class="icon-arrow" src="./images/icons/arrow.svg" alt="icon">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="slide swiper-slide">
                    <div class="title-wrap show">
                        <h2 class="title">Implants</h2>
                    </div>
                    <div class="content">
                        <div class="img-cont">
                            <img class="img" src="./images/main-page/2.jpg" alt="img">
                        </div>
                        <div class="text">
                            <p class="description">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi fuga alias minus necessitatibus sint, ullam maxime veniam accusamus et, rerum assumenda eos magnam a. Culpa distinctio placeat sed odio magnam.
                            </p>
                            <a class="line-btn" href="#">
                                schedule a consult
                                <img class="icon-arrow" src="./images/icons/arrow.svg" alt="icon">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="slide swiper-slide">
                    <div class="title-wrap show">
                        <h2 class="title">Invise Line</h2>
                    </div>
                    <div class="content">
                        <div class="img-cont">
                            <img class="img" src="./images/main-page/3.jpg" alt="img">
                        </div>
                        <div class="text">
                            <p class="description">
                                We can convert that unattractive smile to a beautiful one you love to show off. Whether the probleLorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi fuga alias minus necessitatibus sint, ullam maxime veniam accusamus et, rerum assumenda eos magnam a. Culpa distinctio placeat sed odio magnam..
                            </p>
                            <a class="line-btn" href="#">
                                schedule a consult
                                <img class="icon-arrow" src="./images/icons/arrow.svg" alt="icon">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="slide swiper-slide">
                    <div class="title-wrap show">
                        <h2 class="title">Bad breath</h2>
                    </div>
                    <div class="content">
                        <div class="img-cont">
                            <img class="img" src="./images/main-page/4.jpg" alt="img">
                        </div>
                        <div class="text">
                            <p class="description">
                               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi fuga alias minus necessitatibus sint, ullam maxime veniam accusamus et, rerum assumenda eos magnam a. Culpa distinctio placeat sed odio magnam.road to a beautiful, even and healthier smile.
                            </p>
                            <a class="line-btn" href="#">
                                schedule a consult
                                <img class="icon-arrow" src="./images/icons/arrow.svg" alt="icon">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination" id="pagination"></div>
        </div>
    </div>
</section>