<section class="reviews-slider-section">
    <div class="container">
        <div class="title-wrap anim">
            <h2 class="title">Patient Reviews</h2>
        </div>
        <div class="reviews-slider swiper">
            <div class="swiper-wrapper">
                <div class="slide swiper-slide">
                    <div class="content">
                        <div class="reait">
                            <div class="text anim">
                                <img src="./images/icons/google.svg" alt="icon">
                                <span class="labe">Google reviews</span>
                            </div>
                            <div class="stars">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" alt="icon">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" data-wow-delay=".3s" alt="icon">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" data-wow-delay=".6s" alt="icon">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" data-wow-delay=".9s" alt="icon">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" data-wow-delay="1.2s" alt="icon">
                            </div>
                        </div>
                        <p class="discription wow animate__animated animate__fadeIn">I had my wisdom teeth removed yesterday and I don’t have enough words to describe how caring and patient they are, they make you feel very comfortable and welcomed. My experience with them was.</p>
                        <div class="user-wrap anim">
                            <div class="user-img img-wrap">
                                <img class="img" src="./images/reviews-page/user.jpg" alt="foto">
                            </div>
                            <span class="name">Claudia N.</span>
                        </div>
                    </div>
                </div>
                <div class="slide swiper-slide">
                    <div class="content">
                        <div class="reait">
                            <div class="text anim">
                                <img src="./images/icons/google.svg" alt="icon">
                                <span class="labe">Google reviews</span>
                            </div>
                            <div class="stars">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" alt="icon">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" data-wow-delay=".3s" alt="icon">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" data-wow-delay=".6s" alt="icon">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" data-wow-delay=".9s" alt="icon">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" data-wow-delay="1.2s" alt="icon">
                            </div>
                        </div>
                        <p class="discription wow animate__animated animate__fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odio soluta sequi numquam, distinctio saepe nulla autem? Consequuntur a veniam reprehenderit ut, voluptatem aspernatur illum inventore officiis eos! Ipsum, rerum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita blanditiis accusantium laudantium exercitationem commodi tenetur ipsum enim saepe, nobis ut asperiores rem quibusdam ab assumenda, autem cumque veritatis incidunt!</p>
                        <div class="user-wrap anim">
                            <div class="user-img img-wrap">
                                <img class="img" src="./images/reviews-page/user.jpg" alt="foto">
                            </div>
                            <span class="name">Claudia N.</span>
                        </div>
                    </div>
                </div>
                <div class="slide swiper-slide">
                    <div class="content">
                        <div class="reait">
                            <div class="text anim">
                                <img src="./images/icons/google.svg" alt="icon">
                                <span class="labe">Google reviews</span>
                            </div>
                            <div class="stars">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" alt="icon">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" data-wow-delay=".3s" alt="icon">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" data-wow-delay=".6s" alt="icon">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" data-wow-delay=".9s" alt="icon">
                                <img class="star wow animate__animated animate__fadeIn" src="./images/icons/star.svg" data-wow-delay="1.2s" alt="icon">
                            </div>
                        </div>
                        <p class="discription wow animate__animated animate__fadeIn">I had my wisdom teeth removed yesterday and I don’t have enough words to describe how caring and patient they are, they make you feel very comfortable and welcomed. My experience with them was.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odio soluta sequi numquam, distinctio saepe nulla autem? Consequuntur a veniam reprehenderit ut, voluptatem aspernatur illum inventore officiis eos! Ipsum, rerum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita blanditiis accusantium laud</p>
                        <div class="user-wrap anim">
                            <div class="user-img img-wrap">
                                <img class="img" src="./images/reviews-page/user.jpg" alt="foto">
                            </div>
                            <span class="name">Claudia N.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews-swiper-pagination"></div>
    </div>
</section>