<header id="header">
    <div class="container">
        <div class="content">
            <a href="index.html" class="logo">
                <img class="dark" src="./images/icons/dark-logo.svg" alt="logo">
                <img class="light" src="./images/icons/logo.svg" alt="logo">
            </a>
            <div class="overflow backdrop"></div>
            <nav class="menu-wrap">
                <ul class="menu">
                    <li class="menu-item home-item">
                        <a class="link" href="index.html" data-id-nav="index" data-localization="mainPage">Главная</a>
                    </li>
                    <li class="menu-item">
                        <a class="link" href="test-page.html" data-id-nav="test-page" data-localization="testPage">Тест</a>
                    </li>
                    <li class="menu-item">
                        <a class="link" href="management-page.html" data-id-nav="management-page">Outstress management</a>
                    </li>
                    <li class="menu-item">
                        <a class="link" href="service-page.html" data-id-nav="service-page"  data-localization="servicesPage">Услуги</a>
                    </li>
                    <li class="menu-item">
                        <a class="link" href="reviews-page.html" data-id-nav="reviews-page" data-localization="reviewsPage">Отзывы</a>
                    </li>
                    <li class="menu-item">
                        <a class="link" href="books-page.html" data-id-nav="books-page" data-localization="booksPage">Книги</a>
                    </li>
                    <li class="menu-item">
                        <a class="link" href="aboutUs-page.html" data-id-nav="aboutUs-page" data-localization="aboutUsPage">О нас</a>
                    </li>
                    <li class="menu-item">
                        <a class="link" href="contact-page.html" data-id-nav="contact-page" data-localization="contactPage">Контакты</a>
                    </li>
                </ul>
                //= language-select.html
            </nav>
            <button class="burger">
            </button>
        </div>
    </div>
</header>