html {
    scroll-behavior: smooth;   
}

body {
    background-color: $white;
}

.body_lock {
    overflow: hidden;
}

#wrapper {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

/* -------------------------main-section------------------ */

.main-section {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 200px 0;

    .container {
        text-align: center;
    }

    .logo {
        margin-bottom: 30px;
    }

    .main-title {
        color: $black1B;
        font-family: $Arimo;
        font-size: 54px;
        font-weight: 600;
        line-height: 108%;
        margin-bottom: 24px;
    }

    .text {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        color: $black1B;
        font-family: $Montserrat;
        font-size: 22px;
        font-weight: 400;
    }
}