html {
    scroll-behavior: smooth;   
}

body {
    background-color: $white;
}

.body_lock {
    overflow: hidden;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-btn {
    border-radius: 40px;
    background: $blueFE;
    padding: 19px 25px;
    text-align: center;
    color: $white;
    font-family: $Arimo;
    font-size: 22px;
    font-weight: 400;
    transition: $all_03;

    @include media('<phone'){
        font-size: 16px;
    }

    &:hover {
        background-color: $yellow;
        color: $blueFE;
    }
}

/* -------------------------main-section------------------ */

.main-section {
    position: relative;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 200px 0;
    overflow: hidden;

    @include media('<tablet'){
        padding: 100px 0 ;
    }

    &::after,
    &::before {
        content:'';
        position: absolute;
        bottom: -1100px;
        width: 1408px;
        height: 1400px;
        border-radius: 50%;
        z-index: -1;
        filter: blur(100px);

        @include media('<tablet'){
            width: 708px;
            height: 700px;
            bottom: -500px;
        }
    }

    &::after {       
        right: -40%;
        background: rgb(255,229,0);
        background: radial-gradient(circle, rgba(255, 230, 0, 0.5) 0%, rgba(0,212,255,0) 100%);

        @include media('<desktop'){
            right: -80%;
        }

        @include media('<phone'){
            right: -100%;
        }
    }

    &::before {
        left: -40%;
        background: rgb(15,110,254);
        background: radial-gradient(circle, rgba(15,110,254,0.500437675070028) 0%, rgba(0,212,255,0) 100%);

        @include media('<desktop'){
            left: -80%;
        }

        @include media('<phone'){
            left: -100%;
        }
    }

    .container {
        text-align: center;
    }

    .logo {
        margin-bottom: 30px;
    }

    .main-title {
        color: $black1B;
        font-family: $Arimo;
        font-weight: 600;
        line-height: 108%;
        margin-bottom: 24px;
        @include adaptiv-vaule("font-size", 54, 26, 1);
    }

    .text {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        color: $black1B;
        font-family: $Montserrat;
        font-size: 22px;
        font-weight: 400;

        @include media('<tablet'){
            font-size: 18px;
        }
    }

    .circle {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: -1400px;
        width: 2884px;
        height: 1559px;
        border-radius: 50%;
        background-color: $white;

        @include media('<tablet'){
            bottom: -700px;
            width: 1484px;
            height: 759px;
        }
    }
}

/* ------------------------about-section------------------ */

.about-section {
    padding: 120px 0;
    margin-top: 50px;
    background-color: $whiteF6;
    border-radius: 52px;

    @include media('<tablet'){
        padding: 60px 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        gap: 28px;

        @include media('<desktop'){
            flex-direction: column;
        }
    }

    .block {
        padding: 40px 20px;
        background-color: $white;
        border-radius: 24px;

        @include media('<tablet'){
            padding: 20px;
        }
    }

    .title {
        color: $black1B;
        font-family: $Arimo;
        font-size: 40px;
        font-weight: 600;
        line-height: 140%;
        margin-bottom: 12px;
        @include adaptiv-vaule("font-size", 40, 24, 1);
    }

    .text {
        color: $gray57;
        font-family: $Montserrat;
        font-weight: 500;
        line-height: 140%;
        margin-bottom: 40px;
        @include adaptiv-vaule("font-size", 22, 16, 1);
    }

    .img-wrap {
        position: relative;
        width: 100%;
        min-height: 340px;
        border-radius: 20px;
        overflow: hidden;

        @include media('<desktop'){
            min-height: 440px;
        }

        @include media('<phone'){
            min-height: 240px;
        }
        
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* -------------------------help-section------------------ */

.help-section {
    padding: 120px 0;

    @include media('<tablet'){
        padding: 60px 0;
    }

    .title {
        color: $black1B;
        font-family: $Arimo;
        font-weight: 600;
        line-height: 140%;
        margin-bottom: 40px;
        @include adaptiv-vaule("font-size", 54, 28, 1);
    }

    .text {
        color: $gray57;
        font-family: $Montserrat;
        font-size: 22px;
        font-weight: 500;
        line-height: 140%;
        margin-bottom: 50px;
        max-width: 850px;

        @include media('<tablet'){
            font-size: 16px;
            margin-bottom: 24px;
        }
    }

    .sub-text {
        position: relative;
        color: $gray57;
        font-family: $Montserrat;
        font-size: 22px;
        font-weight: 400;
        padding-top: 24px;
        margin-bottom: 40px;
        max-width: 850px;

        @include media('<tablet'){
            font-size: 16px;
        }

        &::after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 350px;
            height: 1px;
            background-color:  rgba(201, 204, 206, 0.80);

            @include media('<phone'){
                width: 80%;
            }
        }
    }

    .block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 24px;
    }

    .item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding: 24px;
        border-radius: 20px;
        overflow: hidden;
        min-height: 320px;

        &::after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            background: #001D4A;
            z-index: -1;
        }

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(7) {
            grid-column: span 2;

            @include media('<desktop'){
                grid-column: span 1;
            }
        }
    }

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .number {
        color: $white;
        font-family: $Arimo;
        font-size: 20px;
        font-weight: 500;
    }

    .sec-title {
        color: $white;
        font-family: $Arimo;
        font-weight: 600;
        @include adaptiv-vaule("font-size", 28, 18, 1);
    }
}

/* ----------------------consultants-section-------------- */

.consultants-section {
    padding: 120px 0;

    @include media('<tablet'){
        padding: 60px 0;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;

        @include media('<desktop'){
            flex-direction: column;
        }
    }

    .text-box {
        width: 50%;

        @include media('<desktop'){
            width: 100%;
        }
    }

    .text {
        color: $gray57;
        font-family: $Montserrat;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 40px;

        @include media('<tablet'){
            font-size: 16px;
        }

        &.t5 {
            font-weight: 500;
        }
    }

    .icon {
        margin-bottom: 24px;
    }

    .booking-box {
        position: relative;
    }

    .main-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 360px;
        z-index: 1;

        @include media('<phone'){
            min-width: max-content;
        }
    }
}

/* ------------------------partners-section--------------- */

.partners-section {
    padding: 120px 0;

    @include media('<tablet'){
        padding: 60px 0;
    }

    .title {
        color: $black1B;
        font-family: $Arimo;
        font-weight: 600;
        line-height: 140%;
        @include adaptiv-vaule("font-size", 54, 28, 1);
        margin-bottom: 40px;
    }

    .block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
    }
}