.about_max_ratings {

    .about_img {

        &::before {
            display: block;
            @include adaptiv-vaule("height", 100, 30, 1);
        }
    }
}

.logo_max_ratings {
    .about_img {

        &::before,
        &::after {
            display: none;

        }
    }
}

.typography_max_ratings {

    .gradient_block {
        background: linear-gradient(90deg, #000 0%, #F84F38 50.03%, #FFF 100%);


        @include media ("<phone_max") {
            background: linear-gradient(180deg, #000 0%, #F84F38 50.03%, #FFF 100%);
        }
    }

    .color_name {
        &:last-child {
            color: $black;
        }
    }
}

.mobile_max_ratings{
    .about_img{
        &::before{
            display: block;
        }
    }
}

.reviews_max_retings {
    position: relative;

    .reviews_img {
        position: relative;
        height: 650px;

        @include media ("<phone_max") {
            height: 250px;
        }

        &::after,
        &::before {
            z-index: 1;
        }

        &::after {
            @include adaptiv-vaule("height", 400, 200, 1);
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .cart {
        position: relative;
        padding: 16px 16px 40px 16px;
        background: linear-gradient(111.9deg, #F84F38 0%, #F87D38 97.63%);
        border-radius: 24px;
        margin: 0;
        width: 100%;
        max-width: 275px;
        transition: all .7s ease 0s;

        @include media('<tablet') {
            padding: 20px;
        }
    }

    .discription {
        margin: 0 0 15px 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.6;
        min-height: 60px;
        max-height: 60px;
        overflow: hidden;

        @include media('<tablet') {
            font-size: 16px;
            margin: 0 0 10px 0;
            min-height: 55px;
            max-height: 55px;
        }

        @include media('<phone') {
            font-size: 12px;
            min-height: 40px;
            max-height: 40px;
        }
    }

    .reiting {
        text-align: center;

        img {
            margin: 0 8px;

            @include media('<tablet') {
                width: 18px;
                height: 18px;
                margin: 0 6px;
            }
        }
    }

    .img-wrap {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translate(-50%);
        width: 52px;
        height: 52px;
        border: 2px solid $black;
        filter: drop-shadow(0px -3px 14px rgba(0, 0, 0, 0.25));
        border-radius: 50%;
        overflow: hidden;

        @include media('<tablet') {
            width: 32px;
            height: 32px;
            bottom: -25px;
        }
    }

    .main-slider {
        bottom: 70px;
        padding: 0;
        @include adaptiv-vaule("padding-top", 100, 50, 1);
        @include adaptiv-vaule("padding-bottom", 100, 50, 1);

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 30%;
            height: 100%;
            background: linear-gradient(270deg, rgba(14, 14, 14, 0.00) 0%, #0E0E0E 100%);
            z-index: 2;

            @include media('<laptop') {
                width: 10%;
            }
        }

        &::before {
            left: -5px;
        }

        &::after {
            right: -5px;
            // transform: rotate(180deg);
            background: linear-gradient(90deg, rgba(14, 14, 14, 0.00) 0%, #0E0E0E 100%);
        }

    }

    .swiper-slide {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: all .7s ease 0s;
        transform: scale(0.9);
    }

    .swiper-slide-active {
        z-index: 3;
        transform: scale(1.3);
        cursor: pointer;
    }

    .swiper-slide-prev,
    .swiper-slide-next {
        transition: all .7s ease 0s;
    }
}