.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, .6);
    z-index: 5000;
}

.overlay-visible {
    display: block;
}

.login-popup, .singup-popup {
    position: fixed;
    width: 100%;
    max-width: 600px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 6000;
    background: linear-gradient(180deg, rgba(39,17,57,1) 0%, rgba(150,117,92,1) 100%);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    padding: 100px 50px 50px;
    margin: 0 auto;

    .popup-btn-close {
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        z-index: 3;
        top: 15px;
        left: 15px;
        background-color: $btn-closs-color;
        cursor: pointer;

        .line1, .line2 {
            position: absolute;
            background-color: $white;
            height: 2px;
            width: 8px;
            left: 35%;
        }

        .line1 {
            transform: rotate(45deg);
            top: 23px;
        }

        .line2 {
            transform: rotate(-45deg);
            top: 17px;
        }
    }

    .login-content, .singup-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;
    }

    .login-title, .singup-title {
        margin: 30px 0;
        opacity: 70%;
    }

    .login-form, .singup-form {
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
            margin-bottom: 20px;
            width: 100%;
            padding: 10px;
            background: rgba(0, 0, 0, 0);
            color: $white;
            border: 3px solid $border-popup;

            &:focus {
                outline: none;
                border: 3px solid $border-popup;
            }

            &::placeholder {
                color: $white;
            }
        }

        .form-btn {
            border: 3px solid $border-popup;
            border-radius: 3px;
            background-color: $form-btn-color;
            padding: 10px;
            transition: all 200ms ease 0s;
            margin-bottom: 30px;

            &:hover {
                background-color: $border-popup;
                transition: all 200ms ease 0s;
            }
        }
    }

    .text-account {
        
        .account-link {
            text-decoration: underline;
        }
    }
}

.popup {
    display: none;
}

.popup-active {
    display: block;
}

/* .btn-closs {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    z-index: 3;
    top: 15px;
    right: 15px;
    cursor: pointer;

    &:hover {
        span {
            background-color: $orange;
        }

        &::before {
            background-color:$orange;
        }
    }

    span{
        position: absolute;
        background-color: rgba(210, 210, 210, 1);
        width: 100%;
        height: 2px;
        top: 9px;
        animation-name: line;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    &::before {
        content:'';
        position: absolute;
        background-color: rgba(210, 210, 210, 1);
        width: 100%;
        height: 2px;
        top: 9px;
        animation-name: line2;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes line {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(45deg);
        }
    }

    @keyframes line2 {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(-45deg);
        }
    }
} */