.body-lock {
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    margin-bottom: 25px;
    letter-spacing: 9px;
}

h2 {
    margin-bottom: 0;
}

h3 {
    margin-bottom: 30px;
    letter-spacing: 1px;
    position: relative;
            
    &::after {
        content:'';
        position: absolute;
        width: 90px;
        height: 2px;
        background-color: $pink;
        top: 30px;
        left: 50%;
        transform:translateX(-50%);
    }
}

p {
    opacity: 50%;
    line-height: 1.5;
    margin: 0;
}

.main-btn {
    width: 100%;
    max-width: 286px;
    padding: 20px 0;
    font-size: 18px;
    color: $white;
    font-weight: bold;
    border: 3px solid $white;
    border-radius: 5px; 
    margin: 0 auto;
    transition: all 0.5s ease 0s;

    &:hover {
        color: black;
        background: $white;
        transition: all 0.5s ease 0s;
    }
}

a { 
    color: $white;
}

/* ____________________________main-section_____________________ */

.main-section {
    background: url(../images/main-bg.jpg) 50% 0/cover no-repeat;
    padding: 360px 0 240px 0;
    font-family:'Lato';

    .main-content {
        text-align: center;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h1 {

            @include media ('<phone'){
                font-size: 50px;
            }
        }

        h2 {

            @include media ('<phone'){
                font-size: 20px;
            }
        }
    }

    .second-title {
        font-family: 'Times New Roman';
        font-style:italic;
        opacity: 80%;
        letter-spacing: 3px;
    }

    .main-subtitle {
        margin-top: 40px;
        opacity: 80%;
        
        span {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}

/* ____________________________get-section_________________________ */

.get-section {
    padding: 100px 0;

    @include media ('<tablet') {
        padding: 0 0 40px 0;
    }

    .get-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        @include media ('<tablet') {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    
    .get-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 390px;
        padding: 0 15px;
        
        @include media ('<tablet') {
            margin-top: 40px;
        }

        .get-logo-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 105px;
            width: 105px;
            border-radius: 50%;
            border: 3px solid $black;
            margin-bottom: 20px;
        }
    }
}

/* ____________________________phone-section_________________________ */

.phone-section {
    background: $white-bg;
    padding: 100px 0 0 0;

    .phone-content {
        display: flex;

        @include media ('<desktop') {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .phone-img-wrap {
        width: 50%;

        img {
            display: block;
            margin: 0 auto;
        }

        @include media ('<desktop') {
            order: 2;
            width: 100%;
        }
    }

    .phone-text-wrap{
        width: 50%;
        margin: 80px 0 20px 75px;
        text-align: justify;

        @include media ('<desktop') {
            order: 1;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 40px;
            text-align: center;
        }

        h3 {

            &::after {
                left: 0;
                transform: none;

                @include media ('<desktop') {
                    left: 50%;
                    transform: translate(-50%);
                }
            }
        }

        .link-wrap {
            display: flex;
            margin: 30px 0 0 0;

            @include media ('<desktop') {
                justify-content: center;
            }

            .link-app {
                margin-right: 10px;
            }
        }
    }
}

/* ____________________________reviews-section________________________ */

.reviews-section {

    .swiper-slide {
        background: url(../images/slide-bg.png) center no-repeat, $purple;
    }
    
    .slide-content {
        padding: 80px 0 130px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .slide-text-wrap {
        opacity: 50%;
        color: $white;
        font-family:"Lato Hairline";
        max-width: 980px;

        h4 {
            font-family:"Lato Hairline";
            font-weight: 100;
            margin: 20px 0;
            line-height: 1.5;
        }

        p {
            opacity: 100%;
            font-style: italic;
        }
    }

    .swiper-container {

        .swiper-pagination {
            bottom: 80px;

            .swiper-pagination-bullet {
                background-color: $white-bg;
            }
            
            .swiper-pagination-bullet-active {
                background-color: $white;
            }
        }
    }
}

/* ____________________________cuisines-section________________________ */

.cuisines-section {
    padding: 100px 0 60px 0;

    .cuisines-content {
        text-align: center;

        h3 {
            margin-bottom: 50px;
        }
    }

    .cuisines-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1600px;
        margin: 0 auto;
    }

    .cuisines-item-wrap {
        width: 100%;
        max-width: 320px;
        padding: 75px 0 100px 0;
        color: $white;

        p {
            font-family: 'Times New Roman';
            font-style: italic;
            font-size: 15px;
            opacity: 80%;
        }

        h2 {
            letter-spacing: 3px;
        }
    }

    .cu-item1 {
        background: url(../images/restaurants/italian.png) 50% 50%/cover no-repeat;
    }

    .cu-item2 {
        background: url(../images/restaurants/indian.png) 50% 50%/cover no-repeat;
    }

    .cu-item3 {
        background: url(../images/restaurants/french.png) 50% 50%/cover no-repeat;
    }

    .cu-item4 {
        background: url(../images/restaurants/steakhouse.png) 50% 50%/cover no-repeat;
    }

    .cu-item5 {
        background: url(../images/restaurants/seafood.png) 50% 50%/cover no-repeat;
    }

    .cu-item6 {
        background: url(../images/restaurants/sushi.png) 50% 50%/cover no-repeat;
    }

    .cu-item7 {
        background: url(../images/restaurants/mexican.png) 50% 50%/cover no-repeat;
    }

    .cu-item8 {
        background: url(../images/restaurants/chinese.png) 50% 50%/cover no-repeat;
    }

    .cu-item9 {
        background: url(../images/restaurants/pizza.png) 50% 50%/cover no-repeat;
    }

    .cu-item10 {
        background: url(../images/restaurants/american.png) 50% 50%/cover no-repeat;
    }

    .statistics {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 60px 0 0 0;

        @include media ('<desktop') {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .statistics-item-wrap {
        @include media ('<desktop') {
            margin: 15px;
        }
    }
}