body {
    font-family: $raleway;
}

#wrapper{
    position: relative;
    overflow: hidden;
}

.d-none {
    display: none;
}

.container{
    width: 100%;
    max-width: 1170px;
    padding: 0 30px;
    margin: 0 auto;
}

.btn{
    min-width: 105px;
    padding: 14px;
    background-color: $blue;
    border-radius: 6px;
    font-family: $raleway;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: $white;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    
    &:hover{
        background-color: $blue-h;
    }
}

.tex{
    position: relative;
    
    .text-line{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

/* _________________________#main-section______________________ */

.main-section{
    position: relative;
    padding: 150px 0 100px 0;
    min-height: 100vh;

    @include media('<phone'){
        padding: 100px 0;
    }

    &::before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(28, 28, 28, 0.44);
    }

    .img-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .container{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: calc(100vh - 250px);
        z-index: 2;
    }

    .title{
        font-family: $garamond;
        font-weight: 500;
        line-height: 105.4%;
        color: $white;
        margin-bottom: 20px;
        text-align: center;

        @include media('<tablet'){
            font-size: 58px;
        }

        @include media('<phone'){
            font-size: 48px;
        }
    }

    .sub-title{
        font-weight: 300;
        font-size: 22px;
        line-height: 1.7;
        color: $white;
        text-align: center;
        max-width: 888px;

        @include media('<tablet'){
            font-size: 18px;
        }

        @include media('<phone'){
            font-size: 14px;
        }
    }
}

/* _________________________#mission-section______________________ */

.mission-section{
    padding: 160px 0 190px 0;

    @include media('<tablet'){
        padding: 100px 0 140px 0;
    }

    @include media('<phone'){
        padding: 50px 0 100px 0;
    }

    .container{
        text-align: center;
    }

    .plate{
        font-weight: 700;
        font-size: 24px;
        line-height: 154.9%;
        color: $blue;
        margin-bottom: 20px;

        @include media('<tablet'){
            font-size: 20px;
        }

        @include media('<phone'){
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    .title{
        position: relative;
        font-family: $garamond;
        font-weight: 500;
        font-size: 52px;
        line-height: 124%;
        color: $black-2d;

        @include media('<tablet'){
            font-size: 36px;
        }

        @include media('<phone'){
            font-size: 28px;
        }
    }
}

/* _________________________#test-section______________________ */

.test-section{
    padding: 210px 0 140px 0;   
    background-color: $yellow;

    .line-bg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }

    .content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .title{
        font-family: $garamond;
        font-weight: 500;
        line-height: 105.4%;
        color: $black-2d;
        margin-bottom: 20px;
        text-align: center;
    }

    .sub-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 155%;
        color: $gray-80;
        text-align: center;
        max-width: 578px;
        margin-bottom: 52px;
    }
}

/* _________________________#test-section */

#test{
    position: relative;
    width: 100%;
    max-width: 920px;
    padding: 45px 65px 56px 65px;
    box-shadow: 1px 12px 42px rgba(155, 164, 162, 0.12);
    border-radius: 4px;
    background-color: $white;
    z-index: 2;

    .main-title{
        font-family: $raleway;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 30px;
    }

    .form-title{
        font-family: $raleway;
        font-weight: 600;
        font-size: 18px;
        color: $black-2d;
        margin-bottom: 12px;
    }

    .error-text{
        font-size: 12px;
        margin: 0;
        padding: 10px 0;
    }

    .row{
        display: flex;
        justify-content: space-between;
    }

    .label {
        margin-bottom: 6px;
        display: inline-block;
    }

    .select-wrap {
        position: relative;
    }

    .select {
        position: relative;
        padding: 15px 45px 18px 15px;
        border: 1px solid $gray-60;
        border-radius: 6px; 
        font-weight: 500;
        font-size: 16px;

        .placeholder {
            color: $gray-60;
        }

        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 25px;
            width: 20px;
            height: 20px;
            fill: $gray-60;
        }
    }

    .select-list {
        max-height: 250px;
        overflow-y: auto;
        position: absolute;
        top: calc(100% - 25px);
        left: 0;
        right: 0;
        background: $white;
        margin: 0;
        padding: 15px 0;
        list-style: none;
        border: 1px solid $gray-60;
        border-radius: 6px; 

        > li {
            padding: 5px 10px;
            cursor: pointer;
            &:hover {
                background-color: rgba($gray-60, .2);
            }
        }
    }

    .field, .select-wrap {
        width: 100%;

        &.error {
            .label, .error-text {
                color: $red;
            }

            input {
                border: 1px solid $red;
                color: $red;
            }
        }
    }

    .col {
        width: 100%;
    }

    .three-cols{
        .col{
            width: 32%;
        }
    }

    .two-cols{
        .col{
            width: 49%;
        }
    }

    input{
        width: 100%;
        padding: 15px 18px;  
        background: $white;
        border: 1px solid $gray-60;
        border-radius: 6px; 
        font-weight: 500;
        font-size: 16px;
        color: $black-2d;
        transition: all .3s ease 0s;

        &:focus{
            background: #EAF1FF;
            border: 1px solid $blue;
        }

        &::placeholder{
            color: $gray-60;
        }
    }

    .btn-test{
        width: auto;
        display: block;
        min-width: 240px;
        padding: 14px;
        margin: 0 auto;
        border: none;
        background-color: $blue;
        border-radius: 6px;
        font-family: $raleway;
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        color: $white;
        text-transform: uppercase;
        transition: all .3s ease 0s;
        
        &:hover{
            background-color: $blue-h;
        }
    }
}