#footer{
    display: flex;
    flex-direction: column;

    .container{
        display: flex;
        justify-content: space-between;
        max-width: 1260px;
    }

    .top{
        padding: 70px 0;
        border-top: 1px solid $gray-20;

        @include media('<tablet_x'){
            padding: 50px 0;
        }

        @include media('<phone'){
            padding: 30px 0;
        }

        .container{

            @include media('<tablet_x'){
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .footer-logo{
        width: 157px;

        @include media('<tablet_x'){
            margin-bottom: 25px;
        }
    }

    .title{
        font-family: $raleway;
        font-weight: 600;
        font-size: 16px;
        line-height: 2;
        color: $black-2d;
        margin-bottom: 20px;

        @include media('<tablet_x'){
            display: none;
        }
    }

    .icon{
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        @include media('<tablet_x'){
            display: flex;
            margin: 0 15px;
        }

        svg{
            fill: $gray-80;
            transition: all .3s ease 0s;
        }

        &:hover{

            .icon-title{
                color: $blue-h;
            }

            svg{
                fill: $blue-h;
            }
        }
    }

    .icon-title{
        font-family: $raleway;
        font-weight: 600;
        font-size: 16px;
        line-height: 2;
        color: $gray-80;
        margin: 0 0 0 10px;
        transition: all .3s ease 0s;

        @include media('<tablet_x'){
            display: none;
        }
    }

    .wrap{
        display: flex;

        @include media('<widescreen'){
            flex-direction: column;
        }

        @include media('<tablet_x'){
            align-items: center;
            text-align: center;
        }
    }

    .menu-wrap{
        padding-top: 15px;
        margin: 0 25px;

        @include media('<tablet_x'){
            padding: 0;
            margin: 0;
        }
    }

    .menu{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .item{
        min-width: max-content;
        margin-bottom: 12px;
    }
    
    .footer-link{
        font-family: $raleway;
        font-weight: 600;
        font-size: 16px;
        line-height: 2;
        color: $gray-80;
        transition: all .3s ease 0s;

        &:hover{
            color: $blue-h;
        }
    }

    .social-wrap{
        display: flex;

        @include media('<widescreen'){
            flex-direction: column;
        }

        @include media('<tablet_x'){
            position: relative;
            flex-direction: row;
            padding: 25px 0;
            margin-top: 20px;

            &::after, &::before{
                content: '';
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                width: 100vw;
                height: 1px;
                background-color: $gray-20;
            }

            &::after{
                top: 0;
            }

            &::before{
                bottom: 0;
            }
        }
    }

    .block{
        padding-top: 15px;
        margin: 0 25px;

        @include media('<tablet_x'){
            display: flex;
            margin: 0;
            padding: 0;
        }
    }

    .phons{
        padding-top: 15px;
        margin: 0 25px;
        display: flex;
        flex-direction: column;

        @include media('<tablet_x'){
            padding-top: 30px;
            margin: 0;
        }
    }

    .phone-link{
        font-family: $raleway;
        font-weight: 600;
        font-size: 16px;
        line-height: 2;
        color: $gray-80;
        transition: all .3s ease 0s;

        &:hover{
            color: $blue-h;
        }
    }

    .bot{
        padding: 30px 0;
        border-top: 1px solid $gray-20;

        @include media('<phone'){
            padding: 24px 0;
        }

        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include media('<600px'){
                flex-direction: column;
            }
        }
    }

    .site-title{
        font-family: $raleway;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.75;
        color: $gray-60;
        margin: 0;

        @include media('<600px'){
           margin-bottom: 20px;
        }
    }

    .site-link{

        svg{
            fill: #ACA29A;
            transition: all .3s ease 0s;
        }

        &:hover{
            svg{
                fill: $blue-h;
            }
        }
    }
}