.header-content{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    @include media("<desktop") {
        justify-content: space-evenly;
    }

    @include media("<tablet") {
        justify-content: center;
        margin-top: 20px;
    }
}

.logo {
    display: block;

    @include media("<phone") {
        display: none;
    }

    h3 {
        margin-bottom: 8px;
        color: $pink;
    }

    p {
        font-size: 13px;
        margin: 0;
        color: $gray;
        text-align: justify;
    }
}

.burger {
    display: none;
    width: 30px;
    height: 20px;

    span {
        display: block;
        height: 2px;
        width: 30px;
        background-color: $pink;
    }

    &::before, &::after {
        content: '';
        position: absolute;
        display: block;
        height: 2px;
        width: 30px;
        background-color:$pink;
        transition: all 1s ease 0s;
    }

    &::before {
        content: '';
        top: 9px;
    }
    
    &::after {
        content: '';
        top: 18px;
    }

    @include media("<tablet") {
        position: absolute;
        display: block;
        right: 35px;
        top: 45px;
        z-index: 100;
    }
}

.burger-active {

    &::before {
        transform: rotate(-45deg);
        transition: all 1s ease 0s;
    }

    &::after {
        transform: rotate(45deg);
        bottom: 9px;
        top: 10px;
        transition: all 1s ease 0s;
    }

    span {
        display: none;
    }
}

.nav-menu {

    @include media("<tablet") {
        background: linear-gradient(153deg, rgba(69,57,45,1) 0%, rgba(24,22,26,0.9836309523809523) 53%);
        width: 100%;
        position: absolute;
        z-index: 50;
        left: 0;
        top: -100%;
        transition: all 1s ease 0s;
    }
}

.nav-active {

    @include media("<tablet") {
        top: 0;
        transition: all 1s ease 0s;
    }
}

.ul-menu {
    display: flex;
    list-style: none;
    padding: 18px 0;
    margin: 0;

    @include media("<tablet") {
        flex-direction: column;
        align-items: center;
        padding: 70px 0;
    }
    
    a {
        display: inline-block;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        color: $gray;
        margin-right: 40px;
        font-size: 15px;
        
        &:hover {
            color: $white;           
        }

        &::after {
            background-color:$pink;
            display: block;
            content: "";
            height: 3px;
            width: 0%;
            margin-top: 5px;
            -webkit-transition: width .3s ease-in-out;
            -moz--transition: width .3s ease-in-out;
            transition: width .3s ease-in-out;
        }

        &:hover:after,
        &:focus:after {
            width: 100%;
        }

        @include media("<tablet") {
            margin: 20px 0;
            font-size: 25px;

            &::after {
                content: '';
                display: none;
            }
        }  
    }

    .last-li {
        margin-right: 0;
    }
}
    

