.policy-section {
    padding: 100px 0 0;
    color: $white;
   .container {
        max-width: 1200px; 
    }
    h1{
        @include adaptiv-vaule("font-size",78, 40, 1);
         margin: 0 0 0.5em;
}

    p {
        margin: 0 0 1em;
    }
    li{
        margin: 0 0 0.5em 2em;
        @include media ("<tablet") {
            margin: 0 0 0.5em 1em;
        }
    }
    .title_text{
        font-size: 22px;
        margin: 0 0 2em;
    }
    .style-list{
        li{
        list-style:disc;
    }
    }
    a{
        color: $white;
        text-decoration: underline;
    }
}