<div class="overflow"></div>
<div class="container">
    <a href="index.html" class="logo">
        <img src="./images/icons/logo.svg" alt="logo">
    </a>
    <button class="back-btn">
        <span class="arrow"></span>
        Back
    </button>
    <nav class="menu-wrap">
        <ul class="menu drilldown" data-drilldown data-auto-height="true">
            <li class="item"><a class="link" href="team_page.html">Our team</a></li>
            <li class="item item-drop">
                <a class="link link-drop" href="#">
                    Servises 
                    <span class="arrow"></span>
                </a>
                <ul class="two-menu">
                    <li class="two-item">
                        <a class="two-link" href="servise_page.html">
                            General Dentistry
                            <span class="menu-img"><img src="./images/header/1.jpg" alt="img"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="three-menu">
                            <li class="three-item mob"><a class="three-link" href="servise_page.html">General Dentistry</a></li>
                            <li class="three-item"><a class="three-link" href="#">Complete Checkups</a></li>
                            <li class="three-item"><a class="three-link" href="#">Cleaning</a></li>
                            <li class="three-item"><a class="three-link" href="#">AIRFLOW Cleaning</a></li>
                            <li class="three-item"><a class="three-link" href="#">Sealants</a></li>
                            <li class="three-item"><a class="three-link" href="#">Root Canal Treatment</a></li>
                            <li class="three-item"><a class="three-link" href="#">Halitosis Treatment</a></li>
                            <li class="three-item"><a class="three-link" href="#">Mouth Guards</a></li>
                        </ul>
                    </li>
                    <li class="two-item">
                        <a class="two-link" href="#">
                            Emergency
                            <span class="menu-img"><img src="./images/header/1.jpg" alt="img"></span>
                        </a>
                    </li>
                    <li class="two-item">
                        <a class="two-link" href="#">
                            Cosmetic Dentistry
                            <span class="menu-img"><img src="./images/header/1.jpg" alt="img"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="three-menu">
                            <li class="three-item mob"><a class="three-link" href="#">Cosmetic Dentistry</a></li>
                            <li class="three-item"><a class="three-link" href="#">Composite Bonding</a></li>
                            <li class="three-item"><a class="three-link" href="#">Smile Makeover</a></li>
                            <li class="three-item"><a class="three-link" href="#">Teeth Whitening</a></li>
                            <li class="three-item"><a class="three-link" href="#">Veneers</a></li>
                            <li class="three-item"><a class="three-link" href="#">Invisalign</a></li>
                        </ul>
                    </li>
                    <li class="two-item">
                        <a class="two-link" href="#">
                            Pediatric Dentistry
                            <span class="menu-img"><img src="./images/header/1.jpg" alt="img"></span>
                        </a>
                    </li>
                    <li class="two-item">
                        <a class="two-link" href="#">
                            Holistic Dentistry
                            <span class="menu-img"><img src="./images/header/1.jpg" alt="img"></span>
                        </a>
                    </li>
                    <li class="two-item">
                        <a class="two-link" href="#">
                            Laser Dentistry
                            <span class="menu-img"><img src="./images/header/1.jpg" alt="img"></span>
                        </a>
                    </li>
                    <li class="two-item">
                        <a class="two-link" href="#">
                            Dental Implants
                            <span class="menu-img"><img src="./images/header/1.jpg" alt="img"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="three-menu">
                            <li class="three-item mob"><a class="three-link" href="#">Dental Implants</a></li>
                            <li class="three-item"><a class="three-link" href="#">Bone Grafts</a></li>
                            <li class="three-item"><a class="three-link" href="#">Missing All Upper and Lower Teeth</a></li>
                            <li class="three-item"><a class="three-link" href="#">New Fixed Teeth in One Day</a></li>
                            <li class="three-item"><a class="three-link" href="#">Sinus Lifts</a></li>
                            <li class="three-item"><a class="three-link" href="#">Cone Beam CT Scan</a></li>
                        </ul>
                    </li>
                    <li class="two-item">
                        <a class="two-link" href="#">
                            Oral Surgery
                            <span class="menu-img"><img src="./images/header/1.jpg" alt="img"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="three-menu">
                            <li class="three-item mob"><a class="three-link" href="#">Oral Surgery</a></li>
                            <li class="three-item"><a class="three-link" href="#">Teeth Extractions</a></li>
                            <li class="three-item"><a class="three-link" href="#">Wisdom Tooth Extractions</a></li>
                        </ul>
                    </li>
                    <li class="two-item">
                        <a class="two-link" href="#">
                            Periodontics
                            <span class="menu-img"><img src="./images/header/1.jpg" alt="img"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="three-menu">
                            <li class="three-item mob"><a class="three-link" href="#">Periodontics</a></li>
                            <li class="three-item"><a class="three-link" href="#">Periodontal Maintenance</a></li>
                            <li class="three-item"><a class="three-link" href="#">Laser Gum Rejuvenation</a></li>
                            <li class="three-item"><a class="three-link" href="#">Osseous Surgery</a></li>
                            <li class="three-item"><a class="three-link" href="#">Osseous Surgery</a></li>
                            <li class="three-item"><a class="three-link" href="#">Guided Bone and tissue Regeneration</a></li>
                            <li class="three-item"><a class="three-link" href="#">Crown Lengthening</a></li>
                            <li class="three-item"><a class="three-link" href="#">Cosmetic Periodontal Surgery</a></li>
                            <li class="three-item"><a class="three-link" href="#">Tongue-Tied or Lip-Tied</a></li>
                        </ul>
                    </li>
                    <li class="two-item">
                        <a class="two-link" href="#">
                            Restoration
                            <span class="menu-img"><img src="./images/header/1.jpg" alt="img"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="three-menu">
                            <li class="three-item mob"><a class="three-link" href="#">Restoration</a></li>
                            <li class="three-item"><a class="three-link" href="#">TMJ Disorders</a></li>
                            <li class="three-item"><a class="three-link" href="#">White Filling</a></li>
                            <li class="three-item"><a class="three-link" href="#">Crowns and Bridges</a></li>
                            <li class="three-item"><a class="three-link" href="#">Inlays and Onlays</a></li>
                            <li class="three-item"><a class="three-link" href="#">Tooth-Colored Fillings</a></li>
                            <li class="three-item"><a class="three-link" href="#">Holistic Amalgam Removals</a></li>
                        </ul>
                    </li>
                    <li class="two-item">
                        <a class="two-link" href="#">
                            Dentures
                            <span class="menu-img"><img src="./images/header/1.jpg" alt="img"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="three-menu">
                            <li class="three-item mob"><a class="three-link" href="#">Dentures</a></li>
                            <li class="three-item"><a class="three-link" href="#">Snap-On Dentures</a></li>
                            <li class="three-item"><a class="three-link" href="#">Full Dentures</a></li>
                            <li class="three-item"><a class="three-link" href="#">Partial Dentures</a></li>
                            <li class="three-item"><a class="three-link" href="#">Flippers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="item"><a class="link" href="patients_page.html">New patients</a></li>
            <li class="item"><a class="link" href="payments_page.html">Financing</a></li>
            <li class="item"><a class="link" href="reviews_page.html">Reviews</a></li>
            <li class="item"><a class="link" href="gallery_page.html">Smile Gallery</a></li>
            <li class="item"><a class="link" href="contact_page.html">Contact</a></li>
            <li class="item"><a class="link" href="blog_page.html">Blog</a></li>
            <li class="item"><a class="link" href="vlog_page.html">Vlog</a></li>
        </ul>
    </nav>
    <div class="tel-wrap">
        <a class="tel link" href="tel:3059024270">
            <img src="./images/icons/phone.svg" alt="icon-tel">
            305-902-4270
        </a>
    </div>
    <button class="burger"></button>
    <img class="line line1" src="./images/icons/blue-line-h.svg" alt="icon-line">
    <img class="line line2" src="./images/icons/pink-line-h.svg" alt="icon-line">
    <img class="line line3" src="./images/icons/yellow-curve-h.svg" alt="icon-line">
</div>