html {
    scroll-behavior: smooth;
}

body {
    background-color: $whiteF7;
}

.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;

    @include media ('<desktop_sm') {
        max-width: 800px;
    }
}

.sticker {
    display: flex;
    align-items: center;
    color: $orange43;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 22px;

    @include media ('<phone') {
        font-size: 14px;
    }

    &::before {
        content:'';
        transform: translateY(-1px);
        width: 30px;
        height: 1px;
        background-color: $orange43;
        margin-right: 14px;
    }
}

.title {
    color: $green;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 12px;

    @include media ('<phone') {
        font-size: 26px;
    }
}

.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    color: $black22;
    margin: 0;

    @include media ('<phone') {
        font-size: 16px;
    }
}

.img-text-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 65px;

    @include media ('<desktop_sm') {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .img-block {
        position: relative;
        width: clamp(300px, 50%, 586px);
        
        @include media ('<desktop_sm') {
           width: 100%;
        }
    }
    
    .text-block {
        width: clamp(300px, 50%, 630px);
    
        @include media ('<desktop_sm') {
            width: 100%;
        }
    }

    .text {
        margin: 0;
    }
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
    column-gap: 15px;
    margin-bottom: 30px;

    @include media ('<600px') {
        gap: 30px;
    }

    .list-item {
        width: 32%;

        @include media ('<desktop_sm') {
            width: 48%;
        }

        @include media ('<600px') {
            width: 100%;
        }
    }
}

/* --------------------------main-section */

.main-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 260px 0 170px 0;
    background-color: $green;

    &::after {
        content:'';
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 50%;

        @include media ('<1150px') {
            display: block;
        }
    }

    .container {
        position: relative;
        min-height: calc(100vh - 430px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-title {
        @include adaptiv-vaule("font-size", 110, 54, 1);
        line-height: 1.1;
        color: $whiteF0;
        font-weight: 400;
        margin-bottom: 112px;
        z-index: 1;

        @include media ('<phone') {
            margin-bottom: 40px;
        }

        span {
            color: $orange3C;
        }
    }

    .main-text {
        position: relative;
        @include adaptiv-vaule("left", 300, -1000, 1);
        max-width: 306px;
        color: $whiteF2;
        font-size: 17px;
        font-weight: 500;
        line-height: 1.6;
        margin: 0;
        z-index: 1;

        @include media ('<widescreen_sm') {
            left: 0;
        }

        &::after {
            content:'';
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 197px;
            height: 2px;
            background-color: $orange3C;
        }
    }

    .img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .down {
        position: absolute;
        left: 20px;
        bottom: -100px;
        z-index: 1;
        transition: $all_03;

        @include media ('<phone') {
           display: none;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}

/* --------------------------history-section */

.history-section { 
    padding: 160px 0 200px 0;

    @include media ('<phone') {
        padding: 80px 0 110px 0;
    }

    .img {
        @include media ('<desktop_sm') {
            width: 90%;
        }
    }

    .geo-block {
        position: absolute;
        right: -45px;
        bottom: -40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 413px;
        padding: 18px;
        background-color: $green;
        border: 5px solid $whiteF7;

        @include media ('<desktop_sm') {
            right: 0;
        }

        @include media ('<phone') {
            max-width: 300px;
        }

        img {
            @include media ('<phone') {
                width: 14px;
            }
        }
    }

    .geo-text {
        color: $white;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.6;        
        margin: 0 0 0 14px;

        @include media ('<phone') {
            font-size: 12px;
        }
    }

    .text {
        color: $gray43;
    }
}

/* --------------------------mission-section */

.mission-section {
    position: relative;
    padding: 140px 0;

    @include media ('<phone') {
        padding: 70px 0;
    }
    
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;

        @include media ('<desktop_sm') {
            flex-direction: column;
        }

        @include media ('<phone') {
            gap: 20px;
        }
    }

    .sticker {
        color: $whiteF7;
        margin: 10px 0 0 0;
        white-space: nowrap;
        
        &::before {
            background-color: $whiteF7;
            
        }
    }

    .text {
        max-width: 450px;
        color: $whiteF7;
        font-size: 24px;
        font-weight: 500;

        @include media ('<desktop_sm') {
           max-width: 100%;
        }

        @include media ('<phone') {
            font-size: 18px;
        }
    }
}

/* --------------------------advocacy-section */

.advocacy-section {
    padding: 160px 0;

    @include media ('<phone') {
        padding: 80px 0;
    }

    .img-text-block{
        margin-bottom: 60px;

        @include media ('<desktop_sm') {
            flex-direction: column;
        }
    }
    
    .text {
        font-size: 16px;

        @include media ('<phone') {
            font-size: 14px;
        }
    }

    .img-block {

        img{
            @include media ('<desktop_sm') {
               width: 100%;
            }
        }
    }

    .list-item {

        .sticker {
            font-size: 22px;
            margin-bottom: 10px;

            @include media ('<phone') {
                font-size: 18px;
            }

            &::before {
                width: 24px;
            }
        }

        .title {
            margin: 0;
        }
    }

    .steps {
        columns: 285px 3;
        column-gap: 30px;
        row-gap: 30px;
        column-rule: 2px solid $green;

        @include media ('<680px') {
            columns: 1;
        }
    }

    .step {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 16px 0;

        @include media ('<desktop_sm') {
            &:last-child {
                column-span: all;
            }
        }

        @include media ('<680px') {
            width: 100%;

            &:nth-child(2) {
                border-top: 2px solid $green;
                border-bottom: 2px solid $green;
            }
        }

        @include media ('<phone') {
            justify-content: flex-start;
        }

    }

    .step-icon {

        @include media ('<widescreen_sm') {
            width: 66px;
        }

        @include media ('<phone') {
            width: 44px;
        }
    }

    .step-text {
        color: $green;
        font-size: 26px;
        font-weight: 500;
        line-height: 1.1;
        margin: 0;

        @include media ('<phone') {
            font-size: 18px;
        }
    }
}