<div class="ai-chat-box">
    <button class="open-btn-ai-chat">
        <svg class="open-icon" xmlns="http://www.w3.org/2000/svg" width="28"
            height="28"
            viewBox="0 0 28 28" fill="none">
            <g id="fi_2823751" clip-path="url(#clip0_3415_311127)">
                <g id="Group">
                    <path id="Vector" d="M14.0032 20.5586L16.0801
                        17.8725H20.7176V9.37256H7.28906V17.8725H11.9263L14.0032
                        20.5586ZM16.1462
                        12.8013H17.7534V14.4085H16.1462V12.8013ZM13.1996
                        12.8013H14.8068V14.4085H13.1996V12.8013ZM11.9066
                        14.4085H10.2994V12.8013H11.9066V14.4085Z" fill="white"
                        />
                        <path id="Vector_2" d="M22.3785
                            24.3984H16.8717V22.6941H13.5745C12.2278 22.6941
                            11.1322 23.7897 11.1322 25.1364V25.2677C11.1322
                            26.6144 12.2278 27.71 13.5745
                            27.71H16.8717V26.0056H23.9856V19.8862L24.9732
                            19.8819C26.4855 19.8819 27.7157 18.6516 27.7157
                            17.1395V13.2332C27.7157 11.7209 26.4855 10.4907
                            24.9732 10.4907H23.9856V8.6922C23.9856 4.0591
                            20.2163 0.289795 15.5832 0.289795H12.4207C7.78764
                            0.289795 4.01833 4.05905 4.01833
                            8.6922V10.4985H3.02955C1.51733 10.4984 0.287109
                            11.7287 0.287109 13.2409V17.1472C0.287109 18.6594
                            1.51733 19.8897 3.02955
                            19.8897H5.62553V8.69215C5.62553 4.94529 8.67387
                            1.89689 12.4208 1.89689H15.5833C19.3302 1.89689
                            22.3785 4.94523 22.3785 8.69215V24.3984H22.3785Z"
                            fill="white" />
                        </g>
                    </g>
                    <defs>
                        <clipPath id="clip0_3415_311127">
                            <rect width="27.4286" height="27.4286" fill="white"
                                transform="translate(0.285156 0.285645)" />
                            </clipPath>
                        </defs>
                    </svg>
                    <svg class="close-icon" xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32" viewBox="0 0 32 32" fill="none">
                        <g id="fi_12867602">
                            <g id="Group">
                                <g id="Group_2">
                                    <g id="close-x1">
                                        <g id="Group_3">
                                            <path id="Vector"
                                                fill-rule="evenodd"
                                                clip-rule="evenodd" d="M14.586
                                                16L4.29297 5.70697L5.70697
                                                4.29297L16 14.586L26.293
                                                4.29297L27.707 5.70697L17.414
                                                16L27.674 26.259L26.259
                                                27.674L16 17.414L5.70697
                                                27.707L4.29297 26.293L14.586
                                                16Z" fill="white" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                    <div class="ai-chat">
                        <div class="header-chat">
                            <img src="images/logo-chat.svg" alt="logo-chat">
                        </div>
                    </div>
                </div>