<footer id="footer" section="footer">
    <div class="container">
        <div class="content">
            <div class="main_page">
                <div class="btn_block">
                    <h2>
                        Let’s  work Together
                    </h2>
                    <a href="#" class="btn_black">
                        get in touch
                    </a>
                </div>
                <div class="social_block">
                    <ul>
                 <li>
                    <a href="#">Instagram</a>
                </li>
                <li>
                    <a href="#">Linkedin</a>
                </li>
                <li>
                    <a href="#">Facebook</a>
                </li>
                </ul>
                </div>
            </div>
        </div>
        
        </div>
     
        <div class="banner_block">
            <div class="links_block">
                <ul>
                    <li>
                        <a href="#">OUR  work</a>
                    </li>
                    <li>
                        <a href="#">Artificial Intellisense</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
            </ul>
            </div>
            <img src="images/footer_page/footer-banner.png">
        </div> 
</footer>