// Typography

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
    font-family: "CD";
    font-weight: 500;
    color: $white;
    margin: 0;
}

h1,
.h1 {
    @include adaptiv-vaule(" font-size", 60, 24, 1);
    line-height: 112%;
}

h2,
.h2 {
    @include adaptiv-vaule(" font-size", 60, 28, 1);
    line-height: 112%;
    mix-blend-mode: luminosity;
    opacity: 0.9;
}

h3,
.h3 {
    font-size: $h3-font-size;
}

h4,
.h4 {
    font-size: $h4-font-size;
}

h5,
.h5 {
    font-size: $h5-font-size;
}

h6,
.h6 {
    font-size: $h6-font-size;
}

p {
    margin: 0;
    color: $white;
}

span {
    color: $gray_10;
}

a {
    color: $base-link-color;
    text-decoration: none;
    transition: color .3s ease;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}