.body_lock {
    overflow: hidden;
}

#wrapper {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1350px;
    padding: 0 30px;
    margin: 0 auto;
}

.title-page {
    color: $blue;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 48px;

    @include media('<tablet'){
        font-size: 40px;
        margin-bottom: 38px;
    }

    @include media('<phone'){
        font-size: 32px;
        margin-bottom: 28px;
    }
}

.img-wrap {
    position: relative;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.pages {
    padding: 56px 0 100px 0;

    @include media('<tablet'){
        padding: 36px 0 44px 0;
    }

    .container {
        max-width: 1120px;
    }
}

/* -----------------main-section------------------ */

.main-section {
    position: relative;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        padding: 56px 30px 56px 30px;
        border-bottom: 1.5px solid #DEDEDE;

        @include media('<tablet'){
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
            padding: 36px 30px 36px 30px;
        }
    }

    .block {
        position: relative;
        min-height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 77px 23px 40px 40px;
        border: 1px solid $white;
        overflow: hidden;
        z-index: 1;

        @include media('<phone'){
            min-height: 170px;
            padding: 40px 20px;
        }

        &::before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            z-index: 1;
        }

        &:first-child {
            grid-column: span 3;
            grid-row: span 2;
            padding: 84px 40px 40px 40px;
            
            &::before {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            }

            @include media('<1300px'){
                grid-column: span 2;
            }

            @include media('<tablet'){
                grid-column: span 1;
                grid-row: span 1;
            }

            @include media('<phone'){
                min-height: 330px;
                padding: 85px 20px 50px 20px;
            }

            .cat {
        
                @include media('<phone'){
                    margin-bottom: 25px;
                }
            }

            .title {
                width: 100%;
                max-width: 680px;
                font-size: 40px;
                margin-bottom: 36px;

                @include media('<1300px'){
                    font-size: 28px;
                }

                @include media('<phone'){
                    margin-bottom: 18px;
                    letter-spacing: -0.02em;
                }
            }

            .more {
                display: flex;
            }
        
            .wrap-cats {
                display: flex;

                @include media('<tablet'){
                    display: none;
                }
            }
        }

        &:hover{

            .img {
                transform: scale(1.1);
            }

            .more {

                img{
                    transform: translateX(10px);
                }
            }
        }
    }

    .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        transition: $all_03;
    }

    .cat {
        color: $gold;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 25px;
        z-index: 1;

        @include media('<phone'){
            margin-bottom: 10px;
        }
    }

    .text{
        z-index: 1;
    }

    .title {
        color: $white;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        margin: 0;

        @include media('<widescreen'){
            font-size: 20px;
        }

        @include media('<phone'){
            font-size: 18px;
        }
    }

    .more {
        display: none;
        align-items: center;
        color: $white;
        font-size: 16px;
        font-weight: 500;

        img{
            margin-left: 15px;
            width: 37px;
            height: 11px;
            transition: $all_03;
        }
    }

/*     .wrap-cats {
        display: none;
        z-index: 3;
    }

    .item {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 36px;

        &:hover{

            .cat-title {
                color: $gold;
            }

            .img1 {
                animation: swich1 .3s ease forwards;
            }
        
            .img2 {
                animation: swich2 .3s ease forwards;
            }
        }
    }

    .img-wrap {
        position: relative;
        height: 48px;
        width: 48px;
        min-width: 48px;
    }

    .img1, .img2 {
        position: absolute;
        height: 40px;
        width: 40px;
        min-width: 40px;
    }

    .img1 {
        top: 0;
        left: 0;
    }

    .img2 {
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    @keyframes swich1 {
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(20px);
            z-index: 1;
        }
        100%{
            transform: translateY(0px);
            z-index: 1;
        }
    }

    @keyframes swich2 {
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-20px);
            z-index: 0;
        }
        100%{
            transform: translateY(0px);
            z-index: 0;
        }
    }

    .cat-title {
        color: $white;
        font-size: 16px;
        font-weight: 500;
        margin-left: 14px;
        transition: $all_03;
    } */

    .hel {
        position: absolute;
        left: 0;
        bottom: -225px;
        z-index: -1;

        @include media('<tablet'){
            width: 185px;
            bottom: -75px;
        }
    }

    .gre {
        position: absolute;
        right: 0;
        bottom: -150px;
        z-index: -1;

        @include media('<tablet'){
            display: none;
        }
    }
}

/* --------------------------content---------------------- */

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 56px 0;

    @include media('<tablet'){
        flex-direction: column;
    }

    @include media('<phone'){
        padding: 36px 0;
    }

    .title-sec {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 45px;

        @include media('<phone'){
            margin-bottom: 28px;
        }

        &:hover{

            h2{
                &::before {
                    opacity: 1;
                }
            }

            img {
                transform: scale(1.2);
            }
        }
        
        a{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        
        h2 {
            position: relative;
            color: $blue;
            font-size: 36px;
            font-weight: 700;
            margin: 0;

            @include media('<tablet'){
                font-size: 30px;
            }

            @include media('<phone'){
                font-size: 26px;
            }

            &::before {
                content:'';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $blue;
                opacity: 0;
                transition: $all_03;
            }
        }

        img{
            transition: $all_03;
        }
    }
}

.col {

    .container {
        padding: 0px 20px 0 30px;

        @include media('<tablet'){
            padding: 0 30px;
        }
    }
}

/* --------------------lastnews-section-------------------- */

.lastnews-section {
    position: relative;
    padding-bottom: 56px;
    border-bottom: 1.5px solid #DEDEDE;

    @include media('<phone'){
        padding-bottom: 36px;
    }

    .block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        column-gap: 40px;
        row-gap: 20px;

        @include media('<widescreen'){
            column-gap: 20px;
        }
    }

    .item {
        position: relative;
        padding-bottom: 20px;
        border-bottom: 1.5px solid #DEDEDE;

        &:hover {

            img {
                transform: scale(1.1);
            }

            .title {
                text-decoration: underline;
            }
        }

        &:nth-child(4) {
            grid-column: span 2;
            grid-row: span 3;
            border: none;

            @include media('<widescreen'){
                grid-column: span 1;
                grid-row: span 1;
                order: -1;
                border-bottom: 1.5px solid #DEDEDE;
            }

            .img-wrap {
                height: 430px;

                @include media('<widescreen'){
                    height: 200px;
                }

                @include media('<phone'){
                    height: 400px;
                }
            }
        }

        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {

            .img-wrap {
                display: none;
            }
        }

        &:nth-child(7) {
            border: none;
            padding: 0  ;
        }
    }

    .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .img-wrap {
        position: relative;
        height: 200px;
        margin-bottom: 20px;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: $all_03;
        }
    }

    .cat-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        @include media('<phone'){
            margin-bottom: 15px;
        }
    }

    .cat {
        position: relative;
        color: $blue;
        font-size: 12px;
        font-weight: 500;
        text-decoration: uppercase;
        z-index: 2;

        &:hover {
            text-decoration: underline;
        }
    }

    .date {
        color: $gray_2; 
        font-size: 12px;
        font-weight: 400;
    }

    .title {
        font-weight: 700;
        line-height: 1.15;
        color: $black_2;
        margin-bottom: 5px;
    }

    .description {
        color: $gray_3;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
    }

    .gre {
        position: absolute;
        top: 20%;
        left: -155px;
        z-index: -1;
    }

    .gre2 {
        position: absolute;
        bottom: -100px;
        left: 60%;
        transform: translate(-50%) rotate(65deg);
        z-index: -1;
    }
}

/* -----------------------view-section---------------------- */

.view-section {
    margin: 56px 0;

    @include media('<phone'){
        margin: 36px 0;
    }

    .container {

        @include media('>=tablet'){
            padding-right: 0;
        }
    }

    .wrap {
        padding: 56px 40px;
        background-color: $blue;

        @include media('<phone'){
            padding: 36px 20px;
        }
    }

    .title-sec {

        h2 {
            color: $white;

            &::before {
                background-color: $white;
            }
        }
    }

    .block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item {
        position: relative;
        width: 30%;
        padding-bottom: 20px;

        @include media('<widescreen'){
            width: 47%;
        }

        @include media('<desktop_s'){
            width: 100%;
        }

        @include media('<tablet'){
            width: 47%;
        }

        @include media('<580px'){
            width: 100%;
        }

        &:hover {

            img {
                transform: scale(1.1);
            }
        }

        &:last-child {
            @include media('<widescreen'){
                padding: 0;
            }
        }
    }

    .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .img-wrap {
        position: relative;
        height: 200px;
        margin-bottom: 20px;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: $all_03;
        }
    }

    .cat-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        @include media('<phone'){
            margin-bottom: 15px;
        }
    }

    .cat {
        position: relative;
        color: $white;
        font-size: 12px;
        font-weight: 500;
        text-decoration: uppercase;
        z-index: 2;

        &:hover {
            text-decoration: underline;
        }
    }

    .date {
        color: rgba(255, 255, 255, 0.6); 
        font-size: 12px;
        font-weight: 400;
    }

    .title {
        font-weight: 700;
        line-height: 1.15;
        color: $white;
        margin-bottom: 5px;
    }

    .description {
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
    }
}

/* ------------------------video-section-------------------- */

.video-section {
    position: relative;
    padding: 32px 0;
    border-top: 1.5px solid #DEDEDE;
    
    .item {
        display: flex;
        align-items: center;
        padding: 24px 0;
        border-bottom: 1.5px solid #DEDEDE;
        
        @include media('<desktop'){
            align-items: flex-start;
            flex-direction: column;
        }
        
        &:last-child {
            border: none;
        }
    }

    .video-wrap {
        position: relative;
        width: 100%;
        height: 240px;
        max-width: 400px;
        min-width: 300px;

        @include media('<desktop'){
            margin-bottom: 30px;
            max-width: 100%;
            min-width: 0;
            height: 315px;
        }

        iframe {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .text {
        margin-left: 40px;
        width: 100%;
        max-width: 510px;

        @include media('<desktop'){
            margin: 0;
            max-width: 100%;
        }
    }

    .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.15;
        color: $black_2;
        margin-bottom: 20px;

        @include media('<phone'){
            font-size: 18px;
        }
    }

    .description {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        color: $gray_3;
    }

    .tank {
        position: absolute;
        bottom: -80px;
        left: 75%;
        transform: translate(-50%);
        z-index: -1;
    }
}

/* ---------------------general-section--------------------- */

.general-section {
    min-width: 340px;
    max-width: 340px;

    @include media('<tablet'){
        min-width: 100%;
        max-width: 100%;
    }
    
    .container {
        padding: 0 30px 0 20px;

        @include media('<tablet'){
            padding: 36px 30px;
        }
    }

    .block {
        background: rgba(255, 194, 36, 0.22);
        border: 1.5px solid $gold;
        padding: 36px;

        @include media('<phone'){
            padding: 36px 20px;
        }
    }

    .title {
        margin-bottom: 10px;
        color: $blue;
        font-size: 30px;
        font-weight: 700;

        @include media('<phone'){
            margin-bottom: 4px;
            font-size: 26px;
        }
    }

    .item {
        position: relative;
        padding: 35px 0 20px 0;
        border-bottom: 1.5px solid $gold;

        @include media('<phone'){
            display: none;
            padding: 24px 0;
        }

        &:last-child {
            border: none;
            padding-bottom: 0;
        }

        &:nth-child(-n+5) {
            display: block;
        }

        &:nth-child(5) {

            @include media('<phone'){
                border: none;
                padding-bottom: 0;
            }
        }

        &:hover {

            .item-title {
                text-decoration: underline;
            }
        }
    }

    .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .cut {
        position: relative;
        display: block;
        color: #626262;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 18px;
        transition: $all_03;
        z-index: 1;

        @include media('<phone'){
            margin-bottom: 10px;
        }

        &:hover{
            color: $blue;
        }
    }

    .item-title {
        color: $black_2;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.15;
    }
}

/* ---------------------about-section--------------------- */

.about-section {

    .img-wrap {
        height: 520px;
        margin-bottom: 56px;

        @include media('<desktop_s'){
            margin-bottom: 30px;
        }

        @include media('<tablet'){
            height: 380px;
        }

        @include media('<phone'){
            height: 240px;
            margin-bottom: 0;
        }
    }

    .block {
        display: flex;

        @include media('<desktop_s'){
            flex-direction: column;
        }
    }

    .stick {
        display: block;
        min-width: 180px;
        padding: 24px 0;
        margin-right: 40px;
        border-top: 1.5px solid #DEDEDE;
        border-bottom: 1.5px solid #DEDEDE;
        color: $gray_2;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.25;

        @include media('<desktop_s'){
            margin: 0 0 24px 0;
        }

        @include media('<phone'){
            text-align: center;
            border-top: none;
            padding: 16px 0;
        }
    }

    .title {
        color: $black_2;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 24px;

        @include media('<tablet'){
            font-size: 24px;
        }

        @include media('<phone'){
            font-size: 16px;
            margin-bottom: 10px;
        }
    }

    .description {
        color: $gray_3;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;

        @include media('<phone'){
            font-size: 14px;
        }
    }
}


/* --------------------------partners-section----------------- */

.partners-section {

    .block {
        display: flex;
        justify-content: space-between;

        @include media('<desktop_s'){
            flex-direction: column;
        }
    }

    .contacts {
        margin-right: 40px;
        max-width: 280px;

        @include media('<desktop_s'){
            margin: 0;
            max-width: 100%;
        }
    }

    .title {
        color: $black_2;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 26px;

        @include media('<phone'){
            font-size: 20px;
            margin-bottom: 18px;
        }
    }

    .cont-link {
        display: inline-flex;
        align-items: center;
        color: $black_2;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.02em;
        transition: $all_03;
        margin: 0 30px 30px 0;

        @include media('<phone'){
            margin: 0 30px 20px 0;
        }

        svg {
            margin-right: 10px;
            transition: $all_03;   
        }

        &:hover{
            color: $blue;

            svg {
                fill: $blue;
            }
        }
    }

    .tabl-wrap {
        width: 100%;
        max-width: 730px;

        @include media('<desktop_s'){
            max-width: 100%;
        }
    }

    .tabl {
        border-top: 1px solid $blue;

        @include media('<phone'){
            border: 1px solid $blue;
        }
    }

    .row {
        display: flex;

        @include media('<phone'){
            flex-direction: column;
            border-bottom: 1px solid $blue;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .col {
        width: 50%;
        padding: 16px;
        border: 1px solid $blue;
        border-top: none;
        color: $black_2;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;

        @include media('<phone'){
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 12px;
            font-size: 14px;
            border: none;

            &::after {
                content:'';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%);
                width: 92%;
                height: 1px;
                background-color: #DEDEDE;
            }
        }

        &:first-child {
            border-right: none;

            &::after {
                display: none;
            }
        }
    }

    .price {
        display: none;
        color: $gray_3;
        font-size: 14px;
        font-weight: 400;
        margin-right: 15px;

        @include media('<phone'){
            display: block;
        }
    }

    .main-row {

        @include media('<phone'){
            display: none;
        }

        .col {
            text-align: center;
        }
    }
}