body {
    background-color: #FDFAF8;
}

.body_lock{
    overflow: hidden;
}

#wrapper{
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1340px;
    padding: 0 30px;
    margin: 0 auto;
}

.main-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%) rotate(-180deg);
    bottom: -129px;
    display: inline-flex;
    width: 260px;
    height: 260px;
    padding: 50px;
    border-radius: 50%;
    border: 2px solid $gold;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: $blue;
    text-transform: uppercase;
    overflow: hidden;
    transition: color 2s, transform 1s;
    z-index: 1;

    @include media('<phone'){
        bottom: -90px;
        width: 180px;
        height: 180px;
        padding: 30px;
        font-size: 14px;
    }

    &::before {
        content:'';
        position: absolute;
        top: var(--y);
        left: calc(var(--x) + 130px);
        transform: translate(-50%, -50%) scale(0);
        width: 260px; 
        height: 260px;
        border-radius: 50%;
        background-color: $gold;
        transition: all .7s ease;
    }

    &:hover{
        color: $white;
        transition: color .3s;

        &::before{
            border: 2px solid $gold;
            transform: translate(-50%, -50%) scale(5);
        }
    }

    i {
        position: relative;
        margin: 0 auto;
        font-style: normal;
        z-index: 1;
    }
}

.main-btn.show {
    transform: translate(-50%) rotate(0deg);
}

.sec-btn {
    min-width: 245px;
    background-color: $gold;
    border: 1px solid $gold;
    padding: 17px;
    text-align: center;
    font-family: $gilroy;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    transition: $all_03;

    @include media('<phone_max'){
        padding: 13px;
    }

    &:hover{
        background-color: transparent;
        backdrop-filter: blur(11.5px);
        color: $gold;
    }
}

.line-btn {
    display: inline-flex;
    border: none;
    background-color: transparent;
    align-items: center;
    font-family: $gilroy;
    color: $blue;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: $all_03;

    @include media('<phone'){
        font-size: 14px;
    }

    &:hover{
        color: $gold;

        img {
            transform: translate(10px);
        }
    }

    .icon-arrow{
        padding-left: 8px;
        transition: $all_03;
    }

    .img-v {
        padding-right: 13px;
        transition: $all_03;
    }
}

.blue-btn {
    display: inline-block;
    min-width: 245px;
    padding: 17px;
    background-color: $blue;
    border: 1px solid $blue;
    font-family: $gilroy;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: $all_03;

    @include media('<phone'){
        padding: 15px;
        font-size: 14px;
    }

    &:hover{
        background-color: $white;
        color: $blue;
    }
}

.white-btn {
    display: inline-block;
    min-width: 245px;
    padding: 17px;
    background-color: $white;
    border: 1px solid $blue;
    font-family: $gilroy;
    color: $blue;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: $all_03;

    @include media('<phone'){
        padding: 15px;
        font-size: 14px;
    }

    &:hover{
        background-color: $blue;
        color: $white;
    }
}

.blur-btn {
    display: inline-block;
    min-width: 306px;
    padding: 18px;
    background: rgba(255, 255, 255, 0.02);
    border: 1.5px solid #EEB663;
    backdrop-filter: blur(11.5px);
    font-family: $gilroy;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    transition: $all_03;

    @include media('<phone'){
        padding: 12px;
        font-size: 14px;
        width: 100%;
        min-width: 0;
    }

    &:hover{
        background: $gold;
    }
}

.stiker {
    position: absolute;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 2px solid $gold;
    padding: 40px;
    transform: rotate(0deg);
    font-family: $gilroy;
    color: $blue;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: $all_1;

    @include media('<tablet_max'){
        width: 180px;
        height: 180px;
    }

    @include media('<phone'){
        font-size: 14px;
        padding: 30px;
    }
}

.show {
    .stiker {
        transform: rotate(-90deg);
    }
}

.title-wrap {
    position: relative;
    display: inline-block;
    padding: 18px 0 24px 0;
    overflow: hidden;

    @include media('<phone'){
        padding: 14px 0 36px 0;
    }

    &::before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 3px;
        background-color: $gold;
        transition: $all_1;
    }

    .title {
        color: $blue;
        @include adaptiv-vaule("font-size", 80, 42, 1);
        font-weight: 400;
        text-transform: uppercase;
        transition: all .7s ease .7s;
        transform: translateY(-120%);

        br {
            @include media('<phone'){
                display: none;
            }
        }

        span {
            font-family: $boska;
            @include adaptiv-vaule("font-size", 100, 55, 1);
            font-weight: 300;
        }
    }
}

.title-wrap.show{

    &::before {
        width: 100%;
    }

    .title {
        transform: translateY(0);
    }
}

.sec-title-wrap {
    position: relative;
    padding-top: 100px;
    margin-bottom: 15px;
    overflow: hidden;

    @include media('<desktop_min'){
        padding-top: 56px;
    }

    &::before {
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background-color: $gold;
        transition: all 1.5s linear 0s;
    }

    &::after {
        content:'';
        position: absolute;
        bottom: -191px;
        right: 20%;
        width: 382px;
        height: 382px;
        border-radius: 50%;
        border: 3px solid $gold;
        border-bottom: 3px solid transparent;
        border-left: 3px solid transparent;
        transform: rotate(-225deg);
        transition: all .7s linear 1.5s;

        @include media('<desktop_min'){
            display: none;
        }
    }

    .sec-title {
        position: relative;
        color: $blue;
        @include adaptiv-vaule("min-height", 80, 42, 1);
        font-weight: 400;
        text-transform: uppercase;
        transform: translateY(100%);
        transition: all 1s ease .7s;
        z-index: 1;

        br {

            @include media('<phone'){
                display: none;
            }
        }
    }
}

.sec-title-wrap.show {

    &::after {
        transform: rotate(-45deg);
    }

    &::before {
        width: 100%;
    }

    .sec-title {
        transform: translate(0);
    }
}

.title-linedown-wrap {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    overflow: hidden;

    @include media('<tablet'){
        margin-bottom: 36px;
    }
    
    &::before {
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background-color: $gold;
        transition: all 1.5s linear 0s;
    }

    .title-linedown {
        @include adaptiv-vaule("font-size", 80, 42, 1);
        line-height: 1;
        transform: translateY(100%);
        transition: all 1s ease .7s;
    }
}

.title-linedown-wrap.show {

    &::before {
        width: 100%;
    }

    .title-linedown {
        transform: translateY(0);
    }
}

.img-wrap {
    position: relative;
    overflow: hidden;

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: $all_03;
    }
}

.animate__animated {
    --animate-duration: 1.5s;
}

.animate__fadeIn {
    --animate-duration: 3s;
}

.body_overflow{
    position: relative;
    overflow: hidden;
    transition: $all_03;

    &::before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
        z-index: 2;
    }
}

.socials {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @include media('<phone'){
        margin: 0 -7px 16px -7px;
    }
}

.icon-soc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid $gold;
    margin: 0 10px;

    @include media('<phone'){
        width: 46px;
        height: 46px;
        margin: 0 7px;
    }

    &:hover {

        img {
            transform: scale(1.4);
        }
    }

    img {
        transition: $all_03;
    }
}

/* ---------------for video player */

.video-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;

    video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .icon-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20%;
        max-width: 192px;
        z-index: 1;
        opacity: 1;
        transition: $all_03;
    }
    
    .player-controls {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
        background-color: rgba($white, 0.5);
        opacity: 0;
        transition: $all_03;
    }
        
    .play-button, .fullscreen-button {
        width: 10%;
        border: none;
        background:transparent;
        padding: 10px;
        border: none;
        color: $blue;
        transition: $all_03;
        white-space: nowrap;

        &:hover {
            background-color: $gold;
            color: $white;
        }
    }

    .play-button {

        &::before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .other-controls {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
    }

    .video-progress {
        position: relative;
        width: 100%;
        height: 10px;
        display: flex;
        margin: 0 5px;
        transition: $all_03;
        background: rgba($blue, 0.6);
        cursor: pointer;
    }
    
    .video-progress-filled {
        width: 0;
        background: $gold;
    }     
    
    .volume[type="range"] {
        -webkit-appearance: none;
        width: 15%;
        min-width: 50px;
        background: transparent;
        margin: 0 5px;
        padding: 0;
        overflow: hidden;

        @include media('<tablet'){
            display: none;    
        }
    }
    
    .volume[type="range"]:focus {
        outline: none;
    }
    
    .volume[type="range"]::-ms-fill-lower {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 10px;
        background: $gold;
        cursor: pointer;
    }
    
    .volume[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 10px;
        width: 10px;
        background: $white;
        cursor: pointer;
        box-shadow: -100vh 0 0 100vh $gold;
    }

    .volume[type="range"]::-ms-fill-lower {
        background-color: $gold;
    }

    .volume[type="range"]::-moz-range-progress {
        background-color: $gold;
    }

    .volume[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        background: rgba($blue, 0.6);
        cursor: pointer;
    }

    .mute-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .on {
        display: block;
        fill: $blue;
        transition: $all_03;

        &:hover {
            fill: $gold;
        }
    }

    .off {
        display: none;
        fill: $gold;
    }

    
    .mute {
        .on {
            display: none;
        }
    
        .off {
            display: block;
        }
    }

    .time {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5px;
        text-align: center;
        color: $blue;
        font-size: 14px;
    }

    .fullscreen-button {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {

            svg {
                fill: $white;
            }
        }

        svg {
            width: 20px;
            min-width: 15px;
            height: 20px;
            fill: $blue;
            transition: $all_03;
        }
    }
}

.video-wrap.active {

    .icon-play {
        opacity: 0;
    }

    .player-controls {
        opacity: 1;
    }
}

/* --------------------------main-section----------------------- */

.main-section {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 100px 0 200px 0;
    background-color: rgba($white_2, 0.7);
    overflow: hidden;

    .ml {
        position: absolute;
        top: -50%;
        height: 200vh;
        width: 165px;
        display: block;
        background-color: $white;
        opacity: 40%;
        z-index: 1;

        @include media('<phone'){
            width: 115px;
        }
    }

    .ml1 {
        left: 50%;
        transform: translate(-115%) rotate(35deg);
        animation: ml1 3s;
    }

    .ml2 {
        right: 50%;
        transform: translate(107%) rotate(35deg);
        animation: ml2 3s;
    }

    @keyframes ml1 {
        0%{
            left: -50%;
        }
        70%{
            left: 66%;
        }
        100%{
            left: 50%;
        }
    }

    @keyframes ml2 {
        0%{
            right: 0;
        }
        70%{
            right: 66%;
        }
        100%{
            right: 50%;
        }
    }

    .container {
        max-width: 900px;
    }

    .main-title {
        font-family: $queensila;
        font-weight: normal;
        @include adaptiv-vaule("font-size", 126, 62, 1);
        text-transform: uppercase;
        color: $blue;
        margin: 0;
        text-align: center;

        @include media('<tablet'){

            br{
                display: none;
            }
        }

        @include media('<phone'){
            text-align: justify;
        }

        i{
            font-style: normal;
            color: $gold;
        }
    }

    .title-line {
        display: inline-block;
        height: 2px;
        min-width: 190px;
        background-color: $gold;
        transform: translateY(-40px);

        @include media('<tablet'){
            min-width: 145px;
            transform: translateY(-25px);
        }
    }

    .main-sub-title {
        text-align: center;
        font-family: $gilroy;
        font-weight: 400;
        @include adaptiv-vaule("font-size", 24, 18, 1);
        text-transform: uppercase;
        color: $gray_2;
        margin: 0;

        @include media('<phone'){
            text-align: left;
        }
    }
}

/* --------------------------video-section----------------------- */

.video-section {
    position: relative;
    @include adaptiv-vaule("min-height", 750, 260, 1);
    margin-bottom: 80px;

    @include media('<tablet'){
        margin-bottom: 44px;
    }
}

/* -----------------------certifications-section------------------ */

.certifications-section {
    padding: 80px 0;

    @include media('<tablet'){
        padding: 44px 0;
    }

    .container {
        text-align: center;
    }

    .title-wrap {
        margin-bottom: 52px;

        @include media('<phone'){
            margin-bottom: 36px;
        }
    }

    .title {
        @include adaptiv-vaule("font-size", 60, 42, 1);
    }

    .content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        justify-items: center;
        align-items: center;
        gap: 25px;
    }
}

/* ----------------------------why-section------------------------- */

.why-section {
    position: relative;
    background: #F6F4F0;
    padding-top: 80px;
    margin-top: 80px;
    text-align: center;
    overflow: hidden;

    @include media('<tablet'){
        padding-top: 56px;
        margin-top: 44px;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .description {
        max-width: 640px;
        margin: 0 auto 68px auto;

        @include media('<phone'){
            text-align: left;
            margin: 0 0 36px 0;
        }
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media('<tablet'){
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .img-cont {
        align-self: flex-end;

        @include media('<tablet'){
            order: 3;
            margin: 0 auto;
        }
    }

    .list {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;
    }

    .item {
        max-width: 260px;
        padding: 12px 0;
        margin: 0;
        font-family: $gilroy;
        color: $blue;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.8;
        text-transform: uppercase;

        @include media('<tablet'){
            max-width: 100%;
        }

        @include media('<phone'){
            display: flex;
            align-items: flex-start;
            font-size: 14px;
            letter-spacing: -0.5px;
            line-height: 1.4;
        }
    }

    .number {
        display: block;
        color: $gold;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.66px;

        @include media('<phone'){
            font-size: 22px;
            margin-right: 10px;
            line-height: 1;
        }
    }

    .first {

        .item {
            &:first-child,
            &:last-child {
                padding: 12px 0 12px 30px;

                @include media('<tablet'){
                    padding: 12px 0;
                }

                @include media('<phone'){
                    padding: 9px 0;
                }
            }
        }
    }

    .last {

        .item {
            padding: 12px 0 12px 30px;

            @include media('<tablet'){
                padding: 12px 0;
            }

            @include media('<phone'){
                padding: 9px 0;
            }

            &:first-child,
            &:last-child {
                padding-left: 0;

            }
        }
    }
}

/* ---------------------------cruising-section---------------------- */

.cruising-section {
    position: relative;
    padding: 100px 0;
    margin-bottom: 80px;
    background: #FFFFFF;
    overflow: hidden;

    @include media('<tablet'){
        padding: 56px 0; 
        margin-bottom: 44px;
    }

    .container {
        position: relative;
        text-align: center;
        z-index: 1;
    }
}

/* -----------------------------page-section------------------------- */

.page-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
    overflow: hidden;

    &::before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 50%;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .container {
        z-index: 1;
    }

    .title {
        text-align: center;
        color: $white;
        @include adaptiv-vaule("font-size", 126, 64, 1);
        font-weight: 400;
    }

    .main-btn {
        color: $white;
    }
}

/* -----------------------------quote-section------------------------ */

.quote-section {
    position: relative;
    padding: 80px 0 140px 0;
    overflow: hidden;
    text-align: center;

    @include media('<tablet'){
        padding: 60px 0 85px 0; 
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .title {
        max-width: 880px;
        margin: 0 auto 36px auto;
        padding: 0 10px;
        @include adaptiv-vaule("font-size", 36, 21, 1);
        letter-spacing: 0.02em;
        text-transform: none;
    }

    .name{
        display: block;
        font-family: $gilroy;
        color: $blue;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 5px;

        @include media('<phone'){
            font-size: 16px;
        }
    }

    .position {
        font-weight: 400;

        @include media('<phone'){
            font-size: 14px;
        }
    }
}

/* -----------------------------meetour-section---------------------- */

.meetour-section {
    padding-top: 100px;
    background: #F6F4F0;
    overflow: hidden;

    @include media('<tablet'){
        padding-top: 50px;
    }

    .container {
        position: relative;

        @include media('<tablet'){
            padding: 0;
        }
    }

    .title-linedown {

        @include media('<tablet'){
            margin: 0 30px 36px 30px;
        }

        br {
            @include media('<phone'){
                display: none;
            }  
        }
    }

    .content {
        display: flex;
        justify-content: space-between;

        @include media('<tablet'){
            flex-direction: column;
        }
    }

    .video-wrap {
        @include adaptiv-vaule("width", 800, 160, 1);
        @include adaptiv-vaule("height", 450, 90, 1);

        @include media('<tablet'){
            width: 100%;
            @include adaptiv-vaule("height", 450, 260, 1);
            margin-bottom: 36px;
        }
    }
    
    .img-cont {
        position: absolute;
        bottom: 0;
        right: -130px;
        width: 40%;

        @include media('<desktop'){
            width: 40%;
            bottom: -120px;
            right: 0;
        }
        
        @include media('<tablet'){
            position: relative;
            width: 100%;
            bottom: 0;
            text-align: center;
        }
    }

    .img {

        @include media('<tablet'){
            position: relative;
            width: 50%;
            z-index: 1;
        }

        @include media('<phone'){
            width: 70%;
        }
    }

    .icon {
        position: absolute;
        top: 20%;
        left: 0;
        width: 100%;
        display: none;
        transform: scaleX(-1);

        @include media('<tablet'){
            display: block;
        }
    }
}

/* -----------------------------ourteam-section----------------------- */

.ourteam-section {
    padding: 160px 0 200px 0;

    @include media('<tablet'){
        padding: 88px 0;
    }
    
    .container {
        text-align: center;
    }

    .sub-title {
        max-width: 640px;
        margin: 0 auto 52px auto;
    }

    .block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        column-gap: 40px;
        row-gap: 60px;

        @include media('<desktop'){
            gap: 20px;
        }
    }

    .img-wrap {
        @include adaptiv-vaule("min-height", 510, 170, 1);
        margin-bottom: 10px;
    }

    .name {
        display: block;
        text-align: left;
        font-family: $gilroy;
        color: $blue_2;
        @include adaptiv-vaule("font-size", 24, 18, 1);
        font-weight: 500;
    }

    .position {
        text-align: left;
        @include adaptiv-vaule("font-size", 16, 12, 1);
    }
}

/* -------------------------------blog-section------------------------ */

.blog-section {

    &::before {
        opacity: 20%;
    }

    .title {
        margin-bottom: 24px;
    }

    .search {
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 1;

        @include media('<phone_max'){
            flex-direction: column;
        }
    }

    input {
        width: 100%;
        max-width: 650px;
        margin-right: 16px;
        padding: 17px;
        border: 1.5px solid #EEB663;
        background-color: transparent;
        backdrop-filter: blur(11.5px);
        font-family: $gilroy;
        color: $white;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        outline: none;

        @include media('<phone_max'){
            margin: 0 0 14px 0;
            padding: 13px;
        }

        &::placeholder {
            color: $white;
        }

        &:focus {
            border: 1.5px solid #EEB663;
        }

    }
}

/* -----------------------------blog-cont-section--------------------- */

.blog-cont-section {
    padding: 60px 0 100px 0;

    @include media('<phone'){
        padding: 36px 0 56px 0;
    }

    .sort {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 60px;

        @include media('<phone'){
            justify-content: center;
            margin-bottom: 36px;
        }

        select {
            min-width: 250px;
            padding: 14px 22px; 
            border: 1px solid #D6D7E3;
            background-color: transparent;
            outline: none;
            font-family: $gilroy;
            color: #776C69;
            font-weight: 500;
            font-size: 16px;

            @include media('<phone'){
                width: 100%;
            }
        }
    }

    .block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
        column-gap: 24px;
        row-gap: 40px;
        justify-items: center;

        @include media('<tablet'){
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        }
    }

    .item {
        position: relative;
        width: 100%;
        max-width: 420px;

        &:hover{

            .img-wrap {

                img {
                    transform: scale(1.1);
                }
            }

            .icon-arrow {
                transform: translate(10px);
            }
        }
    }

    .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .img-wrap {
        @include adaptiv-vaule("height", 380, 260, 1);
        margin-bottom: 20px;
    }

    .title {
        font-style: normal;
        font-size: 28px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin-bottom: 12px;

        @include media('<phone'){
            margin-bottom: 10px;
            font-size: 21px;
        }
    }

    .description {
        line-height: 1.5;
        margin-bottom: 24px;

        @include media('<phone'){
            margin-bottom: 18px;
            font-size: 14px;
        }
    }

    .line-btn {
        padding: 0;
    }
}

/* ------------------------------gallery-section----------------------- */

.gallery-section {
    padding: 100px 0;
    text-align: center;
    background: #FFFFFF;

    @include media('<tablet'){
        padding: 56px 0;
    }

    .teeth {
        margin-bottom: 80px;

        @include media('<tablet'){
            margin-bottom: 44px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .title-wrap {
        margin-bottom: 16px;

        @include media('<tablet'){
           margin: 0;
           padding: 14px 0 24px 0;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;

        @include media('<tablet'){
            align-items: center;
            flex-direction: column;
        }
    }

    .item {
        width: 49%;
        @include adaptiv-vaule("height", 400, 260, 1);

        @include media('<tablet'){
            width: 100%;
            max-width: 470px;
            margin-bottom: 16px;
        }

        &:hover{
            
            .info {
                opacity: 0;
            }
        }
    }

    .info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
        transition: $all_03;
    }

    .icon {
        margin-bottom: 38px;

        @include media('<tablet'){
            width: 44px;
            height: 44px;
            margin-bottom: 30px;
        }
    }

    .info-title {
        color: $white;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 16px;

        @include media('<tablet'){
            margin-bottom: 8px;
            font-size: 16px;
        }
    }

    .info-sub-title {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 40px;

        @include media('<tablet'){
            font-size: 12px;
        }
    }

    .dec {
        @include media('<desktop'){
            display: none;
        }
    }

    .mob {
        display: none;

        @include media('<desktop'){
            display: block;
        }
    }

    .inscr {
        position: absolute;
        left: 50%;
        bottom: 24px;
        transform: translate(-50%);
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(20.5px);
        padding: 6px 16px;
        font-family: $gilroy;
        color: $white;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        z-index: 2;

        @include media('<tablet'){
            font-size: 18px;
        }
    }
}

/* ------------------------------review-us-section--------------------- */

.review-us-section {
    padding: 160px 0;
    background-color: $white;
    text-align: center;

    @include media('<tablet'){
        padding: 88px 0;

        br {
            display: none;
        }
    }

    .description {
        max-width: 965px;
        margin: 0 auto 15px auto;

        @include media('<tablet'){
            margin-bottom: 0;
        }

        @include media('<phone'){
            font-size: 14px;
        }

        a {
            color: inherit;
            text-decoration: underline;

            &:hover{
                text-decoration: none;
            }
        }
    } 

    .btn-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 15px;

        @include media('<tablet'){
            flex-direction: column;
            padding-top: 30px;
        }
    }

    .blue-btn {
        margin-right: 16px;

        @include media('<tablet'){
            margin: 0 0 14px 0;
        }
    }

    .blue-btn, .white-btn {

        @include media('<phone'){
            width: 100%;
        }
    }
}

/* ---------------------------------img-bg-section--------------------- */

.img-bg-section {
    position: relative;
    padding: 160px 0;
    text-align: center;

    @include media('<tablet'){
        padding: 88px 0;
    }

    &::before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: .4;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .title {
        color: $white;
        margin-bottom: 20px;
    }

    .discription {
        max-width: 760px;
        margin: 0 auto 32px auto;
        color: $white;
        font-size: 20px;
        font-weight: 400;

        @include media('<phone'){
            font-size: 14px;
        }
    }
}

/* ---------------------------------offers-section---------------------- */

.offers-section {
    position: relative;
    padding: 160px 0;
    text-align: center;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        gap: 24px;
        justify-content: center;

        @include media('<phone'){
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #D6D7E3;
        padding: 32px 25px;

        .title {
            font-size: 36px;
            border-bottom: 1px solid #D6D7E3;
            padding-bottom: 10px;
            margin-bottom: 20px;
    
            @include media('<phone'){
                font-size: 21px;
                margin-bottom: 16px;
            }
        }
    }

    .price {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-family: $boska;
        color: $blue;
        font-size: 52px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include media('<phone'){
            font-size: 36px;
            margin-bottom: 16px;
        }

        i{
            transform: translateY(5px);
            font-style: normal;
            font-size: 35px;

            @include media('<phone'){
                font-size: 27px;
            }
        }
    }

    .discription {
        font-weight: 600;
        line-height: 1.75;
        margin-bottom: 20px;

        @include media('<phone'){
            font-size: 14px;
            margin-bottom: 16px;
        }
    }

    .blue-btn {
        min-width: 175px;
    }
}

/* ---------------------------------img-text-section--------------------- */

.img-text-section {
    position: relative;
    padding: 160px 0;
    background-color: $white;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .container {
        display: flex;
        justify-content: space-between;

        @include media('<desktop'){
            flex-direction: column;
        }
    }

    .img-cont {
        width: 49%;

        @include media('<desktop'){
            width: 100%;
            text-align: center;
            margin-bottom: 32px;
        }

        img {
            @include media('<desktop'){
                width: 100%;
            }
        }
    }

    .block {
        width: 49%;

        @include media('<desktop'){
            width: 100%;
        }
    }

    .discription {
        margin-bottom: 10px;

        @include media('<phone'){
            margin: 0;
            font-size: 14px;
        }
    }

    .title-linedown {
        letter-spacing: -0.3px;
    }

    .mob {
        display: none;
        text-align: center;

        @include media('<desktop'){
            display: block;
        }
    }

    .desc {
        margin-bottom: 34px;

        @include media('<desktop'){
            display: none;
        }
    }

    .img {
        @include media('<phone'){
            padding-top: 14px;
        }
    }
}
    
/* --------------------------------payments-text-section----------------- */

.payments-text-section {
    padding: 100px 0;
    background: #FDFAF8;

    @include media('<tablet'){
        padding: 56px 0;
    }

    .description {
        max-width: 826px;
        margin-bottom: 24px;

        @include media('<tablet'){
            margin-bottom: 16px;
        }
    }
}

/* -----------------------------------contact-section-------------------- */

.contact-section {
    position: relative;
    padding: 160px 0;
    background-color: $white;
    text-align: center;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .content {
        display: flex;
        justify-content: space-between;

        @include media('<tablet_max'){
           flex-direction: column-reverse;
        }
    }

    .contacts {
        width: 49%;

        @include media('<tablet_max'){
            width: 100%;
        }
    }

    .item {
        position: relative;
        display: flex;

        &:not(:last-child){
            margin-bottom: 40px;

            @include media('<phone'){
                margin-bottom: 24px;
            }
        }
    }

    .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        &:hover + .img-cont{
            img {
                transform: scale(1.5);
            }
        }
    }

    .img-cont {
        width: 80px;
        min-width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F6F4F0;

        @include media('<phone'){
            width: 36px;
            min-width: 36px;
            height: 36px;
        }

        img {
            min-width: 24px;
            transition: $all_03;

            @include media('<phone'){
                min-width: 10px;
                width: 40%;
            }
        }
    }

    .text {
        text-align: left;
        margin-left: 32px;


        @include media('<phone'){
            margin-left: 16px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }

    .title-text {
        font-family: $gilroy;
        font-weight: 600;
        font-size: 24px;
        text-transform: none;
        margin-bottom: 10px;

        @include media('<phone'){
            font-size: 16px;
            margin-bottom: 6px;
        }
    }

    .sub-title {
        font-family: $gilroy;
        color: $gray_2;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 8px;

        @include media('<phone'){
            font-size: 14px;
            margin-bottom: 6px;
        }
    }
}

.contact-form {
    width: 49%;
    max-width: 680px;
    padding: 60px 32px;
    border: 1px solid $gold;

    @include media('<desktop'){
        padding: 30px 22px;
    }

    @include media('<tablet_max'){
        width: 100%;
        max-width: 100%;
        margin-bottom: 36px;
    }

    .title-form {
        font-family: $gilroy;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 24px;
    
        @include media('<desktop'){
            font-size: 22px;
        }
    
        @include media('<phone'){
            font-size: 20px;
        }
    }
    
    .block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .input {
        width: 49%;
        padding: 16px 22px;
        border: 1px solid #D6D7E3;
        background-color: transparent;
        margin-bottom: 16px;
        font-family: $gilroy;
        color: #776C69;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        transition: $all_03;
    
        @include media('<desktop'){
            width: 100%;
        }
    
        @include media('<phone'){
            padding: 12px 22px;
            font-size: 14px;
        }
    
        &:focus {
            color: $blue;
            border: 1px solid $gold;
        }
    
        &::placeholder {
            font-family: $gilroy;
            color: #776C69;
            font-size: 16px;
            font-weight: 400;
    
            @include media('<phone'){
                font-size: 14px;
            }
        }
    }
    
    .textarea {
        width: 100%;
        min-height: 120px;
        margin-bottom: 32px;
    
        @include media('<phone'){
            min-height: 80px;
        }
    }
    
    .blue-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    
        &:hover{
    
            svg {
                stroke: $blue;
                fill: $white;
                transform: translate(10px);
            }
        }
    
        svg {
            width: 29px;
            height: 16px;
            stroke: $white;
            margin-left: 8px;
            transition: $all_03;
        }
    }
}

/* -------------------------------------map-section---------------------- */

.map-section {

    iframe {
        width: 100%;
        @include adaptiv-vaule("min-height", 450, 260, 1);
    }
}

/* ------------------------------------timeline-section------------------ */

.timeline-section {
    position: relative;
    background-color: $white;

    .item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;

        @include media('<desktop'){
            flex-direction: column-reverse;
        }

        @include media('<phone'){
            padding: 24px 0;
        }
        

        &:first-child {
            padding: 160px 0 50px 0;

            @include media('<desktop'){
                padding: 88px 0 50px 0;
            }

            @include media('<phone'){
                padding: 88px 0 24px 0;
            }

            .line {       
                
                &::after {
                    top: 25%;

                    @include media('<desktop'){
                        top: -9px;
                    }
                }
            }
        }

        &:last-child {
            padding: 50px 0 160px 0;

            @include media('<desktop'){
                padding: 50px 0 88px 0;
            }

            @include media('<phone'){
                padding: 24px 0 88px 0;
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            @include media('<desktop'){
                flex-direction: column-reverse;
            }

            .date-wrap {

                @include media('<desktop'){
                    display: flex;
                    flex-direction: row-reverse;
                }
            }


            .date {
                padding: 0 0 0 30px;

                @include media('<desktop'){
                    padding: 0;
                }
            }

            .line {
        
                @include media('<desktop'){
                    right: -30px;
                    left: auto;
                }
                
                &::after {
        
                    @include media('<desktop'){
                        top: -9px;
                        left: 0;
                        right: auto;
                    }
                }
            }
        }
    }

    .text {
        width: 40%;

        @include media('<desktop'){
           width: 100%;
        }
    }

    .title-text {
        font-family: $gilroy;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.25;
        margin-bottom: 32px;
        text-transform: none;

        @include media('<desktop'){
            font-size: 24px;
            margin-bottom: 24px;
        }

        @include media('<phone'){
            font-size: 20px;
        }
    }

    .name {
        font-family: $gilroy;
        color: $gray_2;
        font-size: 18px;
        font-weight: 500;

        @include media('<phone'){
            font-size: 16px;
        }
    }

    .video-section {
        width: 42%;
        @include adaptiv-vaule("min-height", 350, 260, 1);
        margin: 0;

        @include media('<desktop'){
            width: 100%;
            margin-bottom: 36px;
        }
    }

    .date-wrap {

        @include media('<desktop'){
            position: relative;
            width: 100%;
            order: 1;
            margin-bottom: 36px;
        }
    }

    .date {
        position: relative;
        font-family: $boska;
        color: $blue;
        font-size: 56px;
        font-weight: 400;
        line-height: 1;
        background-color: $white;
        writing-mode: tb-rl;
        transform:rotate(180deg);
        z-index: 1;
        padding-right: 12px;

        @include media('<desktop'){
            max-width: max-content;
            writing-mode: horizontal-tb;
            transform:rotate(0deg);
            padding: 0;
            text-align: left;
        }

        @include media('<tablet'){
            font-size: 32px;
        }
    }

    .line {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        width: 2px;
        height: 0;
        background-color: $blue;
        opacity: 0.2;
        transition: all 1.5s linear .5s;

        @include media('<desktop'){
            width: 0;
            height: 2px;
            left: -30px;
            top: 55%;
            transform: none;
        }
        
        &::after {
            content:'';
            position: absolute;
            top: 40px;
            left: -9px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $white;
            border: 2px solid $blue;

            @include media('<desktop'){
                top: -9px;
                left: auto;
                right: 0;
            }
        }
    }

    .line.show {

        @include media('>=desktop'){
            height: 100%;
        }

        @include media('<desktop'){
            width: 80%;
        }
    }
}

/* --------------------------------------pop-up */

.pop-up {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1040px;
    background-color: $white;
    z-index: 5;
    padding: 40px 75px 70px 75px;
    text-align: center;
    overflow: auto;

    @include media('<desktop'){
        top: 80px;
        transform: translate(-50%);
        padding: 40px;
    }

    @include media('<phone'){
        width: 95%;
        padding: 40px 20px;
    }

    .pop-up-logo {
        margin-bottom: 30px;
    }

    .contact-form {
        width: 100%;
        max-width: 100%;
        border: none;
        padding: 0;
        margin: 0;
    }

    .title-form {
        margin-bottom: 32px;
        font-family: $queensila;
        @include adaptiv-vaule("font-size", 80, 42, 1);
        font-weight: 400;
    }

    form {
        display: inline-block;
        max-width: 670px;
    }

    .input {
        @include media('<desktop'){
            width: 49%;
        }

        @include media('<phone'){
            width: 100%;
        }
    }

    .textarea {
        width: 100%;
    }

    .line {
        position: absolute;
        z-index: -1;
    }

    .line1 {
        top: 0;
        left: 0;
    }

    .line2 {
        top: 0;
        right: 0;
    }

    .line3 {
        bottom: 0;
        left: 0;
    }

    .line4 {
        bottom: 0;
        right: 0;
    }

    .btn-close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 0;
        border-radius: 50%;
        padding: 0;
        transition: $all_03;

        &::before, &::after{
            content:'';
            position: absolute;
            top: 15px;
            left: 7px;
            width: 15px;
            height: 1px;
            background-color: $blue;
            transition: all .3s ease 0s;
        }
    
        &::before{
            transform: rotate(45deg);
        }
    
        &::after{
            transform: rotate(-45deg);
        }

        &:hover{
            transform: rotate(180deg);
            background-color: $gold;

            &::before, &::after{ 
                background-color: $white;
            }
        }
    }
}

/* ------------------------------------request-block */

.request-block {
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    background-color: #E0EAF2;
    overflow: hidden;
    text-align: center;

    li {
        font-family: $queensila;
        color: $blue;
        font-size: 36px;
        font-weight: 400;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        white-space: nowrap;
        margin: 0 20px;

        @include media('<tablet'){
            font-size: 22px;
            margin: 0 15px;
        }
    }
}