#wrapper{
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-btn {
    display: inline-flex;
    width: 260px;
    height: 260px;
    padding: 50px;
    border-radius: 50%;
    border: 2px solid $gold;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: $blue;
    overflow: hidden;
    transition: color 2s;

    @include media('<phone'){
        width: 180px;
        height: 180px;
        padding: 30px;
        font-size: 14px;
    }

    &::before {
        content:'';
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $gold;
        transition: width .7s, height .7s;
    }

    &:hover{
        color: $white;
        transition: color .3s;

        &::before{
            border: 2px solid $gold;
            width: 1000px;
            height: 1000px;
        }
    }

    i {
        position: relative;
        margin: 0 auto;
        font-style: normal;
        z-index: 1;
    }
}

/* --------------------------main-section----------------------- */

.main-section {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 100px 0 200px 0;
    background-color: rgba($white_2, 0.7);

    @include media('<phone'){
        min-height: calc(100vh - 55px);
    }

    .ml {
        position: absolute;
        top: -50%;
        height: 200vh;
        width: 165px;
        display: block;
        background-color: $white;
        opacity: 40%;
        z-index: 1;

        @include media('<phone'){
            width: 115px;
        }
    }

    .ml1 {
        left: 50%;
        transform: translate(-115%) rotate(35deg);
        animation: ml1 3s;
    }

    .ml2 {
        right: 50%;
        transform: translate(107%) rotate(35deg);
        animation: ml2 3s;
    }

    @keyframes ml1 {
        0%{
            left: -50%;
        }
        70%{
            left: 66%;
        }
        100%{
            left: 50%;
        }
    }

    @keyframes ml2 {
        0%{
            right: 0;
        }
        70%{
            right: 66%;
        }
        100%{
            right: 50%;
        }
    }

    .container {
        max-width: 900px;
    }

    .main-title {
        font-family: $queensila;
        font-weight: normal;
        @include adaptiv-vaule("font-size", 126, 64, 1);
        text-transform: uppercase;
        color: $blue;
        margin: 0;
        text-align: center;

        @include media('<tablet'){

            br{
                display: none;
            }
        }

        @include media('<phone'){
            text-align: justify;
        }

        i{
            font-style: normal;
            color: $gold;
        }
    }

    .title-line {
        display: inline-block;
        height: 2px;
        min-width: 190px;
        background-color: $gold;
        transform: translateY(-40px);

        @include media('<tablet'){
            min-width: 160px;
            transform: translateY(-25px);
        }
    }

    .main-sub-title {
        text-align: center;
        font-family: $gilroy;
        font-weight: 400;
        @include adaptiv-vaule("font-size", 24, 18, 1);
        text-transform: uppercase;
        color: $blue_2;
        margin: 0;

        @include media('<phone'){
            text-align: left;
        }
    }

    .main-btn {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: -130px;
        z-index: 1;

        @include media('<phone'){
            bottom: -90px;
        }
    }
}