.contact_form-section {
    position: relative;
    margin: 80px 0;
    padding: 100px 0 150px 0;
    background: #F9F4EF;
    text-align: center;
    overflow: hidden;

    @include media('<tablet'){
        margin: 44px 0;
        padding: 56px 0;
    }

    .socials {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        @include media('<phone'){
            margin: 0 -7px 16px -7px;
        }
    }

    .icon-soc {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 2px solid $gold;
        margin: 0 10px;

        @include media('<phone'){
            width: 46px;
            height: 46px;
            margin: 0 7px;
        }

        &:hover {

            img {
                transform: scale(1.4);
            }
        }

        img {
            transition: $all_03;
        }
    }

    .sub-title {
        margin-bottom: 12px;

        @include media('<phone'){
            font-size: 14px;
        }
    
    }

    .phone {
        display: inline-flex;
        align-items: center;
        margin-bottom: 24px;
        font-family: $gilroy;
        color: $blue;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        transition: $all_03;
        
        &:hover {
            color: $gold;

            img {
                transform: scale(1.3);
            }
        }

        img {
            margin-right: 10px;
            transition: $all_03;
        }
    }

    form {
        width: 100%;
        max-width: 415px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .input {
        border: 1px solid #D6D7E3;
        padding: 16px;
        margin-bottom: 16px;
        font-family: $gilroy;
        color: $blue;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        transition: $all_03;
        background-color: transparent;

        &::placeholder {
            font-family: $gilroy;
            color: #776C69;
            font-size: 16px;
            font-weight: 400;
        }

        &:focus {
            border: 1px solid $blue;
        }
    }

    .textarea {
        height: 140px;
    }

    .form-btn {
        padding: 16px;
        border: 2px solid $gold;
        background-color: transparent;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: $blue;
        text-transform: uppercase;
        transition: $all_03;

        &:hover {
            background-color: $gold;
            color: $white;
        }
    }
}