#footer {
    position: relative;
    padding-top: 80px;
    background: #FCFCFD;

    .container {
        max-width: 1225px;
        z-index: 1;
    }

    .top {
        display: flex;

        @include media('<widescreen'){
            justify-content: space-around;
        }

        @include media('<tablet'){
            align-items: center;
            flex-direction: column;
        }
    }

    .logo-wrap {
        display: flex;
        flex-direction: column;
        padding-right: 90px;

        @include media('<widescreen'){
            padding-right: 30px;
        }

        @include media('<tablet'){
            align-items: center;
            padding: 0;
            margin-bottom: 0;
        }
    }

    .logo {
        margin-bottom: 36px;

        @include media('<phone'){
            width: 102px;
            margin-bottom: 21px;
        }
    }

    .geo-link {
        display: flex;
        align-items: flex-start;
        font-family: $gilroy;
        color: $blue;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.75;
        margin-bottom: 36px;
        transition: $all_03;

        @include media('<phone'){
            align-items: center;
            flex-direction: column;
            margin-bottom: 20px;
            text-align: center;
            font-size: 14px;
        }

        &:hover{
            text-shadow: $blue 0 0 0.5px;

            img {
                transform: scale(1.2);
            }
        }

        img {
            margin-right: 16px;
            transition: $all_03;

            @include media('<phone'){
                margin: 0 0 10px 0;
            }
        }
    }

    .socials {
        justify-content: flex-start;
        margin: 0 -10px 24px -10px;
    }

    .arrow {
        position: relative;
        width: 20px;
        height: 9px;
        margin-left: 5px;
        transition: $all_03;
        border: none;
        background-color: transparent;
        transform: rotate(-90deg);
        
        &::before, &::after {
            content:'';
            position: absolute;
            top: 3px;
            left: 5px;
            width: 6px;
            height: 1px;
            background-color: $blue;
            transition: all .3s ease 0s;
        }
    
        &::before {
            transform:  rotate(35deg);
        }
    
        &::after {
            transform: translate(4px)  rotate(-35deg);
        }
    }

    .menu-wrap {

        @include media('<tablet'){
            width: 100%;
        }

        .item-drop-footer {
            display: none;

            @include media('<widescreen'){
                display: block;
            }

            @include media('<tablet'){
                margin-right: -20px;
            }

            .arrow {

                .item-footer-active & {
                    transform: rotate(90deg);
                }
            }
        }

        .mobile-footer-menu {
            position: absolute;
            top: 0;
            left: -150%;
            height: 100%;
            width: 40%;
            background-color: $white;
            z-index: 5;
            transition: $all_05;

            @include media('<tablet'){
                width: 60%;
            }

            @include media('<phone'){
                width: 100%;
            }

            .item-footer-active & {
                left: 0;
            }
        }

        .two-menu,
        .three-menu {
            padding: 60px 0 30px 0;
        }

        .two-item {

            .arrow {
                transform: rotate(-90deg) !important;
            }
        }

        .two-link {

            @include media('<widescreen'){
                width: 100%;
                justify-content: space-between;
            }

            &::after {
                display: none;
            }
        }

        .btn-close {
            top: 15px;
            right: 25px;
            z-index: 5;
        }
    }

    .js-drilldown-back {
        position: absolute;
        top: 15px;
        left: 25px;
        display: flex;

        &::before, &::after {
            content:'';
            position: absolute;
            top: 3px;
            left: 5px;
            width: 7px;
            height: 1px;
            background-color: $gold;
            transition: all .3s ease 0s;
        }
    
        &::before {
            top: 18px;
            transform:  rotate(125deg);
        }
    
        &::after {
            top: 23px;
            transform: rotate(-125deg);
        }

        a {
            padding: 10px 10px 10px 25px;
            font-family: $gilroy;
            color: $blue;
            font-size: 20px;
            font-weight: 600;

            &::before {
                display: none;
            }
        }
    }

    .menu {
        position: static;
        display: flex;
        flex-direction: column;
        padding: 0 65px;
        border-left: 1px solid $white_2;
        border-right: 1px solid $white_2;

        @include media('<tablet'){
            padding: 22px 0 0 0;
            border: none;
            border-top: 1px solid $white_2;
            align-items: center;
        }
    }

    .item {
        margin-bottom: 20px;
    }

    .link {
        position: relative;
        display: flex;
        align-items: center;
        background: transparent;
        padding: 0;
        font-family: $gilroy;
        color: $blue;
        font-size: 14px;
        font-weight: 600;
        line-height: 2;
        z-index: 2;
        transition: $all_03;
        white-space: nowrap;

        &:hover {
            text-shadow: $blue 0 0 0.5px;
        }
    }

    .two-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        column-gap: 30px;
    }
    
    .two-item {

        @include media('<widescreen') {
            width: 100%;
            margin: 0;
            padding: 10px 30px;
            border-bottom: 1px solid #D6D7E3;
        }
    }

    .two-link {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-family: $gilroy;
        color: $blue;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7;
        padding: 0;
        transition: $all_03;
        background: transparent;
        
        &:hover{
            text-shadow: $blue 0 0 0.5px;
        }
    }

    .three-menu {
        padding: 24px;
        margin: 0;
        list-style: none;
    }

    .three-item {

        @include media('<widescreen') {
            width: 100%;
            margin: 0;
            padding: 10px 30px;
            border-bottom: 1px solid #D6D7E3;
        }
    }

    .three-link {
        position: relative;
        display: inline-block;
        font-family: $gilroy;
        color: $gray_2;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7;
        margin-bottom: 12px;
        padding: 0;
        transition: $all_03;

        @include media('<widescreen') {
            color: $blue;
            font-weight: 600;
            margin: 0;
        }

        &:hover{
            text-shadow: #010b6c 0 0 0.5px;
        }
    }

    .sec-menu {
        padding-left: 80px;

        @include media('<widescreen'){
            display: none;
        }

        .two-menu {
            display: flex;
            flex-wrap: wrap;
        }

        .two-item {
            position: relative;
            width: 45%;
            margin-bottom: 20px;
            
            &:hover{

                .arrow {
                    transform: rotate(90deg);
                }
    
                .three-menu {
                    opacity: 1;
                    z-index: 2;
                    visibility: visible;
                    pointer-events: all;
                }
            }
        }

        .three-menu {
            position: absolute;
            top: -50px;
            left: 80%;
            width: 100vw;
            max-width: 210px;
            background-color: #FDFAF8;
            opacity: 0;
            z-index: -1;
            visibility: hidden;
            pointer-events: none;

            @include media('<1500px'){
                left: -112%;
            }

            @include media('<widescreen'){
                left: -80%;
            }
        }
    }

    .bot {
        border-top: 1px solid #F3F2ED;
        padding: 24px 0;
        text-align: center;
    }

    .text {
        font-weight: 400;
        font-size: 12px;
    }

    .line {
        position: absolute;
        z-index: -1;
    }

    .line1 {
        top: 0;
        left: 0;
    }

    .line2 {
        bottom: 70px;
        left: 70%;
        transform: translate(-50%);
    }

    .line3 {
        top: 50px;
        right: 0;
    }
}