#footer {
    position: relative;
    padding-top: 80px;

    .container {
        position: relative;
        max-width: 1225px;
        z-index: 1;
    }

    .top {
        display: flex;
    }

    .logo-wrap {
        display: flex;
        flex-direction: column;
        padding-right: 90px;
    }

    .logo {
        margin-bottom: 36px;
    }

    .geo-link {
        display: flex;
        align-items: flex-start;
        font-family: $gilroy;
        color: $blue;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.75;
        margin-bottom: 36px;

        &:hover{

            img {
                transform: scale(1.2);
            }
        }

        img {
            margin-right: 16px;
            transition: $all_03;
        }
    }

    .socials {
        justify-content: flex-start;
        margin: 0 -10px 24px -10px;
    }

    .arrow {
        position: relative;
        width: 20px;
        height: 9px;
        margin-left: 5px;
        transition: $all_03;
        border: none;
        background-color: transparent;
        transform: rotate(-90deg);
        
        &::before, &::after {
            content:'';
            position: absolute;
            top: 3px;
            left: 5px;
            width: 6px;
            height: 1px;
            background-color: $blue;
            transition: all .3s ease 0s;
        }
    
        &::before {
            transform:  rotate(35deg);
        }
    
        &::after {
            transform: translate(4px)  rotate(-35deg);
        }
    }

    .menu {
        position: static;
        display: flex;
        flex-direction: column;
        padding: 0 65px;
        border-left: 1px solid $white_2;
        border-right: 1px solid $white_2;
    }

    .item {
        margin-bottom: 20px;
    }

    .item-drop {
        margin: 0;

        .link {
            display: none;
        }
    }

    .link {
        position: relative;
        display: flex;
        align-items: center;
        background: transparent;
        padding: 0;
        font-family: $gilroy;
        color: $blue;
        font-size: 14px;
        font-weight: 600;
        line-height: 2;
        z-index: 2;
        transition: $all_03;

        &:hover {
            text-shadow: $blue 0 0 0.5px;

        }
    }

    .two-menu {
        position: absolute;
        top: 0;
        right: 10%;
        margin: 0;
        padding: 0;
        list-style: none;
        columns: 2;
        column-gap: 40px;
    }

    .two-item {
        margin-bottom: 20px;
        
        &:hover{

            .three-menu {
                opacity: 1;
                z-index: 1;
                visibility: visible;
                pointer-events: all;
            }
        }
    }

    .two-link {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-family: $gilroy;
        color: $blue;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7;
        padding: 0;
        transition: $all_03;
        background: transparent;
        
        &:hover{
            text-shadow: $blue 0 0 0.5px;
        }
    }

    .three-menu {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        max-width: 210px;
        background-color: #FDFAF8;
        padding: 24px;
        margin: 0;
        list-style: none;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        pointer-events: none;
    }

    .three-link {
        position: relative;
        display: inline-block;
        font-family: $gilroy;
        color: $gray_2;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7;
        margin-bottom: 12px;
        padding: 0;
        transition: $all_03;

        &:hover{
            text-shadow: #010b6c 0 0 0.5px;
        }
    }

    .bot {
        border-top: 1px solid #F3F2ED;
        padding: 24px 0;
        text-align: center;
    }

    .text {
        font-weight: 400;
        font-size: 12px;
    }

    .line {
        position: absolute;
        z-index: -1s;
    }

    .line1 {
        top: 0;
        left: 0;
    }

    .line2 {
        bottom: 70px;
        left: 70%;
        transform: translate(-50%);
    }

    .line3 {
        top: 50px;
        right: 0;
    }
}