#footer {
    position: relative;
    padding-top: 80px;

    .container {
        position: relative;
        max-width: 1225px;
        z-index: 1;
    }

    .top {
        display: flex;
    }

    .logo-wrap {
        display: flex;
        flex-direction: column;
        padding-right: 90px;
    }

    .logo {
        margin-bottom: 36px;
    }

    .geo-link {
        display: flex;
        align-items: flex-start;
        font-family: $gilroy;
        color: $blue;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.75;
        margin-bottom: 36px;

        &:hover{

            img {
                transform: scale(1.2);
            }
        }

        img {
            margin-right: 16px;
            transition: $all_03;
        }
    }

    .socials {
        justify-content: flex-start;
        margin: 0 -10px 24px -10px;
    }

    .menu {
        position: static;
        display: flex;
        flex-direction: column;
        padding: 0 65px;
        border-left: 1px solid $white_2;
        border-right: 1px solid $white_2;
    }

    .item {
        margin-bottom: 20px;
    }

    .link {
        position: relative;
        display: flex;
        align-items: center;
        background: transparent;
        padding: 0;
        font-family: $gilroy;
        color: $blue;
        font-size: 14px;
        font-weight: 600;
        line-height: 2;
        z-index: 2;
        transition: $all_03;

        &:hover {
            text-shadow: $blue 0 0 0.5px;

        }
    }

    .two-menu {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        columns: 2;
    }

    .two-item {
        margin-bottom: 20px;
    }

    .two-link {
        position: relative;
        display: inline-block;
        font-family: $gilroy;
        color: $blue;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7;
        padding: 0;
        transition: $all_03;
        background: transparent;
        
        &:hover{
            text-shadow: $blue 0 0 0.5px;
        }
    }

    .three-menu {
        display: none;
    }

    .bot {
        border-top: 1px solid #F3F2ED;
        padding: 24px 0;
        text-align: center;
    }

    .text {
        font-weight: 400;
        font-size: 12px;
    }

    .line {
        position: absolute;
        z-index: -1s;
    }

    .line1 {
        top: 0;
        left: 0;
    }

    .line2 {
        bottom: 70px;
        left: 70%;
        transform: translate(-50%);
    }

    .line3 {
        top: 50px;
        right: 0;
    }
}