.overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: $all_03;
}

.overflow_active {
    z-index: 0;
    visibility: visible;
    opacity: 1;
}

#header {
    position: absolute;
    width: 100%;
    max-height: 90px;
    top: 0;
    left: 0;
    padding: 18px 0;
    z-index: 5;

    @include media('<tablet'){
        max-height: 70px;
        padding: 5px 0;
    }

    &::after {
        content:'';
        position: absolute;
        top: -150%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        transition: $all_05;

        .active & {
            top: 0;
            box-shadow: 0 -5px 10px $gray_2;

            @include media('<phone') {
                box-shadow: none;
            }
        }
    }
    
    .container {
        max-width: 1400px;
        display: flex;
    }

    .back-btn {
        position: relative;
        display: none;
        align-items: center;
        font-family: $gilroy;
        color: $blue;
        font-size: 20px;
        font-weight: 600;
        transition: $all_03;
        z-index: 2;
        
        .arrow {
            margin: 0;
            transform: rotate(-270deg);

            &::before, &::after {
                top: 10px;
                left: 4px;
                width: 7px;
                background-color: $gold;
            }

            &::after {
                transform: translate(6px)  rotate(-35deg);
            }
        }


        .item-active & {

            @include media('<widescreen') {
                display: flex;
            }
        }
    }

    .arrow {
        position: relative;
        width: 20px;
        height: 9px;
        margin-left: 5px;
        transition: $all_03;
        border: none;
        background-color: transparent;

        @include media('<widescreen') {
            transform: rotate(-90deg);
        }
        
        &::before, &::after {
            content:'';
            position: absolute;
            top: 3px;
            left: 5px;
            width: 6px;
            height: 1px;
            background-color: $white;
            transition: all .3s ease 0s;

            @include media('<widescreen') {
                background-color: $blue;
            }
        }
    
        &::before {
            transform:  rotate(35deg);
        }
    
        &::after {
            transform: translate(4px)  rotate(-35deg);
        }
    }

    .mob {
        display: none;

        @include media('<widescreen') {
            display: block;
        }
    }

    .is-drilldown {
        height: 100%;
        max-width: 100% !important;
    }

    .js-drilldown-back {
        display: none;
    }
    
    .logo {
        width: 235px;
        z-index: 2;
        transition: $all_05;

        @include media('<1400px') {
            width: 170px;
        } 

        @include media('<tablet') {
            width: 120px;
        } 

        img {
            width: 100%;
            transition: $all_03;
        }

        .item-active & {

            @include media('<widescreen') {
                width: 0;
            }
        }
    }
        
    .menu-wrap {
        padding: 13px 0;

        @include media('<widescreen') {
            position: fixed;
            width: 40%;
            height: 100vh;
            overflow: auto;
            top: 0;
            left: -150%;
            background-color: $white;
            transition: $all_05;
            padding-top: 150px;
        }

        @include media('<tablet') {
            width: 60%;
            padding-top: 80px;
        }

        @include media('<phone') {
            width: 100%;
        }

        .active & {
            left: 0;
        }

        .item-active & {

            @include media('<widescreen') {
                padding-top: 90px;
            }

            @include media('<tablet') {
                padding-top: 70px;
            }
        }
    }
        
    .menu {
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        margin: 0;
    
        @include media('<widescreen') {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
    
    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10px;

        @include media('<widescreen') {
            width: 100%;
            margin: 0;
            padding: 10px 30px;
            border-bottom: 1px solid #D6D7E3;
        }
    }

    .item-drop {

        &:hover{
        
            .two-menu {

                @include media('>=widescreen') {
                    opacity: 1;
                    z-index: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }
        }
    }

    .link {
        position: relative;
        display: flex;
        align-items: center;
        background: transparent;
        padding: 0;
        font-family: $gilroy;
        color: $white;
        font-size: 16px;
        font-weight: 500;
        line-height: 2;
        text-transform: uppercase;
        z-index: 2;
        transition: $all_03;

        @include media('<1400px') {
            font-size: 14px;
        }  

        @include media('<widescreen') {
            color: $blue;
            width: 100%;
            justify-content: space-between;
            font-size: 16px;
            text-transform: none;
        }
        
        &::after {
            content:'';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            width: 0;
            height: 1px;
            background-color: $gold;
            transition: $all_03;

            @include media('<widescreen') {
                display: none;
            }
        }

        &:hover {
            text-shadow: $white 0 0 0.5px;

            &::after {
                width: 80%;
            }
        }

        .active & {

            &:hover {
                text-shadow: #010b6c 0 0 0.5px;
            }
        }
    }

    .two-menu {
        columns: 5;
        column-gap: 40px;
        padding: 120px 45px 40px 45px;
        margin: 0;
        list-style: none;
        background-color: $white;
        z-index: 3;

        @include media('<1400px'){
            padding: 80px 30px 30px 30px;
        } 

        @include media('>=widescreen') {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            width: 100%;
            opacity: 0;
            z-index: -1;
            visibility: hidden;
            pointer-events: none;
            transition: $all_03;
        }

        @include media('<widescreen'){
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }

    .two-item {
        break-inside: avoid;

        @include media('<widescreen') {
            width: 100%;
            margin: 0;
            padding: 10px 30px;
            border-bottom: 1px solid #D6D7E3;
        }

        .arrow {
            display: none;

            @include media('<widescreen') {
                display: block;
            }
        }
    }

    .two-link {
        position: relative;
        display: inline-block;
        font-family: $gilroy;
        color: $blue;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.7;
        padding: 0;
        margin: 16px 0;
        transition: $all_03;

        @include media('<widescreen'){
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 500;
            margin: 0;
            width: 100%;
        }
        
        &::after{
            display: none;
        }

        &:hover{

            @include media('<widescreen'){
                text-shadow: #010b6c 0 0 0.5px;
            }

            .menu-img {
                opacity: 1;
                z-index: 1;
                visibility: visible;
                pointer-events: all;
            }
        }
    }

    .three-menu {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .three-item {

        @include media('<widescreen') {
            width: 100%;
            margin: 0;
            padding: 10px 30px;
            border-bottom: 1px solid #D6D7E3;
        }
    }

    .three-link {
        position: relative;
        display: inline-block;
        font-family: $gilroy;
        color: $gray_2;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7;
        margin-bottom: 12px;
        padding: 0;
        transition: $all_03;

        @include media('<widescreen'){
            color: $blue;
            font-size: 16px;
            margin: 0;
            width: 100%;
        }

        &::after {
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $gold;
            transition: $all_03;

            @include media('<widescreen'){
                display: none;
            }
        }

        &:hover{

            @include media('<widescreen'){
                text-shadow: #010b6c 0 0 0.5px;
            }

            &::after {
                width: 100%;
            }
        }
    }

    .menu-img {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 180px;
        height: 240px;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        pointer-events: none;
        transition: opacity .3s ease 0s;

        @include media('<widescreen'){
            display: none;
        }

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .tel-wrap {
        flex: 1 1 auto;
        padding: 13px 0;
        text-align: right;
    }

    .tel {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        width: auto;
        color: $white;

        @include media('<phone'){
            display: none;
        } 

        &:hover{

            .active & {
                text-shadow: #010b6c 0 0 0.5px;
            }
        }

        .active & {
            color: $blue;
        }

        img {
            margin-right: 15px;
        }
    }

    .line {
        position: absolute;
        z-index: -1;
        transition: $all_03;
        opacity: .6;

        .active & {
            opacity: 0;
        }
    }

    .line1 {
        top: 0;
        left: 0;

        @include media('<phone'){
            display: none;
        } 
    }

    .line2 {
        bottom: -45px;
        left: 50%;
        transform: translate(-50%);

        @include media('<tablet'){
            display: none;
        } 
    }

    .line3 {
        bottom: -50px;
        right: 0;

        @include media('<desktop'){
            display: none;
        }   
    }
    
    /* ---------------burger */
    
    .burger{
        display: none;
        position: relative;
        width: 24px;
        height: 12px;
        margin: 20px 0 20px 40px;
        z-index: 5;

        @include media('<widescreen'){
            display: block;
        }
            
        &::before, &::after{
            content:'';
            position: absolute;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: $gold;
            transition: $all_03;
        }
    
        &::before{
            top: 0;

            .active & {
                top: 7px;
                transform: rotate(45deg);
            }
        }
    
        &::after{
            bottom: 0;

            .active & {
                bottom: 3px;
                transform: rotate(-45deg);
            }
        }
    }
}

@include media('>=widescreen'){

    #header.hover {
    
        .logo {
    
            img {
                width: 170px;
        
                @include media('<1400px'){
                    width: 120px;
                } 
            }
        }

        .link {
            color: $blue;
        }
    
        .item-drop {
    
            .link {
                color: $blue;
                text-shadow: $blue 0 0 0.5px;
                
                &::after{
                    width: 80%;
                }
    
                .arrow {
    
                    &::before {
                        background-color: $blue;
                        transform:  rotate(-35deg);
                    }
                
                    &::after {
                        background-color: $blue;
                        transform: translate(4px)  rotate(35deg);
                    }
                }
            }
        }
    }
}

#header.dark {

    .link {
        color: $blue;
    }

    .arrow {

        &::before, &::after {
            background-color: $blue;
        }
    }

    .back-btn {
        
        .arrow {

            &::before, &::after {
                background-color: $gold;
            }
        }
    }

    .line {
        opacity: 1;
    }
}