.overflow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: $all_03;
}

.overflow_active {
    z-index: 2;
    visibility: visible;
    opacity: 1;
}

#header {
    position: absolute;
    width: 100%;
    max-height: 90px;
    top: 0;
    left: 0;
    padding: 18px 0;
    z-index: 5;

    @include media('<tablet'){
        max-height: 70px;
        padding: 5px 0;
    }

    &::after {
        content:'';
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        border-bottom: 1px solid #D6D7E3;
        box-shadow: 0 0 10px #D6D7E3;
        z-index: -1;
        visibility: hidden;
        transition: $all_07;

        .active & {
            top: 0;
            z-index: 0;
            visibility: visible;
        }

        .item-active & {
            display: none;
        }
    }

    .active & {

        &::after {
            top: 0;
            z-index: 0;
            visibility: visible;
        }
    }

    .item-active & {
        background-color: $white;
        border-bottom: 1px solid #D6D7E3;
        box-shadow: 0 0 10px #D6D7E3;
    }
    
    .container {
        max-width: 1400px;
        display: flex;
    }
    
    .logo {
        width: 235px;
        z-index: 2;
        transition: $all_05;

        @include media('<1400px') {
            width: 170px;
        } 

        @include media('<tablet') {
            width: 120px;
        } 

        .item-active & {
            opacity: 0;
            z-index: -1;
            visibility: hidden;
        }

        img {
            width: 100%;
            transition: $all_03;
        }
    }

    button {
        border: none;
        background-color: transparent;
    }

    .controls {
        display: flex;
        align-items: center;
        padding: 0;

        @include media('<widescreen') {
            justify-content: space-between;
        }

        .item-active & {
            position: absolute;
            top: 0;
            left: 0;
            padding: 25px 20px 24px 20px;
            background-color: $white;
            border-bottom: 1px solid #D6D7E3;
            flex-direction: row-reverse;
            justify-content: flex-end;
            font-size: 20px;

            @include media('<tablet'){
                padding: 14px 20px 15px 20px;
            }
        }
    }
    
    .arrows {
        position: relative;
        width: 20px;
        height: 9px;
        margin-left: 5px;
        transition: $all_03;

        @include media('<widescreen') {
            transform: rotate(-90deg);
        }
        
        &::before, &::after {
            content:'';
            position: absolute;
            top: 3px;
            left: 5px;
            width: 6px;
            height: 1px;
            background-color: $blue;
            transition: all .3s ease 0s;
        }
    
        &::before {
            transform:  rotate(35deg);
        }
    
        &::after {
            transform: translate(4px)  rotate(-35deg);
        }

        .item-active & {
            transform: rotate(90deg) scale(1.5);
            margin-right: 20px;

            &::before, &::after {
                background-color: $gold;
            }
        }
    }
    
    .menu-wrap {
        padding: 13px 0;

        @include media('<widescreen') {
            position: fixed;
            width: 40%;
            height: 100vh;
            overflow: auto;
            top: 0;
            left: -150%;
            background-color: $white;
            transition: $all_05;
            padding: 150px 30px 50px 30px;
        }

        @include media('<tablet') {
            width: 60%;
            padding: 100px 30px 50px 30px;
        }

        @include media('<phone') {
            width: 100%;
        }

        .active & {
            left: 0;
        }

        .item-active & {
            overflow: hidden;
            padding: 90px 30px 50px 30px;

            @include media('<tablet') {
                padding: 70px 30px 50px 30px;
            }
        }
    }
        
    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        margin: 0;
    
        @include media('<widescreen') {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
    
    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10px;

        @include media('<widescreen') {
            width: 100%;
            margin: 0;
            padding: 10px 0;
            border-bottom: 1px solid #D6D7E3;
        }

        .item-active & {
            display: none;
            border-bottom: none;
        }
    }

    .item-drop {

        .item-active & {
            display: block;
            flex-direction: column;
        }

        &:hover {

            .sub-menu-wrap {

                @include media('>=widescreen') {
                    opacity: 1;
                    z-index: 0;
                    visibility: visible;
                    pointer-events: all;
                }
            }
        }
    }

    .link {
        position: relative;
        font-family: $gilroy;
        color: $blue;
        font-size: 16px;
        font-weight: 500;
        line-height: 2;
        text-transform: uppercase;
        z-index: 1;

        @include media('<1400px') {
            font-size: 14px;
        }  

        @include media('>=widescreen') {
            transition: $all_03;
        }

        @include media('<widescreen') {
            width: 100%;
            font-size: 16px;
            text-transform: none;
        }

        &:before {
            content:'';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            width: 0;
            height: 2px;
            background-color: $gold;
            transition: $all_03;

            @include media('<widescreen') {
                display: none;
            }
        }

        &:hover {
            text-shadow: $blue 0 0 .5px;

            &:before {
                width: 70%;
            }
        }
    }

    .sub-menu-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 90px 0 30px 0;
        list-style: none;
        background-color: $white;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: $all_03;
        pointer-events: none;

        @include media('<1400px'){
            padding: 80px 0 30px 0;
        } 

        @include media('<widescreen') {
            position: relative;
            display: none;
            opacity: 1;
            z-index: 1;
            visibility: visible;
            padding: 0;
        }

        &::after {
            content:'';
            position: absolute;
            top: 90px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #D6D7E3;

            @include media('<1400px') {
                top: 80px;
            } 

            @include media('<widescreen') {
                display: none;
            }
        }

        .item-active & {
            display: block;
            pointer-events: all;
        }
    }

    .sub-menu{
        max-width: 1400px;
        display: flex;
        justify-content: space-between;
        padding: 24px 30px 0 30px;
        margin: 0 auto;
        list-style: none;

        @include media('<1400px'){
            padding: 4px 30px 0 30px;
        }

        @include media('<widescreen'){
            width: 100%;
            flex-direction: column;
            padding: 0;
        }

        .item-active & {
            overflow: auto;
        }
    }

    .sub-item {

        .sub-item-active & {
            display: none;
        }
    }

    .sub-item.active {
        display: block;
    }

    .sub-block {
        padding: 0;
        margin: 0;
        list-style: none;

        @include media('<widescreen'){
            display: none;
        }

        .sub-item-active & {
            display: block;
        }
    }

    .sub-btn-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media('<widescreen'){
            width: 99%;
            border-bottom: 1px solid #D6D7E3;
        }
        
        .arrows {
            display: none;
            transform: rotate(270deg);
            height: 25px;
            margin-right: 0;

            @include media('<widescreen'){
                display: block;
            }

            &::before, &::after {
                background-color: $blue;
                top: 12px;
            }

            .sub-item-active & {

                &::before {
                    transform:  rotate(145deg) scale(1.5);
                    background-color: $gold;
                }
            
                &::after {
                    transform: translate(7px)  rotate(-145deg) scale(1.5);
                    background-color: $gold;
                }
            }
        }
    }

    .sub-bolt-link {
        position: relative;
        display: inline-block;
        font-family: $gilroy;
        color: $blue;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.7;
        margin: 16px 0;

        @include media('<widescreen'){
            font-weight: 500;
            padding: 12px 0;
            margin: 0;
        }

        &:hover{

            .sub-img {
                opacity: 1;
                visibility: visible;
                z-index: 2;
                pointer-events: all;
            }
        }

        .sub-item-active & {
            font-weight: 600;
        }
    }

    .sub-link {
        position: relative;
        display: inline-block;
        font-family: $gilroy;
        color: $gray_2;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7;
        margin-bottom: 12px;

        @include media('<widescreen'){
            width: 100%;
        }

        &::after {
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $gold;
            transition: $all_03;
        }

        &:hover{

            &::after {
                width: 100%;
            }
        }

        .sub-item-active & {
            margin: 0;
            padding: 12px 0;
        }
    }

    .sub-img {
        position: absolute;
        top: 100%;
        width: 180px;
        height: 240px;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        pointer-events: none;
        transition: $all_03;

        @include media('<widescreen'){
            display: none;
        }

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .tel-wrap {
        flex: 1 1 auto;
        padding: 13px 0;
        text-align: right;
    }

    .tel {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        width: auto;

        @include media('<phone'){
            display: none;
        } 

        img {
            margin-right: 15px;
        }
    }

    .line {
        position: absolute;
        z-index: -1;
        transition: $all_03;

        .active & {
            opacity: 0;
        }
    }

    .line1 {
        top: 0;
        left: 0;

        @include media('<phone'){
            display: none;
        } 
    }

    .line2 {
        bottom: -45px;
        left: 50%;
        transform: translate(-50%);

        @include media('<tablet'){
            display: none;
        } 
    }

    .line3 {
        bottom: -50px;
        right: 0;

        @include media('<desktop'){
            display: none;
        }   
    }
    
    /* ---------------burger */
    
    .burger{
        display: none;
        position: relative;
        width: 24px;
        height: 12px;
        margin: 20px 0 20px 40px;
        z-index: 5;

        @include media('<widescreen'){
            display: block;
        }
            
        &::before, &::after{
            content:'';
            position: absolute;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: $gold;
            transition: $all_03;
        }
    
        &::before{
            top: 0;

            .active & {
                top: 7px;
                transform: rotate(45deg);
            }
        }
    
        &::after{
            bottom: 0;

            .active & {
                bottom: 3px;
                transform: rotate(-45deg);
            }
        }
    }
}

#header.hover {

    .logo {

        img {
            width: 170px;
    
            @include media('<1400px'){
                width: 120px;
            } 
        }
    }

    .controls {
        text-shadow: $blue 0 0 .5px;

        &:before {
            width: 70%;
        }
    }

    .arrows {

        &::before, &::after{
            height: 1.5px;
            transition: $all_03;
        }

        &::before{
            transform:  rotate(-35deg);
        }
    
        &::after{
            transform: translate(4px)  rotate(35deg);
        }
    }
}