/* -----------------------------contact_form-section------------------- */

.contact_form-section {
    position: relative;
    padding: 100px 0 150px 0;
    background: #F9F4EF;
    text-align: center;
    overflow: hidden;

    @include media('<tablet'){
        padding: 56px 0 150px 0;
    }

    @include media('<phone'){
        padding: 56px 0 125px 0;
    }

    .socials {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        @include media('<phone'){
            margin: 0 -7px 16px -7px;
        }
    }

    .icon-soc {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 2px solid $gold;
        margin: 0 10px;

        @include media('<phone'){
            width: 46px;
            height: 46px;
            margin: 0 7px;
        }

        &:hover {

            img {
                transform: scale(1.4);
            }
        }

        img {
            transition: $all_03;
        }
    }

    .sub-title {
        margin-bottom: 12px;

        @include media('<phone'){
            font-size: 14px;
        }
    
    }

    .phone {
        display: inline-flex;
        align-items: center;
        margin-bottom: 24px;
        font-family: $gilroy;
        color: $blue;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        transition: $all_03;
        
        &:hover {
            color: $gold;

            img {
                transform: scale(1.3);
            }
        }

        img {
            margin-right: 10px;
            transition: $all_03;
        }
    }

    form {
        width: 100%;
        max-width: 415px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .input {
        border: 1px solid #D6D7E3;
        padding: 16px;
        margin-bottom: 16px;
        font-family: $gilroy;
        color: $blue;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        transition: $all_03;
        background-color: transparent;

        &::placeholder {
            font-family: $gilroy;
            color: #776C69;
            font-size: 16px;
            font-weight: 400;
        }

        &:focus {
            border: 1px solid $blue;
        }
    }

    .textarea {
        height: 140px;
    }

    #form-btn {
        display: none;
    }

    .main-btn {
        cursor: pointer;
    }
}

/* ------------------------------main-slider-section-------------------- */

.main-slider-section {
    position: relative;
    padding: 80px 0;

    @include media('<tablet'){
        padding: 44px 0;
    }

    .stiker {
        top: 50%;
        right: -170px;
        transform: translateY(-50%) rotate(0deg);

        @include media('<tablet_max'){
            right: -100px;
            @include adaptiv-vaule("top", 500, 175, 1);
            transform: rotate(50deg);
        }
    }

    .container {
        position: relative;
    }

    .bg {
        position: absolute;
        top: 35px;
        left: 0;
        width: 93%;
        height: 80%;
        background-color: #F3F2ED;
        z-index: -1;
        overflow: hidden;

        @include media('<tablet_max'){
            height: 90%;
        }
    }

    .swiper-wrapper {
        padding-bottom: 30px;
    }

    .slide {
        opacity: 0 !important;
        z-index: -1 !important;
    }

    .swiper-slide-active {
        opacity: 1 !important;
        z-index: 1 !important;
    }

    .content {
        display: flex;
        padding-right: 75px;

        @include media('<tablet_max'){
            flex-direction: column;
            padding: 0;
        }
    }

    .img-cont {

        @include media('<tablet_max'){
            padding-right: 80px;
            margin-bottom: 36px;
        }
    }

    .text {
        max-width: 300px;
        min-width: 300px;
        margin: 0 0 56px 42px;

        @include media('<tablet_max'){
            max-width: 100%;
            min-width: 0;
            margin: 0 6% 56px 0;
        }
    }

    .description {
        margin-bottom: 20px;

        @include media('<tablet_max'){
            margin-bottom: 36px;
        }

        @include media('<phone'){
            font-size: 14px;
        }
    }

    #pagination {
        display: flex;
        width: 100%;
        max-width: 500px;
        right: 0;
        left: auto;
        bottom: 50px;
        padding-right: 60px;

        @include media('<laptop_min'){
            justify-content: center;
            bottom: 0;
            max-width: 100%;
            padding: 0;
        }
    }

    .swiper-pagination-bullet {
        width: 100%;
        height: 3px;
        background-color: $gold;
        border-radius: 0;
        margin-left: 20px !important;
        opacity: .3;
        transition: $all_05;

        @include media('<phone'){
            margin-left: 10px !important;
        }

        &:first-child {
            margin-left: 0 !important;
        }

    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }
}

.show {

    .stiker {
        transform: translateY(-50%) rotate(-90deg);

        @include media('<tablet_max'){
            transform: rotate(-90deg);
        }
    }
}

/* ------------------------------sec-slider-section---------------------- */

.sec-slider-section {
    padding: 80px 20px;

    @include media('<tablet'){
        padding: 44px 20px; 
    }

    .container {
        padding: 0;
    }

    .title-wrap {
        margin-bottom: 56px;
    }
    
    .sec-slider {
        position: relative;
        max-width: 1320px;
        padding-right: 15px;
        margin: 0 auto;
        overflow: visible;
        cursor: url(../images/icons/cursor.png), pointer;
    }

    .slide {
        min-height: 355px;
        display: flex;
        border: 2px solid #E4E2EA;
        overflow: hidden;

        @include media('<tablet_max'){
            flex-direction: column;
        }
    }

    .img-slide {
        min-width: 245px;
        
        @include media('<tablet_max'){
            min-height: 660px;
        }

        @include media('<phone_max'){
            min-height: 460px;
        }

        @include media('<phone'){
            min-height: 280px;
        }

        img {
            @include media('<tablet_max'){
                height: auto;
            }
        }
    }

    .text {
        max-width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 30px;

        @include media('<phone'){
            padding: 18px 14px 36px 14px;
        }
    }

    .description {
        font-size: 22px;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 24px;

        @include media('<phone'){
            font-size: 18px;
        }
    }

    .user {
        display: flex;
        align-items: center;
    }

    .user-img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .name {
        font-size: 18px;
        font-weight: 500;
    }

    .slider-nav {
        padding-top: 52px;
    }

    .sec-swiper-scrollbar {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        z-index: 1;
        max-width: 1320px;
        padding-right: 20px;
        margin: 0 auto;
        background: rgba($gold, 0.2);
        border-radius: 0;
    }

    .swiper-scrollbar-drag {
        background: $gold;
        border-radius: 0;
        cursor: grab;
    }
}

/* ------------------------------video-slider-section--------------------- */

.video-slider-section {
    padding: 160px 20px;

    @include media('<tablet'){
        padding: 88px 20px;
    }

    .container {
        padding: 0;
    }

    .video-slider {
        max-width: 1320px;
        margin: 0 auto;
        overflow: visible;
    }

    .video-section {
        width: 100%;
        height: auto;
        @include adaptiv-vaule("min-height", 355, 260, 1);
        margin: 0;
    }

    .slider-nav {
        padding-top: 52px;
    }


    .video-swiper-scrollbar {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        z-index: 1;
        max-width: 1320px;
        padding-right: 20px;
        margin: 0 auto;
        background: rgba($gold, 0.2);
        border-radius: 0;

    }

    .swiper-scrollbar-drag {
        background: $gold;
        border-radius: 0;
        cursor: grab;
    }
}

/* -----------------------------reviews-slider-section-------------------- */

.reviews-slider-section {
    padding: 160px 0;
    text-align: center;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .container{
        position: relative;

        &::after{
            content:'';
            position: absolute;
            bottom: 20px;
            left: 0px;
            width: 100%;
            height: 90%;
            background-color: #F3F2ED;
            opacity: 0.7;
            z-index: -1;
        }
    }
    
    .reviews-slider {
        padding: 20px 0 90px 0;

        @include media('<tablet'){
            padding: 0 0 56px 0;
        }
    }

    .content {
        opacity: 0 !important;
        transition: $all_05;
    }

    .swiper-slide-active {

        .content {
            opacity: 1 !important;
        }
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: max-content;
        margin: 0 auto 16px auto;
        overflow: hidden;

        img {
            margin-right: 6px;
            transition: $all_1;
        }
    }

    .labe {
        font-family: $gilroy;
        color: $gold;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.3;
        transform: translate(-100%);
        transition: $all_1;

        @include media('<phone'){
            font-size: 16px;
        }
    }

    .text.show {
        
        .labe {
            transform: translate(0);
        }

        img {
            transform: rotate(-360deg);
        }
    }

    .stars {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
    }

    .star {
        margin: 0 3px;
    }

    .discription {
        width: 100%;
        max-width: 930px;
        margin: 0 auto 24px auto;
        font-family: $queensila;
        color: $blue;
        font-size: 36px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.02em;

        @include media('<tablet'){
            font-size: 26px;
        }

        @include media('<phone'){
            font-size: 21px;
        }
    }

    .user-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: max-content;
        margin: 0 auto;
        overflow: hidden;
    }

    .user-img {
        position: relative;
        width: 48px;
        height: 48px;
        overflow: hidden;
        margin-right: 16px;
        z-index: 1;
    }

    .name {
        font-family: $gilroy;
        color: $blue;
        font-size: 22px;
        font-weight: 600;
        transform: translate(-120%);
        transition: $all_1;

        @include media('<phone'){
            font-size: 20px;
        }
    }

    .user-wrap.show {

        .name {
            transform: translate(0%);
        }
    }

    .reviews-swiper-pagination {
        display: flex;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        width: 100%;
        max-width: 83px;
        height: 3px;
        background-color: $gold;
        border-radius: 0;
        opacity: .3;
        transition: $all_05;
        margin: 0 10px !important;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }
}

/* ---------------------------------aboutdr-section------------------------ */

.aboutdr-section {
    position: relative;
    background: #F9F4EF;

    .container {
        position: relative;

        @include media('<desktop_min'){
            padding: 0;
        }
    }

    .sec-title-wrap {

        @include media('<desktop_min'){
            margin: 0 30px 15px 30px;
        }
    }

    .content {
        display: flex;
        align-items: flex-end;

        @include media('<desktop_min'){
            align-items: center; 
            flex-direction: column;
        }
    }

    .text {
        padding-bottom: 100px;
        width: 50%;

        @include media('<widescreen'){
            padding-bottom: 36px;
        }

        @include media('<desktop_min'){
            width: 100%;
            padding: 0 30px 36px 30px;
        }
    }

    .description {
        margin-bottom: 15px;

        &:nth-last-child(-n+2) {
            margin-bottom: 40px;
        }

        @include media('<phone'){
            font-size: 14px;
        }
    }

    .img-cont {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        
        @include media('<desktop_min'){
            position: relative;
            width: 100%;
            bottom: 0;
            text-align: center;
        }
    }

    .img {
        position: relative;
        z-index: 1;

        @include media('<desktop_min'){
            width: 50%;
        }

        @include media('<phone'){
            width: 70%;
        }
    }

    .icon {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%);
        width: 150%;
        display: none;

        @include media('<desktop_min'){
            display: block;
        }
    }

    .video-block{
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 10;

        @include media('<tablet'){
            width: 100%;
        }

        .video{
            width: 100%;
            height: auto;
        }

        .close-video{
            position: absolute;
            top: -35px;
            right: -35px;
            width: 30px;
            height: 30px;
            background: transparent;
            border: 2px solid $gold;
            border-radius: 50%;
            opacity: .6;
            transition: all .3s ease;
            z-index: 1;

            @include media('<tablet'){
                top: 10px;
                right: 10px;
            }

            &:hover{
                opacity: 1;

                &::before,
                &::after{
                    background: $gold;
                }

                &::before{
                    transform: rotate(-45deg);
                }
    
                &::after{
                    transform: rotate(45deg);
                }
            }

            &::before,
            &::after{
                content:'';
                position: absolute;
                top: 12px;
                left: 6px;
                width: 15px;
                height: 2px;
                background: $blue;
                transition: $all_03;
            }

            &::before{
                transform: rotate(45deg);
            }

            &::after{
                transform: rotate(-45deg);
            }
        }
    }

    .video-block_active{
        display: block;
    }
}

/* ----------------------------------ready-section------------------------- */

.ready-section {
    position: relative;
    padding: 100px 0 200px 0;
    overflow: hidden;
    background-color: $white;
    text-align: center;

    @include media('<tablet'){
        padding: 88px 0 200px 0;
    }

    @include media('<phone'){
        padding: 88px 0 150px 0;
    }

    .title-wrap {
        @include media('<phone'){
            padding: 14px 0 16px 0;
        }
    }

    .description {

        @include media('<phone'){
            font-size: 14px;
        }

        a {
            color: #4E5168;
            text-decoration: underline;

            &:hover{
                text-decoration: none;
            }
        }
    }
}





.body_overflow{
    position: relative;
    overflow: hidden;

    &::before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }
}

.servise_page {
    background-color: $white;
}

.emegrency_dental {
    @include adaptiv-vaule("padding-top", 80, 40, 1);
    @include adaptiv-vaule("padding-bottom", 80, 40, 1);

    .emegrency_dental_title {
        border-top: 2px solid $gold;
        position: relative;
        padding-top: 15px;
        max-width: 670px;
        text-align: center;
        margin: 0 auto;
        @include adaptiv-vaule("margin-bottom", 25, 35, 1);
    }

    .emegrency_dental_description {
        font-weight: 500;
        font-size: 16px;
        line-height: 26 / 16 * 100%;
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
        @include adaptiv-vaule("margin-bottom", 50, 35, 1);

        @include media ("<phone") {
            text-align: start;
        }
    }

    .emegrency_dental_items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @include adaptiv-vaule("row-gap", 50, 25, 1);
        @include adaptiv-vaule("column-gap", 60, 5, 1);

        @include media ("<desktop") {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include media ("<tablet") {
            grid-template-columns: 1fr 1fr;
        }

        @include media ("<phone_max") {
            grid-template-columns: 1fr;
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .emegrency_dental_number {
        @include adaptiv-vaule("font-size", 28, 22, 1);
        color: $gold;
        margin-bottom: 10px;
    }

    .emegrency_dental_text {
        color: $blue;
        font-size: 16px;
        letter-spacing: -0.5px;
        font-weight: 500;
        line-height: 28 / 16 * 100%;
        text-transform: uppercase;
    }
}

.for_you {
    @include adaptiv-vaule("padding-top", 160, 80, 1);
    @include adaptiv-vaule("padding-bottom", 160, 80, 1);
    background-color: $white_2;

    .for_you_title {
        margin-bottom: 50px;
        position: relative;

        @include media ("<desktop") {
            br {
                display: none;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 150%;
            height: 2px;
            background-color: $gold;
        }
    }

    .for_you_description {
        display: flex;
        justify-content: space-between;

        @include media ("<desktop") {
            flex-direction: column-reverse;
        }
    }

    .for_you_text {
        width: 47.5%;
        font-weight: 500;
        font-size: 16px;
        line-height: 26 / 16 * 100%;
        margin-right: 30px;

        @include media ("<desktop") {
            width: 100%;
            margin: 0;
        }
    }

    .for_you_img {
        position: relative;
        flex: 0 0 49%;

        @include media ("<desktop") {
            flex: 0 0 100%;
            min-height: 400px;
            margin-bottom: 35px;
        }

        @include media ("<tablet") {
            min-height: 315px;
        }
    }
}

.you_can {
    @include adaptiv-vaule("padding-top", 80, 40, 1);
    @include adaptiv-vaule("padding-bottom", 80, 40, 1);
    background-color: $white;

    .you_can_title {
        @include media ("<phone") {
            width: 99%;
        }
    }

    .you_can_description {
        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .you_can_text {
        display: flex;
        flex-direction: column;
    }

    .list_item {
        padding-left: 25px;
    }

    .text_item {
        color: $gray_2;
        font-weight: 700;
        @include adaptiv-vaule("font-size", 16, 14, 1);
        line-height: 23 / 16 * 100%;

        &:last-child {
            @include adaptiv-vaule("margin-bottom", 15, 10, 1);
        }

        span {
            color: $black;
        }
    }

    .you_can_text_bottom {
        padding-left: 25px;
        font-weight: 500;
        @include adaptiv-vaule("font-size", 16, 14, 1);
    }
}

.changes {
    @include adaptiv-vaule("padding-top", 80, 40, 1);
    @include adaptiv-vaule("padding-bottom", 80, 40, 1);

    .changes_content {
        border-top: 2px solid $gold;
        padding-top: 20px;
    }

    .changes_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .changes_title {
        margin-right: 25px;

        @include media ("<desktop") {
            margin: 0 0 30px 0;
        }
    }

    .changes_description {
        text-align: right;
        width: 66%;

        @include media ("<desktop") {
            text-align: left;
            width: 100%;
        }
    }

    .changes_subtitle {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 25px;
    }

    .description {
        font-weight: 500;
        font-size: 16px;
        line-height: 23 / 16 * 100%;
        margin-bottom: 25px;
    }

    .changes_img {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<desktop") {
            justify-content: center;
        }
    }

    .changes_img_before,
    .changes_img_after {
        position: relative;
        width: 48%;
        height: 400px;
        @include adaptiv-vaule("height", 400, 260, 1);

        &:hover {
            .blur {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    .changes_img_before {

        @include media ("<desktop") {
            img {
               object-position: 20%;
            }
        }
    }
    .changes_img_after {

        @include media ("<desktop") {
            img {
                object-position: 80%;
            }
        }
    }

    .tip {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 500;
        font-size: 16px;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
        padding: 5px;
        border-radius: 2px;
        min-width: 120px;
        z-index: 2;
    }

    .blur {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
        transition: all .3s ease;

        @include media ("<desktop") {
            display: none;
        }
    }

    .blur_img {
        width: 50px;
        height: 50px;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .blur_title {
        font-weight: 600;
        font-size: 22px;
        color: $white;
        margin-bottom: 15px;
    }

    .blur_description {
        color: $white;
        font-weight: 500;
        font-size: 16px;
    }

}

.offers {
    @include adaptiv-vaule("padding-top", 80, 40, 1);
    @include adaptiv-vaule("padding-bottom", 80, 40, 1);

    .offers_content {
        text-align: center;
    }

    .offers_title {
        letter-spacing: 0.02em;
        position: relative;
        padding-top: 20px;
        @include adaptiv-vaule("margin-bottom", 50, 35, 1);

        &::before {
            content: '';
            position: absolute;
            width: 285px;
            height: 2px;
            background-color: $gold;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .cards_body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .card {
        width: 48%;

        @include media ("<tablet") {
            width: 100%;

            &:first-child {
                margin-bottom: 35px;
            }
        }
    }

    .card_img {
        position: relative;
        width: 100%;
        height: 400px;
        @include adaptiv-vaule("margin-bottom", 25, 20, 1);

        @include media ("<tablet") {
            height: 315px;
        }

        @include media ("<phone") {
            height: 260px;
        }
    }

    .card_title {
        margin-bottom: 15px;
    }

    .card_btn {
        @include adaptiv-vaule(" font-size", 16, 14, 1);
        font-weight: 500;
        color: $blue;
    }
}

.serving {
    @include adaptiv-vaule("padding-top", 80, 40, 1);
    @include adaptiv-vaule("padding-bottom", 80, 40, 1);
    overflow: hidden;

    .serving_content {
        border-top: 2px solid $gold;
        padding-top: 15px;
    }

    .serving_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiv-vaule("margin-bottom", 130, 50, 1);

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .serving_title {
        width: 55%;

        @include media ("<desktop") {
            width: 100%;
            margin-bottom: 35px;
        }
    }

    .serving_description {
        width: 43%;
        text-align: right;

        @include media ("<desktop") {
            width: 100%;
            text-align: left;
        }
    }

    .description {
        @include adaptiv-vaule("font-size", 16, 14, 1);
        font-weight: 500;
        line-height: 26 / 16 * 100%;
        margin-bottom: 25px;
    }

    .serving_body {
        display: flex;
        justify-content: space-between;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .serving_img {
        position: relative;
        z-index: 2;
        flex: 0 0 51%;

        @include media ("<desktop") {
            @include adaptiv-vaule("min-height", 400, 260, 1);
            margin-bottom: 35px;
        }
    }

    .serving_body_text {
        width: 43%;
        text-align: start;
        position: relative;
        z-index: 1;

        @include media ("<desktop") {
            width: 100%;
        }

        &::before {
            content: '';
            position: absolute;
            top: -13%;
            left: -35%;
            width: 100vh;
            height: 650px;
            background-color: $white_3;
            z-index: -1;

            @include media ("<desktop") {
                top: -20%;
                left: -5%;
                width: 110%;
                height: 140%;
            }
        }
    }

    .number {
        font-weight: 300;
        @include adaptiv-vaule("font-size", 80, 36, 1);
        color: $blue;
        margin-bottom: 15px;
        font-family: 'Bosca';
        display: inline-block;
    }

    .serving_body_text_title {
        @include adaptiv-vaule("font-size", 32, 21, 1);
        line-height: 45 / 36 * 100%;
        max-width: 400px;
        letter-spacing: 0.02em;
        margin-bottom: 15px;
    }

    .serving_body_text_description {
        font-weight: 500;
        @include adaptiv-vaule("font-size", 16, 14, 1);
        line-height: 26 / 16 * 100%;
    }
}

.serving_2 {
    @include adaptiv-vaule("padding-top", 80, 40, 1);
    @include adaptiv-vaule("padding-bottom", 80, 40, 1);

    .serving_content {
        display: flex;
        justify-content: space-between;

        @include media ("<desktop") {
            flex-direction: column-reverse;
        }
    }

    .serving_body_text {
        width: 43%;

        @include media ("<desktop") {
            width: 100%;
        }
    }

    .serving_img {
        position: relative;
        flex: 0 0 51%;

        @include media ("<desktop") {
            @include adaptiv-vaule("min-height", 315, 260, 1);
            margin-bottom: 35px;
        }
    }

    .number {
        font-weight: 300;
        @include adaptiv-vaule("font-size", 80, 36, 1);
        color: $blue;
        margin-bottom: 15px;
        font-family: 'Bosca';
        display: inline-block;
    }

    .serving_body_text_title {
        @include adaptiv-vaule("font-size", 32, 21, 1);
        line-height: 45 / 36 * 100%;
        max-width: 400px;
        letter-spacing: 0.02em;
        margin-bottom: 15px;
    }

    .serving_body_text_description {
        font-weight: 500;
        @include adaptiv-vaule("font-size", 16, 14, 1);
        line-height: 26 / 16 * 100%;
    }
}

.novelties {
    @include adaptiv-vaule("padding-top", 80, 40, 1);
    @include adaptiv-vaule("padding-bottom", 80, 40, 1);
    text-align: center;

    .novelties_title {
        padding-top: 20px;
        border-top: 2px solid $gold;
        margin-bottom: 50px;
        display: inline-block;
    }

    .novelties_body {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include media ("<desktop") {
            grid-template-columns: 1fr;
        }
    }

    .novelties_body_img {
        position: relative;

        @include media ("<desktop") {
            width: 100%;
            @include adaptiv-vaule("height", 480, 260, 1);
        }
    }

    .novelties_body_text {
        display: flex;
        height: 770px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        @include adaptiv-vaule("padding-top", 80, 20, 1);
        @include adaptiv-vaule("padding-bottom", 80, 20, 1);
        @include adaptiv-vaule("padding-right", 80, 20, 1);
        @include adaptiv-vaule("padding-left", 80, 20, 1);
        text-align: start;
        background-color: $white_3;

        @include media ("<desktop") {
            height: 100%;
        }
    }

    .novelties_body_title {
        font-size: 36px;
        margin-bottom: 15px;
    }

    .novelties_body_description {
        font-weight: 500;
        @include adaptiv-vaule("font-size", 16, 14, 1);
        line-height: 26 / 16 * 100%;
    }
}

.polishing {
    @include adaptiv-vaule("padding-top", 80, 40, 1);
    @include adaptiv-vaule("padding-bottom", 80, 40, 1);

    .polishing_content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .polishing_img {
        position: relative;
        width: 49%;
        @include adaptiv-vaule("height", 480, 260, 1);
        margin-right: 30px;

        @include media ("<desktop") {
            width: 100%;
            margin: 0 0 30px 0;
        }
    }

    .polishing_text {
        width: 47%;

        @include media ("<desktop") {
            width: 100%;
        }
    }

    .polishing_title {
        padding-bottom: 10px;
        border-bottom: 2px solid $gold;
        margin-bottom: 30px;
    }
}

.reverse {
    .novelties_body_img {
        order: 2;

        @include media ("<desktop") {
            order: -1;
        }
    }

}