/* -----------------------------contact_form-section------------------- */

.contact_form-section {
    position: relative;
    padding: 100px 0 150px 0;
    background: #F9F4EF;
    text-align: center;
    overflow: hidden;

    @include media('<tablet'){
        padding: 56px 0 150px 0;
    }

    @include media('<phone'){
        padding: 56px 0 125px 0;
    }

    .sub-title {
        margin-bottom: 12px;

        @include media('<phone'){
            font-size: 14px;
        }
    
    }

    .phone {
        display: inline-flex;
        align-items: center;
        margin-bottom: 24px;
        font-family: $gilroy;
        color: $blue;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        transition: $all_03;
        
        &:hover {
            color: $gold;

            img {
                transform: scale(1.3);
            }
        }

        img {
            margin-right: 10px;
            transition: $all_03;
        }
    }

    form {
        width: 100%;
        max-width: 415px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .is-invalid-label {
            .form-error {
                display: block;
                text-align: left;
                font-family: $gilroy;
                font-size: 12px;
                font-weight: 400;
                color: $red;
            }
        }
    }

    .input {
        border: 1px solid #D6D7E3;
        padding: 16px;
        margin-bottom: 16px;
        font-family: $gilroy;
        color: $blue;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        transition: $all_03;
        background-color: transparent;

        &.is-invalid-input {
            border-color: $red;
        }

        &::placeholder {
            font-family: $gilroy;
            color: #776C69;
            font-size: 16px;
            font-weight: 400;
        }

        &:focus {
            border: 1px solid $blue;
        }
    }

    .textarea {
        height: 140px;
    }

    #form-btn {
        display: none;
    }

    .main-btn {
        cursor: pointer;
    }
}

/* ------------------------------main-slider-section-------------------- */

.main-slider-section {
    position: relative;
    padding: 80px 0;

    @include media('<tablet'){
        padding: 44px 0;
    }

    .stiker {
        top: 50%;
        right: -170px;
        transform: translateY(-50%) rotate(0deg);

        @include media('<tablet_max'){
            right: -100px;
            @include adaptiv-vaule("top", 500, 175, 1);
            transform: rotate(50deg);
        }
    }

    .container {
        position: relative;
    }

    .bg {
        position: absolute;
        top: 35px;
        left: 0;
        width: 93%;
        height: 80%;
        background-color: #F3F2ED;
        z-index: -1;
        overflow: hidden;

        @include media('<tablet_max'){
            height: 90%;
        }
    }

    .swiper-wrapper {
        padding-bottom: 30px;
    }

    .slide {
        opacity: 0 !important;
        z-index: -1 !important;
    }

    .swiper-slide-active {
        opacity: 1 !important;
        z-index: 1 !important;
    }

    .content {
        display: flex;
        padding-right: 75px;

        @include media('<tablet_max'){
            flex-direction: column;
            padding: 0;
        }
    }

    .img-cont {

        @include media('<tablet_max'){
            padding-right: 80px;
            margin-bottom: 36px;
        }
    }

    .text {
        max-width: 300px;
        min-width: 300px;
        margin: 0 0 56px 42px;

        @include media('<tablet_max'){
            max-width: 100%;
            min-width: 0;
            margin: 0 6% 56px 0;
        }
    }

    .description {
        margin-bottom: 20px;

        @include media('<tablet_max'){
            margin-bottom: 36px;
        }

        @include media('<phone'){
            font-size: 14px;
        }
    }

    #pagination {
        display: flex;
        width: 100%;
        max-width: 500px;
        right: 0;
        left: auto;
        bottom: 50px;
        padding-right: 60px;

        @include media('<laptop_min'){
            justify-content: center;
            bottom: 0;
            max-width: 100%;
            padding: 0;
        }
    }

    .swiper-pagination-bullet {
        width: 100%;
        height: 3px;
        background-color: $gold;
        border-radius: 0;
        margin-left: 20px !important;
        opacity: .3;
        transition: $all_05;

        @include media('<phone'){
            margin-left: 10px !important;
        }

        &:first-child {
            margin-left: 0 !important;
        }

    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }
}

.show {

    .stiker {
        transform: translateY(-50%) rotate(-90deg);

        @include media('<tablet_max'){
            transform: rotate(-90deg);
        }
    }
}

/* ------------------------------sec-slider-section---------------------- */

.sec-slider-section {
    padding: 80px 20px;

    @include media('<tablet'){
        padding: 44px 20px; 
    }

    .container {
        padding: 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .title-wrap {
        margin-bottom: 28px;
    }
    
    .sec-slider {
        position: relative;
        max-width: 1320px;
        padding-right: 15px;
        margin: 0 auto;
        overflow: visible;
        cursor: url(../images/icons/cursor.png), pointer;
    }

    .slide {
        min-height: 355px;
        display: flex;
        border: 2px solid #E4E2EA;
        overflow: hidden;

        @include media('<tablet_max'){
            flex-direction: column;
        }
    }

    .img-slide {
        min-width: 245px;
        
        @include media('<tablet_max'){
            min-height: 660px;
        }

        @include media('<phone_max'){
            min-height: 460px;
        }

        @include media('<phone'){
            min-height: 280px;
        }

        img {
            @include media('<tablet_max'){
                height: auto;
            }
        }
    }

    .text {
        max-width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 30px;

        @include media('<phone'){
            padding: 18px 14px 36px 14px;
        }
    }

    .description {
        font-size: 22px;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 24px;

        @include media('<phone'){
            font-size: 18px;
        }
    }

    .user {
        display: flex;
        align-items: center;
    }

    .user-img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .name {
        font-size: 18px;
        font-weight: 500;
    }

    .slider-nav {
        padding-top: 52px;
    }

    .sec-swiper-scrollbar {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        z-index: 1;
        max-width: 1320px;
        padding-right: 20px;
        margin: 0 auto;
        background: rgba($gold, 0.2);
        border-radius: 0;
    }

    .swiper-scrollbar-drag {
        background: $gold;
        border-radius: 0;
        cursor: grab;
    }
}

/* ------------------------------video-slider-section--------------------- */

.video-slider-section {
    padding: 160px 20px;

    @include media('<tablet'){
        padding: 88px 20px;
    }

    .container {
        padding: 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .video-slider {
        max-width: 1320px;
        margin: 0 auto;
        overflow: visible;
    }

    .video-section {
        width: 100%;
        height: auto;
        @include adaptiv-vaule("min-height", 355, 260, 1);
        margin: 0;
    }

    .slider-nav {
        padding-top: 52px;
    }


    .video-swiper-scrollbar {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        z-index: 1;
        max-width: 1320px;
        padding-right: 20px;
        margin: 0 auto;
        background: rgba($gold, 0.2);
        border-radius: 0;

    }

    .swiper-scrollbar-drag {
        background: $gold;
        border-radius: 0;
        cursor: grab;
    }


    .pagination-slider {
        margin: 0 0 50px 40px;
    }
}

.pagination-slider {
    display: flex;
    gap: 13px;
    margin: 0 0 95px 40px;

    @include media('<tablet_max'){
        display: none;
    }

    .prev,
    .next {
        display: grid;
        place-content: center;
        width: 66px;
        height: 66px;
        border-radius: 50%;
        border: 2px solid $gold;
        transition: $all_03;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    .prev {

        img {
            padding-right: 3px;
        }
    }

    .next {

        img {
            padding-left: 3px;
        }
    }
}

/* -----------------------------reviews-slider-section-------------------- */

.reviews-slider-section {
    padding: 160px 0;
    text-align: center;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .container{
        position: relative;

        &::after{
            content:'';
            position: absolute;
            bottom: 20px;
            left: 0px;
            width: 100%;
            height: 90%;
            background-color: #F3F2ED;
            opacity: 0.7;
            z-index: -1;
        }
    }
    
    .reviews-slider {
        padding: 20px 0 90px 0;

        @include media('<tablet'){
            padding: 0 0 56px 0;
        }
    }

    .content {
        opacity: 0 !important;
        transition: $all_05;
    }

    .swiper-slide-active {

        .content {
            opacity: 1 !important;
        }
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: max-content;
        margin: 0 auto 16px auto;
        overflow: hidden;

        img {
            margin-right: 6px;
            transition: $all_1;
        }
    }

    .labe {
        font-family: $gilroy;
        color: $gold;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.3;
        transform: translate(-100%);
        transition: $all_1;

        @include media('<phone'){
            font-size: 16px;
        }
    }

    .text.show {
        
        .labe {
            transform: translate(0);
        }

        img {
            transform: rotate(-360deg);
        }
    }

    .stars {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
    }

    .star {
        margin: 0 3px;
    }

    .discription {
        width: 100%;
        max-width: 930px;
        margin: 0 auto 24px auto;
        font-family: $queensila;
        color: $blue;
        font-size: 36px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.02em;

        @include media('<tablet'){
            font-size: 26px;
        }

        @include media('<phone'){
            font-size: 21px;
        }
    }

    .user-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: max-content;
        margin: 0 auto;
        overflow: hidden;
    }

    .user-img {
        position: relative;
        width: 48px;
        height: 48px;
        overflow: hidden;
        margin-right: 16px;
        z-index: 1;
    }

    .name {
        font-family: $gilroy;
        color: $blue;
        font-size: 22px;
        font-weight: 600;
        transform: translate(-120%);
        transition: $all_1;

        @include media('<phone'){
            font-size: 20px;
        }
    }

    .user-wrap.show {

        .name {
            transform: translate(0%);
        }
    }

    .reviews-swiper-pagination {
        display: flex;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        width: 100%;
        max-width: 83px;
        height: 3px;
        background-color: $gold;
        border-radius: 0;
        opacity: .3;
        transition: $all_05;
        margin: 0 10px !important;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }
}

/* ---------------------------------aboutdr-section------------------------ */

.aboutdr-section {
    position: relative;
    background: #F9F4EF;

    .container {
        position: relative;

        @include media('<desktop_min'){
            padding: 0;
        }
    }

    .sec-title-wrap {

        @include media('<desktop_min'){
            margin: 0 30px 15px 30px;
        }
    }

    .content {
        display: flex;
        align-items: flex-end;

        @include media('<desktop_min'){
            align-items: center; 
            flex-direction: column;
        }
    }

    .text {
        padding-bottom: 100px;
        width: 50%;

        @include media('<widescreen'){
            padding-bottom: 36px;
        }

        @include media('<desktop_min'){
            width: 100%;
            padding: 0 30px 36px 30px;
        }
    }

    .description {
        margin-bottom: 15px;

        &:nth-last-child(-n+2) {
            margin-bottom: 40px;
        }

        @include media('<phone'){
            font-size: 14px;
        }
    }

    .img-cont {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        
        @include media('<desktop_min'){
            position: relative;
            width: 100%;
            bottom: 0;
            text-align: center;
        }
    }

    .img {
        position: relative;
        z-index: 1;

        @include media('<desktop_min'){
            width: 50%;
        }

        @include media('<phone'){
            width: 70%;
        }
    }

    .icon {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%);
        width: 150%;
        display: none;

        @include media('<desktop_min'){
            display: block;
        }
    }

    .video-block{
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 11;

        @include media('<tablet'){
            width: 100%;
        }

        .video{
            width: 100%;
            height: auto;
        }

    }

    .btn-close{
        top: -35px;
        right: -35px;

        @include media('<tablet'){
            top: 10px;
            right: 10px;
        }
    }

    .video-block_active{
        display: block;
    }
}

/* ----------------------------------ready-section------------------------- */

.ready-section {
    position: relative;
    padding: 100px 0 200px 0;
    overflow: hidden;
    background-color: $white;
    text-align: center;

    @include media('<tablet'){
        padding: 88px 0 200px 0;
    }

    @include media('<phone'){
        padding: 88px 0 150px 0;
    }

    .title-wrap {
        @include media('<phone'){
            padding: 14px 0 16px 0;
        }
    }

    .description {

        @include media('<phone'){
            font-size: 14px;
        }

        a {
            color: #4E5168;
            text-decoration: underline;

            &:hover{
                text-decoration: none;
            }
        }
    }
}

/* ---------------------------------video-text-section--------------------- */

.video-text-section {
    padding: 160px 0;
    text-align: center;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .block {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media('<desktop_min'){
            flex-direction: column;
        }
    }

    .video-section {
        width: 49%;
        @include adaptiv-vaule("min-height", 480, 260, 1);
        margin: 0;

        @include media('<desktop_min'){
            width: 100%;
            margin-bottom: 36px;
        }
    }
    
    .text {
        width: 49%;
        text-align: left;

        @include media('<desktop_min'){
           width: 100%;
        }
    }

    .title-text {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 20px;

        @include media('<phone'){
            font-size: 21px;
        }
    }

    .sub-title {
        font-family: $gilroy;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4;
        color: $gray_2;
        text-transform: none;
        margin-bottom: 16px;

        @include media('<phone'){
            font-size: 18px;
        }
    }

    .description {
        margin-bottom: 30px;

        @include media('<phone'){
            font-size: 14px;
        }
    }

}

/* -------------------------------------list-section----------------------- */

.list-section {
    padding: 160px 0;
    text-align: center;
    margin-bottom: -44px;

    @include media('<tablet'){
        padding: 88px 0;
    }

    @include media('<phone_max'){
        margin-bottom: -24px;
    }
    
    .description {
        max-width: 820px;
        margin: 0 auto 48px auto;

        @include media('<phone_max'){
            text-align: left;
            margin: 0 auto 36px auto;
        }
    }

    .list {
        counter-reset: my-awesome-counter;
        max-width: 966px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        margin: 0 auto;
        @include adaptiv-vaule("margin-left", 200, -400, 1);
        padding: 0;

        @include media('<desktop'){
            margin: 0 auto;
        }

    }

    .item {
        counter-increment: my-awesome-counter;
        width: 22%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: $gilroy;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        line-height: 2;
        text-transform: uppercase;
        color: $blue;
        margin-bottom: 44px;

        @include media('<desktop'){
            width: 30%;
        }

        @include media('<tablet_max'){
            width: 45%;
        }

        @include media('<phone_max'){
            width: 100%;
            flex-direction: row;
            font-size: 14px;
            margin-bottom: 24px;
        }

        &:before {
            content: counter(my-awesome-counter);
            font-family: $gilroy;
            color: $gold;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.4;
            margin-bottom: 10px;

            @include media('<phone_max'){
                font-size: 22px;
                margin: 0 16px 0 0;
            }
        }

        &:nth-child(-n+9)::before {
            content: "0" counter(my-awesome-counter);
        }
    }
}

/* --------------------------------text-img-circle-section----------------- */

.text-img-circle-section {
    padding: 0 0 160px 0;
    background-color: #F9F4EF;

    @include media('<tablet'){
        padding: 0 0 88px 0;
    }  

    .sec-title-wrap {
        padding: 160px 0 0 0;
        margin-bottom: 52px;

        @include media('<tablet'){
            padding: 88px 0 0 0;
        }

        &:after {
            right: 5%;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;

        @include media('<desktop'){
           flex-direction: column-reverse;
        }
    }

    .description {
        width: 49%;

        @include media('<desktop'){
            width: 100%;
        }

        @include media('<tablet'){
            font-size: 14px;
        }
    }

    .img-wrap {
        width: 49%;
        @include adaptiv-vaule("min-height", 480, 260, 1);
        @include adaptiv-vaule("max-height", 480, 260, 1);

        @include media('<desktop'){
            width: 100%;
            margin-bottom: 36px;
        }
    }
}

/* ------------------------------------text-img-section-------------------- */

.text-img-section {
    padding: 160px 0;
    background-color: #F9F4EF;

    @include media('<tablet'){
        padding: 88px 0;
    }  

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media('<desktop'){
           flex-direction: column-reverse;
        }
    }

    .description {
        width: 49%;

        @include media('<desktop'){
            width: 100%;
        }

        @include media('<tablet'){
            font-size: 14px;
        }
    }

    .img-wrap {
        width: 49%;
        @include adaptiv-vaule("min-height", 480, 260, 1);
        @include adaptiv-vaule("max-height", 480, 260, 1);

        @include media('<desktop'){
            width: 100%;
            margin-bottom: 36px;
        }
    }
}

/* ------------------------------------img-list-section-------------------- */

.img-list-section {
    padding: 160px 0;

    @include media('<tablet'){
        padding: 88px 0;
    }  

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media('<desktop'){
           flex-direction: column;
        }
    }

    .img-wrap {
        width: 49%;
        @include adaptiv-vaule("min-height", 480, 260, 1);
        @include adaptiv-vaule("max-height", 480, 260, 1);

        @include media('<desktop'){
            width: 100%;
            margin-bottom: 36px;
        }
    }

    .block {
        width: 49%;
        padding-left: 35px;

        @include media('<desktop'){
            width: 100%;
        }

        @include media('<phone'){
            padding-left: 25px;
        }

    }

    .list {
        margin: 0 0 15px 0;
        padding: 0;

        @include media('<phone'){
            margin: 0 0 10px 0;
        }
    }

    .item {
        font-family: $gilroy;
        color: $gray_2;
        font-size: 16px;
        line-height: 1.4;

        @include media('<phone'){
            font-size: 14px;
        }
    }

    .description {

        @include media('<phone'){
            font-size: 14px;
        }
    }

}

/* ------------------------------------title-text-section------------------ */

.title-text-section {
    padding: 160px 0;
    text-align: center;
    background-color: $white;

    @include media('<tablet'){
        padding: 88px 0;
    } 

    .description {
        max-width: 800px;
        margin: 0 auto;

        @include media('<phone'){
            font-size: 14px;
        } 
    }
}

/* ------------------------------------offers_text-section----------------- */

.offers-text-section {
    padding: 160px 0;
    text-align: center;

    @include media('<tablet'){
        padding: 88px 0;
        margin-bottom: -36px;
    }

    .block {
        display: flex;
        justify-content: space-between;

        @include media('<tablet'){
            flex-direction: column;
        }
    }

    .item {
        width: 48%;

        @include media('<tablet'){
            width: 100%;
            margin-bottom: 36px;
        }
    }

    .img-wrap {
        @include adaptiv-vaule("min-height", 400, 260, 1);
        margin-bottom: 24px;
    }

    .title-item {
        @include adaptiv-vaule("font-size", 48, 32, 1);
        letter-spacing: 0.02em;
        margin-bottom: 16px;

        span {
            font-family: $boska;
        }
    }
}

/* -----------------------------------title-text-row-section--------------- */

.title-text-row-section {
    padding: 160px 0;
    background-color: $white;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .title-wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;

        @include media('<desktop_min'){
            flex-direction: column;
        }
    }

    .title {
        width: 54%;

        @include media('<desktop_min'){
            width: 100%;
            margin-bottom: 36px;
        }
    }

    .text {
        width: 44%;
        text-align: end;
        transform: translateY(-130%);
        transition: all 1s ease 1s;

        @include media('<desktop_min'){
            width: 100%;
            text-align: center;
            transform: translateY(-250%);
        }

        @include media('<phone'){
            width: 100%;
            text-align: left;
        }
    }

    .show  {

        .text{
            transform: translateY(0);
        }
    }

    .description {
        margin-bottom: 24px;
    }

    .line-btn {

        &:hover{
            
            .icon-arrow {
                transform: translate(0);
            }
        } 
    }
}

/* ------------------------------------img-text-list-section--------------- */

.img-text-list-section {
    position: relative;
    padding: 88px 0;
    background-color: $white;

    @include media('<tablet'){
        padding: 36px 0;
    }
    
    &::after{
        content:'';
        position: absolute;
        top: 0px;
        right: 0;
        width: 55%;
        height: 100%;
        background-color: #FDFAF8;

        @include media('<tablet'){
            top: auto;
            bottom: 0;
            width: 100%;
            height: 75%;
        }
    }

    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 1;

        @include media('<desktop'){
            flex-direction: column;
        }
    }

    .img-wrap {
        width: 50%;
        @include adaptiv-vaule("min-height", 480, 260, 1);
        @include adaptiv-vaule("max-height", 480, 260, 1);

        @include media('<desktop'){
            width: 100%;
            margin-bottom: 35px;
        }
    }

    .text {
        width: 44%;

        @include media('<desktop'){
            width: 100%;
        }
    }

    .number {
        display: block;
        font-family: $boska;
        color: $blue;
        font-size: 80px;
        font-weight: 300;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 16px;

        @include media('<tablet'){
            font-size: 50px;
        }

        @include media('<phone'){
            font-size: 36px;
        }
    }

    .title-text {
        @include adaptiv-vaule("font-size", 36, 21, 1);
        font-weight: 400;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }
}

/* ----------------------------------img-text-list-rev-section------------- */

.img-text-list-rev-section {

    &::after{
        display: none;
    }

    .container {

        @include media('<desktop'){
            flex-direction: column-reverse;
        }
    }
}

/* -----------------------------------------title-section------------------ */

.title-section {
    padding: 180px 0 50px 0;
    background-color: $white;
    text-align: center;

    @include media('<tablet'){
        padding: 88px 0 36px 0;
    }

    .title-wrap {
        padding-bottom: 0;
    }
}

/* -------------------------------------img-text-big-section--------------- */

.img-text-big-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F9F4EF;

    @include media('<desktop'){
        flex-direction: column;
    }

    .img-wrap {
        width: 50%;
        @include adaptiv-vaule("min-height", 770, 300, 1);

        @include media('<desktop'){
            width: 100%;
        }
    }

    .block {
        width: 50%;
        padding: 30px 30px 30px 80px;

        @include media('<laptop_min'){
            padding: 30px;
        }

        @include media('<desktop'){
            width: 100%;
            padding: 36px 30px 56px 30px;
        }
    }

    .text {
        max-width: 560px;

        @include media('<desktop'){
            max-width: 100%;
        }
    }

    .title-text {
        @include adaptiv-vaule("font-size", 36, 21, 1);
        margin-bottom: 16px;
    }

    span {
        font-family: $boska;
    }
}

/* -----------------------------------img-text-big-rev-section------------- */

.img-text-big-rev-section {
    background: #FDFAF8;

    @include media('<desktop'){
        flex-direction: column-reverse;
    }

    .block {
        display: flex;
        justify-content: flex-end;

        padding: 30px 80px 30px 30px;

        @include media('<laptop_min'){
            padding: 30px;
        }

        @include media('<desktop'){
            width: 100%;
            padding: 36px 30px 56px 30px;
        }
    }
}

/* ------------------------------------img-list-circle-section------------- */

.img-list-circle-section {
    background: $white;
    padding: 0 0 160px 0;

    @include media('<tablet'){
        padding: 0 0 88px 0;
    }

    .sec-title-wrap {
        margin-bottom: 52px;

        @include media('<desktop'){
            margin-bottom: 36px;
        }
        
        &::after{
            right: 5%;
        }
    }

    .block {
        padding-left: 25px;

        @include media('<desktop'){
            width: 100%;
            padding: 0;
        }
    }

    .description {
        margin-bottom: 16px;
    }

    .list {
        padding-left: 25px;
    }
}

/* ------------------------------------title-text-video-section------------ */

.title-text-video-section {
    padding: 160px 0;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .title-linedown-wrap {
        display: block;
    }

    .block {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media('<desktop'){
            flex-direction: column-reverse;
        }
    }

    .video-section {
        width: 49%;
        @include adaptiv-vaule("min-height", 480, 260, 1);
        margin: 0;

        @include media('<desktop'){
            width: 100%;
            margin-bottom: 36px;
        }
    }

    .text {
        width: 48%;

        @include media('<desktop'){
            width: 100%;
        }
    }

    p {
        margin-bottom: 15px;
    }
}

/* -------------------------------------img-title-text-section-------------- */

.img-title-text-section {
    position: relative;
    padding: 160px 0;
    background-color: $white;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media('<desktop'){
            flex-direction: column;
        }
    }

    .img-cont {
        width: 49%;

        @include media('<desktop'){
            width: 100%;
            text-align: center;
            margin-bottom: 32px;
        }

        img {
            @include media('<desktop'){
                width: 100%;
            }
        }
    }

    .block {
        width: 48%;

        @include media('<desktop'){
            width: 100%;
        }
    }

    p {
        margin-bottom: 10px;

        @include media('<phone'){
            margin: 0;
        }
    }

    .title-linedown {
        letter-spacing: -0.3px;
    }

    .mob {
        display: none;
        text-align: center;

        @include media('<desktop'){
            display: block;
        }
    }

    .desc {
        margin-bottom: 34px;

        @include media('<desktop'){
            display: none;
        }
    }

    .img {
        @include media('<phone'){
            padding-top: 14px;
        }
    }
}

/* --------------------------------------text-video-col-section------------- */

.text-video-col-section {
    position: relative;
    padding: 160px 0;
    text-align: center;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .title-wrap {
        margin-bottom: 24px;
        padding-bottom: 0;

        @include media('<phone'){
            margin-bottom: 36px;
        }
    }

    .discription {
        max-width: 1020px;
        margin: 0 auto 52px auto;

        @include media('<tablet'){
            margin: 0 auto 36px auto;
        }
    }

    .video-section {
        margin-bottom: 0;
    }
}

/* -----------------------------------------text-video-section--------------- */

.text-video-section {
    position: relative;
    padding: 160px 0;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media('<desktop_min'){
            flex-direction: column-reverse;
        }
    }

    .text {
        width: 48%;

        @include media('<desktop_min'){
            width: 100%;
        }
    }

    .title-linedown-wrap {

        @include media('<desktop_min'){
            display: none;
        }
    }

    .mob {
        display: none;

        @include media('<desktop_min'){
            display: block;
        }
    }

    .description {
        margin-bottom: 30px;
    }

    .video-section {
        width: 48%;
        @include adaptiv-vaule(" min-height", 480, 260, 1);
        margin: 0;

        @include media('<desktop_min'){
            width: 100%;
            margin-bottom: 36px;
        }
    }
}

/* -----------------------------------------list-three-section--------------- */

.list-sm-section {
    padding: 160px 0;
    text-align: center;
    margin-bottom: -44px;
    background-color: $white;

    @include media('<tablet'){
        padding: 88px 0;
    }

    @include media('<phone_max'){
        margin-bottom: -24px;
    }

    .title-list {
        font-size: 36px;
        margin-bottom: 40px;

        @include media('<phone'){
            margin-bottom: 24px;
        }
    }

    .list {
        counter-reset: my-awesome-counter;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .item {
        counter-increment: my-awesome-counter;
        width: 29%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: $gilroy;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        line-height: 2;
        text-transform: uppercase;
        color: $blue;
        margin-bottom: 44px;

        @include media('<tablet_max'){
            width: 45%;
        }

        @include media('<phone_max'){
            width: 100%;
            flex-direction: row;
            font-size: 14px;
            margin-bottom: 24px;
        }

        &:before {
            content: counter(my-awesome-counter);
            font-family: $gilroy;
            color: $gold;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.4;
            margin-bottom: 10px;

            @include media('<phone_max'){
                font-size: 22px;
                margin: 0 16px 0 0;
            }
        }

        &:nth-child(-n+9)::before {
            content: "0" counter(my-awesome-counter);
        }
    }
}

/* ---------------------------------------img-text-circle-section------------ */

.img-text-circle-section {
    padding: 0 0 160px 0;
    background-color: #F9F4EF;

    @include media('<tablet'){
        padding: 0 0 88px 0;
    }  

    .sec-title-wrap {
        padding: 160px 0 0 0;
        margin-bottom: 52px;

        @include media('<tablet'){
            padding: 88px 0 0 0;
        }

        &:after {
            right: 5%;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;

        @include media('<desktop'){
           flex-direction: column;
        }
    }

    .img-wrap {
        width: 49%;
        @include adaptiv-vaule("min-height", 480, 260, 1);
        @include adaptiv-vaule("max-height", 480, 260, 1);

        @include media('<desktop'){
            width: 100%;
            margin-bottom: 36px;
        }
    }

    .text {
        width: 49%;

        @include media('<desktop'){
            width: 100%;
        }
    }
    
    p {
        margin-bottom: 8px;
    }

    ul {
        padding-left: 25px;
    }

    li{
        margin-bottom: 4px;  
        font-family: $gilroy;
        font-size: 16px;
        font-weight: 500;
        color: $gray_2;

        @include media('<phone'){
            font-size: 14px;
        }
    }
}

/* ------------------------------------------list-three-section-------------- */

.list-three-section {

    .list {
        max-width: 100%;
        margin: 0;
    }

    .item {
        width: 30%;
        color: $gray_2;
        line-height: 1.6;
        text-transform: none;
        flex-wrap: wrap;

        @include media('<tablet_max'){
            width: 48%;
        }

        @include media('<phone_max'){
            width: 100%;
        }

        span{
            display: block;
            width: 100%;
            color: $blue;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

/* ---------------------------------------title-text-teeth-section----------- */

.title-text-teeth-section {
    padding: 160px 0;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .title-wrap {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 52px;

        @include media('<desktop_min'){
            flex-direction: column;
        }
    }

    .title {
        width: 54%;
        margin: 0;

        @include media('<desktop_min'){
            width: 100%;
        }
    }

    .text {
        width: 44%;
        text-align: end;
        transform: translateY(-130%);
        transition: all 1s ease 1s;

        @include media('<desktop_min'){
            width: 100%;
            text-align: center;
            transform: translateY(-250%);
        }

        @include media('<phone'){
            width: 100%;
            text-align: left;
        }
    }

    .show  {

        .text{
            transform: translateY(0);
        }
    }

    .description {
        margin: 24px 0;
    }

    .line-btn {

        &:hover{
            
            .icon-arrow {
                transform: translate(0);
            }
        } 
    }

    .content {
        display: flex;
        justify-content: space-between;

        @include media('<tablet'){
            align-items: center;
            flex-direction: column;
        }
    }

    .item {
        width: 49%;
        @include adaptiv-vaule("height", 400, 260, 1);

        @include media('<tablet'){
            width: 100%;
            max-width: 470px;
            margin-bottom: 16px;
        }

        &:hover{
            
            .info {
                opacity: 0;
            }
        }
    }

    .info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
        transition: $all_03;
    }

    .icon {
        margin-bottom: 38px;

        @include media('<tablet'){
            width: 44px;
            height: 44px;
            margin-bottom: 30px;
        }
    }

    .info-title {
        color: $white;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 16px;

        @include media('<tablet'){
            margin-bottom: 8px;
            font-size: 16px;
        }
    }

    .info-sub-title {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 40px;

        @include media('<tablet'){
            font-size: 12px;
        }
    }

    .dec {
        @include media('<desktop'){
            display: none;
        }
    }

    .mob {
        display: none;

        @include media('<desktop'){
            display: block;
        }
    }

    .inscr {
        position: absolute;
        left: 50%;
        bottom: 24px;
        transform: translate(-50%);
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(20.5px);
        padding: 6px 16px;
        font-family: $gilroy;
        color: $white;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        z-index: 2;

        @include media('<tablet'){
            font-size: 18px;
        }
    }
}

/* -----------------------------------------video-gallery-section------------ */

.video-gallery-section {
    padding: 160px 0;
    margin-bottom: -50px;
    text-align: center;

    @include media('<tablet'){
        padding: 88px 0;
    }

    @include media('<phone_max'){
        margin-bottom: -24px;
    }

    .block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media('<phone_max'){
            flex-direction: column;
        }
    }

    .video-section {
        width: 48%;
        @include adaptiv-vaule(" min-height", 480, 260, 1);
        margin-bottom: 50px;

        @include media('<phone_max'){
            width: 100%;
            margin-bottom: 24px;
        }
    }
}

/* ----------------------------------------title-video-text-section----------- */

.title-video-text-section {
    padding: 160px 0;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .title-linedown-wrap {
        display: block;
    }

    .block {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media('<desktop'){
            flex-direction: column-reverse;
        }
    }

    .video-section {
        width: 49%;
        @include adaptiv-vaule("min-height", 480, 260, 1);
        margin: 0;

        @include media('<desktop'){
            width: 100%;
            margin-bottom: 36px;
        }
    }

    .text {
        width: 48%;

        @include media('<desktop'){
            width: 100%;
        }
    }

    p {
        margin-bottom: 15px;
    }

    span {
        display: block;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }
}

/* --------------------------------------------accardion-section-------------- */

.accardion-section {
    padding: 160px 0;
    text-align: center;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .accardion {
        max-width: 1080px;
        margin: 0 auto;
    }

    .item {
        position: relative;
        background: #F6F4F0;
        border: 1px solid #D6D7E3;
        border-radius: 12px;
        margin-bottom: 16px;
        padding: 17px 24px 0 24px;
        transition: $all_03;

        @include media('<phone'){
            margin-bottom: 14px;
            padding: 14px 14px 0 14px;
        }

        &:hover{
            border: 1px solid $gold;
        }
    }

    .accardion-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 17px;

        @include media('<phone'){
            margin-bottom: 14px;
        }
    }
    
    .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .accardion-title {
        text-align: left;
        color: $blue;
        font-weight: 600;
        letter-spacing: -0.5px;
        text-transform: uppercase;
    }

    .icon {
        min-width: 23px;
        height: 14px;
        transition: $all_05;
        margin-left: 25px;
    }

    .description {
        margin-bottom: 17px;
        text-align: left;
        font-weight: 400;
        line-height: 142%;
    }

    .active {

        .icon {
            transform: rotate(90deg);
        }
    }

    .accardion-lists {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: $all_05;
    }

    .active-block {
        max-height: 999px;
        opacity: 1;
    }    
}

/* ----------------------------------------------qr-code-section-------------- */

.qr-code-section {
    padding: 100px 0;
    background-color: #F6F4F0;
    text-align: center;

    @include media('<tablet'){
        padding: 50px 0;
    }

    .qr-img {
        display: block;
        margin: 0 auto 20px auto;
    }

    .title-text {
        font-family: $gilroy;
        color: $gray_2;
        font-size: 20px;
        font-weight: 600;
        line-height: 142%;
        text-transform: none;
        margin-bottom: 16px;

        @include media('<phone'){
            font-size: 16px;
        }
    }

    .discription {
        margin-bottom: 20px;
    }
}

/* ---------------------------------------list-two-section-------------------- */

.list-two-section {


    .list {
        max-width: 100%;
        margin: 0;
    }

    .item {
        width: 45%;
        color: $gray_2;
        line-height: 1.6;
        text-transform: none;
        flex-wrap: wrap;

        @include media('<phone_max'){
            width: 100%;
        }

        span{
            display: block;
            width: 100%;
            color: $blue;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

/* --------------------------------title-text-btn-img-section-------------------- */

.title-text-btn-img-section {
    padding: 160px 0;
    background: $white;

    @include media('<tablet'){
        padding: 88px 0;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media('<desktop'){
            flex-direction: column-reverse;
        }
    }

    .title-linedown-wrap {

        @include media('<desktop'){
            display: none;
        }
    }

    .text,
    .media  {
        width: 49%;

        @include media('<desktop'){
            width: 100%;
        }
    }

    .description {
        margin-bottom: 24px;

        p {
            font-family: $gilroy;
            color: $gray_2;
            margin-bottom: 10px;
        }
    }

    .img-wrap {
        @include adaptiv-vaule("min-height", 480, 300, 1);

        @include media('<desktop'){
           margin-bottom: 24px;
        }
    }

    .mob {
        display: none;

        @include media('<desktop'){
            display: block;
        }
    }
}