<footer id="footer">
    <div class="container">
        <a class="logo" href="index.html">
            <img src="./images/icons/logo-footer.svg" alt="logo">
        </a>
        <nav class="menu-wrap">
            <ul class="menu">
                <li class="menu-item"><a class="link link-close" href="#about">Про нас</a></li>
                <li class="menu-item"><a class="link link-close" href="#help">Юридична допомога</a></li>
                <li class="menu-item"><a class="link link-close" href="law-page.html">Мовою законів</a></li>
                <li class="menu-item"><a class="link link-close" href="question-page.html">Найчастіші питання</a></li>
                <li class="menu-item"><a class="link link-close" href="privileges-page.html">Пільги та права</a></li>
            </ul>
        </nav>
        <address class="contacts">
            <h2 class="title">Контакти:</h2>
            <ul class="contact-box">
                <li class="contact-item">
                    <a class="contact-link" href="https://goo.gl/maps/kxtm7czNPx7yaeN96" target="_blank">
                        <img src="./images/icons/location.svg" alt="location icon">
                        Харків, Держпром, 6 під'їзд, 1 поверх, офіс 19
                    </a>
                </li>
                <li class="contact-item">
                    <a class="contact-link" href="mailto:yuridichnadomoha@gmail.com">
                        <img src="./images/icons/sms.svg" alt="location icon">
                        yuridichnadomoha@gmail.com
                    </a>
                </li>
                <li class="contact-item">
                    <a class="contact-link" href="tel:+380990000000">
                        <img src="./images/icons/call.svg" alt="location icon">
                        + 38 099 000 00 00
                    </a>
                </li>
            </ul>
        </address>
    </div>
</footer>