<header id="header">
    <div class="overflow"></div>
    <div class="container">
        <a href="index.html" class="logo">
            <img src="./images/icons/logo.svg" alt="logo-icon">
        </a>
        <nav class="menu-wrap">
            <ul id="menu" class="menu">
                <li class="menu-item"><a class="link link-close" href="#about">Про нас</a></li>
                <li class="menu-item"><a class="link link-close" href="#help">Юридична допомога</a></li>
                <li class="menu-item"><a class="link link-close" href="law-page.html">Мовою законів</a></li>
                <li class="menu-item"><a class="link link-close" href="question-page.html">Найчастіші питання</a></li>
                <li class="menu-item"><a class="link link-close" href="privileges-page.html">Пільги та права</a></li>
            </ul>
        </nav>
        <button class="burger">
            <span></span>
        </button>
    </div>
 </header>