<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="questions">
                <h2>For questions <br> and suggestions</h2>
                <div class="email item">
                    <a href="mailto:email@shelter.com">
                        <i class="icon-e-mail"></i>
                        <p>email@shelter.com</p>
                    </a>
                </div>
                <div class="phone item">
                    <a href="tel:+13 674 567 75 54">
                        <i class="icon-telephone"></i>
                        <p>+13 674 567 75 54</p>
                    </a>
                </div>
            </div>
            <div class="waiting">
                <h2>We are waiting <br> for your visit</h2>
                <div class="first place">
                    <i class="icon-geo"></i>
                    <p>Boston, Central Street, 1st <br> (Entrance from the store)</p>
                </div>
                <div class="second place">
                    <i class="icon-geo"></i>
                    <p>London, South Park, 18st</p>
                </div>
            </div>
            <div class="footer-dog wow animate__animated animate__fadeInUp">
                <img class="dog" src="./images/footer-dog.png" alt="dog-img">
            </div>
        </div>
    </div>
</footer>