<header id="header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="#">
                    <h3>Cozy House</h3>
                    <p>Shelter for pets in Boston</p>
                </a>
            </div>
            <div class="burger"><span></span></div>
            <nav class="nav-menu">
                <ul class="ul-menu">
                    <li><a href="#part1">About the shelter</a></li>
                    <li><a href="#part2">Our pets</a></li>
                    <li><a href="#part3">To help the shelter</a></li>
                    <li><a class="last-li" href="#part4">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>
 </header>