.main_creditor_solutions {

    .trinity_title {
        @include adaptiv-vaule("font-size", 125, 46, 1);
    }
}

.about_creditor_solutions {
    .about_img {
        &::after {
            @include adaptiv-vaule("height", 350, 80, 1);
        }
    }
}


.creditor_solutions_website {
    .about_img {
        &::before {
            display: block;
        }

        &::after {
            @include adaptiv-vaule("height", 320, 70, 1);
        }
    }
}

.mobile_creditor_solutions {
    .about_img {
        &::before {
            display: block;
        }
    }
}

.logo_creditor_solutions {
    .about_img {
        &::before {
            display: block;
        }
    }
}

.swiper_creditor_solutions {
    @include adaptiv-vaule("padding-top", 25, 20, 1);
    @include adaptiv-vaule("padding-bottom", 160, 80, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    .swiper_creditor {
        padding-bottom: 60px;
        margin-bottom: 30px;

        .swiper-slide {
            transform: translateY(50px);
            transition: $transition_all_03;
        }

        .swiper-slide-active {
            transform: translateY(0);
        }
    }

    .about_img {
        &::before {
            display: block;
            @include adaptiv-vaule("height", 350, 80, 1);
        }

        &::after {
            @include adaptiv-vaule("height", 350, 80, 1);
        }
    }
}

.typography_solutions {
    .gradient_block {
        background: linear-gradient(90deg, #F2F4F8 0%, #9AA4C9 26.04%, #031C77 50.03%, #66666C 73.44%, #FFF 100%);


        @include media ("<phone_max") {
            background: linear-gradient(180deg, #F2F4F8 0%, #9AA4C9 26.04%, #031C77 50.03%, #66666C 73.44%, #FFF 100%);

        }
    }

    .color_name {

        &:last-child,
        &:first-child {
            color: $black;
        }

        color: $white;
    }
}