@import "src/styles/base/variables";

body {
    font-family: $Poppins;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 60px;
    margin: 0 auto;

    @include media('<widescreen') {
        padding: 0 20px;
    }
}

.main-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 24px;
    border-radius: 40px;
    background-color: $black21;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    transition: $animation-speed;
    border: 2px solid transparent;

    &:hover {
        color: $black21;
        border: 2px solid $black21;
        background-color: transparent;

        svg {
            stroke: $black21;
        }
    }

    svg {
        stroke: $white;
        transition: $animation-speed;
    }
}

/* ------------------- main-section ----------------*/

.main-section {
    padding: 65px 0;
    text-align: center;

    @include media('<phone') {
        padding: 85px 0 40px 0;
    }

    .qr-img {
        margin-bottom: 20px;
    }

    .qr-text {
        max-width: 130px;
        margin: 0 auto 20px auto;
        color: $black4A;
        font-family: $Poppins;
        font-size: 14px;
        font-weight: 500;
        line-height: 124%;
    }

    .main-title {
        margin-bottom: 16px;
        color: $black27;
        font-family: $Recoleta;
        @include adaptiv-vaule("font-size", 78, 28, 1);
        font-weight: 600;
        line-height: 92%;
    }

    .text {
        max-width: 600px;
        margin: 0 auto;
        color: $black4A;
        font-family: $Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 162%;

        @include media('<phone') {
            font-size: 14px;
        }
    }
}


.phone-section {
    position: relative;
    // TODO: Remove
    border: 1px solid red;
    margin-bottom: 1000px;
    li {
        padding-bottom: 500px;
    }
}

.sticky-phones-wrapper {
    position: absolute;
    width: 285px;
    top: 0;
    left: 10%;

    .sticky-phones-content {
        position: relative;
        overflow: hidden;
    }

    img {
        width: 100%;
        &:not(:first-of-type) {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}


/* ------------------- card-section ----------------*/
@mixin on-circle($item-count, $circle-size, $item-size, $angle) {
    position: absolute;
    width:  $circle-size + px;
    height: $circle-size + px;
    padding: 0;
    border-radius: 50%;
    list-style: none;

    > * {
        display: block;
        position: absolute;
        top:  50%;
        left: 50%;
        width:  $item-size + px;
        height: $item-size + px;
        margin: -($item-size / 2) + px;

        $rot: -90;
        $itemTranslate: $circle-size / 2 - ($item-size / 2);

        @for $i from 1 through $item-count {
            &:nth-of-type(#{$i}) {
                transform:
                        rotate($rot * 1deg)
                        translate($itemTranslate + px);
            }
            $rot: $rot + $angle;
        }
    }
}
.card-section {
    $cardCarouselWidth: 4000;
    $cardCarouselHeight: 4000;

    position: relative;
    min-height: 410px;
    overflow: hidden;

    @include media('<phone') {
        min-height: 290px;
    }

    &:before {
        position: absolute;
        content: "";
        width: $cardCarouselWidth + px;
        height: $cardCarouselHeight + px;
        display: block;
        z-index: 111;
        top: 100%;
        left: 50%;
        border-radius: 50%;
        background: $whiteEA;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, -100px);

        @include media('<phone') {
            transform: translate(-50%, -140px);
        }
    }

    .card-holder {
        @include on-circle($item-count: 20, $circle-size: $cardCarouselWidth, $item-size: 320, $angle: 11, $initRot: -90);
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%, 0);

        @include media('<phone') {
            @include on-circle($item-count: 20, $circle-size: $cardCarouselWidth, $item-size: 135, $angle: 4, $initRot: -90);
        }

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            transition: .15s;

            img {
                //$tanA: 4000 / (2 * (1690));
                //$atan: atan(pi / 2);
                //transform: rotate(atan($tanA));
                //transform: rotate($atan);

                transform: rotate(90deg);
            }
        }
    }
}
