#header {
    padding: 14px 0;

    @include media('<tablet') {
        display: none;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    .logo {
        color: $black21;
        font-family: $Recoleta;
        font-size: 36px;
        font-weight: 600;
    }

    .menu {
        display: flex;
        gap: 54px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .link {
        color: $black;
        font-family: $Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
    }
}