#header {
    padding: 14px 0;
    background-color: $whiteEA;

    @include media('<tablet') {
        display: none;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    .logo {
        color: $black21;
        font-family: $Recoleta;
        font-size: 36px;
        font-weight: 600;
    }

    .menu {
        display: flex;
        gap: 54px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .link {
        position: relative;
        color: $black;
        font-family: $Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;

        &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translate(-50%);
            width: 0;
            height: 2px;
            background-color: $black;
            transition: all 0.3s ease 0s;
            transition: $animation-speed;
        }

        &:hover {

            &::after {
                width: 100%;
            }
        }
    }
}