body {
    font-family: $mont;
}

.container{
    width: 100%;
    max-width: 1440px;
    @include adaptiv-vaule("padding-right", 70, 25, 1);
    @include adaptiv-vaule("padding-left", 70, 25, 1);
    margin: 0 auto;
}

.main-btn{
    max-width: 200px;
    min-width: 200px;
    padding: 15px;
    font-weight: 800;
    font-size: 18px;
    color: $white;
    text-align: center;
    background-color: $main-color;
    border-radius: 40px;
    transition: all .3s ease 0s;

    &:hover{
        background-color: $hover-color;
    }
}

.sec-btn{
    display: inline-block;
    min-width: 190px;
    max-width: 250px;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 15px;
    background-color: $white;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    transition: all .3s ease 0s;

    &:hover{
        border: 1px solid $hover-color;
        background-color: $hover-color;
        color: $white;
    }
}

.line-btn{
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    &::after{
        content:"";
        display: block;
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: $black;
        transition: width 0.3s ease-out;
    }

    &:hover{
        &::after{
            width: 100%;
        }
    }
}

/* ///////////////////////main////////////////////// */

.main {
    background: url(../images/main-bg-img.jpg) 50% 0/cover no-repeat;
    min-height: 100vh;
}

.main-content{
    display: flex;
    justify-content: center; 
    min-height: 100vh;
}

.main-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 140px 0 130px 0;
}

.main__text-wrap{
    margin-bottom: 60px;

    h1{
        font-weight: 800;
        color: $main-color;
        margin-bottom: 0;
        @include adaptiv-vaule("font-size", 135, 60, 1);
    }

    p{
        color: $white;
        font-weight: 600;
        margin-bottom: 0;
        line-height: .8;

        &:first-child{
            @include adaptiv-vaule("font-size", 50, 28, 1);
            @include adaptiv-vaule("margin-left", 160, 50, 1);
        }

        &:last-child{
            @include adaptiv-vaule("font-size", 100, 50, 1);
            @include adaptiv-vaule("margin-left", 280, 30, 1);
        }
    }
}

/* ///////////////////////cities////////////////////// */

.cities{
    padding: 50px 0 40px 0;
    border-bottom: 1px solid $gray;
    box-shadow: 0px 5px 5px $gray;
    position: absolute;
    z-index: 10;
    background: $white;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -70px);

    @include media ("<phone"){
        width: 95%;
        border-radius: 10px;
        padding: 30px 0 40px 0;

        .container{
            padding: 0;
        }
    }
}

.cities-content{
    position: relative;
}

.cities-wrap{
    @include media (">desktop"){
        display: flex;
        justify-content: space-between;
    }

    @include media ("<=desktop"){
        overflow: hidden;
    }
}

.cities__item{
    display: flex;

    &:not(:first-child){
        &::before{
            content:'';
            position: absolute;
            left: -35px;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: $black;

            @include media ("<tablet"){
                display: none;
            }
        }
    }

    @include media (">desktop"){
        max-width: 20%;
        width: 100%;
        position: relative;
    }

    @include media ("<=desktop"){
        justify-content: center;
        position: relative;

        &:not(:first-child){
            &::before{
                left: 3px;
            }
        }
    }
}

.cities__item__icon-wrap{
    margin-right: 15px;

    i{
        font-size: 56px;
    }

    img{
        min-width: 50px;
    }
}

.cities__item__text{
    max-width: 165px;

    span{
        font-weight: 800;
        font-size: 15px;
        line-height: 1.3;
    }

    p{
        margin-bottom: 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.3;
    }
}

/* --------------------------cities slider */

.cities{

    .slick-track{
        display: flex;
    }

    .slick-arrow{
        position: absolute;
        top: 25%;
        z-index: 2; // стрелки сверху картинок
        font-size: 0; // убираем надпись на дефолтной стрелке
        width: 30px; // ширина стрелки
        height: 30px; // высота стрелки
        border: none;
    }

    .slick-prev{
        left: 0;
        background: url('../images/icon/arrow.svg') 0 0 no-repeat;
    }

    .slick-next{
        right: 0;
        transform: rotate(180deg);
        background: url('../images/icon/arrow.svg') 0 0 no-repeat;
    }

    .slick-dots{
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        li{
            margin:0 5px;
            width: 18px;
            height: 17px;
            display: flex;
            align-items: center;
            padding: 2px;
        }

        button{
            border: none;
            border-radius: 50%;
            font-size: 0;
            width: 8px;
            height: 11px;
            background-color: $gray;
        }

        .slick-active{
            border-radius: 50%;
            border: 1px solid #EB5B31;

        }
    }

    .slick-active{
        &::before{
            left: -2px;
        }
    }
}

/* ///////////////////////about////////////////////// */

.about{
    @include adaptiv-vaule("padding-top", 170, 150, 1);
    @include adaptiv-vaule("padding-bottom", 180, 100, 1);
    position: relative;
    
    &::after{
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: .5;
        background: url(../images/asfalt-dark.png) 0 0/cover no-repeat;
    }
}

.about-content{
    display: flex;
    justify-content: space-between;

    @include media ("<desktop"){
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.about__text-blok{
    width: 42%;

    @include media ("<desktop"){
        width: 100%;
        margin-bottom: 40px;
    }

    h2{
        margin-bottom: 40px;
    }

    p{
        margin-bottom: 25px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.3;
    }
}

.about__img-blok{
    width: 45%;
    position: relative;

    @include media ("<desktop"){
        width: 100%;
    }
}

.about__img-wrap{
    display: block;
    border-radius: 78% 22% 53% 47% / 52% 36% 64% 48%;
    overflow: hidden;
    @include adaptiv-vaule("max-width", 470, 320, 1);
    width: 100%;
    @include adaptiv-vaule("max-height", 440, 300, 1);
    height: 100vh;
    position: relative;
    background-color: #A01C17;
    box-shadow: 19px 8px 0 -12px #D0312B,
                -15px -8px 0 -10px #D0312B;

    @include media ("<desktop"){
        margin: 0 auto;
    }

    img, source{
        border-radius: 80% 22% 69% 29% / 69% 49% 64% 3%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.comment-about{
    position: absolute;
    left: 90px;
    transform: translateY(-45px);
    max-width: 320px;
    width: 100%;
    border-radius: 10px;
    padding: 15px 17px 5px 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    backdrop-filter: blur(5px);

    @include media ("<desktop"){
        left: 50%;
        transform: translate(-50%, -45px);
    }
}

.comment-about__title-container{
    display: flex;
    position: relative;
    padding-bottom: 10px;
    
    &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 95%;
        height: 1px;
        background-color: $black;
    }

}

.comment-about__img-wrap{
    position: relative;
    max-width: 65px;
    width: 100%;
    max-height: 65px;
    height: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.comment-about__title-wrap{

    span{
        display: block;
        font-weight: 800;
        font-size: 18px;
        margin-bottom: 5px;
    }

    p{
        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        margin-bottom: 0;
    }

}

.comment-about__stars-container{
    padding-top: 5px;
    margin: 0 auto;
    text-align: center;
    
    i{
        font-size: 19px;
        color: #E3CD00;
    }
}

/* ///////////////////////tours////////////////////// */

.tours{
    @include adaptiv-vaule("padding-top", 100, 60, 1);
    @include adaptiv-vaule("padding-bottom", 100, 60, 1);
    background-color: $white-bg;

    h2{
        @include adaptiv-vaule("margin-bottom", 100 , 25, 1);
        @include adaptiv-vaule("font-size", 36, 25, 1);
    }
}

.tours-content{
    text-align: center;
}

.tours__item-wrap{
    display: flex;
    justify-content: space-between;

    @include media ("<desktop"){
        flex-wrap: wrap;
    }
}

.tours__item{
    width: 24%;
    max-width: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: $white;
    position: relative;
    margin-bottom: 60px;
    text-align: start;

    @include media ("<desktop"){
        width: 48%;
        max-width: 430px;
    }

    @include media ("<phone"){
        width: 100%;
        max-width: 100%;
    }
}

.tours__item__img-wrap{
    width:100%;
    height: 100vh;
    max-height: 255px;

    img, source{
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
}

.tours__item__text-wrap{
    padding: 30px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .line-btn{
        position: absolute;
        left: 20px;
        bottom: 15px;
    }
}

.tours__item__title{
    span{
        display: block;
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    p{
        font-weight: 600;
        font-size: 12px;
        line-height: 1.3;
        text-align: justify;
    }
}

