body {
    font-family: $mont;
}

.container{
    width: 100%;
    max-width: 1440px;
    @include adaptiv-vaule("padding-right", 70, 25, 1);
    @include adaptiv-vaule("padding-left", 70, 25, 1);
    margin: 0 auto;
}

.main-btn{
    display: inline-block;
    min-width: 190px;
    max-width: 250px;
    padding: 15px;
    font-weight: 800;
    font-size: 18px;
    color: $white;
    text-align: center;
    background-color: $main-color;
    border-radius: 40px;
    transition: all .3s ease 0s;

    &:hover{
        background-color: $hover-color;
    }
}

.sec-btn{
    display: inline-block;
    min-width: 190px;
    max-width: 250px;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 15px;
    background-color: $white;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    transition: all .3s ease 0s;

    &:hover{
        border: 1px solid $hover-color;
        background-color: $hover-color;
        color: $white;
    }
}

.line-btn{
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    &::after{
        content:"";
        display: block;
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: $black;
        transition: width 0.3s ease-out;
    }

    &:hover{
        &::after{
            width: 100%;
        }
    }
}

.form-btn{
    display: inline-block;
    min-width: 190px;
    max-width: 250px;
    border: 3px solid $hover-color;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 15px;
    background-color: $white;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    transition: all .3s ease 0s;
    color: $hover-color;

    &:hover{
        border: 3px solid $hover-color;
        background-color: $hover-color;
        color: $white;
    }
}

/* ///////////////////////main////////////////////// */

.main {
    background: url(../images/main-bg-img.jpg) 50% 0/cover no-repeat;
    min-height: 100vh;
}

.main-content{
    display: flex;
    justify-content: center; 
    min-height: 100vh;
}

.main-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 140px 0 130px 0;
}

.main__text-wrap{
    margin-bottom: 60px;

    h1{
        font-weight: 800;
        color: $main-color;
        margin-bottom: 0;
        @include adaptiv-vaule("font-size", 135, 60, 1);
    }

    p{
        color: $white;
        font-weight: 600;
        margin-bottom: 0;
        line-height: .8;

        &:first-child{
            @include adaptiv-vaule("font-size", 50, 28, 1);
            @include adaptiv-vaule("margin-left", 160, 50, 1);
        }

        &:last-child{
            @include adaptiv-vaule("font-size", 100, 50, 1);
            @include adaptiv-vaule("margin-left", 280, 30, 1);
        }
    }
}

/* ///////////////////////cities////////////////////// */

.cities{
    padding: 50px 0 40px 0;
    border-bottom: 1px solid $gray;
    box-shadow: 0px 5px 5px $gray;
    position: absolute;
    z-index: 10;
    background: $white;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -70px);

    @include media ("<phone"){
        width: 95%;
        border-radius: 10px;
        padding: 30px 0 40px 0;

        .container{
            padding: 0;
        }
    }
}

.cities-content{
    position: relative;
}

.cities-wrap{
    @include media (">desktop"){
        display: flex;
        justify-content: space-between;
    }

    @include media ("<=desktop"){
        overflow: hidden;
    }
}

.cities__item{
    display: flex;

    &:not(:first-child){
        &::before{
            content:'';
            position: absolute;
            left: -35px;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: $black;

            @include media ("<tablet"){
                display: none;
            }
        }
    }

    @include media (">desktop"){
        max-width: 20%;
        width: 100%;
        position: relative;
    }

    @include media ("<=desktop"){
        justify-content: center;
        position: relative;

        &:not(:first-child){
            &::before{
                left: 3px;
            }
        }
    }
}

.cities__item__icon-wrap{
    margin-right: 15px;

    i{
        font-size: 56px;
    }

    img{
        min-width: 50px;
    }
}

.cities__item__text{
    max-width: 165px;

    span{
        font-weight: 800;
        font-size: 15px;
        line-height: 1.3;
    }

    p{
        margin-bottom: 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.3;
    }
}

/* --------------------------cities slider */

.cities{

    .slick-track{
        display: flex;
    }

    .slick-arrow{
        position: absolute;
        top: 25%;
        z-index: 2; // стрелки сверху картинок
        font-size: 0; // убираем надпись на дефолтной стрелке
        width: 30px; // ширина стрелки
        height: 30px; // высота стрелки
        border: none;
    }

    .slick-prev{
        left: 0;
        background: url('../images/icon/arrow.svg') 0 0 no-repeat;
    }

    .slick-next{
        right: 0;
        transform: rotate(180deg);
        background: url('../images/icon/arrow.svg') 0 0 no-repeat;
    }

    .slick-dots{
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        li{
            margin:0 5px;
            width: 18px;
            height: 17px;
            display: flex;
            align-items: center;
            padding: 2px;
        }

        button{
            border: none;
            border-radius: 50%;
            font-size: 0;
            width: 8px;
            height: 11px;
            background-color: $gray;
        }

        .slick-active{
            border-radius: 50%;
            border: 1px solid #EB5B31;

        }
    }

    .slick-active{
        &::before{
            left: -2px;
        }
    }
}

/* ///////////////////////about////////////////////// */

.about{
    @include adaptiv-vaule("padding-top", 170, 150, 1);
    @include adaptiv-vaule("padding-bottom", 180, 100, 1);
    position: relative;
    
    &::after{
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: .5;
        background: url(../images/asfalt-dark.png) 0 0/cover no-repeat;
    }
}

.about-content{
    display: flex;
    justify-content: space-between;

    @include media ("<desktop"){
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.about__text-blok{
    width: 42%;

    @include media ("<desktop"){
        width: 100%;
        margin-bottom: 40px;
    }

    h2{
        margin-bottom: 40px;
    }

    p{
        margin-bottom: 25px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.3;
    }
}

.about__img-blok{
    width: 45%;
    position: relative;

    @include media ("<desktop"){
        width: 100%;
    }
}

.about__img-wrap{
    display: block;
    border-radius: 78% 22% 53% 47% / 52% 36% 64% 48%;
    overflow: hidden;
    @include adaptiv-vaule("max-width", 470, 320, 1);
    width: 100%;
    @include adaptiv-vaule("max-height", 440, 300, 1);
    height: 100vh;
    position: relative;
    background-color: #A01C17;
    box-shadow: 19px 8px 0 -12px #D0312B,
                -15px -8px 0 -10px #D0312B;

    @include media ("<desktop"){
        margin: 0 auto;
    }

    img, source{
        border-radius: 80% 22% 69% 29% / 69% 49% 64% 3%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.comment-about{
    position: absolute;
    left: 90px;
    transform: translateY(-45px);
    max-width: 320px;
    width: 100%;
    border-radius: 10px;
    padding: 15px 17px 5px 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    backdrop-filter: blur(5px);

    @include media ("<desktop"){
        left: 50%;
        transform: translate(-50%, -45px);
    }
}

.comment-about__title-container{
    display: flex;
    position: relative;
    padding-bottom: 10px;
    
    &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 95%;
        height: 1px;
        background-color: $black;
    }

}

.comment-about__img-wrap{
    position: relative;
    max-width: 65px;
    width: 100%;
    max-height: 65px;
    height: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.comment-about__title-wrap{

    span{
        display: block;
        font-weight: 800;
        font-size: 18px;
        margin-bottom: 5px;
    }

    p{
        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        margin-bottom: 0;
    }

}

.comment-about__stars-container{
    padding-top: 5px;
    margin: 0 auto;
    text-align: center;
    
    i{
        font-size: 19px;
        color: #E3CD00;
    }
}

/* ///////////////////////tours////////////////////// */

.tours{
    @include adaptiv-vaule("padding-top", 100, 60, 1);
    @include adaptiv-vaule("padding-bottom", 100, 60, 1);
    background-color: $white-bg;

    h2{
        @include adaptiv-vaule("margin-bottom", 100 , 25, 1);
        @include adaptiv-vaule("font-size", 36, 25, 1);
    }
}

.tours-content{
    text-align: center;
}

.tours__item-wrap{
    display: flex;
    justify-content: space-between;

    @include media ("<desktop"){
        flex-wrap: wrap;
    }
}

.tours__item{
    width: 24%;
    max-width: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: $white;
    position: relative;
    margin-bottom: 60px;
    text-align: start;

    @include media ("<desktop"){
        width: 48%;
        max-width: 430px;
    }

    @include media ("<phone"){
        width: 100%;
        max-width: 100%;
    }
}

.tours__item__img-wrap{
    width:100%;
    height: 100vh;
    max-height: 255px;
    display: block;
    position: relative;
    overflow: hidden;

    img, source{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0 0; 
        object-fit: cover;
    }
}

.tours__item__text-wrap{
    padding: 30px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .line-btn{
        position: absolute;
        left: 20px;
        bottom: 15px;
    }
}

.tours__item__title{
    span{
        display: block;
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    p{
        font-weight: 600;
        font-size: 12px;
        line-height: 1.3;
        text-align: justify;
    }
}

/* ///////////////////////steps////////////////////// */

.steps{
    @include adaptiv-vaule("padding-top", 105, 60, 1);
    @include adaptiv-vaule("padding-bottom", 105 , 130, 1);
    position: relative;
    
    &::after{
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: .5;
        background: url(../images/asfalt-dark.png) 0 0/cover no-repeat;
    }

    h2{
        @include adaptiv-vaule("margin-bottom", 30 , 10, 1); 
    }

    .steps__mai-sub-title{
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        max-width: 525px;
        margin: 0 auto;
        margin-bottom: 30px;

        @include media ("<desktop"){
            margin-bottom: 85px;
        }
    }
}

.steps-content{
    text-align: center;
}

.steps__item-wrap{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 105px;
    counter-reset: myCounter;

    @include media ("<desktop"){
        flex-direction: column;
        margin-bottom: 0;
    }
}

.steps__item{
    width: 18%;
    list-style: none;

    &:before {
        counter-increment: myCounter;
        content:"0" counter(myCounter);
        color: $main-color;
        display: inline-block;
        text-align: center;
        margin-bottom: 25px;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;

        @include media ("<desktop"){
            margin-bottom: 0;
            margin-right: 40px;
            margin-top: -20px;
            font-size: 80px;
            color: #FFD8CD;
            min-width: 100px;
        }

        @include media ("<phone"){
            font-size: 48px;
            margin-right: 15px;
            min-width: 60px;
        }
        
    }

    &:first-child{
        .steps__item-icon{
            &::after{
                width: 70%;
                left: 50%;

                @include media ("<desktop"){
                    width: 1px;
                    height: 115%;
                }
            }

            &::before{
                display: none;
        
                @include media ("<desktop"){
                    display: block;
                }
            }
        }
    }

    &:last-child{
        .steps__item-icon{
            &::after{
                width: 50%;

                @include media ("<desktop"){
                    display: none;
                }
            }

            &::before{
                @include media ("<desktop"){
                    display: none;
                }
            }
        }
    }

    @include media ("<desktop"){
        display: flex;
        width: 100%;
        text-align: start;
        min-height: 230px;
    }

    @include media ("<phone"){
        min-height: 170px;
    }
}

.steps__item-icon{
    margin-bottom: 20px;
    position: relative;

    &::after{   
        content:'';
        position: absolute;
        top: 50%;
        left: 0;
        width: 115%;
        height: 1px;
        background-color: $main-color;
        z-index: -1;

        @include media ("<desktop"){
            width: 1px;
            height: 115%;
            left: 50%;
            top: 0;
        }
    }

    &::before{
        content:'';
        position: absolute;
        border: 7px solid transparent;
        border-left: 7px solid $main-color;
        width: 13px;
        height: 13px;
        top: 5 px;
        left: 0;

        @include media ("<desktop"){
            top: 60%;
            left: 16px;
            border: 6px solid transparent;
            border-top: 12px solid $main-color;
        }
    }
    
    i{
        background-color: $white;
        font-size: 20px;
        color: $main-color;
        padding: 9px;
        border-radius: 50%;
        border: 3px solid $main-color;
    }
}

.steps__item-title{

    @include media ("<desktop"){
        margin-left: 25px;
    }

    span{
        display: block;
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 25px;
    }

    p{
        font-weight: 600;
        font-size: 13px;
        line-height: 1.3;
    }
}

/* ///////////////////////main-gallery////////////////////// */

.main-gallery{
    background-color: $main-color;
    color: $white;
}

/* ///////////////////////gallery////////////////////// */

.gallery{
    @include adaptiv-vaule("padding-top", 100, 60, 1);
    padding-bottom: 100px;

    .container{
        padding: 0 15px;
    }
    
    h2{
        @include adaptiv-vaule("margin-bottom", 20 , 15, 1);
        text-align: center;
    }

    .gallery__main-sub-title{
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        @include adaptiv-vaule("margin-bottom", 70 , 60, 1);
        max-width: 525px;
        margin: 0 auto;
        margin-bottom: 60px;
    }

}

.gallery__item-wrap{
    display: flex;
    justify-content: space-between;
}

.gallery__item{
    display: flex;
    flex-direction: column;
    position: relative;

    @include media (">960px"){
        width: 24%;
        max-width: 300px;
    }

    @include media ("<1280px"){
        width: 32%;

        &:last-child{
            display: none;
        }
    }

    @include media ("<960px"){
        padding: 0 5px;

        &:last-child{
            display: block;
        }
    }

}

.gall-btn{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;

    &:hover + .gallery__item-img{
        &::after{
            background-color: rgba(0, 0, 0, .5);
        }
    }
}

.gallery__item-img{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 24px;
    position: relative;

    &::after{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0);
        transition: all .3s ease 0s;
    }
}

.gallery__item-title{

    @include media ("<=960px"){
        text-align: center;
    }

    span{
        display: block;
        font-weight: 800;
        font-size: 25px;
        margin-bottom: 10px;
    }

    p{
        font-weight: 600;
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 10px;
    }
}

.gallery__item-wrap1{
    align-items: flex-start;

    @include media ("<=960px"){
        overflow: hidden;
    }

    .gallery__item{
        @include media ("<=960px"){
            align-items: center;
            display: flex;
        }

        &:nth-child(even){
            .gallery__item-img{
                @include media (">960px"){
                    position: relative;
                    height: 100vh;
                    max-height: 280px;
                    width: 100%;
                }

                img{

                    @include media (">960px"){
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.gallery__item-wrap2{

    @include media ("<=960px"){
        display: none;
    }

    .gallery__item{
        &:nth-child(odd){
            margin-top: 140px;

            .gallery__item-img{
                position: relative;
                height: 100vh;
                max-height: 280px;
                width: 100%;

                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }
        }
    }
}

/* --------------------------gallery slider */

.gallery{
    position: relative;

    .slick-list{
        min-height: 0;
        min-width: 0;
    }

    .slick-track{
        display: flex;
        align-items: flex-start;
    }

    .slick-dots{
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        li{
            margin:0 5px;
            width: 18px;
            height: 17px;
            display: flex;
            align-items: center;
            padding: 2px;
        }

        button{
            border: none;
            border-radius: 50%;
            font-size: 0;
            width: 8px;
            height: 11px;
            background-color: $white;
        }

        .slick-active{
            border-radius: 50%;
            border: 1px solid $white;

        }
    }
}

/* ///////////////////////reviews////////////////////// */

.reviews{
    @include adaptiv-vaule("padding-top", 105, 60, 1);
    @include adaptiv-vaule("padding-bottom", 105 , 130, 1);
    position: relative;
    
    &::after{
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: .5;
        background: url(../images/asfalt-dark.png) 0 0/cover no-repeat;
    }
    
    h2{
        @include adaptiv-vaule("margin-bottom", 45  , 30, 1); 
        text-align: center;
    }
    
    .container{
        @include media ("<phone"){
            padding: 0;
        }
    }
}

.reviews__item-wrap{
    display: flex;
    justify-content: space-between;
}

.reviews__item{
    width: 32%;
    max-width: 360px;
    position: relative;

    @include media ("<1300px"){
        max-width: none;
    }
}

.reviews__item__img-wrap{
    display: block;
    border-radius: 71% 68% 85% 25% / 76% 51% 84% 44% ;
    overflow: hidden;
    position: relative;
    width: 360px;
    height: 320px;
    box-shadow: 20px -15px 0 -14px #d0312b, -7px 17px 0px -11px #d0312b;
    margin: 0 auto;

    @include media ("<phone"){
        width: 290px;
        height: 260px;
    }

    img, source{
        position:absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.reviews__item__comment{
    position: static;
    max-width: 320px;
    margin: 0 auto;

    @include media ("<desktop"){
        left: 0;
        transform: translate(0, -45px);
    }

    @include media ("<phone"){
        max-width: 260px;
    }

    .comment-about__title-container{
        &::after{
            display: none;
        }
    }

    .comment-about__title-wrap{
        position: relative;
        padding-bottom: 5px;
        width: 100%;
        border-bottom: 1px solid #B1B1B1;
        
        P{
            line-height: normal;
        }
    }

    .comment-about__img-wrap{
        max-width: 42px;
        height: 42px;
    }

    .comment-about__stars-container{
        p{
            text-align: justify;
            font-weight: 600;
            font-size: 14px;
            line-height: 120%;
        }
    }
}

/* --------------------------reviews slider */

.reviews{
    position: relative;

    .slick-list{
        min-height: 0;
        min-width: 0;
        overflow: hidden;
    }

    .slick-track{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .slick-dots{
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        li{
            margin:0 5px;
            width: 18px;
            height: 17px;
            display: flex;
            align-items: center;
            padding: 2px;
        }

        button{
            border: none;
            border-radius: 50%;
            font-size: 0;
            width: 8px;
            height: 11px;
            background-color: $gray;
        }

        .slick-active{
            border-radius: 50%;
            border: 1px solid #EB5B31;

        }
    }
}

/* ///////////////////////form////////////////////// */

.form{
    @include adaptiv-vaule("padding-top", 105, 60, 1);
    @include adaptiv-vaule("padding-bottom", 105 , 130, 1);
    background: url(../images/form-bg.jpg) 50% 0/cover no-repeat;
    border-radius: 10px 10px 0px 0px;
    color: $white;

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 630px;
        margin: 0 auto;

        .form__name{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 30px;

            @include media ("<tablet"){
                flex-direction: column;
            }

            @include media ("<phone"){
                margin-bottom: 10px;
            }

            input{
                max-width: 48%;

                @include media ("<tablet"){
                    max-width: 100%;

                    &:first-child{
                        margin-bottom: 30px;
                    }
                }

                @include media ("<phone"){
                    &:first-child{
                        margin-bottom: 10px;
                    }
                }
            }
        }

        input, textarea {
            width: 100%;
            padding: 20px 15px 20px 30px;
            background: $white;
            border: 3px solid #D1D1D1;
            box-sizing: border-box;
            border-radius: 15px;
            font-weight: 600;
            font-size: 20px;
            line-height: 1.3;
            color: $hover-color;

            &:active, &:focus{
                border: 3px solid $hover-color;
                outline: none;
            }

            &::placeholder{
                border-radius: 15px;
                font-weight: 600;
                font-size: 20px;
                line-height: 1.3;
                color: #D6D6D6;
            }
        }

        textarea{
            margin-bottom: 20px;
            @include adaptiv-vaule("min-height", 180, 300, 1);
        }
    }
}

.form__teitle{
    max-width: 675px;
    margin: 0 auto;
    margin-bottom: 65px;

    h2{
        margin-bottom: 25px;
        text-align: center;
        line-height: 1.3; 
    }

    p{
        font-weight: 600;
        font-size: 18px;
        line-height: 1.3; 
        margin: 0 auto;
        text-align: center; 
    }
}

/* /////////////////////////////////////////////////////// */
/* ///////////////////////#tourPages////////////////////// */
/* /////////////////////////////////////////////////////// */

/* ///////////////////////main-pages////////////////////// */

.main-pages{
    padding-top: 160px;

    @include media ("<phone"){
        padding-top: 100px;
    }
}

.main-pages__text-bg{
    position: absolute;
    @include adaptiv-vaule("top", 100, 180, 1);
    right: 0;
    z-index: -1;
    overflow: hidden;

    @include media ("<phone"){
        top: 50px;
        width: 100%;
    }

    p{
        margin: 0;
        color: #F4F4F4;
        text-transform: uppercase;
        font-weight: 800;
        @include adaptiv-vaule("font-size", 270, 120, 1);
        text-align: right;
        transform: translateX(50px);

        @include media ("<phone"){
            transform: translateX(-20px);
            text-align: center;
        }
    }
}

.main-pages__img-wrap{
    display: block;

    @include media ("<phone"){
        display: none;
    }

    img, source{
        display: block;
        width: 100%;
    }
}

.main-pages-content{
    h1{
        @include adaptiv-vaule("font-size", 72, 60, 1);
        margin-bottom: 45px;
    }
}

/* ///////////////////////text-pages////////////////////// */

.text-pages{
    @include adaptiv-vaule("padding-top", 80, 60, 1);
    padding-bottom: 60px;
}

.text-pages-content{
    display: flex;
    justify-content: space-between;

    @include media ("<tablet"){
       flex-direction: column;
       text-align: center;
    }
}

.text-pages__text-wrap{
    width: 100%;
    max-width: 70%;

    @include media ("<tablet"){
        max-width: 100%;
        text-align: justify;
        margin-bottom: 30px;
    }

    p{
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
    }
}

.text-pages__btn-wrap{
    width: 100%;
    max-width: 190px;

    @include media ("<tablet"){
        margin: 0 auto;
    }
    
    a{
        margin-bottom: 35px;
    }
}

/* ///////////////////////trip////////////////////// */

.trip{
    padding-top: 20px;
    @include adaptiv-vaule("padding-bottom", 100, 50, 1);

    h2{
        @include adaptiv-vaule("font-size", 36 , 25, 1);
        @include adaptiv-vaule("margin-bottom", 100 , 60, 1);
        text-align: center;
    }
}

.trip__item-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media ("<desktop"){
        flex-direction: column;
    }
}

.trip__text-wrap{
    -webkit-overflow-scrolling: touch;

    @include media (">=desktop"){
        max-height: 730px;
        overflow-y: scroll;
        padding-right: 70px;
        transform:scaleX(-1);
    }

    @include media ("<desktop"){
        order: 2;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        max-width: 100%;
    }

    ul{
        font-weight: 800;
        font-size: 25px;
        padding: 0;
        
        @include media (">=desktop"){
            max-width: 400px;
            width: 100%;
            transform:scaleX(-1);
        }

        @include media ("<desktop"){
            width: 100%;
            max-width: 43%;
            display: inline-block;
            flex: 0 0 auto;
            margin-right: 75px;

            &:last-child{
                margin-right: 0;
            }
        }

        @include media ("<tablet"){
            max-width: 100%;
        }
    }

    li{
        font-weight: 600;
        font-size: 18px;
        margin:0 0 25px 30px;
        text-align: justify;

        &:first-child{
            margin-top: 35px;
        }
    }

}

.trip__img-wrap{
    margin-left: 30px;

    @include media ("<desktop"){
        order: 1;
    }
}

/* --------------------------scroll */

::-webkit-scrollbar-button {
    width: 5px;
    height: 0px
}

/* Цвет дорожки, по которой двигается бегунок прокрутки. */
::-webkit-scrollbar-track {
    background-color: #C4C4C4;
    border-radius: 5px;
}

/* Цвет бегунка полосы, а так же его закругление. */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 5px;
    background-color: $main-color;
}

/* Цвет бегунка при наведении на него курсора. */
::-webkit-scrollbar-thumb:hover {
    background-color: $hover-color;
}

/* Основная ширина полосы прокрутки. */
::-webkit-resizer {
    width: 4px;
    height: 0px
}

::-webkit-scrollbar {
    width: 5px;
}

/* ///////////////////////trtansfer////////////////////// */

.trtansfer{
    @include adaptiv-vaule("padding-bottom", 100, 50, 1);

}

.trtansfer__title-wrap{
    text-align: center;

    h2{
        @include adaptiv-vaule("font-size", 36 , 25, 1);
        margin-bottom: 30px;
    }

    p{
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 100px;
    }   
}

.trtansfer__item-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trtansfer__item{
    max-width: 245px;
    margin: 0 30px 60px;
}

.trtansfer__item__img{
    background-color: $main-color;
    width: 165px;
    height: 140px;
    border-radius: 100% 36% 87% 50% / 75% 48% 72% 66%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 15px 25px 10px;

    i{
        font-size: 80px;
        color: $white;
    }
}

.trtansfer__item__text{
    display: flex;

    i{
        font-size: 16px;
        color: $main-color;
        margin-right: 15px;
    }

    p{
        font-weight: 600;
        font-size: 16px;
        line-height: 1.3;
    }
}

/* ///////////////////////booklet////////////////////// */

.booklet__title-wrap{
    text-align: center;
    max-width: 920px;
    margin: 0 auto;
    margin-bottom: 35px;

    @include media ("<tablet"){
        max-width: 100%;
    }
    
    h2{
        @include adaptiv-vaule("font-size", 36 , 25, 1);
        margin-bottom: 30px;
    }

    p{
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
    }
}

.booklet-content{
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form__name{
        display: flex;
        justify-content: center;
        width: 100%;

        @include media ("<tablet"){
            flex-direction: column;
        }

        @include media ("<phone"){
            margin-bottom: 10px;
        }
        
        input{
            width: 100%;
            max-width: 365px;
            padding: 20px 30px;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: $hover-color;
            border-radius: 15px;
            margin-bottom: 35px;
            border: 3px solid #D1D1D1;

            &:not(:last-child){
                margin-right: 30px;

                @include media ("<tablet"){
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
            }

            &:active, &:focus{
                border: 3px solid $hover-color;
                outline: none;
            }

            &::placeholder{
                border-radius: 15px;
                font-weight: 600;
                font-size: 20px;
                line-height: 1.3;
                color: #D6D6D6;
            }

            @include media ("<tablet"){
                margin: 0 auto;
                margin-bottom: 30px;
                max-width: 100%;
            }
        }
    }
}