.body_lock{
    overflow: hidden;
}

#header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    
    button{
        outline: none;
        border: none;
        background-color: transparent;
        padding: 0;
    }

    .main-btn{
        display: none;
        background-color: $white;
        color: $main-color;
        margin-bottom: 40px; 

        @include media('<=desktop'){
            display: inline;
        }
    }

}

.header__wrap{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    border-bottom: 2px solid #D0312B;
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    min-height: 120px;

    @include media('<phone'){
        min-height: 70px;
    }
}

/* //////////////////////////first block header */

.header__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__logo{
    @include adaptiv-vaule("margin-right", 20, 10, 1);
}


.logo__wrap{
    position: relative;
    z-index: 5;
    display: block;
    
    img{
        width: 104px;
        height: 42px;

        @include media('<phone'){
            width: 80px;
            height: 30px;
        }
    }
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('<=desktop'){
        position: relative;
        z-index: -1;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: -100%;
        left: 0;
        background-color: $main-color;
        padding: 100px 15px 30px 15px;
        transition: all .5s ease 0s;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &::before{
            content:'';
            position: fixed;
            width: 100%;
            height: 100px;
            top: 0;
            left: 0;
            transition: all .3s ease 0s;
            z-index: 2;
        }
    }
}

.menu_active{
    @include media('<=desktop'){
        top: 0;

        &::before{
            background-color: $main-color;
        }
    }
}

.menu__wrap{
    @include media('<=desktop'){
        margin-bottom: 30px;
    }
}

.menu__list{
    padding: 0;
    margin: 0;
    list-style: none;

    @include media('>desktop'){
        display: flex;
        justify-content: space-evenly;
    }

    @include media('<=desktop'){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.menu__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiv-vaule("margin-right", 40, 20, 1);
    padding: 5px 0;
    position: relative;

    &:last-child{
        margin-right: 0;
        margin-left: 40px;

        &::before{
            content:'';
            position: absolute;
            left: -40px;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: $black;
        }
    }

    @include media('<=desktop'){
        padding: 0;
        margin: 0;
        margin-bottom: 30px;

        &:last-child{
            margin: 0;
            margin-bottom: 100px;

            &::before{
                left: 50%;
                transform: translate(-50%);
                top: 200px;
                width: 150%;
                height: 1px;
                background-color: $white;
            }
        }
    }

    @include media('<=tablet'){
        margin-bottom: 25px;

        &:last-child{
            margin: 0;
            margin-bottom: 26px;

            &::before{
                left: 50%;
                transform: translate(-50%);
                top: 80px;
                width: 150%;
                height: 1px;
                background-color: $white;
            }
        }
    }
}

.menu__link{
    transition: color .3s ease 0s;
    font-size: 20px;

    @include media('>desktop'){

        &:hover{
            color: $main-color;
        }
    }

    @include media('<=desktop'){
        color: $white;
        font-weight: 800;
        font-size: 80px;
        line-height: 130%;
    }

    @include media('<=tablet'){
        font-size: 45px;
    }
}

.mob-social{
    display: none;

    @include media('<=desktop'){
        display: flex;
        justify-content: center;
    }
}

.mob-social__link{
    margin: 0 15px;

    i{
        font-size: 36px;
        color: $white;
    }
}

/* ---------------burger */

.burger{
    display: none;
    position: relative;
    width: 25px;
    height: 15px;

    @include media('<=desktop'){
        display: block;
    }

    /* span{
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $main-color;
        top: 50%;
        left: 0;
        border-radius: 10px;
        transition: all .3s ease 0s;

        &:first-child{
            top: 0;
        }

        &:last-child{
            top: 100%;
        }
    } */
}

.burger_active{

    span{
        opacity: 0;
        background-color: $white;

        &:first-child{
            opacity: 1;
            transform: rotate(-45deg);
            top: 6px;
        }

        &:last-child{
            opacity: 1;
            transform: rotate(45deg);
            top: 6px;
        }
    }
}

.ham {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 80px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    @include media('<phone'){
        width: 60px;
        top: -23px;
        left: -20px;
    }
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
    stroke: $main-color;
    transition: all 0.7s ease 0s;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

.ham1.active .line{
    stroke: $white;
    transition: all 0.7s ease 0s;
}

/* __________________________________dark-menu_________________________ */

.dark-menu{
    #header{
        @include media('>desktop'){
            .menu__item{
                &:last-child{
                    &::before{
                        background-color: $white;
                    }
                }
            }

            .menu__link{
                color: $white;
        
                &:hover{
                    color: $main-color;
                }

            }
        }
    }
}