@font-face {
    font-family: "Lato Hairline";
    src: url("./fonts/latohairline.ttf");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Lato Hairline";
    src: url("./fonts/latohairlineitalic.ttf");
    font-style: italic;
    font-weight: 700;
}