html {
    scroll-behavior: smooth;
}

.body_lock {
    overflow: hidden;
}

#wrapper {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1152px;
    padding: 0 16px;
    margin: 0 auto;
}

.main-btn {
    position: relative;
    display: inline-block;
    min-width: 264px;
    padding: 20px;
    color: $black21;
    text-align: center;
    font-family: $SF;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 40px;
    transition: $anim_03;
    overflow: hidden;
    background: linear-gradient(280deg, #111520 -80.16%, #DDB06D 70.75%);

    &::before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(280deg, #111520 -80.16%, #DDB06D 70.75%);
        transition: $anim_03;
    }

    &:hover {

        &::before {
            transform: rotate(-180deg);
        }
    }

    span {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: transparent;
        padding: 13px 20px;
        border: none;
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
    }
}

.text {
    color: $grayA9;
    font-family: $SF;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;

    strong {
        font-style: italic;
        font-weight: 600;
        text-transform: uppercase;
    }

    span {
        position: relative;       
        white-space: nowrap;

        &::after {
            content:'';
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 100%;
            height: 6px;
            background: url(../images/icons/line.svg) no-repeat;
        }
    }

    i {
        text-transform: uppercase;
        font-style: normal;
        @include text-grad($black20, $gold6D);
    }
}

.title {
    font-family: $SF;
    font-size: 56px;
    font-weight: 700;
    line-height: 107%;
    letter-spacing: -1.12px;
    text-transform: uppercase;
    text-align: center;
    @include text-grad($black21, $whiteEF);

    span {
        @include text-grad($black20, $gold6D);
    }
}

.house-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    @include media ("<widescreen_b") {
        display: none;
    }

    @include media ("<tablet_b") {
        display: block;
    }
}

.socials {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.icon {
    width: 56px;
    height: 56px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 2px solid $gold6D;
    transition: $anim_03;

    &:hover {
        background: $gold6D;
        
        .stop-g {
            stop-color: $black21;
        }
    }

    .stop-g {
        stop-color: $gold6D;
        transition: $anim_03;
    }

    .stop-d {
        stop-color: $black20;
        transition: $anim_03;
    }
    
}

.mob {
    display: none !important;

    @include media ("<tablet_b") {
        display: block !important;
    }
}

/* -------------------main-section----------------- */

.main-section {
    position: relative;
    padding: 160px 0 200px 0;

    @include media ("<tablet_b") {
        padding: 70px 0 0 0;
    }

    &::before {
        content:'';
        position: absolute;
        top: -70%;
        left: 50%;
        width: 761px;
        height: 800px;
        border-radius: 50%;
        transform: translateX(-50%);
        background: rgba(237, 229, 218, 0.10);
        filter: blur(187px);     
        z-index: -1;
    }

    .container {
        position: relative;
        max-width: 1380px;
    }

    .text-block {
        position: relative;
    }

    .main-title {
        font-family: $SF;
        font-weight: 700;
        line-height: 115%;
        letter-spacing: -6.28px;
        margin-bottom: -30px;
        word-spacing: 120px;
        @include text-grad($black21, $whiteEF);

        @include media ("<widescreen_b") {
            max-width: 70%;
            font-size: 80px;
            margin-bottom: 20px;
            word-spacing: normal;
            letter-spacing: -2.28px;
        }

        @include media ("<tablet_b") {
            max-width: 100%;
        }

        @include media ("<tablet_b") {
            font-size: 50px;
        }

        span {
            display: block;
            transform: translateY(-30%);
            font-size: 90px;
            letter-spacing: -1.8px;
            word-spacing: normal;
            @include text-grad($black20, $gold6D);

            @include media ("<widescreen_b") {
                transform: none;
                font-size: 80px;
            }

            @include media ("<tablet_b") {
                font-size: 44px;
            }
        }
    }

    .des {
        position: relative;
        max-width: 533px;
        margin-bottom: 40px;
        z-index: 1;

        @include media ("<tablet_b") {
            max-width: 100%;
        }
    }

    .text {
        margin-bottom: 8px;

        @include media ("<phone") {
            font-size: 16px;
        }
    }

    .main-btn {
        position: relative;
        z-index: 2;

        @include media ("<tablet_b") {
            display: none;
        }
    }

    .main-img {
        position: absolute;
        top: -25px;
        right: 27%;

        @include media ("<widescreen") {
            right: 0;
        }

        @include media ("<tablet_b") {
            position: relative;
            top: -90px;
        }

        &::after {
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 261px;
            background: linear-gradient(180deg, rgba(23, 25, 33, 0) 0%, #171921 100%);

            @include media ("<tablet_b") {
                width: 120%;
                left: -20px;
            }

            @include media ("<phone") {
                display: none;
            }
        }

        img {

            @include media ("<tablet_b") {
                display: block;
                margin: 0 0 0 auto;
            }

            @include media ("<phone") {
                width: 180px;
            }
        }
    }

    .card {
        position: absolute;
        bottom: 20%;
        right: -50%;
        max-width: 250px;
        z-index: 1;
        padding: 34px 34px 15px 34px;
        border-radius: 13px;
        border: 2px solid $gold4B;
        background: linear-gradient(147deg, rgba(13, 14, 18, 0.44) 2.15%, rgba(17, 21, 32, 0.44) 93.55%);
        backdrop-filter: blur(5px);

        @include media ("<widescreen") {
            right: 20px;
        }

        @include media ("<tablet_b") {
            right: auto;
            left: 0;
            top: 40%;
            transform: translateY(-50%);
            max-height: max-content;
        }

        @include media ("<phone") {
            min-height: min-content;
            max-width: 170px;
            padding: 16px 19px 16px 24px;
        }

        &::after {
            content:'';
            position: absolute;
            top: -50%;
            left: -25%;
            width: 148px;
            height: 220px;
            background: radial-gradient(50% 50% at 50% 50%, #040705 0%, rgba(4, 7, 5, 0.00) 100%);

            @include media ("<tablet_b") {
                left: auto;
                right: -25%;
                top: 0;
            }
        }
    }

    .card-title {
        position: relative;
        color: $white;
        font-family: $SF;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: -0.56px;
        margin-bottom: 8px;
        z-index: 1;

        @include media ("<phone") {
            font-size: 18px;
        }

        span {
            display: block;
            color: $gold4B;
        }
    }

    .card-text {
        position: relative;
        color: $gray95;
        font-family: $SF;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        z-index: 1;
    }

    .main-cloud-bg {
        position: absolute;
        left: -10%;
        top: 60%;
        z-index: 1;

        @include media ("<tablet") {
            z-index: -1;
            left: -23%;
        }
    }

    .socials {
        position: absolute;
        top: 20px;
        right: 10px;
        flex-direction: column;
        z-index: 2;
        gap: 90px;

        @include media ("<widescreen") {
            display: none;
        }
    }

    .icon {
        width: 96px;
        height: 96px;
    }
}

/* -------------------main-section----------------- */

.find-section {
    position: relative;
    padding: 100px 0 0 0;

    @include media ("<tablet") {
        padding: 0;
    }

    &::after {
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 45%;
        background: linear-gradient(180deg, rgba(23, 25, 33, 0.00) 0%, #171921 100%);
        z-index: 3;
        
        @include media ("<widescreen") {
            z-index: 4;
        }

        @include media ("<desktop") {
            height: 100px;
        }
    }

    .container {
        position: relative;
        max-width: 1332px;  

        @include media ("<widescreen") {
            padding: 0;
        }

        @include media ("<desktop") {
            min-height: 770px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        @include media ("<tablet") {
            min-height: 600px;
        }
    }

    .grad-left,
    .grad-right {
        content:'';
        position: absolute;
        bottom: 0;
        width: 200px;
        height: 300px;
        z-index: 1;

        @include media ("<widescreen") {
            display: none;
        }
    }

    .grad-left {
        left: 0; 
        background: linear-gradient(270deg, rgba(23, 25, 33, 0.00) 0%, #171921 100%);
    }

    .grad-right {
        right: 0;
        background: linear-gradient(90deg, rgba(23, 25, 33, 0.00) 0%, #171921 100%);
    }

    .mount-bg {
        position: relative;
        display: block;
        margin: 0 auto;

        @include media ("<widescreen") {
            z-index: 3;
        }
    }

    .cloud-bg-wrap {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80%;
        z-index: 2;
        overflow: hidden;
        opacity: .4;

        @include media ("<widescreen") {
            z-index: -1;
            opacity: 1;
        }

        &::before {
            content:'';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 300px;
            background: #171921;
            background: linear-gradient(0deg, rgba(23,25,33,0) 0%, rgba(23,25,33,1) 100%);
            z-index: 1;
        }
    }

    .cloud-bg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
    }
    
    .title {
        text-align: left;

        @include media ("<widescreen") {
            padding: 0 16px;
        }

        @include media ("<tablet") {
            font-size: 38px;
        }
    }

    .item1 {
        left: 20%;
        transform: translateX(-50%);
        bottom: 37%;

        @include media ("<tablet") {
            left: 16px;
        }

        .line {
            height: 205px;

            @include media ("<widescreen") {
                height: 420px;
            }
        }
    }

    .item2 {
        left: 44%;
        transform: translateX(-50%);
        bottom: 35%;

        @include media ("<tablet") {
            left: 16px;
            z-index: 2;
        }

        .line {
            height: 122px;

            @include media ("<widescreen") {
                height: 280px;
            }

            @include media ("<tablet") {
                height: 230px;
            }
        }
    }

    .item3 {
        left: 67%;
        transform: translateX(-50%);
        bottom: 24%;

        @include media ("<tablet") {
            left: auto;
            right: 16px;
        }

        .line {
            height: 150px;

            @include media ("<widescreen") {
                height: 420px;
            }

            @include media ("<tablet") {
                height: 332px;
            }
        }
    }

    .item4 {
        left: 81%;
        transform: translateX(-50%);
        bottom: 16%;
        min-width: max-content;

        @include media ("<tablet") {
            left: auto;
            right: 16px;
        }

        .line {
            height: 365px;

            @include media ("<widescreen") {
                height: 200px;
            }

            @include media ("<tablet") {
                height: 100px;
            }
        }

        .line-wrap {

            @include media ("<tablet") {
                align-self: flex-end;
                transform: translateX(-50px);
            }
        }
    }

    .line-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media ("<widescreen") {
            flex-direction: column-reverse;
            margin-top: -15px;
            z-index: 1;
        }

        @include media ("<desktop") {
            margin-top: -8px;
        }

        @include media ("<tablet") {
            align-self: flex-start;
            transform: translateX(50px);
        }

        svg {

            @include media ("<desktop") {
                width: 15px;
                height: 15px;
            }
        }
    }

    .item {
        position: absolute;      
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        z-index: 4;
        
        @include media ("<widescreen") {
            bottom: 0;
            z-index: 1;
        }

        @include media ("<tablet") {
            transform: none;
        }

        .line {
            width: 1px;
            background: linear-gradient(180deg, #191A22 -22.63%, #DAAE6C 112.37%);
    
            @include media ("<widescreen") {
                transform: rotate(180deg);
            }
        }
    }

    .item2 {

        @include media ("<tablet") {
            z-index: 2;
        }
    }

    .text-wrap {
        display: inline-block;
        padding: 12px 22px;
        border-radius: 8px;
        border: 1px solid $gold6D;
        background: linear-gradient(286deg, rgba(255, 255, 255, 0.09) -22.42%, rgba(217, 217, 217, 0.00) 100%);
        backdrop-filter: blur(17px);
    }

    .item-title {
        font-family: $SF;
        font-size: 24px;
        font-weight: 700;
        line-height: 110%;
        margin: 0;
        @include text-grad($black20, $gold6D);

        @include media ("<desktop") {
           font-size: 16px;
        }

        span {
            font-size: 36px; 

            @include media ("<desktop") {
                font-size: 24px;
            }
        }
    }

    .text {
        color: $gray95;
        font-family: $SF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin: 0;

        @include media ("<desktop") {
            font-size: 14px;
        }
    }
}

/* ----------------all-course-section--------------- */

.all-course-section {
    position: relative;
    padding-bottom: 100px;

    @include media ("<phone") {
        padding-bottom: 20px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(0deg, rgba(23, 25, 33, 0) 0%, #171921 100%);
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .title {
        margin-bottom: 16px;

        @include media ("<tablet") {
            font-size: 38px;
            margin-bottom: 18px;
        }
    }

    .text {
        text-align: center;
        max-width: 665px;
        margin: 0 auto 60px auto;

        @include media ("<tablet") {
            font-size: 16px;

            margin: 0 auto 18px auto;
        }
    }

    .block {
        display: flex;
        justify-content: space-between;
        gap: 80px;

        @include media ("<tablet_b") {
            gap: 40px;
        }

        @include media ("<tablet") {
            align-items: center;
            flex-direction: column;
            gap: 70px;
        }
    }

    .item {
        position: relative;
        width: 100%;
        max-width: 320px;
        min-height: 340px;
        border-radius: 18px;
        padding: 42px;
        backdrop-filter: blur(17px);

        @include media ("<tablet_b") {
            padding: 28px;
        }

        @include media ("<tablet") {
            max-width: 350px;
            min-height: 214px;
            display: flex;
            justify-content: center;
            padding: 0;
        }

        &.gold {
            border: 2px solid #DDB06D;
            background: linear-gradient(286deg, rgba(255, 255, 255, 0.05) -22.42%, rgba(217, 217, 217, 0.00) 100%);
            z-index: 1;

            .circle {
                border: 1px solid $gold6D;

                &::before {
                    background-color: $gold6D;
                }
            }
        }

        &.silver{
            border: 2px solid #CDCECE;
            background: linear-gradient(286deg, rgba(255, 255, 255, 0.05) -22.42%, rgba(217, 217, 217, 0.00) 100%);

            .circle {
                border: 1px solid #CDCECE;

                &::before {
                    background-color: #CDCECE;
                }
            }
        }

        &.bronze {
            border: 2px solid #B78F78;
            background: linear-gradient(286deg, rgba(255, 255, 255, 0.05) -22.42%, rgba(217, 217, 217, 0.00) 100%);    

            .circle {
                border: 1px solid #B78F78;

                &::before {
                    background-color: #B78F78;
                }
            }
        }
    }

    .item-title {
        font-family: $SF;
        font-size: 36px;
        font-weight: 700;
        line-height: 110%;
        text-transform: uppercase;
        margin: 0;
        @include text-grad($black21, $whiteEF);

        @include media ("<widescreen") {
            font-size: 28px;
        }

        @include media ("<desktop") {
            font-size: 22px;
        }

        @include media ("<tablet") {
            padding: 28px 0 0 28px;
            font-size: 28px;
        }
    }

    .item-img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        height: 210px;

        @include media ("<tablet") {
            position: relative;
        }
    }

    .circle {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $black21;
        z-index: 1;

        @include media ("<tablet") {
            transform: translate(-50%);
        }

        &::before {
            content:'';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }

        &.left {
            left: -16px;

            @include media ("<tablet") {
                top: -16px;
                left: 50%;
            }
        }

        &.right {
            right: -16px;

            @include media ("<tablet") {
                top: auto;
                bottom: -16px;
                right: auto;
                left: 50%;
            }
        }
    }

    .line {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 52px;
        height: 1px;
        z-index: -1;    
        
        @include media ("<tablet") {
            transform: translate(-50%) rotate(90deg);
            width: 43px;
        }

        &.left {
            left: -68px;
            background: linear-gradient(90deg, #554F45 8.02%, #97989C 112.37%);

            @include media ("<tablet") {
                left: 50%;
                top: -37px;
            }
        }

        &.right {
            right: -68px;
            background: linear-gradient(90deg, #52535A 9.26%, #B79079 112.37%);

            @include media ("<tablet") {
                left: 50%;
                right: auto;
                top: auto;
                bottom: -37px;
            }
        }
    }
}