footer {
    @include adaptiv-vaule("padding-top", 80, 40, 1);
    @include adaptiv-vaule("padding-bottom", 80, 40, 1);

    .footer_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        @include adaptiv-vaule("gap", 30, 10, 1);
        margin-bottom: 35px;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .item_link {
        color: $grayFC;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        text-transform: uppercase;

        &:hover{
            color:$gold6D;
        }
    }

    .socials{
        @include adaptiv-vaule("margin-bottom", 50, 30, 1);
    }

    .icon{
        width: 48px;
        height: 48px;

        svg{
            width: 30px;
            height: 30px;
            fill: $gold6D;
        }
    }
}