<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-item main-footer">
                <div class="main-footer__logo-wrap">
                    <a class="main-footer__logo" href="index.html"><img src="./images/icon/black-logo.svg" alt="logo"></a>
                    <div class="main-footer__logo-social">
                        <a target="_blank" href="#"><i class="icon-facebook"></i></a>
                        <a target="_blank" href="#"><i class="icon-insta"></i></a>
                    </div>
                </div>
                <ul class="main-footer__nav-menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="tourPages.html">Egypt</a></li>
                    <li><a href="tourPages.html">Marocco</a></li>
                    <li><a href="tourPages.html">Turkey</a></li>
                    <li><a href="tourPages.html">Tunesia</a></li>
                </ul>
                <address class="main-footer__address">
                    <div class="main-footer__address-item">
                        <h3>Contact data</h3>
                        <a class="address-link" href="mailto:lorem@mail.com">lorem@mail.com</a>
                        <a class="address-link" href="tel:+1 234 567 78 90">+1 234 567 78 90</a>
                    </div>
                    <div class="main-footer__address-item">
                        <h3>Location</h3>
                        <p>521 Sussex Dr, Ottawa, ON K1N 6Z6</p>
                    </div>
                </address>
            </div>
            <div class="footer__item sub-footer">
                <a href="#">Privacy Policy</a>
                <a href="#">Coockies Policy</a>
                <a href="#">All rights reserved Prot Group</a>
                <a target="_blank" href="https://krockds.com/">website by Krock DS</a>
            </div>
        </div>
    </div>
</footer>