<header id="header">
    <div class="header__wrap">
        <div class="container">
            <div class="header__content">
                <div class="header__main">
                    <div class="header__logo logo">
                        <a href="index.html" class="logo__wrap">
                            <img src="./images/icon/color-logo.svg" alt="logo">
                        </a>
                    </div>
                    <div class="header__menu menu">
                        <nav class="menu__wrap">
                            <ul class="menu__list">
                                <li class="menu__item">
                                    <a class="menu__link" href="#">Home</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#">Egypt</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#">Marocco</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#">Turkey</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#">Tunesia</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#">Contact</a>
                                </li>
                            </ul>
                        </nav>
                        <a href="#" class="main-bnt">Book a tour</a>
                        <div class="mob-social">
                            <a target="_blank" class="mob-social__link" href="#"><i></i></a>
                            <a target="_blank" class="mob-social__link" href="#"><i></i></a>
                        </div>
                    </div>
                </div>
                <button class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
 </header>