#footer{
    padding: 60px 0;
    border-top: 1px solid #373737;

    .container{
        display: flex;
        justify-content: space-between;
        max-width: 1545px;
        opacity: 0;
        transform: translateY(50px);
        transition: all .7s ease 0s;

        @include media('<desktop'){
            flex-wrap: wrap;
        }

        @include media('<tablet'){
            flex-direction: column;
            align-items: center;
        }
    }
    
    .element-show{
        opacity: 1;
        transform: translateY(0px);
    }

    .logo-wrap{
        @include media('<desktop'){
            width: 100%;
        }

        @include media('<tablet'){
            text-align: center;
        }
    }

    .logo-title{
        font-family: $sans;
        font-weight: 400;
        font-size: 16px;
        color: $white_10;
    }

    .footer-title{
        font-family: $sans;
        font-weight: 700;
        font-size: 18px;
        color: $white;
        margin: 20px 0;
        text-transform: uppercase;

        @include media('<tablet'){
            text-align: center;
        }
    }

    .menu-wrap{
        margin: 0 30px;

        @include media('<desktop'){
            margin: 0;
        }
    }

    .menu{
        list-style: none;
        padding: 0;
        margin: 0;

        @include media('<tablet'){
            text-align: center;
        }
    }

    .item{
        margin-bottom: 15px;
    }

    .link{
        font-family: $sans;
        font-weight: 400;
        font-size: 16px;
        line-height: 154%;
        color: $white_10;
        transition: all .3s ease 0s;

        &:hover{
            color: $orange;
        }
    }

    .social-wrap{
        margin: 0 30px;

        @include media('<tablet'){
            margin: 0 0 45px 0;
        }
    }

    .social{
        display: flex;
    }
    
    .soc-link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        border: 2px solid $orange;
        margin-right: 15px;
        transition: all .3s ease 0s;

        @include media('<tablet'){
            margin: 0 7px;
        }

        &:hover{
            border-color: $white;

            svg{
                fill: $white;
            }
        }
        
        svg{
            fill: $orange;
            transition: all .3s ease 0s;
        }
    }

    .insta{

        &:hover{

            svg{
                fill: none;
                stroke:  $white;
            }
        }

        svg{
            fill: none;
            stroke:  $orange;
        } 
    }

    .our-contact{
        display: flex;
        flex-direction: column;

        @include media('<tablet'){
            text-align: center;
        }

        .link{
            margin-bottom: 15px;
        }
    }
}