.body_lock{
    overflow: hidden;
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 5;

    @include media('<tablet'){
        
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            opacity: 0;
            transition: opacity 0s ease 0s;
            background-color: $black;
    
            .active &{
                transition: opacity 0s ease .1s;
                opacity: 1;
            }
        }
    }

    @include media('<phone'){
        padding: 20px 0;
    }
    
    .container{
        max-width: 1545px;
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button{
        border: none;
        background-color: transparent;
    }

    .btn{
        position: relative;
        z-index: 6;
    }
    
    .menu-wrap{
    
        @include media('<tablet'){
            position: fixed;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100vh;
            overflow: auto;
            top: -110%;
            left: 0;
            background-color: $black;
            transition: all .7s ease 0s;
            z-index: 2;
            padding: 120px 20px 100px 20px;
        }
        
        @include media('<phone'){
            align-items: flex-start;
        }

        .active &{
    
            @include media('<tablet'){
                top: 0;
            }
        }
    }
    
    .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        margin: 0;
    
        @include media('<tablet'){
            flex-direction: column;
            margin-bottom: 40px;
        }

        @include media('<phone'){
            align-items: flex-start;
        }
    }
    
    .menu-item{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 85px;

        @include media('<desktop'){
            margin-right: 30px;
        }
    
        @include media('<tablet'){
            flex-direction: column;
            margin: 0 0 30px 0;
        }
    }

    .link{
        display: flex;
        align-items: center;
        font-family: $sans;
        font-weight: 500;
        font-size: 20px;
        line-height: 154%;
        text-transform: uppercase;
        color: $white; 

        @include media('<desktop'){
            font-size: 18px;
        }
    
        @include media('<tablet'){
            font-size: 26px;
        }
    }

    .link-icon{
        display: none;
        width: 19px;
        height: 19px;
        margin-right: 10px;

        @include media('<phone'){
            display: block;
        }
    }

    .social-wrap{
        display: none;

        @include media('<tablet'){
            display: block;
            text-align: center;
        }

        @include media('<phone'){
            text-align: left;
        }
    }
    
    .social{
        display: flex;
        margin-bottom: 40px;

        a{
            margin: 0 20px;
    
            @include media('<phone'){
                margin: 0 20px 0 0;
            }
        }
    
        img{
            width: 52px;
            height: 52px;
            fill: $orange;
        }
    }

    .cont-title{
        font-family: $sans;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 20px;
    }

    .cont-link{
        display: block;
        font-family: $sans;
        font-style: normal;
        font-size: 16px;
        color: #E1D4D4;
        margin-bottom: 20px;
    }
}


/* ---------------burger */

.burger{
    display: none;
    position: relative;
    width: 35px;
    height: 25px;
    z-index: 5;
    
    @include media('<tablet'){
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    span{
        position: absolute;
        right: 0;
        height: 3px;
        width: 100%;
        
        &::before{
            content:'';
            display: block;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: $white;
            border-radius: 10px;
            transition: background-color .5s ease 0s;
        }

        &:nth-child(1){
            top:0;

        }

        &:nth-child(2){
            top: 11px;
            transition: width .5s ease 0s;
        }

        &:nth-child(3){
            bottom: 0;
        }
    }
}

$toggle-size: 55px;
$toggle-line-size: $toggle-size/10;
$toggle-line-angle: 405deg;
$toggle-anim-speed: .8s;

.burger_active{

    span{

        &:nth-child(1){
            animation: jump-1 $toggle-anim-speed forwards ease;

            &::before{
                animation: line-1 $toggle-anim-speed forwards ease;
            }
        }

        &:nth-child(2){
            animation: jump-2 $toggle-anim-speed forwards ease;

            &::before{
                animation: line-2 $toggle-anim-speed forwards ease;
            }
        }

        &:nth-child(3){
            animation: jump-3 $toggle-anim-speed forwards ease;
        }
    }
}

.burger_finish{

    span{

        &:nth-child(1){
            animation: jump-1-end $toggle-anim-speed reverse ease;

            &::before{
                animation: line-1-end $toggle-anim-speed reverse ease;
            }
        }

        &:nth-child(2){
            animation: jump-2-end $toggle-anim-speed reverse ease;

            &::before{
                animation: line-2-end $toggle-anim-speed reverse ease;
            }
        }

        &:nth-child(3){
            animation: jump-3-end $toggle-anim-speed ease;
        }
    }
}

@keyframes line-1 {
    10% { transform: translateZ(0) rotate(0) }
    80% { transform: translateZ(0) rotate($toggle-line-angle - 10) }
    90%, 100% { transform: translateZ(0) rotate($toggle-line-angle) }
}
  
@keyframes line-2 {
    10% { transform: translateZ(0) rotate(0) }
    20% { transform: translateZ(0) rotate(10deg) }
    90%, 100% { transform: translateZ(0) rotate(-$toggle-line-angle) }
}
  
@keyframes jump-1 {
    10% { transform: translateY(0) }
    50% { transform: translateY(-$toggle-line-size * 5) }
    90%, 100% { transform: translateY(-$toggle-line-size * 0) }
}
  
@keyframes jump-2 {
    10% { transform: translateY(0) }
    50% { transform: translateY(-$toggle-line-size * 5) }
    85%, 100% { transform: translateY(-$toggle-line-size * 2) }
}
  
@keyframes jump-3 {
    10% { transform: translateY(-$toggle-line-size*1) rotate(15deg) }
    30% { transform: translateY(-$toggle-line-size*4) rotate(-10deg) }
    50% { transform: translateY($toggle-line-size) rotate(5deg) }
    80% { transform: translateY(0) }
}

@keyframes line-1-end {
    10% { transform: translateZ(0) rotate(0) }
    80% { transform: translateZ(0) rotate($toggle-line-angle - 10) }
    90%, 100% { transform: translateZ(0) rotate($toggle-line-angle) }
}
  
@keyframes line-2-end {
    10% { transform: translateZ(0) rotate(0) }
    20% { transform: translateZ(0) rotate(10deg) }
    90%, 100% { transform: translateZ(0) rotate(-$toggle-line-angle) }
}
  
@keyframes jump-1-end{
    10% { transform: translateY(0) }
    50% { transform: translateY(-$toggle-line-size * 5) }
    90%, 100% { transform: translateY(-$toggle-line-size * 0) }
}
  
@keyframes jump-2-end {
    10% { transform: translateY(0) }
    50% { transform: translateY(-$toggle-line-size * 5) }
    85%, 100% { transform: translateY(-$toggle-line-size * 2) }
}

@keyframes jump-3-end {
    10% { transform: translateY(-$toggle-line-size*1) rotate(15deg) }
    30% { transform: translateY(-$toggle-line-size*1) rotate(-10deg) }
    50% { transform: translateY($toggle-line-size) rotate(5deg) }
    80% { transform: translateY(0) }
}