// ---------- #Main_Trinity

.similar_main {
    @include adaptiv-vaule("padding-top", 120, 60, 1);
    @include adaptiv-vaule("padding-bottom", 140, 60, 1);
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 100vw;
    overflow: hidden;

    .trinity_title {
        color: $white;
        @include adaptiv-vaule("font-size", 132, 46, 1);
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -3.96px;
        text-transform: uppercase;
        margin-bottom: 25px;
        text-align: center;
    }

    .tip_wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .main_tip {
        color: $gray_A6;
        @include adaptiv-vaule("font-size", 16, 12, 1);
        font-weight: 500;
        line-height: 126%;
        letter-spacing: -0.16px;
        text-transform: uppercase;
        @include adaptiv-vaule("margin-bottom", 65, 30, 1);
        display: inline-block;
        max-width: max-content;
        text-align: center;
        border: 1px solid $gray_A6;
        padding: 3px 8px;
    }

    .main_img {
        // max-width: 1440px;
        width: 100%;
        margin: 0 auto;

        img{
            width:100%;
            height: 100%;
        }
    }
}

.similar {
    @include adaptiv-vaule("padding-top", 25, 20, 1);
    @include adaptiv-vaule("padding-bottom", 160, 60, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    .about_text {
        max-width: 850px;
        width: 100%;
        @include adaptiv-vaule("margin-bottom", 80, 40, 1);
        @include adaptiv-vaule("font-size", 32, 22, 1);
        font-weight: 500;
        line-height: 132%;
        letter-spacing: -0.32px;
    }

    .about_img {
        width: 100%;
        margin: 0 auto;

        img{
            width: 100%;
            height: 100%;
        }

        &::before {
            display: none;
        }

        &::after {
            height: 145px;
        }
    }

}

// ---------- #About_Trinity

.about_trinity,
.similar_info_bloks {

    .info_text_wrap {
        position: relative;
        @include adaptiv-vaule("top", -30, 0, 1);

        .info_text {
            @include adaptiv-vaule("font-size", 18, 14, 1);
            font-weight: 500;
            line-height: 126%;
            letter-spacing: -0.18px;
            text-transform: uppercase;

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            .gray_text {
                margin-left: 10px;
            }
        }
    }


}

// ---------- #App

.trinity_app {
    @include adaptiv-vaule("padding-top", 25, 20, 1);
    @include adaptiv-vaule("padding-bottom", 190, 80, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    .container {
        @include media ("<tablet") {
            padding: 0;
        }
    }

    .tip {
        @include media ("<tablet") {
            padding: 0 15px;
        }
    }

    .trinity_app_content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .trinity_app_text,
    .trinity_app_img {
        width: 48%
    }

    .trinity_app_text {

        @include media ("<tablet") {
            width: 100%;
            margin-bottom: 30px;
            padding: 0 15px;
        }
    }

    .trinity_app_tip {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 25px;
        color: $blue;
    }

    .trinity_app_title {
        font-weight: 500;
        @include adaptiv-vaule("font-size", 60, 30, 1);
        @include adaptiv-vaule("margin-bottom", 80, 25, 1);
        color: $white;
    }

    .trinity_app_cards {
        @include adaptiv-vaule("margin-bottom", 50, 35, 1);
    }

    .trinity_app_card {
        @include adaptiv-vaule("margin-bottom", 50, 30, 1);
        max-width: 450px;

        @include media ("<tablet") {
            max-width: 100%;
        }
    }

    .number {
        color: #FCFCFD;
        font-weight: 500;
        font-size: 14px;
        background: $blue;
        border-radius: 100px;
        padding: 2px 12px;
        display: inline-block;
        @include adaptiv-vaule("margin-bottom", 25, 15, 1);
    }

    .trinity_app_card_title {
        color: $white;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .trinity_app_card_text {
        font-size: 14px;
        color: $gray_9F;
        line-height: 24 / 14 * 100%;
    }

    .trinity_app_img {

        img {
            width: 100%;
            height: 100%;
        }

        @include media ("<tablet") {
            width: 100%;
        }
    }

    .popup_body {
        max-width: 430px;

        @include media ("<tablet") {
            max-width: 100%;
        }
    }
}

// ---------- #Design

.design_trinity {

    .about_img {
        &::before {
            display: block
        }
    }
}

// ---------- #Typography

.similar_gradient {
    padding: 0 20px;
    @include adaptiv-vaule("padding-top", 25, 20, 1);
    @include adaptiv-vaule("padding-bottom", 160, 80, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    @include media ("<tablet") {
        padding: 0 15px;
    }

    .font_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        @include adaptiv-vaule("margin-bottom", 120, 50, 1);

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .font_block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 490px;
        width: 100%;

        @include media ("<tablet") {
            max-width: 100%;
        }
    }

    .font_title {
        font-size: 42px;
        @include adaptiv-vaule("font-size", 42, 24, 1);
        font-weight: 700;
        line-height: 160%;
        letter-spacing: -0.42px;
        margin-bottom: 15px
    }

    .font_text {
        color: $gray_D8;
        text-align: justify;
        @include adaptiv-vaule("font-size", 22, 16, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: -0.22px;
    }

    .gradient_block {
        width: 100%;
        margin: 0 auto;
        @include adaptiv-vaule("height", 115, 50, 1);
        background: linear-gradient(90deg, #23262F 0%, #2A85FF 24.48%, #FFF 50.03%, #777E90 76.04%, #23262F 100%);
        display: flex;
        align-items: center;
        justify-content: space-around;

        @include media ("<phone_max") {
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
            height: max-content;
            background: linear-gradient(180deg, #23262F 0%, #2A85FF 24.48%, #FFF 50.03%, #777E90 76.04%, #23262F 100%);
            gap: 30px;
            padding: 20px 10px;
        }
    }

    .color_name {
        @include adaptiv-vaule("font-size", 18, 12, 1);
        font-weight: 600;
        line-height: 126%;
        letter-spacing: -0.18px;
        text-transform: uppercase;

        &:first-child,
        &:last-child {
            color: $white;
        }
    }
}

// ---------- #Result

.similar_result {
    @include adaptiv-vaule("padding-top", 25, 20, 1);
    @include adaptiv-vaule("padding-bottom", 80, 40, 1);

    .tip {
        @include adaptiv-vaule("margin-bottom", 60, 40, 1);
    }

    .result_text {
        max-width: 810px;
        width: 100%;
        color: $white;
        @include adaptiv-vaule("font-size", 32, 20, 1);
        font-weight: 500;
        line-height: 132%;
        letter-spacing: -0.32px;
        @include adaptiv-vaule("margin-bottom", 100, 40, 1);

        .gray_text {
            color: rgba(255, 255, 255, 0.60);
        }
    }

    .site_btn_white {
        @include adaptiv-vaule("font-size", 20, 14, 1);
    }
}