<header id="header">
    <div class="container">
        <div class="header-content">
            <a href="index.html" class="header__logo logo">
                <img src="./images/icon/logo.svg" alt="log-img">
            </a>
            <div class="header__menu menu">
                <div class="menu__burger">
                    <span></span>
                </div>
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li><a class="menu__link" href="#">Прокат Авто</a></li>
                        <li><a class="menu__link" href="#">Бронирование</a></li>
                        <li><a class="menu__link" href="#">Условия проката</a></li>
                        <li>
                            <a class="menu__link" href="#">Еще</a>
                            <img class="menu__arrow" src="./images/icon/arrow.svg" alt="arrow">
                            <ul class="menu__sub-list">
                                <li class="menu__sub-list__li"><a class="menu__sub-link" href="#">Контакты</a></li>
                                <li class="menu__sub-list__li"><a class="menu__sub-link" href="#">Новости</a></li>
                                <li class="menu__sub-list__li"><a class="menu__sub-link" href="#">FAQ</a></li>
                            </ul>
                        </li>
                    </ul> 
                    <ul class="menu__list menu-language">
                        <li>
                            <a class=" menu-language__link" href="#">RU
                                <svg class="menu__arrow" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.00417 5.83335C4.82083 5.83335 4.65416 5.76668 4.52083 5.63335L0.354164 1.30002C0.104164 1.03335 0.10416 0.616686 0.370827 0.350019C0.637493 0.100019 1.05417 0.10002 1.32084 0.366687L5.00417 4.20002L8.68752 0.366687C8.93752 0.10002 9.37084 0.100019 9.63751 0.350019C9.90418 0.600019 9.90415 1.03335 9.65415 1.30002L5.48751 5.63335C5.35417 5.76668 5.1875 5.83335 5.00417 5.83335Z" fill="#fff"/>
                                </svg>
                            </a>
                            <ul class="menu__sub-list menu-language__sub-list">
                                <li class="menu__sub-list__li"><a class="menu__sub-link" href="#">EN</a></li>
                                <li class="menu__sub-list__li"><a class="menu__sub-link" href="#">RU</a></li>
                                <li class="menu__sub-list__li"><a class="menu__sub-link" href="#">UK</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="connection" href="#">Связаться с нами</a>
                </nav>
            </div>
        </div>
    </div>
 </header>