<header id="header">
    <div class="container">
        <a class="logo" href="index.html">Ryan</a>
        <nav class="menu-wrap">
            <ul class="menu">
                <li class="menu-item"><a class="link" href="#how">Наш амбасадор</a></li>
                <li class="menu-item"><a class="link" href="#recent">Як це працює</a></li>
                <li class="menu-item"><a class="link" href="#contact">Наші останні роботи</a></li>               
                <li class="menu-item"><a class="link" href="#contact">Знижки</a></li>               
                <li class="menu-item"><a class="link" href="#contact">Зв'язатися з нами</a></li>               
            </ul>
        </nav>
        <a class="main-btn" href="#now">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path d="M16.4405 9.3999C20.0405 9.7099 21.5105 11.5599 21.5105 15.6099V15.7399C21.5105 20.2099 19.7205 21.9999 15.2505 21.9999H8.74047C4.27047 21.9999 2.48047 20.2099 2.48047 15.7399V15.6099C2.48047 11.5899 3.93047 9.7399 7.47047 9.4099"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 2.5V15.38" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.3504 13.1499L12.0004 16.4999L8.65039 13.1499" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Завантажити застосунок
        </a>
    </div>
 </header>