<footer class="footer">
    <div class="container">
        <div class="top">
            <a class="logo" href="#">
                <img src="./images/icons/footer-logo.png" alt="icon-logo">
            </a>
            <div class="content">
                <div class="block">
                    <h2 class="title">МЕНЮ</h2>
                    <nav class="menu">
                        <ul class="list">
                            <li class="item">
                                <a class="link" href="#">Головна</a>
                            </li>
                            <li class="item">
                                <a class="link" href="#">Проєкти</a>
                            </li>
                            <li class="item">
                                <a class="link" href="#">Контакти</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="block">
                    <h2 class="title desc">КОНТАКТИ</h2>
                    <div class="contact">
                        <a class="link" href="mailto:kvos@gmail.com">kvos@gmail.com</a>
                        <a class="link" href="tel:+380969669696">+38 096 966 96 96</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bot">
            <p class="text">©2023 Консорціум ветеранських організацій сходу</p>
        </div>
    </div>
</footer>