<section class="form-section">
    <div class="container">
        <div class="block">
            <div class="title-wrap">
                <span class="sticker">долучись</span>
                <h2 class="title">Подання заявки</h2>
            </div>
            <form action="#">
                <label class="label">
                    <p class="label-title">Назва організації та ім’я керівника&nbsp;<span>*</span></p>
                    <input class="input" type="text" required placeholder="Введіть назву організації та ім’я керівника">
                </label>
                <label class="label label-short">
                    <p class="label-title">E-mail&nbsp;<span>*</span></p>
                    <input class="input" type="email" required placeholder="example@gmail.com">
                </label>
                <label class="label label-short">
                    <p class="label-title">Номер телефону&nbsp;<span>*</span></p>
                    <input class="input" type="text" maxlength="13" placeholder="+38 099 999 99 99" oninput="this.value=this.value.replace(/[^+0-9]/g,'');" required>
                </label>
                <label class="label label-short">
                    <p class="label-title">Рік заснування&nbsp;<span>*</span></p>
                    <select class="input" id="year" required>
                        <option value="" selected disabled>Оберіть рік заснування організації</option>
                    </select>
                </label>
                <label class="label label-short">
                    <p class="label-title">Статут</p>
                    <select class="input">
                        <option value="">Оберіть статут організації</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </label>
                <label class="label">
                    <p class="label-title">Посилання на сайт, сторінку у соціальних мережах&nbsp;<span>*</span></p>
                    <input class="input" type="url" required placeholder="https://example.com">
                </label>
                <label class="label">
                    <p class="label-title">Проєкти/діяльність за останні 5 років</p>
                    <textarea class="input textarea" id="input-text" placeholder="Введите проекты или деятельность организации" maxlength="300" oninput="document.getElementById('char-count').textContent = this.value.length"></textarea>
                    <p class="textarea-count"><span id="char-count">0</span>/300</p>
                </label>
                <label class="label">
                    <p class="label-title">Свідоцтво про реєстрацію</p>
                    <div class="file-wrap" id="file-drop">
                        <input class="file-input" id="file-input" type="file"/>
                        <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M50.3496 11.1981C41.9651 11.0304 33.317 15.8318 30.9448 26.6656C21.2898 23.3701 12.5721 29.8699 13.4777 40.2481C8.42596 42.2901 4.875 47.2253 4.875 53.0259C4.875 60.664 11.024 66.813 18.6621 66.813H35.4104C35.4058 62.1712 35.396 52.8573 35.396 51.093L31.4684 52.5165C28.6191 53.7444 26.5146 50.1563 28.9547 47.9222L36.3863 40.7002C38.0836 39.0028 40.111 39.1975 41.6137 40.7002L49.0452 47.9222C51.4853 50.1563 49.3809 53.7444 46.5315 52.5165L42.6039 51.093V66.813H59.3379C66.976 66.813 73.125 60.664 73.125 53.0259C73.125 47.4042 69.7882 42.5985 64.9841 40.448C74.2927 22.3007 62.6038 11.4428 50.3496 11.1981Z" fill="#CEDAD0"/>
                            <path d="M50.3496 11.196C49.8825 11.1868 49.3699 11.2028 48.9023 11.2236C38.1935 28.1006 54.7436 40.4451 64.9841 40.4451C74.2927 22.2977 62.6038 11.4407 50.3496 11.196Z" fill="#ACC2B5"/>
                        </svg>
                        <p id="file-name">Перетягніть файл сюди</p>
                        <p class="file-or">або</p>
                        <div class="file-btn">Обрати файл</div>
                    </div>
                </label>
                <input class="main-btn" type="submit" value="Подати заявку">
            </form>
        </div>
        <div class="block-text">
            <img class="bg" src="./images/main-page/form-img.jpg" alt="img">
            <h2 class="title">ХТО може долучитися</h2>
            <div class="item-wrap">
                <div class="item">
                    <img class="item-img" src="./images/icons/f1.svg" alt="icon">
                    <h3 class="item-title">Представники бізнесу</h3>
                </div>
                <div class="item">
                    <img class="item-img" src="./images/icons/f2.svg" alt="icon">
                    <h3 class="item-title">Міжнародні партнери</h3>
                </div>
                <div class="item">
                    <img class="item-img" src="./images/icons/f3.svg" alt="icon">
                    <h3 class="item-title">Професійні асоціації та фонди</h3>
                </div>
                <div class="item">
                    <img class="item-img" src="./images/icons/f4.svg" alt="icon">
                    <h3 class="item-title">Ветеранські організації</h3>
                </div>
                <div class="item">
                    <img class="item-img" src="./images/icons/f5.svg" alt="icon">
                    <h3 class="item-title">громадські організації</h3>
                </div>
                <div class="item">
                    <img class="item-img" src="./images/icons/f6.svg" alt="icon">
                    <h3 class="item-title">сервісні громадські організації</h3>
                </div>
            </div>
        </div>
    </div>
</section>