<header class="header">
    <div class="container">
        <a class="logo" href="#">
            <img src="./images/icons/logo.svg" alt="logo-icon">
        </a>
        <nav class="menu">
            <ul class="list">
                <li class="item">
                    <a class="link" href="index.html">ГОЛОВНА</a>
                </li>
                <li class="item">
                    <a class="link" href="projects.html">ПРОЄКТИ</a>
                </li>
                <li class="item">
                    <a class="link" href="contacts.html">КОНАТКТИ</a>
                </li>
            </ul>
        </nav>
        <a class="main-btn" href="#">ДОЛУЧИТИСЯ</a>
        <button class="burger">
            <span></span>
        </button>
    </div>
</header>