#header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    
    button{
        outline: none;
        border: none;
        background-color: transparent;
        padding: 0;
    }
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0 20px 0;

    @include media('<tablet'){
        padding: 20px 0;
    }

    @include media('<phone'){
        min-height: 70px;
    }
}

.header__main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__logo-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    z-index: 2;

    @include media('<tablet'){
        margin-bottom: 0;
    }

    a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.logo-circle{

    path{
        fill: transparent;
        stroke-width: 0;
        stroke: $main-blue;
        stroke-dasharray: 147;
        stroke-dashoffset: 0;
        animation: logo 2s forwards;
    }

    @keyframes logo {
        0%{
            stroke-dashoffset: 0;
            stroke-width: 0;
        }

        1%{
            stroke-dashoffset: 147;
            stroke-width: 0;
        }

        50%{
            stroke-dashoffset: 294;
            fill: transparent;
            stroke-width: 2;
        }

        100%{
            stroke-dashoffset: 294;
            fill: $main-blue;
        }
    }

    svg{
        width: 47px;
        height: 47px;

        @include media('<phone'){
            width: 30px;
            height: 30px;
        }

        .active &{
            path{
                fill: $white;
                animation: logo-active .5s forwards; 

                @keyframes logo-active {
                    0%{
                        fill: $main-blue; 
                    }
            
                    100%{
                        fill: $white; 
                    }
                }
            }
        }
    }
}

.logo-text1, .logo-text2{
    color: $main-blue;
    transition: color .5s ease 0s;

    .active &{
        color: $white;
        transition: color .5s ease 0s;
    }
}

.logo-text1{
    font-size: 50px;
    font-weight: bold;

    @include media('<phone'){
        font-size: 33px;
    }
}

.logo-text2{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    transform: translateY(-30px);
    opacity: 0;
    animation: logo-text 1s ease forwards;

    @include media('<phone'){
        font-size: 13px;
        line-height: 3px;
    }

    @keyframes logo-text {
        0%{
            opacity: 0;
            transform: translateY(-40px);
        }
        20%{
            opacity: 0;
        }
        100%{
            transform: translateY(0px);
            opacity: 100%;
        }
    }
}

.social-desk{
    @include media('<tablet'){
        display: none !important;
    }
}

.social-email{
    width: 40px;
    height: 40px;

    path{
        stroke: $main-blue;
        stroke-width: 3.5; 
        stroke-dasharray: 403;
        stroke-dashoffset: 0;
        fill: transparent; 
    }

    &:hover{
        path{
            animation: social-email 1s ease forwards;
        }
    }

    @keyframes social-email {
        0%{
            stroke-dashoffset: 0; 
        }
    
        40%{
            stroke-dashoffset: 403; 
        }
    
        80%{
            stroke-dashoffset: 806; 
        }
    
        100%{
            stroke-dashoffset: 806; 
        }
    }
}

.social-phone{
    width: 25px;
    height: 25px;

    path{
        stroke: $main-blue;
        stroke-width: 2; 
        stroke-dasharray: 66;
        stroke-dashoffset: 0; 
        fill: transparent;
    }

    &:hover{
        path{
            animation: social-phone .8s ease forwards;
        }
    }

    @keyframes social-phone {
        0%{
            stroke-dashoffset: 0; 
        }
    
        40%{
            stroke-dashoffset: 66; 
        }
    
        80%{
            stroke-dashoffset: 132; 
        }
    
        100%{
            stroke-dashoffset: 132; 
        }
    }
}

.menu{

    @include media('<tablet'){
        position: relative;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: -100%;
        left: 0;
        background-color: $main-blue;
        padding: 125px 15px 30px 15px;
        transition: all .5s ease 0s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &::before{
            content:'';
            position: fixed;
            width: 100%;
            height: 110px;
            top: 0;
            left: 0;
            transition: all .3s ease 0s;
            z-index: 2;

            @include media('<phone'){
                height: 70px;
            }
        }

        @include media('<phone'){
            padding: 70px 15px 30px 15px;
        }
    }
}

.menu_active{
    @include media('<tablet'){
        top: 0;

        &::before{
            background-color: $main-blue;
        }
    }
}

.menu__wrap{
    @include media('<tablet'){
        margin-bottom: 30px;
    }
}

.menu__list{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;

    @include media('<tablet'){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.menu-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;

    @include media('<tablet'){
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
    }

    a{
        font-size: 18px;
        font-weight: 600;
        color: $white;
        transition: color .3s ease 0s;
    
        @include media('>=tablet'){
    
            &:hover{
                color: $main-blue;
            }
        }

        @include media('<tablet'){
            font-size: 30px;
        }
    }
}


.menu__social{
    display: none;
    padding: 40px 0 0 0;
    border-top: 1px solid $white;

    @include media('<tablet'){
        display: flex;
        justify-content: center;
    }

    a{
        margin: 0 20px;

        &:first-child{
            svg{
                width: 35px;
            }
        }
    }

    svg{
        width: 30px;
        height: 30px;
        fill: $white;
    }
}


/* ---------------burger */

.burger{
    display: none;
    position: relative;
    width: 35px;
    height: 25px;
    z-index: 5;
    
    @include media('<tablet'){
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    span{
        position: absolute;
        right: 0;
        height: 3px;
        
        &::before{
            content:'';
            display: block;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: $main-blue;
            border-radius: 10px;
            transition: background-color .5s ease 0s;
        }

        &:nth-child(1){
            top:0;
            width: 100%;
        }

        &:nth-child(2){
            width: 50%;
            top: 11px;
            transition: width .5s ease 0s;
        }

        &:nth-child(3){
            width: 100%;
            bottom: 0;
        }
    }
}

$toggle-size: 55px;
$toggle-line-size: $toggle-size/10;
$toggle-line-angle: 405deg;
$toggle-anim-speed: .8s;

.burger_active{

    span{

        &::before{
            background-color: $white;
            transition: background-color .5s ease 0s;
        }

        &:nth-child(1){
            animation: jump-1 $toggle-anim-speed forwards ease;

            &::before{
                animation: line-1 $toggle-anim-speed forwards ease;
            }
        }

        &:nth-child(2){
            width: 100%;
            transition: width .5s ease 0s;
            animation: jump-2 $toggle-anim-speed forwards ease;

            &::before{
                animation: line-2 $toggle-anim-speed forwards ease;
            }
        }

        &:nth-child(3){
            animation: jump-3 $toggle-anim-speed forwards ease;
        }
    }
}

.burger_finish{

    span{

        &::before{
            background-color: $main-blue;
            transition: background-color .5s ease 0s;
        }

        &:nth-child(1){
            animation: jump-1-end $toggle-anim-speed reverse ease;

            &::before{
                animation: line-1-end $toggle-anim-speed reverse ease;
            }
        }

        &:nth-child(2){
            width: 50%;
            transition: width .5s ease .7s;
            animation: jump-2-end $toggle-anim-speed reverse ease;

            &::before{
                animation: line-2-end $toggle-anim-speed reverse ease;
            }
        }

        &:nth-child(3){
            animation: jump-3-end $toggle-anim-speed ease;
        }
    }
}

@keyframes line-1 {
    10% { transform: translateZ(0) rotate(0) }
    80% { transform: translateZ(0) rotate($toggle-line-angle - 10) }
    90%, 100% { transform: translateZ(0) rotate($toggle-line-angle) }
}
  
@keyframes line-2 {
    10% { transform: translateZ(0) rotate(0) }
    20% { transform: translateZ(0) rotate(10deg) }
    90%, 100% { transform: translateZ(0) rotate(-$toggle-line-angle) }
}
  
@keyframes jump-1 {
    10% { transform: translateY(0) }
    50% { transform: translateY(-$toggle-line-size * 5) }
    90%, 100% { transform: translateY(-$toggle-line-size * 0) }
}
  
@keyframes jump-2 {
    10% { transform: translateY(0) }
    50% { transform: translateY(-$toggle-line-size * 5) }
    85%, 100% { transform: translateY(-$toggle-line-size * 2) }
}
  
@keyframes jump-3 {
    10% { transform: translateY(-$toggle-line-size*1) rotate(15deg) }
    30% { transform: translateY(-$toggle-line-size*4) rotate(-10deg) }
    50% { transform: translateY($toggle-line-size) rotate(5deg) }
    80% { transform: translateY(0) }
}

@keyframes line-1-end {
    10% { transform: translateZ(0) rotate(0) }
    80% { transform: translateZ(0) rotate($toggle-line-angle - 10) }
    90%, 100% { transform: translateZ(0) rotate($toggle-line-angle) }
}
  
@keyframes line-2-end {
    10% { transform: translateZ(0) rotate(0) }
    20% { transform: translateZ(0) rotate(10deg) }
    90%, 100% { transform: translateZ(0) rotate(-$toggle-line-angle) }
}
  
@keyframes jump-1-end{
    10% { transform: translateY(0) }
    50% { transform: translateY(-$toggle-line-size * 5) }
    90%, 100% { transform: translateY(-$toggle-line-size * 0) }
}
  
@keyframes jump-2-end {
    10% { transform: translateY(0) }
    50% { transform: translateY(-$toggle-line-size * 5) }
    85%, 100% { transform: translateY(-$toggle-line-size * 2) }
}

@keyframes jump-3-end {
    10% { transform: translateY(-$toggle-line-size*1) rotate(15deg) }
    30% { transform: translateY(-$toggle-line-size*1) rotate(-10deg) }
    50% { transform: translateY($toggle-line-size) rotate(5deg) }
    80% { transform: translateY(0) }
}