@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue-Condensed-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue-Condensed-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro-Regular.otf");
    font-style: normal;
    font-weight: 400;
}
