@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaRegular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaBold.ttf");
    font-style: normal;
    font-weight: 700;
}