<section class="aboutdr-section">
    <div class="container">
        <div class="sec-title-wrap anim">
            <h2 class="sec-title">About <br> Dr. Anatoly Ripa</h2>
        </div>
        <div class="content">
            <div class="text">
                <p class="description wow animate__animated animate__fadeIn">Dr. Anatoly Ripa's credentials span the course of two continents, with a proficient practice in both Russia and the States. Dr. Ripa attended Stony Brook University School of Dental Medicine in New York, where he received his D.D.S. He has been practicing clinical and cosmetic dentistry for over 20 years, with an emphasis on patient comfort and care. 
                </p>
                <p class="description wow animate__animated animate__fadeIn"> Dr. Ripa is a member of the American Dental Association, where he stays current with the latest advancements in dentistry, enabling him to provide his patients with the best quality of care. In addition, to his dental practice, Dr. Ripa is an avid reader of science fiction and enjoys experimental cooking with his family. He resides the Bal Harbour region with his wife and their six children.
                </p>
                <a class="line-btn wow animate__animated animate__fadeIn" href="#">
                    Read more about our team
                    <img class="img" src="./images/icons/arrow.svg" alt="icon">
                </a>
            </div>
            <div class="img-cont wow animate__animated animate__fadeInRight">
                <img class="img" src="./images/main-page/doctor.png" alt="img">
                <img class="icon" src="./images/icons/circle&line.svg" alt="icon">
            </div>
        </div>
    </div>
</section>