<section class="contact_form-section">
    <div class="container">
        <div class="socials">
            <a class="icon-soc wow animate__animated animate__bounce" href="#" target="_blank">
                <img src="./images/icons/insta.svg" alt="icon">
            </a>
            <a class="icon-soc wow animate__animated animate__bounce" data-wow-delay=".1s" href="#" target="_blank">
                <img src="./images/icons/facebook.svg" alt="icon">
            </a>
            <a class="icon-soc wow animate__animated animate__bounce" data-wow-delay=".2s" href="#" target="_blank">
                <img src="./images/icons/youtube.svg" alt="icon">
            </a>
            <a class="icon-soc wow animate__animated animate__bounce" data-wow-delay=".3s" href="#" target="_blank">
                <img src="./images/icons/tiktok.svg" alt="icon">
            </a>
            <a class="icon-soc wow animate__animated animate__bounce" data-wow-delay=".4s" href="#" target="_blank">
                <img src="./images/icons/geo.svg" alt="icon">
            </a>
        </div>
        <div class="title-wrap anim">
            <h2 class="title">Contact Us</h2>
        </div>
        <p class="sub-title">Send us a message or give us a call</p>
        <a class="phone" href="tel:3059024270">
            <img src="./images/icons/phone.svg" alt="icon">
            305-902-4270
        </a>
        <div class="wow animate__animated animate__backInUp">
            <form action="#">
                <input class="input" type="text" placeholder="Name">
                <input class="input" type="Email" placeholder="Email">
                <input class="input" type="tel" placeholder="Phone">
                <textarea class="input textarea" placeholder="How can we help you?"></textarea>
                <input id="form-btn" type="submit">
            </form>
        </div>
        <label class="main-btn btn" for="form-btn"><i>Send <br> message</i></label>
    </div>
</section>