<section class="contact_form-section">
    <div class="container">
        <div class="socials">
            <a class="icon-soc wow animate__animated animate__bounce" href="#" target="_blank">
                <img src="./images/icons/insta.svg" alt="icon">
            </a>
            <a class="icon-soc wow animate__animated animate__bounce" data-wow-delay=".1s" href="#" target="_blank">
                <img src="./images/icons/facebook.svg" alt="icon">
            </a>
            <a class="icon-soc wow animate__animated animate__bounce" data-wow-delay=".2s" href="#" target="_blank">
                <img src="./images/icons/youtube.svg" alt="icon">
            </a>
            <a class="icon-soc wow animate__animated animate__bounce" data-wow-delay=".3s" href="#" target="_blank">
                <img src="./images/icons/tiktok.svg" alt="icon">
            </a>
            <a class="icon-soc wow animate__animated animate__bounce" data-wow-delay=".4s" href="#" target="_blank">
                <img src="./images/icons/geo.svg" alt="icon">
            </a>
        </div>
        <div class="title-wrap anim">
            <h2 class="title">Contact Us</h2>
        </div>
        <p class="sub-title wow animate__animated animate__fadeInUp">Send us a message or give us a call</p>
        <a class="phone wow animate__animated animate__fadeInUp" data-wow-delay=".7s" href="tel:3059024270">
            <img src="./images/icons/phone.svg" alt="icon">
            305-902-4270
        </a>
        <div class="wow animate__animated animate__fadeInUp">
            <form class="contact-us-form" data-abide>
                <label>
                    <input class="input" name="name" type="text" placeholder="Name" required pattern="name">
                    <span class="form-error">Please enter a valid value</span>
                </label>
                <label>
                    <input class="input" name="email" type="Email" placeholder="Email" required pattern="email">
                    <span class="form-error">Please enter a valid value</span>
                </label>
                <label>
                    <input class="input" name="phone" type="tel" placeholder="Phone" required pattern="tel">
                    <span class="form-error">Please enter a valid value</span>
                </label>
                <textarea class="input textarea" name="message" placeholder="How can we help you?"></textarea>
                <p class="form-msg"></p>
                <input id="form-btn" type="submit">
            </form>
        </div>
    </div>
    <label class="main-btn btn anim" for="form-btn"><i>Send <br> message</i></label>
</section>