<div class="pop-up">
    <div class="pop-up-content">
        <button class="btn-close"></button>
        <img class="pop-up-logo" src="./images/icons/logo.svg" alt="logo">
        <img class="line line1" src="./images/icons/blue-line.svg" alt="icon-line">
        <img class="line line2" src="./images/icons/pink-line.svg" alt="icon-line">
        <img class="line line3" src="./images/icons/yellow-curve.svg" alt="icon-line">
        <img class="line line4" src="./images/icons/blue-curve.svg" alt="icon-line">
        //= contact_form-block.html
    </div>
</div>