@font-face {
    font-family: "Arial-Regular";
    src: url("../fonts/Arial_Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Arial-italic";
    src: url("../fonts/Arial_italic.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Georgia-Regular";
    src: url("../fonts/Georgia_Regular.ttf");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "TNR-Regular";
    src: url("../fonts/TimesNewRoman_Regular.ttf");
    font-style: normal;
    font-weight: 400;
}