html {
    scroll-behavior: smooth;
}

body {
    font-family: $HelveticaNeue;
    background-color: $black01;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1600px;
    padding: 0 40px;
    margin: 0 auto;

    @include media('<tablet'){
       padding: 0 16px;
    }
}

.main-btn {
    padding: 15px 20px;
    border: 1.5px solid $pink;
    color: $white;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: $animation-speed;

    &:hover {
        color: $black01;
        background-color: $pink;
    }
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.titlePink {
    margin-bottom: 80px;
    text-align: center;
    color: $whiteF8;
    font-size: 64px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -1.28px;

    @include media('<desktop'){
        font-size: 42px;
        margin-bottom: 56px;
    } 

    @include media('<tablet'){
        font-size: 32px;
    } 

    span {
        color: $pink;
    }
}

.title-sc {
    text-align: center;
    color: $gray76;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.84px;
    margin-bottom: 80px;

    span {
        color: $white;
    }

    i {
        font-style: normal;
        color: $pink;
    }

    &.t64 {
        font-size: 64px;

        @include media('<desktop'){
            font-size: 42px;
        } 

        @include media('<tablet'){
            font-size: 32px;
        } 
    }

    &.t42 {
        font-size: 42px;

        @include media('<desktop'){
            font-size: 32px;
        } 

        @include media('<tablet'){
            font-size: 22px;
        } 
    }
}

.stiker {
    display: block;
    color: $pink;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;

    @include media('<tablet'){
        font-size: 14px;
    } 
}

/* -------------------------main-section-------------------- */

.main-section {
    position: relative;
    min-height: 100vh;
    padding: 150px 0 250px 0;
    overflow: hidden;

    &::before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: rgb(1,1,1);
        background: linear-gradient(180deg, rgba(1,1,1,1) 0%, rgba(1,1,1,0) 100%);
    }

    &::after {
        content:'';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20%;
        background: rgb(1,1,1);
        background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(1,1,1,0) 100%);
    }

    .container {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    @keyframes opacityZoom {
        0%{
            transform: scale(1);
            opacity: 1;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: scale(1.1);
        }
    }

    @keyframes opacity {
        0%{
            opacity: 100%;
        }
        100%{
            opacity: 0;
        }
    }

    @keyframes fillColor {
        0%{
            fill: $white;
        }
        100%{
            fill: $pink;
        }
    }

    @keyframes transformOpacity {
        0%{
            transform: translateY(-10px);
            opacity: 0;
        }
        100%{
            transform: translateY(0px);
            opacity: 100%;
        }
    }

    .bg1 {
        animation-name: opacityZoom;
        animation-duration: 4s;
        animation-fill-mode: forwards;
        transform: scale(1);
    }

    .bg2 {
        animation-name: opacityZoom;
        animation-duration: 4s;
        animation-fill-mode: forwards;
        animation-direction: reverse;
        opacity: 0;
    }

    .main-logo {
        display: flex;
        justify-content: center;
        gap: 3px;
        margin: 0;
   
        @include media('<tablet'){
            transform: scale(.6);
        }
    }

    .letter {
        animation-name: opacity;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        animation-direction: reverse;
        opacity: 0;
        
        svg {
            fill: $white;
        }
    }

    .l1 {
        animation-delay: 2.4s;

        svg {
            animation-name: fillColor;
            animation-duration: .5s;
            animation-delay: 3.5s;
            animation-fill-mode: forwards;
        }
    }

    .l2 {
        animation-delay: 2s;
    }

    .l3 {
        animation-delay: 2.8s;
    }

    .l4 {
        animation-delay: 3.2s;
    }

    .l5 {
        animation-delay: 2.2s;

        svg {
            animation-name: fillColor;
            animation-duration: .5s;
            animation-delay: 3.5s;
            animation-fill-mode: forwards;
        }
    }

    .l6 {
        animation-delay: 3s;
    }

    .l7 {
        animation-delay: 2.6s;
    }

    .text {
        max-width: 588px;
        margin: 0 auto;
        color: $whiteF8;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: -0.24px;
        transform: translateY(-10px);
        opacity: 0;

        animation-name: transformOpacity;
        animation-duration: .5s;
        animation-delay: 3.5s;
        animation-fill-mode: forwards;

        @include media('<tablet'){
            font-size: 16px;
        }
    }

    .down-btn {
        position: absolute;
        bottom: -147px;
        left: 50%;
        transform: translate(-50%);
        width: 295px;
        height: 294px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.70);
        z-index: 1;

        @include media('<tablet'){
            width: 194px;
            height: 194px;
            bottom: -97px;
        } 

        &:hover {
            
            .arrow {
                top: 70px;

                @include media('<tablet'){
                    top: 45px;
                }
            }

        }

        .arrow {

            @include media('<tablet'){
                top: 35px;
                height: 30px;
            }
        }
    }

    .arrow {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%);
        transition: $animation-speed;
    }
}

/* -------------------------mission-section------------------ */

.mission-section {
    position: relative;
    padding: 70px 0 0 0;
    min-height: 900px;
    overflow: hidden;

    @include media('<tablet'){
        min-height: 800px;
    } 

    &::before {
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 30%;
        background: rgb(1,1,1);
        background: linear-gradient(180deg, rgba(1,1,1,1) 0%, rgba(1,1,1,0) 100%);
        z-index: 1;
    }

    &::after {
        content:'';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background: rgb(1,1,1);
        background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(1,1,1,0) 100%);
        z-index: 2;
    }

    .contaner {
        position: relative;
        z-index: 1;
    }

    .planet {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 450px;
        z-index: 2;
        background: url('../images/palenet.png') center 0/ cover no-repeat;
    }

    .title-sc {
        max-width: 880px;
        margin: 0 auto 50px auto;
    }

    .sub-title {
        position: relative;
        color: $white;
        text-align: center;
        font-size: 80px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -1.6px;
        margin-bottom: 100px;
        

        @include media('<desktop'){
            font-size: 52px;
        } 
    }
}

/* -------------------------circle-section------------------- */

.circle-section {
    padding: 135px 0;

    @include media('<tablet'){
        padding: 80px 0;
    }

    .block {
        position: relative;
        display: flex;
        justify-content: space-between;

        @include media('<desktop'){
            align-items: center;
            flex-direction: column;
        } 
    }

    .item {
        position: relative;
        @include adaptiv-vaule("width", 580, 96, 1);
        @include adaptiv-vaule("height", 580, 96, 1);
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.70);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: $black01;
        padding: 20px;

        @include media('<desktop'){
            @include adaptiv-vaule("width", 580, 280, 1);
            @include adaptiv-vaule("height", 580, 280, 1);
        } 

        .cir {
            position: absolute;
            width: 149px;
            height: 149px;
            background: rgb(1,1,1);
            background: radial-gradient(circle, rgba(1,1,1,1) 0%, rgba(1,1,1,0) 100%);
            z-index: 1;

            @include media('<desktop'){
                width: 100px;
                height: 100px;
            }
        }

        .cir1 {
            top: 7%;
            left: -2%;

            @include media('<desktop'){
                top: 0;
                left: 7%;
            }

            @include media('<phone'){
                top: -8%;
            }
        }

        .cir2{
            bottom: 7%;
            left: -2%;

            @include media('<desktop'){
                bottom: 0;
                left: 7%;
            }

            @include media('<phone'){
                bottom: -8%;
            }
        }

        .cir3 {
            top: 7%;
            right: -4%;

            @include media('<desktop'){
                top: 0;
                right: 7%;
            }

            @include media('<phone'){
                top: -8%;
            }
        }

        .cir4{
            bottom: 7%;
            right: -4%;

            @include media('<desktop'){
                bottom: 0;
                right: 7%;
            }

            @include media('<phone'){
                bottom: -8%;
            }
        }

        &.first {

            .text-wrap {
                transform: translateX(-15%);   
                
                @include media('<laptop_s'){
                    transform: translateX(-10%);  
                } 

                @include media('<desktop'){
                    transform: translateX(0);  
                }
            }
        }

        &.mid {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            z-index: 1;
            justify-content: center;

            @include media('<desktop'){
                position: relative;
                top: auto;
                left: auto;
                transform: translate(0);
                margin: -100px 0;
            }

            @include media('<phone'){
                margin: -50px 0;
            }
        }

        &.last {

            .text-wrap {
                transform: translateX(15%);   
                
                @include media('<laptop_s'){
                    transform: translateX(10%);  
                }

                @include media('<desktop'){
                    transform: translateX(0);  
                }
            }
        }
    }


    .sub-title {
        position: relative;
        @include adaptiv-vaule("max-width", 374, 0, 1);
        transform: translateY(20%);
        color: $whiteF8;
        @include adaptiv-vaule("font-size", 26, 5, 1);
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -0.52px;
        text-transform: uppercase;
        margin: 0;

        @include media('<desktop'){
            @include adaptiv-vaule("max-width", 374, 260, 1);
            @include adaptiv-vaule("font-size", 26, 16, 1);
            transform: translateY(0);
        }

        &::before {
            content:'';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            width: 100%;
            height: 150%;
            background: linear-gradient(180deg, rgba(1, 1, 1, 0.00) 0%, #010101 100%);
        }

    }

    .pink-title {
        color: $pink;
        font-size: 26px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -0.52px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    .text {
        color: $white;
        font-size: 40px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.4px;
        margin-bottom: 3px;

        span {
            color: $grayB9;
            text-transform: lowercase;
        }

        i {
            display: inline-block;
            transform: translate(-5px, -15px);
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 133%;
            letter-spacing: -0.24px;
        }
    }

    .sub-text {
        color: $gray76;
        font-size: 14px;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -0.28px;
        text-transform: lowercase;
    }
}

/* ------------------------access-section-------------------- */

.access-section {
    padding: 135px 0;

    @include media('<tablet'){
        padding: 80px 0 110px 0;
    }

    .title-sc {
        max-width: 915px;
        margin: 0 auto 140px auto;
    }

    .block {
        display: flex;
        flex-wrap: wrap;

        @include media('<tablet'){
            padding-left: 40px;
        }
    }

    .item {
        position: relative;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media('<desktop'){
            width: 50%;
        }

        @include media('<tablet'){
            width: 100%;
            padding-left: 35px;
        }
    }

    .text-wrap {
        padding: 20px 20px 36px 20px;

        @include media('<tablet'){
            padding: 30px 0;
        }
    }

    .title {
        color: $whiteF8;
        @include adaptiv-vaule("font-size", 26, 16, 1);
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -0.52px;
        text-transform: uppercase;
        margin-bottom: 20px;

        i {
            @include adaptiv-vaule("font-size", 56, 44, 1);
            font-style: normal;
            letter-spacing: -1.12px;
        }

        span {
            color: $pink;
        }
    }

    .text {
        color: $grayB9;
        @include adaptiv-vaule("font-size", 20, 14, 1);
        font-weight: 400;
        line-height: 126%;
        letter-spacing: -0.4px;
        text-transform: uppercase;
        margin: 0;
        max-width: 330px;

        @include media('<tablet'){
            max-width: 100%;
        }
    }

    .line {
        position: relative;
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.40);

        @include media('<tablet'){
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
        }

        &::before {
            content:'';
            position: absolute;
            left: 0;
            top: -5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $white;
            z-index: 1;

            @include media('<tablet'){
                left: -5px;
                top: 0;
            }
        }

        &::after {
            content:'';
            position: absolute;
            left: -10px;
            top: -15px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $black01;

            @include media('<tablet'){
                left: -15px;
                top: -10px;
            }
        }
    }
}

/* -------------------------total-section-------------------- */

.total-section {

    .container {
        display: flex;
        justify-content: space-between;
        gap: 25px;
        padding: 0;

        @include media('<desktop'){
            flex-direction: column;
        }
    }

    .img-box {
        position: relative;
        width: 100%;
        max-width: 800px;
        padding: 100px 40px;

        @include media('<desktop'){
            max-width: 100%;
            padding: 36px 16px;
            min-height: 260px;
        }
    }

    .title {
        color: $white;
        font-size: 64px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -1.28px;
        margin: 0;

        @include media('<desktop'){
            font-size: 42px;
        }

        @include media('<tablet'){
            font-size: 32px;
        }
    }

    .text-box {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 136px 40px 136px 0;
        min-width: 650px;
        max-width: 650px;

        @include media('<desktop'){
            min-width: 0;
            max-width: 100%;
            margin: 56px 0;
        }

        &::before {
            content:'';
            position: absolute;
            top: 0;
            left: 52%;
            transform: translate(-52%);
            height: 100%;
            width: 2px;
            background: rgb(1,1,1);
            background: linear-gradient(180deg, rgba(1,1,1,1) 0%, rgba(255,255,255,1) 50%, rgba(1,1,1,1) 100%);

            @include media('<tablet'){
                left: 50%;
                transform: translate(-50%);
            }
        }

        &::after {
            content:'';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 2px;
            width: 100%;
            background: rgb(1,1,1);
            background: linear-gradient(90deg, rgba(1,1,1,1) 0%, rgba(255,255,255,1) 50%, rgba(1,1,1,1) 100%);
        }
    }

    .item {
        min-height: 340px;
        display: flex;
        align-items: flex-end;
        padding: 32px 32px 32px 60px;

        @include media('<desktop'){
            width: 50%;
            padding: 26px 16px;
            justify-content: center;
        }

        @include media('<tablet'){
            min-height: 200px;
        }
    }

    .text-wrap {
        display: flex;
        align-items: center;
        gap: 13px;

        @include media('<tablet'){
            gap: 6px;
        }
    }

    .text {
        color: $grayB9;
        font-size: 20px;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -0.4px;
        text-transform: uppercase;
        margin: 0;

        @include media('<tablet'){
            font-size: 13px;
        }
    }

    .number {
        color: $white;
        font-size: 70px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -1.4px;
        text-transform: uppercase;

        @include media('<tablet'){
            font-size: 46px;
        }
    }
}

/* ---------------------------vip-section-------------------- */

.vip-section {

    .container {
        display: flex;
        gap: 25px;
        padding: 0 0 0 40px;

        @include media('<desktop'){
            flex-direction: column;
            padding: 0 16px;
        }
    }

    .text-block {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 100px 0 66px 0;

        @include media('<desktop'){
            width: 100%;
            padding: 80px 0 0 0;
        }
    }

    .title-sc {
        text-align: left;
        max-width: 600px;

        @include media('<phone'){
            margin-bottom: 55px;
        }
    }

    .img-block {
        width: 50%;

        @include media('<desktop'){
            width: 100%;
        }
    }

    .slider-vip-nav {
        width: 100%;

        .swiper-wrapper {
            display: flex;
            flex-direction: column;
            transform: translate3d(0px, 0px, 0px) !important;
        }

        .nav-slide {
     
            &::after {
                content:'';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
                opacity: .4;
            }

            &:last-child {
                
                &::after {
                    display: none;
                }
            }
        }

        .swiper-slide-thumb-active {

            .text {
                color: $pink;
                padding-left: 24px;

                @include media('<phone'){
                    padding-left: 20px;
                }

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    .text {
        position: relative;
        cursor: pointer;
        margin: 24px 0;
        color: $whiteF8;
        font-size: 26px;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -0.52px;
        text-transform: uppercase;
        transition: $animation-speed;

        @include media('<widescreen'){
            font-size: 18px;
        }

        @include media('<phone'){
            font-size: 16px;
            margin: 16px 0;
        }

        &::before {
            content:'';
            position: absolute;
            left: 0;
            top: 9px;
            min-width: 10px;
            height: 10px;
            background-color: $pink;
            border-radius: 50%;
            opacity: 0;
            transition: $animation-speed;

            @include media('<widescreen'){
                top: 4px;
            }

            @include media('<phone'){
                min-width: 8px;
                height: 8px;
            }
        }
    }

    .slider-vip {

        .slide {
            position: relative;
            width: 100%;
            min-height: 1000px;

            @include media('<desktop'){
                min-height: 500px;
            }

            @include media('<phone'){
                min-height: 300px;
            }
        }
            
        .img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }

}

/* ---------------------------plan-section------------------- */

.plan-section {
    padding: 100px 0;

    @include media('<tablet'){
        padding: 80px 0 40px 0;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;

        @include media('<tablet'){
            flex-direction: column-reverse;
        }
    }

    .title-sc {
        text-align: left;
        max-width: 440px;
        margin-bottom: 64px;

        @include media('<tablet'){
            display: none;
        }

        &.mob {
            display: none;

            @include media('<tablet'){
                display: block;
            }
        }
    }

    .img-block {
        width: 50%;
        max-width: 635px;

        @include media('<tablet'){
            width: 100%;
            max-width: 100%;
        }
    }

    .text-block {
        width: 50%;
        max-width: 760px;
        display: flex;
        align-items: center;
        flex-direction: column;

        @include media('<tablet'){
            width: 100%;
            max-width: 100%;
        }
    }

    .slider-plan-nav {
        width: 100%;
        height: 100%;

        &::before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 20%;
            background: rgb(1,1,1);
            background: linear-gradient(180deg, rgba(1,1,1,1) 0%, rgba(1,1,1,0) 100%);
            z-index: 2;
        }
    
        &::after {
            content:'';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 20%;
            background: rgb(1,1,1);
            background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(1,1,1,0) 100%);
            z-index: 2;
        }

        .swiper-wrapper {
            height: 600px;

            @include media('<desktop'){
                height: 500px;
            }

            @include media('<tablet'){
                height: 300px;
            }

            @include media('<phone'){
                height: 200px;
            }
        }

        .swiper-slide {
            display: flex;
            align-items: center;
            width: 100%;
            cursor: pointer;

            &::after {
                content:'';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
                opacity: .4;

                @include media('<tablet'){
                    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
                }
            }
        }

        .swiper-slide-thumb-active {

            .text {
                color: $pink;
            }
        }
    }

    .arrow {
        cursor: pointer;

        &:hover {
            
            svg {
                fill: $pink;
            }
        }

        svg {
            fill: $white;
            transition: $animation-speed;

            @include media('<phone'){
                width: 36px;
                height: 36px;
            }
        }
    }

    .prev {

        &:hover {
            
            svg {
                transform: translateY(-10px);
            }
        }
    }

    .next {

        &:hover {
            
            svg {
                transform: translateY(10px);
            }
        }
    }

    .text {
        width: 100%;
        color: $whiteF8;
        font-size: 26px;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -0.52px;
        text-transform: uppercase;
        margin: 0;
        transition: $animation-speed;

        @include media('<desktop'){
            font-size: 22px;
        }

        @include media('<tablet'){
            text-align: center;
        }

        @include media('<phone'){
            font-size: 16px;
        }
    }
}

/* ---------------------------rules-section------------------ */

.rules-section {
    padding: 250px 0;

    @include media('<tablet'){
        padding: 40px 0 80px 0;
    }

    .title-sc {
        max-width: 1230px;
        margin: 0 auto 100px auto;

        @include media('<tablet'){
            margin: 0 auto 56px auto;
        }

        @include media('<phone'){
            font-size: 22px;
        }
    }

    .block {
        position: relative;
        display: flex;
        justify-content: space-around;
        column-gap: 25px;
        row-gap: 100px;

        @include media('<tablet'){
            flex-direction: column;
            padding: 70px 0;
        }

        &::after {
            content:'';
            position: absolute;
            left: 0;
            top: 101px;
            height: 2px;
            width: 100%;
            background: rgb(1,1,1);
            background: linear-gradient(90deg, rgba(1,1,1,1) 0%, rgba(255,255,255,1) 50%, rgba(1,1,1,1) 100%);

            @include media('<tablet'){
                top: 0;
                left: 100px;
                height: 100%;
                width: 2px;
                background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(255,255,255,1) 50%, rgba(1,1,1,1) 100%);
            }

            @include media('<phone'){
                left: 88px;
            }
        }

    }

    .item {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;

        @include media('<tablet'){
            flex-direction: row;
        }
    }

    .namber {
        color: $pink;
        text-align: center;
        font-size: 56px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -1.12px;
        text-transform: uppercase;

        @include media('<phone'){
            font-size: 46px;
        }
    }

    .circle {
        position: relative;
        display: grid;
        place-items: center;
        padding: 5px;
        z-index: 1;
        background-color: $black01;

        &::after {
            content:'';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $white;
        }
    }

    .text {
        color: $grayB9;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -0.4px;
        text-transform: uppercase;
        max-width: 400px;
        margin: 0;

        @include media('<desktop'){
            font-size: 16px;
        }

        @include media('<tablet'){
            max-width: 100%;
            text-align: left;
        }

        @include media('<phone'){
            font-size: 14px;
        }
    }
}

/* -------------------------two-circle-section-------------- */

.two-circle-section {
    padding: 135px 0;

    @include media('<tablet'){
        padding: 80px 0;
    }

    .block {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 50px;

        @include media('<widescreen_x'){
            gap: 20px;
        }

        @include media('<tablet'){
            flex-direction: column;
            align-items: center;
        }
    }

    .item {
        position: relative;
        @include adaptiv-vaule("width", 360, 178, 1);
        @include adaptiv-vaule("height", 360, 178, 1);
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.70);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: $black01;

        &.big {
            @include adaptiv-vaule("width", 580, 320, 1);
            @include adaptiv-vaule("height", 580, 320, 1);
        }
    }

    .pink-title {
        color: $pink;
        @include adaptiv-vaule("font-size", 26, 16, 1);
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -0.52px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    .text-box {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .text {
        color: $white;
        @include adaptiv-vaule("font-size", 40, 22, 1);
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.4px;
        margin: 0;

        span {
            color: $grayB9;
            @include adaptiv-vaule("font-size", 26, 16, 1);
            text-transform: lowercase;
        }

        i {
            display: inline-block;
            transform: translate(-5px, -15px);
            @include adaptiv-vaule("font-size", 24, 16, 1);
            font-style: normal;
            font-weight: 400;
            line-height: 133%;
            letter-spacing: -0.24px;
        }
    }

    .text-pink {
        color: $pink;
        @include adaptiv-vaule("font-size", 20, 14, 1);
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -0.4px;
        text-transform: uppercase;
        margin: 0;

        &.mid-text {
            align-self: center;
            transform: translateY(70px);

            @include media('<tablet'){
                align-self: inherit;
                transform: translateY(0);
            }
        }
    }
}

/* -----------------------application-section---------------- */

.application-section {
    position: relative;
    min-height: 1000px;
    padding: 120px 0;

    @include media('<tablet'){
        min-height: 800px;
    }

    .title-sc {
        max-width: 655px;
        text-align: left;
        margin: 0;

        @include media('<tablet'){
            text-align: center;
        }
    }
    
}

/* ---------------------------form-section------------------- */

.form-section {
    padding: 115px 0;

    @include media('<tablet'){
        padding: 80px 0;
    }

    .title-sc {
        max-width: 600px;
        margin: 0 auto 70px auto;
    }

    .text {
        max-width: 550px;
        margin: 0 auto 55px auto;
        color: $whiteF8;
        text-align: center;
        font-size: 26px;
        font-weight: 400;
        line-height: 126%;
        letter-spacing: -0.52px;
        opacity: .8;
    }

    form {
        width: 100%;
        max-width: 517px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 40px;
        column-gap: 25px;
        margin: 0 auto;
    }

    .label {
        width: 100%;
        color: $white;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.14px;
        text-transform: uppercase;

        @include media('<phone'){
            font-size: 12px;
        }

        &.l50 {
            width: 47%;

            @include media('<tablet'){
                width: 100%;
            }
        }
    }

    .input {
        width: 100%;
        background-color: transparent;
        padding: 0 0 10px 0;
        margin: 12px 0 0 0;
        color: $white;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.16px;
        border: none;
        border-bottom: 1px solid rgba($white, .4);
        transition: $animation-speed;
        outline: none;

        &::placeholder {
            color: $gray76;
        }

        &:focus {
            border-bottom: 1px solid $pink;
        }
    }

    option {
        background-color: $black01;
        color: $white;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.16px;
        border: none;
    }

    .form-btn {
        width: 100%;
        background-color: $pink;
        border: 1px solid $pink;
        padding: 20px;
        text-align: center;
        color: $black01;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        transition: $animation-speed;

        &:hover {
            color: $pink;
            background-color: transparent;
        }
    }
}