html {
    scroll-behavior: smooth;
}

body {
    font-family: $HelveticaNeue;
    background-color: $black01;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1600px;
    padding: 0 40px;
    margin: 0 auto;

    @include media('<tablet'){
       padding: 0 16px;
    }
}

.main-btn {
    padding: 15px 20px;
    border: 1.5px solid $pink;
    color: $white;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: $animation-speed;

    &:hover {
        color: $black01;
        background-color: $pink;
    }
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.titlePink {
    margin-bottom: 80px;
    text-align: center;
    color: $whiteF8;
    font-size: 64px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -1.28px;

    span {
        color: $pink;
    }
}

.title-sc {
    text-align: center;
    color: $gray76;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.84px;
    margin-bottom: 80px;

    span {
        color: $white;
    }

    i {
        font-style: normal;
        color: $pink;
    }

    &.t64 {
        font-size: 64px;
    }

    &.t42 {
        font-size: 42px;
    }
}

.stiker {
    display: block;
    color: $pink;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

/* -------------------------main-section-------------------- */

.main-section {
    position: relative;
    min-height: 100vh;
    padding: 220px 0 250px 0;
    overflow: hidden;

    @include media('<tablet'){
        padding: 160px 0;
    } 

    &::before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: rgb(1,1,1);
        background: linear-gradient(180deg, #010101 48.44%, rgba(1, 1, 1, 0.00) 100%);
    }

    &::after {
        content:'';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20%;
        background: rgb(1,1,1);
        background: linear-gradient(0deg, #010101 0%, rgba(1, 1, 1, 0.00) 100%);
    }

    .container {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    @keyframes opacity {
        0%{
            opacity: 100%;
        }
        100%{
            opacity: 0;
        }
    }

    @keyframes fillColor {
        0%{
            fill: $white;
        }
        100%{
            fill: $pink;
        }
    }

    @keyframes transformOpacity {
        0%{
            transform: translateY(-10px);
            opacity: 0;
        }
        100%{
            transform: translateY(0px);
            opacity: 100%;
        }
    }

    .bg1 {
        animation-name: opacity;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }

    .bg2 {
        animation-name: opacity;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        animation-direction: reverse;
        opacity: 0;
    }

    .main-logo {
        display: flex;
        justify-content: center;
        gap: 3px;
        margin: 0;
   
        @include media('<tablet'){
            transform: scale(.6);
        }
    }

    .letter {
        animation-name: opacity;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-direction: reverse;
        opacity: 0;
        
        svg {
            fill: $white;
        }
    }

    .l1 {
        animation-delay: 4.4s;

        svg {
            animation-name: fillColor;
            animation-duration: 1s;
            animation-delay: 6s;
            animation-fill-mode: forwards;
        }
    }

    .l2 {
        animation-delay: 4s;
    }

    .l3 {
        animation-delay: 4.8s;
    }

    .l4 {
        animation-delay: 5.2s;
    }

    .l5 {
        animation-delay: 4.2s;

        svg {
            animation-name: fillColor;
            animation-duration: 1s;
            animation-delay: 6s;
            animation-fill-mode: forwards;
        }
    }

    .l6 {
        animation-delay: 5s;
    }

    .l7 {
        animation-delay: 4.6s;
    }

    .text {
        max-width: 588px;
        margin: 0 auto;
        color: $whiteF8;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: -0.24px;
        transform: translateY(-10px);
        opacity: 0;

        animation-name: transformOpacity;
        animation-duration: 1s;
        animation-delay: 6.5s;
        animation-fill-mode: forwards;

        @include media('<tablet'){
            font-size: 16px;
        }
    }

    .down-btn {
        position: absolute;
        bottom: -147px;
        left: 50%;
        transform: translate(-50%);
        width: 295px;
        height: 294px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.70);
        z-index: 1;

        @include media('<tablet'){
            width: 194px;
            height: 194px;
            bottom: -97px;
        } 

        &:hover {
            
            .arrow {
                top: 70px;

                @include media('<tablet'){
                    top: 45px;
                }
            }

        }

        .arrow {

            @include media('<tablet'){
                top: 35px;
                height: 30px;
            }
        }
    }

    .arrow {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%);
        transition: $animation-speed;
    }
}

/* -------------------------circle-section------------------- */

.circle-section {
    padding: 135px 0;

    .block {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .item {
        position: relative;
        @include adaptiv-vaule("width", 580, 96, 1);
        @include adaptiv-vaule("height", 580, 96, 1);
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.70);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: $black01;
        padding: 20px;

        .cir {
            position: absolute;
            width: 149px;
            height: 149px;
            background: rgb(1,1,1);
            background: radial-gradient(circle, rgba(1,1,1,1) 0%, rgba(1,1,1,0) 100%);
            z-index: 1;
        }

        .cir1 {
            top: 7%;
            left: -2%;
        }

        .cir2{
            bottom: 7%;
            left: -2%;
        }

        .cir3 {
            top: 7%;
            right: -4%;
        }

        .cir4{
            bottom: 7%;
            right: -4%;
        }

        &.first {

            .text-wrap {
        
                @include media('<laptop'){
                    transform: translateX(30%);
                }         
            }
        }


        &.mid {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            z-index: 1;
            justify-content: center;
        }
    }


    .sub-title {
        position: relative;
        max-width: 374px;
        transform: translateY(20%);
        color: $whiteF8;
        @include adaptiv-vaule("font-size", 26, 16, 1);
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -0.52px;
        text-transform: uppercase;
        margin: 0;

        &::before {
            content:'';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            width: 100%;
            height: 150%;
            background: linear-gradient(180deg, rgba(1, 1, 1, 0.00) 0%, #010101 100%);
        }

    }

    .pink-title {
        color: $pink;
        font-size: 26px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -0.52px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    .text {
        color: $white;
        font-size: 40px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.4px;
        margin-bottom: 3px;

        span {
            color: $grayB9;
            text-transform: lowercase;
        }

        i {
            display: inline-block;
            transform: translate(-5px, -15px);
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 133%;
            letter-spacing: -0.24px;
        }
    }

    .sub-text {
        color: $gray76;
        font-size: 14px;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -0.28px;
        text-transform: lowercase;
    }

    &.circle2 {
        padding: 240px 0 200px 0;

        .first {

            .text-wrap {
        
                @include media('<laptop'){
                    transform: translateX(30%);
                }
                
            }
        }

        .last {

            .text-wrap {
        
                @include media('<laptop'){
                    transform: translateX(20%);
                }
                
            }
        }
    }
}

/* -------------------------mission-section------------------ */

.mission-section {
    position: relative;
    padding: 100px 0 0 0;
    min-height: 915px;

    &::after {
        content:'';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 500px;
        background: rgb(1,1,1);
        background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(1,1,1,0) 100%);
    }

    .bg {
        top: auto;
        bottom: 0;
        height: 80%;
    }

    .title-sc {
        max-width: 880px;
        margin: 0 auto 50px auto;
    }

    .sub-title {
        position: relative;
        color: $white;
        text-align: center;
        font-size: 80px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -1.6px;
        margin-bottom: 100px;

        &::before {
            content:'';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            width: 100%;
            height: 70%;
            background: linear-gradient(180deg, rgba(1, 1, 1, 0.00) 0%, #010101 100%);
        }
    }
}

/* -----------------------application-section---------------- */

.application-section {
    position: relative;
    min-height: 1000px;
    padding: 120px 0;

    &::after {
        content:'';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background: rgb(1,1,1);
        background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(1,1,1,0) 100%);
    }

    .title-sc {
        max-width: 655px;
        text-align: left;
    }
    
}

/* ---------------------------form-section------------------- */

.form-section {
    padding: 115px 0;

    .title-sc {
        margin-bottom: 20px;
    }

    .text {
        max-width: 550px;
        margin: 0 auto 55px auto;
        color: $whiteF8;
        text-align: center;
        font-size: 26px;
        font-weight: 400;
        line-height: 126%;
        letter-spacing: -0.52px;
        opacity: .8;
    }

    form {
        width: 100%;
        max-width: 517px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 40px;
        column-gap: 25px;
        margin: 0 auto;
    }

    .label {
        width: 100%;
        color: $white;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.14px;
        text-transform: uppercase;

        &.l50 {
            width: 47%;

            @include media('<tablet'){
                width: 100%;
            }
        }
    }

    .input {
        width: 100%;
        background-color: transparent;
        padding: 0 0 10px 0;
        margin: 12px 0 0 0;
        color: $white;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.16px;
        border: none;
        border-bottom: 1px solid rgba($white, .4);
        transition: $animation-speed;
        outline: none;

        &::placeholder {
            color: $gray76;
        }

        &:focus {
            border-bottom: 1px solid $pink;
        }
    }

    option {
        background-color: $black01;
        color: $white;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.16px;
        border: none;
    }

    .form-btn {
        width: 100%;
        background-color: $pink;
        border: 1px solid $pink;
        padding: 20px;
        text-align: center;
        color: $black01;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        transition: $animation-speed;

        &:hover {
            color: $pink;
            background-color: transparent;
        }
    }
}