body {
    font-family: $MuseoSansCyrl;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn-big {
    width: 100%;
    max-width: 330px;
    padding: 18px;
    text-align: center;
    background-color: $orange; 
    border-radius: 10px;
    border:none;
    color: $white;
    font-size: 20px;
    transition: all .3s 0s;
    
    &:hover{
        box-shadow: 0 10px 40px 10px hsla(39, 100%, 58%, 0.45);
    }
}

.btn-more {
    width: 100%;
    max-width: 135px;
    padding: 18px;
    border-radius: 10px;
    background-color: hsla(210, 100%, 55%, 0.27);
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: $blue-focus;
    transition: all .3s 0s;

    &:hover {
        background-color: hsl(210, 100%, 55%);
        color: $white;
    }
}

.btn-auto {
    width: 100%;
    max-width: 340px;
    padding: 18px;
    border-radius: 10px;
    border: 1px solid $orange;
    color: $black;
    font-size: 20px;
    text-align: center;
    display: block;
    transition: all .3s 0s;

    &:hover {
        background-color: $orange;
        color: $white;
        transition: all .3s 0s;
    }
}

.mob-btn {
    display: none;
    width: 100%;
    max-width: 340px;
    padding: 18px;
    border-radius: 10px;
    background-color: hsla(210, 100%, 55%, 0.27);
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: $blue-focus;
    margin: 0 auto;
    margin-top: 20px;

    @include media ("<phone") {
        display: block;
    }
}

.citi-list{
    position: relative;
}

.citi-list__title {
    display: block;
    padding: 18px 20px;
    width: 100%;
    height: 100%;
    color: $gray-text;

    &:hover, &:focus {
        color: $black;
    }
}

.citi-list__ul {
    display: none;
    position: absolute;
    list-style: none;
    padding:18px;
    margin: 0;
    background-color: $white;
    width: 100%;
    top: 70px;
    left: 0;
    z-index: 5;
    border-radius: 10px;

    .citi-list__li{
        margin-bottom: 10px;

        &:last-child{
            margin-bottom: 0;
        }

        a {
            &:hover{
                color: $blue-focus;
            }
        }
    }
}

.citi-list__ul_active{
    display: block;
}

.clock-list{
    width: 50%;
}

.clock-list__title{
    display: flex;
    justify-content: space-between;

    i{
        padding-top: 4px;
    }
}

.clock-list__ul{
    width: 1000%;
    max-width: 330px;
    top: 75px;
    left: -165px;
    flex-wrap: wrap;
    display: none;
    padding-top: 65px;

    .clock-list__ul__title{
        position: absolute;
        top: 25px;
        left: 75px;
        font-size: 20px;
        color: $gray-text;
        
        span{
            font-weight: 900;
            color: $black;
        }
    }
}

.clock-list__ul_active{
    display: flex;
}

.clock-list__li{
    width: 1000px;
    max-width: 85px;
    text-align: center;
    padding: 9px;
    background-color: $gray-bg-cal;
    border-radius: 10px;
    margin: 6px;
    transition: all .3s 0s;
    
    &:hover{
        background-color: $orange;
        transition: all .3s 0s;

        a{
            color: $white;
        }
    }
}

/* ___________________________________main-section________________________________ */

.main {
    padding: 130px 0 90px 0;
    background: $gray-bg;
    position: relative;

    @include media ("<tablet-sm") {
        padding: 130px 0 0px 0;
    }

    @include media ('<phone'){
        padding: 90px 0 60px 0;
        background: none;
    }

    @include media ('<=xs-phone'){
        padding: 90px 0 0px 0;
    }

    &::after {
        content:'';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 27%;
        background: $blue;

        @include media ("<tablet") {
            width: 30%;
        }

        @include media ("<tablet-sm") {
            display: none;
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .main-content {
        display: flex;

        @include media ("<tablet-sm") {
            flex-direction: column;
            align-items: center;
        }
    }

    .main__text {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 740px;
        margin-bottom: 25px;

        @include media ('<tablet') {
            max-width: 460px;
        }
    }

    .main__title {
        line-height: 70px;
        box-sizing: border-box;

        @include media ('<desktop') {
            line-height: 50px;
            font-size: 40px;
        }

        @include media ('<tablet') {
            line-height: 50px;
            font-size: 35px;
        }

        @include media ('<phone') {
            line-height: 40px;
            font-size: 30px;
            width: 250px;

            span{
                font-size: 20px;
                line-height: 45px;
                color: $blue-focus;
                font-weight: normal;
            }
        }
    }

    .main__form{
        p {
            @include media ("<tablet-sm") {
                display: none;
            }
        }
    }

    .main__form_title {
        font-weight: 900;
        font-size: 20px;
        line-height: 37px;
        margin-bottom: 30px;
    }
    
    .main__form_item {
        border: 1px solid $gray;
        box-sizing: border-box;
        border-radius: 10px;
        position: relative;
        margin-bottom: 37px;
        max-width: 330px;
        display: flex;
        
        &:last-child {
            margin-bottom: 30px;
        }

        @include media ("<tablet-sm") {
            display: none;
        }
        
        p {
            position: absolute;
            top: -12px;
            left: 15px;
            font-size: 16px;
            line-height: 21px;
            padding: 0 5px;
            z-index: 2;
            margin: 0;
            background: $gray-bg;
        }
    }

    .data {
        display: flex;
        width: 50%;
        position: relative;
        
        &::before {
            content:'';
            position: absolute;
            top: 7px;
            right: 0;
            height: 40px;
            width: 1px;
            background-color: rgba(140, 151, 170, 1);
            z-index: 2;
        }

        label {
            position: relative;
            cursor: pointer;
            color: $gray-text;
            transition: all .3s ease;
            padding: 18px 0;
            width: 100%;
            
            &:hover {
                color: $black;
                transition: all .3s ease;
                
                input {
                    &::placeholder {
                        color: $black;
                    }
                }
            }
            
            input {
                border-radius: 10px;
                border: none;
                background-color: $gray-bg;
                color: $gray-text;
                transition: all .3s ease;
                width: 100%;
                padding-left: 21px;
                
                &::placeholder {
                    color: $gray-text;
                    transition: all .3s ease;
                }

                &:focus {
                    &::placeholder {
                        color: $black;
                    }
                }
            }

            i {
                position: absolute;
                right: 20px;
                top: 20px;
                font-size: 16px;
            }
        }
    }
    
    .main__img {
        margin: -130px -150px 0 0;
        position: relative;
        width: 90%;

        @include media ('<widescreen') {
            margin: 0 0 0 0;
        }

        @include media ('<tablet') {
            height: 410px;
            width: 100%;
            max-width: 375px;
            margin-left: -90px;
            align-self: flex-end;
        }

        @include media ("<tablet-sm") {
            align-self: center;
            max-width: 100%;
            height: 545px;
            margin: 0;
            margin-top: -52px;
        }

        @include media ("<phone"){
            height: 330px;
        }
        
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;

            @include media ("<tablet-sm") {
                width: 75%;
                height: 75%;
                left: 50%;
                transform: translate(-50%);
            }

            @include media ("<phone"){
                width: 100%;
                height: 100%;
            }
        }
    }

    .btn-big{
        @include media ("<tablet-sm") {
            position: absolute;
            top: 490px;
            left: 50%;
            transform: translate(-50%);
            z-index: 10;
        }

        @include media ("<phone"){
            max-width: 290px;
            top: 445px;
        }

        @include media ("<xs-phone"){
            top: 365px;
        }
    }
}

/* ___________________________________calendar|||| */

#ui-datepicker-div {
    width: 330px;
    margin: 30px 0 0 -1px;
    border-radius: 10px;
    background: $white;
    border:none;
    font-family: $MuseoSansCyrl;

    .ui-datepicker-header {
        background: $white;
        border:none;
        margin: 20px;
        padding: 0;

        .ui-datepicker-prev, .ui-datepicker-next {
            border-radius: 50%;
            border: 1px solid  $gray-text;
            width: 20px;
            height: 20px;
            cursor: pointer;
            top: 11px;

            &::after {
                content:'';
                position: absolute;
                top: 6px;
                left: 7px;
                width: 0;
                height: 0;
                border-top: 3px solid transparent;
                border-bottom: 3px solid transparent;
            }

            span{
                display: none;
            }
        }

        .ui-datepicker-prev {
            &::after {
                left: 6px;
                border-right: 5px solid #8C97AA;
            }
        }

        .ui-datepicker-next {
            &::after {
                border-left: 5px solid #8C97AA;
            }
        }

        .ui-datepicker-title {
            font-size: 20px;

            span {
                color: $black;
                font-weight: 900;

                &:last-child {
                    font-weight: 400;
                    color: $gray-text;
                }
            }
        }
    }

    .ui-datepicker-calendar {
        margin: 0;
        margin-right: 0;

        thead{
            &::after {
                content:'';
                position: absolute;
                top: 105px;
                left: 50%;
                transform: translate(-50%);
                width: 90%;
                height: 1px;
                background-color: $gray-text;
            }

            th{
                padding: 0 10px 10px;
                
                span {
                    color: $gray-text;
                    font-size: 12px;
                }
            }
        }
        
        
        tbody {
            position: relative;
            margin: 0 11px;

            &::before {
                content:'';
                display: block;
                margin-top: 15px;
                width: 100%;
                height: 1px;
            }
    
            tr{
                border-radius: 10px;
                width: 100%;

                td{
                    opacity: 1;
                    padding: 0;

                    span, a {
                        border: none;
                        padding: 10px;
                        font-size: 12px;
                        text-align: center;
                        max-width: 37px;
                        max-height: 35px;
                        margin-right: 0;
                        margin: 0 auto;
                    }
    
                    span {
                        background: $gray-bg-cal;
                    }

                    a {
                        background: $white;
                    }

                    .ui-state-highlight {
                        border: 1px solid $blue-focus;
                        box-sizing: border-box;
                        border-radius: 10px;
                    }
                    
                    .ui-state-active {
                        background: $orange;
                    }
                }
            }
        }
    }
}
/* ___________________________________auto_____________________________ */

.auto{
    padding: 60px 0 100px 0;

    @include media ("<tablet") {
        padding: 60px 0 80px 0;
    }

    @include media ("<phone") {
        padding: 50px 0 25px 0;
    }

    .auto-content {
        display: flex;
        flex-direction: column;
    }

    .auto__item {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 95px;

        &:last-child {
            margin-bottom: 0;
        }

        @include media ("<phone") {
            margin-bottom: 50px;
        }
    }

    .auto__item__title {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        @include media ("<=900px") {
            flex-direction: column;
            align-items: flex-start;
        }

        @include media ("<phone") {
            margin-bottom: 45px;
        }

        h3 {
            margin-bottom: 0;

            @include media ("<=900px") {
                font-size: 30px;
                margin-bottom: 30px;
            }
        }

        .citi-list {
            @include media ("<=900px") {
                margin: 0;
            }
        }

        .indefinite {
            min-width: 250px;
        }
    }

    .citi-list {
        width: 100%;
        max-width: 320px;
        border-radius: 10px;
        border: 1px solid $gray;
        margin: 0 25px;
        transition: all .3s 0s;

        &:hover {
            transition: all .3s 0s;
            .citi-list__title {
                color: $black;

                i{
                    color: $black;
                }
            }
        }

        &:active {
            border: 1px solid $blue-focus;
            transition: all .3s 0s;
            .citi-list__title {
                color: $black;

                i{
                    color: $blue-focus;
                }
            }
        }
    }

    .citi-list__title {
        font-size: 20px;
        line-height: 24px;
        color: $gray;
        display: flex;
        justify-content: space-between;

        i {
            transition: all .3s 0s;
            font-size: 20px;
            color: $gray;
        }
    }

    .btn-more {
        position: absolute;
        right: 0;

        @include media ("<tablet-sm") {
            display: none;
        }
    }
}

.slider-auto {
    padding: 0 20px;

    @include media ("<phone") {
        padding: 0;
    }

    .slick-list {
        overflow: hidden;
    }

    .slick-track{
        display: flex;
    }

    .slick-arrow{
        position: absolute;
        top: 15px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid $gray-text;
        font-size: 0;
        transition: all .3s 0s;
        z-index: 10;

        &::after {
            content: '';
            position: absolute;
            top: 12px;
            left: 13px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
        }

        &:hover{
            border: 1px solid $blue-focus;
            transition: all .3s 0s;
        }

        @include media ("<tablet"){
            top: 60%;
        }
    }

    .slick-prev{
        right: 215px;
        &::after {
            left: 12px;
            border-right: 8px solid #8C97AA;
        }

        @include media ("<tablet"){
            left: 0;
        }
    }

    .slick-next {
        right: 165px;
        &::after {
            border-left: 8px solid #8C97AA;
        }

        @include media ("<tablet"){
            right: 0;
        }
    }

    .slick-disabled {
        opacity: 50%;
    }

    .slider-auto__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media ("<tablet") {
            align-items: center;
        }

        @include media ("<=xs-phone") {
            align-items: flex-start;
        }
    }

    .slider-auto__item_title {
        display: flex;
        align-items: center;
        margin-bottom: 45px;

        h4 {
            margin-bottom: 0;
            margin-left: 10px;
        }
    }

    .slider-auto__item_icon {
        display: flex;
        font-size: 16px;
        
        p{
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }

        i {
            font-size: 18px;
            margin-right: 13px;
            color: $blue-focus;
        }
    }

    .slider-auto__item_img {
        position: relative;
        height: 100vh;
        max-height: 215px;
        width: 100%;
        max-width: 322px;
        overflow: hidden;
        margin-bottom: 30px;

        @include media ("<phone") {
            max-height: 200px;
        }

        @include media ("<=xs-phone") {
            max-height: 185px;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
        }
    }
}

/* ___________________________________instruction_____________________________ */

.instruction {
    padding: 100px 0;
    background: url(../images/bg-img/actions-bg.png) center/cover no-repeat;
    background-color: $blue-bg;

    @include media ("<tablet"){
        background: none;
        background-color: $blue-bg;
        padding: 60px 0 90px 0;
    }

    @include media ("<phone"){
        padding: 40px 0 55px 0;
    }

    .instruction-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .instruction__title {
        width: 100%;
        max-width: 660px;
        color: $white;
        text-align: center;
        margin-bottom: 45px;

        h2 {
            margin-bottom: 10px;

            @include media ("<tablet"){
                font-size: 35px;
            }

            @include media ("<phone"){
                font-size: 25px;
            }
        }

        p{
            margin-bottom: 0;
            color: $white-text;
            font-size: 20px;
        }
    }

    .instruction__main {
        display: grid;
        gap: 60px;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        width: 100%;
        align-items: center;

        @include media ("<phone"){
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        }
    }

    .instruction__main_item {
        display: flex;

        @include media ("<=749px"){
            justify-content: center;
        }
    }

    .instruction__main_circle {
        min-width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 19px solid #4B8FFF;
        background-color: $blue;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7px;

        &::before {
            content: '';
            position: absolute;
            background-color: $blue-bg;
            z-index: 1;
            height: 70px;
            width: 2px;
            left: 50%;
            top: -19px;
            transform: translateX(-50%);
        }

        &::after {
            content: '';
            position: absolute;
            background-color: $blue-bg;
            z-index: 1;
            height: 2px;
            width: 70px;
            left: -19px;
            top: 50%;
            transform: translateY(-50%);
        }

        .circle-text {
            z-index: 2;
            color: $orange;
        }

        .circle-bg {
            content: '';
            position: absolute;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 19px solid $orange;
            box-sizing: border-box;
            top: -19px;
            right: -19px;
            border-color: $orange transparent transparent transparent;
            transform: rotate(45deg);
        }

        .circle-bg-swadow {
            content: '';
            position: absolute;
            filter: blur(12px);
            z-index: 2;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 19px solid $orange;
            box-sizing: border-box;
            top: -19px;
            right: -19px;
            border-color: $orange transparent transparent transparent;
            transform: rotate(45deg);
        }
    }

    .circle2{
        .circle-bg {
            border-color: $orange $orange transparent transparent;
            transform: rotate(45deg);
        }

        .circle-bg-swadow {
            border-color: $orange $orange transparent transparent;
            transform: rotate(45deg);
        }
    }

    .circle3{
        .circle-bg {
            border-color: $orange $orange $orange transparent;
            transform: rotate(45deg);
        }

        .circle-bg-swadow {
            border-color: $orange $orange $orange transparent;
            transform: rotate(45deg);
        }
    }

    .circle4{
        .circle-bg {
            border-color: $orange;
            transform: rotate(45deg);
        }

        .circle-bg-swadow {
            border-color: $orange;
            transform: rotate(45deg);
        }
    }

    .instruction__main_title {
        margin-left: 30px;
        max-width: 220px;
        color: $white;

        h4{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 10px;

            @include media ("<phone"){
                font-size: 16px;
                line-height: 24px;
            }
        }

        p{
            font-size: 16px;
            line-height: 24px;
            color: $white-text;
            margin-bottom: 0;

            @include media ("<phone"){
                font-size: 14px;
                line-height: 21px;
            }
        }
    }

    .btn-big {
        max-height: 60px;
    }
}

/* ___________________________________offer________________________________ */

.offer {
    padding: 100px 0 105px 0;
    position: relative;

    @include media ("<tablet"){
        padding: 80px 0 200px 0;
    }

    @include media ("<phone"){
        padding: 45px 0 80px 0;
    }

    .offer-content {
        display: flex;
        justify-content: space-between;

        @include media ("<tablet"){
            flex-direction: column;
        }
    }

    .offer__title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 550px;
        margin-right: 20px;

        @include media ("<tablet"){
            max-width: 100%;
        }

        h3 {
            margin-bottom: 30px;

            @include media ("<tablet"){
               font-size: 30px;
            }

            @include media ("<phone"){
                font-size: 25px;
                margin-bottom: 20px;
            }
        }

        p{
            font-size: 16px;
            line-height: 24px;

            @include media ("<tablet"){
                margin-bottom: 40px;
            }

            @include media ("<phone"){
                font-size: 14px;
                margin-bottom: 35px;
            }
        }
    }

    .offer__icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 420px;

        @include media ("<tablet"){
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 100%;
        }

        @include media ("<=700px"){
            justify-content: center;
        }
    }

    .offer__icon__item {
        display: flex;
        align-items: center;
        margin-bottom: 55px;

        &:last-child{
            margin-bottom: 0;
        }

        @include media ("<tablet"){
            max-width: 325px;
            margin-bottom: 30px;
        }

        @include media ("<=700px"){
            max-width: 100%;
        }

        i{
            font-size: 48px;
            color: $blue-bg;
        }
    }

    .offer__icon__item_text{
        display: flex;
        flex-direction: column;
        margin-left: 35px;

        h4 {
            margin-bottom: 7px;

            @include media ("<phone"){
                font-size: 16px;
                line-height: 24px;
            }
        }

        p {
            margin-bottom: 0;
            font-size: 16px;

            @include media ("<phone"){
                font-size: 14px;
                line-height: 21px;
            }
        }
    }

    .btn-big {
        @include media ("<tablet"){
            position: absolute;
            bottom: 85px;
            left: 15px;
        }

        @include media ("<=700px"){
            left: 50%;
            transform: translate(-50%);
        }

        @include media ("<phone"){
            display: none;
        }
    }
}

/* ___________________________________info______________________________ */

.info{
    padding: 0 0 80px 0;

    @include media ("<tablet"){
        padding: 0 0 75 0;
        position: relative;

        &::before {
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #DCE2E5;
        }
    }

    .info__item{
        position: relative;
    }

    .info__item__title {
        display: flex;
        position: relative;
        margin-bottom: 45px;
        align-items: center;
        justify-content: space-between;

        h3 {
            margin-bottom: 0;
        }

        .indefinite{
            width: 125px;
            height: 100%;
        }

        .btn-more {
            max-width: 160px;
        }
    }

    .slider-info {
        padding: 0;

        .slick-prev {
            right: 250px;

            @include media ("<tablet"){
                left: 0;
                top: 55%;
            }

            @include media ("<phone"){
                left: 0;
                top: 45%;
            }
        }

        .slick-next {
            right: 200px;

            @include media ("<tablet"){
                right: 0;
                top: 55%;
            }

            @include media ("<phone"){
                right: 0;
                top: 45%;
            }
        }
    }

    .slider-info__item{
        padding: 0 10px;

        &:first-child {
            padding: 0 10px 0 0;

            @include media ("<tablet"){
                padding: 0 10px;
            }
        }

        &:last-child {
            padding: 0 0 0 10px;

            @include media ("<tablet"){
                padding: 0 10px;
            }
        }

        h4{
            line-height: 30px;
            margin-bottom: 0;  
        }
    }

    .slider-info__item_img {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .btn-more {
        @include media ("<tablet"){
            display: none;
        }
    }
}