#footer {
    padding: 30px 0 35px 0;
    background-color: $blue-bg;
    color: $white;

    
    .footer-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;

        @include media ("<=950px"){
            height: 150px;
        }
    }

    .footer__social {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
    }

    .footer__social__link {
        margin: 20px 0 0 0;

        a{
            font-size: 25px;
            color: $white-text;
            transition: all .3s 0s;
            margin-right: 15px;
            color: $white-text;

            &:last-child{
                margin-right: 0;
            }

            &:hover{
                color: $white;
            }
        }
    }

    .footer__address{
        width: 100%;
        max-width: 275px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-right: 15px;

        @include media ("<=950px"){
            position: absolute;
            right: 0;
            top: 50%;
            margin-right: 0;
            max-width: 215px;
        }
    }

    .footer__phone{
        display: flex;
        margin-right: 15px;

        @include media ("<=950px"){
            flex-direction: column;
        }

        .footer__phone_wrap{
            display: flex;
            flex-direction: column;
            margin-right: 24px;

            @include media ("<=950px"){
                margin-bottom: 25px;

                a{
                    margin-bottom: 25px;
                }
            }
        }

        a{
            color: $white;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            transition: all .3s 0s;
            margin-bottom: 20px;

            &:hover{
                color: $white-text;
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    .footer__work{
        display: flex;
        flex-direction: column;

        p{
            font-size: 16px;
            line-height: 19px;
            color: $white-text;
            margin-bottom: 20px;
            opacity: 55%;
        }

        .footer__work__day{
            color: $white-text;
            opacity: 100%;
            margin-bottom: 0;

            span{
                color: $orange;
            }
        }
    }
}