<header id="header">
    <div class="container">
        <div class="content">
            <button class="burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <nav class="menu-wrap"> 
                <ul class="menu">
                    <li class="menu-item first-item"><a class="link link-close" href="index.html#header">Main page</a></li>
                    <li class="menu-item"><a class="link link-close" href="menu-page.html">Menu</a></li>
                    <li class="menu-item"><a class="link link-close" href="#footer">contact us</a></li>
                </ul>
                <div class="info">
                    <p class="info-title">We work every day!</p>
                    <p class="text">
                        <img src="./images/icons/time.svg" alt="icon">
                        11AM - 11PM
                    </p>
                    <a class="text link link-close" href="https://goo.gl/maps/CJL1uu2NhiBzx9ru5" target="_blank">
                        <img src="./images/icons/geo.svg" alt="icon">
                        31 Nw 9th Street, Miami, 33136
                    </a>
                    <a class="text link link-close" href="mailto:meatingburgers90@gmail.com">
                        <img src="./images/icons/mail.svg" alt="icon">
                        meatingburgers90@gmail.com
                    </a>
                </div>
            </nav>
            <a class="logo" href="index.html">
                <img src="./images/icons/logo.svg" alt="logo">
            </a>
            <a class="phone-icon" href="tel:7868811473">
                <img src="./images/icons/phone.svg" alt="icon phone">
            </a>
            <div class="contact-wrap">
                <div class="block">
                    <p class="title">Phone</p>
                    <a class="text link link-close" href="tel:7868811473">
                        <img src="./images/icons/phone.svg" alt="icon phone">
                        786-881-1473
                    </a> 
                </div>
                <div class="block">
                    <p class="title">We work every day</p>
                    <p class="text">
                        <img src="./images/icons/time.svg" alt="icon">
                        11AM - 11PM
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>