<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer__logo">
                <a href="#"><img src="./images/logo/white-logo.svg" alt="logo"></a>
                <p>© 2021  All rights reserved.</p>
            </div>
            <nav class="footer__menu">
                <ul>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contaсt</a></li>
                </ul>
            </nav>
            <div class="footer__contacts">
                <div class="footer__contacts_phone">
                    <a href="#">Contaсt</a>
                    <div class="phone-wrap">
                        <a href="tel:+49 511 9427 4163"><i class="icon-phone"></i> +49 511 9427 4163</a>
                        <a href="mailto:z@z-it.co"><i class="icon-email1"></i>z@z-it.co</a>
                    </div>
                </div>
                <div class="footer__contacts_social">
                    <h4>Social networks</h4>
                    <div class="social-wrap">
                        <a href="#" target="_blank"><i class="icon-facebook"></i></a>
                        <a href="#" target="_blank"><i class="icon-linkedin"></i></a>
                        <a href="#" target="_blank"><i class="icon-xing"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer__confid">
                <a href="#"><h5>Datenschutz</h5></a>
                <a href="#"><h5>Impressum</h5></a>
            </div>
        </div>
    </div>
</footer>