<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer__logo">
                <a href="#"><img src="./images/logo/footer-logo.svg" alt="logo"></a>
            </div>
            <div class="footer__cookies">
                <p>Datenschutz</p>
                <p>Cookies</p>
            </div>
            <div class="footer__social">
                <a href="#"><i class="icon-facebook"></i></a>
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-xing"></i></a>
            </div>
            <div class="footer__phone">
                <a href="tel:+380000000000 "> <i class="icon-phone"></i> +38 000 000 00 00</a>
            </div>
            <div class="footer__reserved">
                <p>© 2021  All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>