<div id="popup-form" class="popup-form">
    <a href="#" class="popup-form__area"></a>
    <div class="popup-form__body">
        <div class="popup-form__content">
            <a href="#" class="popup-form__close">X</a>
            <h2>Contact form</h2>
            <div class="popup-form__form form">
                <form id="form" action="#">
                    <div class="form__name">
                        <input type="text" placeholder="First name">
                        <input type="text" placeholder="Last name">
                    </div>
                    <input type="text" placeholder="Project name">
                    <input type="email" placeholder="Email adress">
                    <textarea placeholder="Message"></textarea>
                    <p>You are providing your contact information to Z-IT for marketing purposes. You may unsubscribe from these communications at anytime. By clicking send button you agree to our <a href="#">Privacy Policy.</a></p>
                    <button class="form__btn" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>