body {
    font-family: $LotaAlt1;
    background-color: $black16;
}

.body_lock{
    overflow: hidden;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1162px;
    padding: 0 16px;
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 19px;
    border: 2px solid $beige;
    border-radius: 24px;
    text-align: center;
    font-family: $LotaAlt1;
    font-size: 16px;
    font-weight: 600;
    line-height: 0;
    color: $beige;
    text-transform: uppercase;
    transition: all .3s ease 0s;

    svg {
        fill: $beige;
        transition: all .3s ease 0s;
    }

    &:hover {
        color: $whitef4;
        border: 2px solid $whitef4;

        svg {
            fill: $whitef4;
        }
    }
}

.main-section {
    padding: 60px 0 80px 0;

    @include media('<tablet'){
        padding: 80px 0;
    }

    .container {
        text-align: center;
    }

    .main-title {
        margin-bottom: 12px;
        font-family: $Recoleta;
        font-weight: 400;
        @include adaptiv-vaule("font-size", 272, 120, 1);
    }

    .main-sub-title {
        max-width: 720px;
        margin: 0 auto 42px auto;
        line-height: 1.5;
        @include adaptiv-vaule("font-size", 24, 18, 1);

        @include media('<tablet'){
            margin: 0 auto 36px auto;
        }
    }
}

.video-section {
    position: relative;
    @include adaptiv-vaule("min-height", 706, 653, 1);

    &::before {
        content:'';
        position: absolute;
        width: 100%;
        height: 130px;
        background: rgb(23,21,22);
        background: linear-gradient(0deg, rgba(23,21,22,0) 0%, rgba(23,21,22,1) 100%);
        z-index: 1;
    }

    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.slider-section {
    padding: 130px 0;

    .slide {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

    .text-box {
        max-width: 325px;
    }

    .title {
        margin-bottom: 11px;
        font-family: $Recoleta;
        font-weight: 400;
        line-height: 1.2;
        @include adaptiv-vaule("font-size", 46, 30, 1);
    }

    .text {
        font-family: $LotaAlt1;
        font-weight: 400;
        line-height: 1.6;
    }

    .slider-pag {
        display: flex;
        gap: 5px;
        margin-bottom: 20px;

        .swiper-pagination-bullet {
            width: 36px;
            height: 2px;
            border-radius: 0;
            background-color: rgba(254, 251, 244, 1);
            margin: 0 !important;
        }

        .swiper-pagination-bullet-active {
            background-color: rgba(216, 168, 139, 1);
        }
    }
}

.transform-section {
    padding: 120px 0;
    background: linear-gradient(180deg, rgba(23, 21, 22, 0.8) 4.29%, rgba(89, 82, 77, 0.8) 100%);


    @include media('<tablet'){
        padding: 80px 0;
    }

    .container {
        text-align: center;
    }

    .title {
        max-width: 960px;
        margin: 0 auto 26px auto;
        font-family: $Recoleta;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: -1px;
        @include adaptiv-vaule("font-size", 60, 36, 1);
    }

    .text {
        padding: 20px 0;
        margin: 0;
        font-family: $LotaAlt1;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
    }
}