html {
    scroll-behavior: smooth;
}

#test {
    max-width: 500px;
}

.phone-anim {
    position: absolute;
    z-index: 5;
    top: calc(50% + 25px);
    left: calc(50% + 13px);
    transform: translate(-50%, -50%);

    @include media('<desktop'){
        display: none;
    }
}

#lastFrame {
    width: 363px;
    height: 737px;
    position: absolute;
    right: 3px; 
    top: -2px;

    @include media('<tablet'){
        width: 246px;
        height: 497px;
        right: 1px;
        top: 0px;
    }
}

.json-anim {
    max-width: 380px;
}

.d-none {
    display: none !important;
}

.hidden {
    visibility: hidden !important;

    @include media('<desktop'){
        visibility: visible !important;
    }
}

body {
    font-family: $LotaAlt1;
    background-color: $black16;
}

.body_lock{
    overflow: hidden;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1162px;
    padding: 0 16px;
    margin: 0 auto;
}

.btn {
    padding: 5px 19px;
    border: 2px solid $beige;
    border-radius: 24px;
    text-align: center;
    font-family: $LotaAlt1;
    font-size: 16px;
    font-weight: 600;
    color: $beige;
    text-transform: uppercase;
    transition: all .3s ease 0s;

    svg {
        fill: $beige;
        transition: all .3s ease 0s;
    }

    &:hover {
        color: $whitef4;
        border: 2px solid $whitef4;

        svg {
            fill: $whitef4;
        }
    }
}

.store {
    position: relative;
    display: inline-block;

    &::after {
        content:'';
        position: absolute;
        top: -5px;
        left: -4px;
        width: 142px;
        height: 54px;
        z-index: -1;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(23, 21, 22, 0.8) 4.29%, rgba(89, 82, 77, 0.8) 100%);
        transition: all .3s ease 0s;
    }

    &:hover {
        &::after {
            transform: scale(1.1);
        }
    }
}

.qr {
        
    @include media('<phone'){
        display: none;
    }

    p {
        max-width: 113px;
        margin: 12px auto 0 auto;
        font-family: $LotaAlt1;
        font-weight: 400;
        font-size: 12px;
        color: #c8c4c2;
    }
}

.main-section {
    padding: 80px 0;

    @include media('<tablet'){
        padding: 85px 0;
    }

    .container {
        text-align: center;
        opacity: 0;
        animation: opacity 4s ease-in forwards;

        @keyframes opacity {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 100%;
            }
        }
    }

    .main-title {
        margin: 0;
        font-family: $Recoleta;
        font-weight: 400;
        line-height: 0.8;
        @include adaptiv-vaule("font-size", 272, 120, 1);
    }

    .main-sub-title {
        margin-bottom: 52px;
        line-height: 1.5;
        color: #c8c4c2;
        @include adaptiv-vaule("font-size", 32, 20, 1);

        span {
            color: $whitef4;
        }

        @include media('<tablet'){
            margin: 0 auto 36px auto;
        }
    }

    .store {
        display: none;

        @include media('<phone'){
            display: inline-block;
        }
    }
}

.sec-section {
    position: relative;
    margin: 80px 0 230px 0;
    @include adaptiv-vaule("min-height", 706, 289, 1);

    @include media('<desktop'){
        margin: 0;
    }

    &::before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 130px;
        background: linear-gradient(0deg, rgba(23, 21, 22, 0) 0%, #171516 100%);
        z-index: 1;
    }

    &::after {
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 345px;
        background: linear-gradient(180deg, rgba(23, 21, 22, 0) 0%, #171516 100%);
        z-index: 1;

        @include media('<tablet'){
            display: none;
        }
    }

    .grad {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(23, 21, 22, 0.25);

        @include media('<phone'){
            display: none;
        }
    }

    .img-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .tablet-pnone {
        display: none;
        position: absolute;
        top: 20px;
        left: 50%;
        @include adaptiv-vaule("width", 330, 100, 1);
        transform: translate(-50%) rotate(5deg);

        @include media('<desktop'){
            display: block;
        }

        @include media('<tablet'){
            display: none;
        }
    }
}

.slider-section {
    padding: 130px 0;

    @include media('<tablet'){
        padding: 100px 0;
    }

    .swiper {
        display: flex;
        justify-content: space-between;

        @include media('<tablet'){
            flex-direction: row-reverse;
            align-items: flex-end;
        }
    }

    .slider-nav {
        position: relative;
        width: 30% !important;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 10px 0 0 0;
        margin: 0;
        list-style: none;
        counter-reset: my-awesome-counter;
        z-index: 2;

        @include media('<desktop'){
            width: 50% !important;
        }

        @include media('<tablet'){
            width: 40px !important;
        }
    }

    .swiper-pagination-bullet{
        position: relative;
        width: 100%;
        max-width: 308px;
        height: auto !important;
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        counter-increment: my-awesome-counter;
        background: none;
        transition: margin-bottom 1.2s ease 0s;

        @include media('<tablet'){
            margin-bottom: 40px !important;
        }

        &::before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 24px;
            border-radius: 12px;
            background-color: rgba(200, 196, 194, 1);
            transition: all 1.2s ease 0s;

            @include media('<tablet'){
                height: 36px;
                left: auto;
                right: 0;
            }
        }

        &::after {
            content: "Step " counter(my-awesome-counter);
            position: absolute;
            top: 8px;
            left: 10px;
            font-family: $LotaAlt1;
            font-weight: 400;
            font-size: 16px;
            color: rgba(200, 196, 194, 1);
            transition: all 1.2s ease 0s;

            @include media('<tablet'){
                top: 0;
                left: -4px;
                text-align: left;
            }
        }

        h2 {
            font-family: $Recoleta;
            font-weight: 400;
            line-height: 1.2;
            color: $whitef4;
            font-size: 0;
            margin: 0;
            opacity: 0;
            transition: opacity 1.2s ease 0s;
            padding-top: 30px;

            @include media('<tablet'){
                display: none;
            }
        }
    }

    .title {
        min-height: 120px;
        text-align: center;
        font-family: $Recoleta;
        font-weight: 400;
        line-height: 1.2;
        color: $whitef4;
        font-size: 28px;
        margin: 0;
        display: none;

        @include media('<tablet'){
            display: block;
        }

        @include media('<phone'){
           text-align: left;
        }
    }

    .swiper-pagination-bullet-active {

        @include media('>tablet'){
            margin-bottom: 150px !important;
        }

        h2 {
            @include adaptiv-vaule("font-size", 38, 30, 1);
            opacity: 1;
        }

        &::before {
            background-color: $beige;

            @include media('>tablet'){
                top: 8px;
                left: 12px;
                transform: rotate(90deg);
            }
        }

        &::after {
            color: $beige;

            @include media('>tablet'){
                top: 8px;
                left: 40px;
            }
        }
    }
    
    .swiper-wrapper  {
        width: 30%;

        @include media('<desktop'){
            width: 50%;
        }
    }

    .clock-wrap {
        width: 30%;

        @include media('<desktop'){
            display: none;
        }
    }

    .clock-arrow {
        position: absolute;
        height: 220px;
        z-index: 1;
    }

    .clock {
        position: relative;
        z-index: -1;
    }

    .slide {
        opacity: 0 !important;
        z-index: -1 !important;

        &:nth-child(2) {

            .gif-bg {
                transform: rotate(-30deg);
            }
        }

        &:nth-child(3) {

            .gif-bg {
                transform: rotate(-90deg);
            }
        }

        &:nth-child(4) {

            .gif-bg {
                transform: rotate(-120deg);
            }
        }

        &:nth-child(5) {

            .gif-bg {
                transform: rotate(-150deg);
            }
        }

        &:nth-child(6) {

            .gif-bg {
                transform: rotate(180deg);
            }
        }

        &:nth-child(7) {

            .gif-bg {
                transform: rotate(60deg);
            }
        }
    }

    .gif-wrap {
        position: relative;

        &::before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 150px;
            background: linear-gradient(180deg, #171516 0%, rgba(23, 21, 22, 0) 100%);
            z-index: 1;
            display: none;

            @include media('<tablet'){
                display: block;
            }
        }
    }

    .swiper-slide-active {
        opacity: 1 !important;
        z-index: 1 !important;
    }

    .gif {
        display: block;
        width: 368px;

        @include media('<tablet'){
            width: 249px;
            margin: 0 auto;
        }

        @include media('<phone'){
            margin: 0;
        }
    }

    .gif-bg {
        position: absolute;
        left: -15%;
        bottom: -10%;
        z-index: -1;

        @include media('<phone'){
           left: 0;
        }
    }

    
    .gifffer-play-button {
        display: none;
    }

    .text {
        font-family: $LotaAlt1;
        font-weight: 400;
        line-height: 1.6;
    }

    .slider-pag {
        display: flex;
        gap: 5px;
        margin-bottom: 20px;

        .swiper-pagination-bullet {
            width: 36px;
            height: 2px;
            border-radius: 0;
            background-color: rgba(254, 251, 244, 1);
            margin: 0 !important;
        }

        .swiper-pagination-bullet-active {
            background-color: rgba(216, 168, 139, 1);
        }
    }

    .autoplay-progress {
        position: absolute;
        right: 16px;
        bottom: 16px;
        z-index: 10;
        width: 210px;
        height: 210px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: $beige;
    }

    .autoplay-progress svg {
        --progress: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 10;
        width:205px;
        height:205px;
        stroke-width: 2px;
        stroke: $beige;
        fill: none;
        stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: translate(-50%, -50%) rotate(-90deg);
        z-index: -1;
        stroke-linecap: round;
    }
}

.transform-section {
    padding: 100px 0;
    background: linear-gradient(180deg, rgba(23, 21, 22, 0.8) 4.29%, rgba(89, 82, 77, 0.8) 100%);

    .container {
        text-align: center;
    }

    .title {
        margin-bottom: 18px;
        font-family: $Recoleta;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: -1px;
        @include adaptiv-vaule("font-size", 60, 36, 1);

        span {
            color: $beige;
        }
    }

    .sub-title {
        margin-bottom: 36px;
        font-family: $LotaAlt1;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: -1px;
        @include adaptiv-vaule("font-size", 32, 20, 1); 
    }

    .store {

        &::after {
            width: 157px;
            height: 58px;

            @include media('<phone'){
                display: none;
            }
        }

        img {
            width: 146px;
            height: 47px;

            @include media('<phone'){
                width: 166px;
                height: 53px;
            }
        }
    }

    .text {
        padding: 16px 0;
        margin: 0;
        font-family: $LotaAlt1;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;

        @include media('<phone'){
            display: none;
        }
    }
}

.form-section {
    position: relative;
    padding: 120px 0;
    overflow: hidden;

    @include media('<tablet'){
        padding: 80px 0;
    }

    .block {
        position: relative;
        width: 100%;
        max-width: 986px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 30px 90px 30px;
        margin: 0 auto;
        background-color: #2B2422;
        border-radius: 25px;
        overflow: hidden;

        @include media('<tablet'){
            padding: 0 16px 56px 16px;
            border-radius: 20px;
        }

        &::before {
            content:'';
            position: absolute;
            width: 100%;
            height: 90%;
            left: 0;
            top: 0;
            background: linear-gradient(0deg, rgba(23, 21, 22, 0) 0%, rgba(23, 21, 22, 1) 100%);
            z-index: 1;
        }
    }

    .dashed {
        position: absolute;
        width: 97%;
        max-width: 966px;
        height: 97%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include media('<tablet'){
            display: none;
            width: 98%;
            height: 99%;
        }
    }

    .mob {
        display: none;

        @include media('<tablet'){
            display: block;
        }
    }
    
    .title {
        max-width: 640px;
        margin-bottom: 73px;
        font-family: $Recoleta;
        text-align: center;
        font-weight: 400;
        line-height: 1.1;
        @include adaptiv-vaule("font-size", 60, 36, 1);
        z-index: 1;

        @include media('<tablet'){
            margin-bottom: 50px;
        }

        span {
            color: $beige;
        }
    }

    .form-wrap {
        width: 100%;
        max-width: 490px;
        z-index: 1;

        @include media('<tablet'){
            max-width: 100%;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        label {
            display: flex;
            flex-direction: column;
            gap: 6px;
            font-family: $LotaAlt1;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.1;
            color: $white;
            text-transform: uppercase;
        }

        .input {
            width: 100%;
            padding: 16px;
            border-radius: 20px;
            background-color: #352E2D;
            border: 1px solid #5D5D5D;
            font-family: $LotaAlt1;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.1;
            color: $white;

            &::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        textarea {
            height: 111px;
        }

        .btn-lab {
            display: block;
            width: 100%;
            max-width: 337px;
            border-radius: 56px;
            margin: 13px auto 0 auto;
            padding: 3px;
            border: 1px dashed rgba(216, 168, 139, 1);
        }

        .btn-form {
            display: block;
            width: 100%;
            max-width: 337px;
            border-radius: 48px;
            background-color: $beige;
            color: rgba(21, 25, 25, 1);
            padding: 13px;
            font-family: $LotaAlt1;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.7;
            border: none;
            transition: all .3s ease 0s;

            &:hover {
                background-color: $white;
            }
        }
    }

    .lines {
        position: absolute;       
        z-index: -1;

        @include media('>tablet'){
            left: 0;
            bottom: -70px;
        }

        @include media('<tablet'){
            top: -20%;
            right: -50%;
        }
    }
}