.overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease 0s;
}

.overflow_active {
    z-index: 0;
    visibility: visible;
    opacity: 1;
}

#header {
    position: relative;
    padding: 32px 0;
    z-index: 5;

    &::before {
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        height: 1px;
        display: none;
        background: rgb(160,129,110);
        background: linear-gradient(90deg, rgba(160,129,110,0) 0%, rgba(161,130,111,1) 50%, rgba(160,129,110,0) 100%);

        @include media('<tablet'){
            display: block;
        }
        
    }

    @include media('<tablet'){
        padding: 20px 0;
    }

    .container {
        max-width: 1392px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    .logo {
        font-family: $Recoleta;
        font-size: 27px;
        font-weight: 400;

        @include media('<tablet'){
            font-size: 24px;
        }
    }

    .menu-block {
        display: flex;
        align-items: center;

        @include media('<tablet'){
            position: absolute;
            top: 0;
            right: -100%;
            width: 40%;
            height: 100vh;
            min-height: 100vh;
            flex-direction: column;
            justify-content: space-between;
            padding: 140px 20px 100px 20px;
            transition: all .5s ease 0s;
            background-color: $black16;
            overflow: auto;
        }

        @include media('<tablet'){
            width: 60%;
        }

        @include media('<phone'){
            width: 100%;
        }

        .active & {
            right: 0;
        }
    }

    .menu-wrap {
        z-index: 1;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 52px;
        list-style: none;
        margin: 0;
        padding: 0;

        @include media('<desktop'){
            gap: 30px;
        }

        @include media('<tablet'){
            flex-direction: column;
        }
    }
        
    .link-close {
        font-family: $LotaAlt1;
        font-size: 16px;
        font-weight: 400;
        transition: all .3s ease 0s;

        &:hover {
            color: $beige;
        }
    }

    .active-link {

        .link-close {
            color: $beige;
        }
    }

    .btn {
        @include media('<tablet'){
            display: none;
        }
    }

    .mob {
        display: none;

        @include media('<tablet'){
            display: flex;
        }
    }
}

/* ---------------burger */

.burger{
    display: none;
    position: relative;
    width: 24px;
    height: 15px;
    z-index: 1;
    border: none;
    outline: none;
    background: none;

    @include media('<tablet'){
        display: block;
    }

    span{
        position: absolute;
        top: 6px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $white;
        border-radius: 10px;
        transition: all .7s ease 0s;
    }
    
    &::before, &::after{
        content:'';
        position: absolute;
        right: 0;
        height: 2px;
        width: 100%;
        background-color: $white;
        border-radius: 10px;
    }

    &::before{
        top: 0;
    }

    &::after{
        bottom: 0;
    }
}

.burger_active{

    span{
        opacity: 0;
    }
    
    &::before, &::after{
        animation-duration: .7s;
        animation-fill-mode: forwards;
    }
    
    &::before{
        animation-name: burger1;
    }

    &::after{
        animation-name: burger2;
    }

   @keyframes burger1 {
        0%{
            top: 0px;
        }

        40%{
            transform: rotate(0deg);
            top: 6px;
        }

        100%{
            transform: rotate(45deg);
            top: 6px;
        }
    }
    
    @keyframes burger2 {
        0%{
            bottom: 0;
        }

        40%{
            transform: rotate(0deg);
            bottom: 7px;
            width: 100%;
        }

        100%{
            transform: rotate(-45deg);
            bottom: 7px;
            width: 100%;
        }
    }
}

.burger_finish{

    &::before, &::after{
        animation-duration: .7s;
        animation-fill-mode: forwards;
    }

    &::before{
        animation-name: burger3;
    }

    &::after{
        animation-name: burger4;
    }

    @keyframes burger3 {
        0%{
            transform: rotate(45deg);
            top: 6px;
        }

        40%{
            transform: rotate(0deg);
            top: 6px;
        }

        100%{
            top: 0;
        }
    }
    
    @keyframes burger4 {
        0%{
            transform: rotate(-45deg);
            bottom: 6px;
            width: 100%;
        }

        40%{
            transform: rotate(0deg);
            bottom: 6px;
            width: 100%;
        }

        100%{
            bottom: 0;
        }
    }
}