.blog_page {
  padding-top: 100px;
  padding-bottom: 30px;

  // .container {
  //   max-width: 1440px;
  // }

  .title_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiv-vaule("margin-bottom", 70, 35, 1);
  }

  .blog_title {
    @include adaptiv-vaule("font-size", 132, 64, 1);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -3.96px;
    text-transform: uppercase;
  }

  .dropbtn {
    background-color: $black;
    color: $white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid $white;
    width: 155px;
    @include adaptiv-vaule("width", 155, 100, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;

    &:hover {
      img {
        transform: rotateX(180deg);
        transition: $transition_all_03;
      }
    }

    img {
      margin-right: 10px;
      transition: $transition_all_03;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 4;

    &:hover {
      .dropdown-content {
        transform: rotateX(0deg);
        opacity: 1;
        transition: $transition_all_03;
      }
    }
  }

  .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: max-content;
    background-color: $black;
    border: 1px solid $white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: rotateX(-90deg);
    opacity: 0;
    transform-origin: top;
    transition: $transition_all_03;
  }

  .dropdown_item {
    cursor: pointer;
    color: $white;
    font-size: 16px;
    padding: 18px;
    border-bottom: 1px solid $white;
    width: 100%;
    text-align: center;
    transition: $transition_all_03;

    &:hover {
      background-color: $white;
      color: $black;
      transition: $transition_all_03;
    }
  }

  .list {
    display: grid;
    justify-content: space-between;
    grid-template: 1fr / repeat(auto-fit, minmax(390px, 49.5%));
    row-gap: 20px;

    @include media ("<desktop") {
      grid-template: 1fr / repeat(auto-fit, minmax(340px, 49.5%));
    }

    @include media ("<tablet") {
      grid-template: 1fr / 1fr;
    }
  }


  .similar_post {
    position: relative;
    @include adaptiv-vaule("height", 410, 270, 1);
    padding: 10px 10px 30px 25px;

    &::after {
      content: '';
      position: absolute;
      transition: $transition_all_03;
      width: 100%;
      height: 150px;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(28, 28, 28, 0.00) 0%, #1C1C1C 100%);
    }

    &:hover {
      &::after {
        height: 100%;
        transition: $transition_all_03;
      }

      .post_text {
        padding-bottom: 20px;
        transition: $transition_all_03;
      }
    }
  }

  .post_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  .similar_post_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .post_text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: $transition_all_03;
  }

  .post_title {
    @include adaptiv-vaule("font-size", 24, 18, 1);
    font-weight: 600;
    line-height: 126%;
    letter-spacing: -0.24px;
    margin-bottom: 12px;
  }

  .category_name {
    color: $gray_A6;
    @include adaptiv-vaule("font-size", 16, 12, 1);
    font-weight: 500;
    line-height: 126%;
    letter-spacing: -0.16px;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    max-width: max-content;
    text-align: center;
    border: 1px solid $gray_A6;
    padding: 3px 8px;
  }
}