body {
    font-family: $SF-Pro-Display;
}

.body-lock {
    overflow: hidden;
}

.page {

    
    .nav-item {
        
        @include media ('>tablet') { 
            
            &:hover {
                background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' width='390px' height='50px' viewBox='0 0 390 50' enable-background='new 0 0 390 50' xml:space='preserve'%3e%3cpath fill='none' stroke='%23000' stroke-width='1.5' stroke-miterlimit='10' d='M0,47.585c0,0,97.5,0,130,0 c13.75,0,28.74-38.778,46.168-19.416C192.669,46.5,243.603,47.585,260,47.585c31.821,0,130,0,130,0' style='&%2310; /* stroke: %23000; */&%2310;'/%3e%3c/svg%3e");
                animation: line 1s;
            }
        }
    }
    
    .header-logo {
        
        .logo-link {
            color: $black;

            .header-logo-img {
                display: none;
            }
        }
    }

    .header-logo-active {

        .logo-link {
            color: $white;
        }
    }

    .header-nav{
        
        .nav-link {
            color: $black;
        }
    }
    
    .header-nav-active {

        .nav-link {
            color: #9F9F9F;
        }
    }

    .burger {

        .burger-item {
            background: $black;
        }
    }

    .burger-active {

        .burger-item {
            background: $white;
        }
    }

}

.container {
    width: 100%;
    max-width: 1390px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn-first, .btn-second {
    display: block;
    margin: 0 auto;
    max-width: 170px;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    background: url(../images/main-bg-red.png) center/cover no-repeat;
    /* background: $btn-first-color; */
    color: $white;
    font-size: 20px;
    line-height: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.5s ease 0s;

    &:hover {
        /* background: $btn-first-hover-color;
        color: $btn-first-hover-text-color; */
        background: url(../images/main-bg-blue.png) center/cover no-repeat;
        transition: all 0.5s ease 0s;
    }
}

.btn-second {
    background: $btn-second-color;
}

.btn-cards {
    color: $white;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 25px;
    transition: all 0.5s ease 0s;

    img {
        max-height: 9px;
        max-width: 5px;
        margin-left: 10px;
    }

    &:hover {
        font-size: 20px;
        transition: all 0.5s ease 0s;
    }
}

h3 {
    @include media ('<phone') {
        font-size: 24px;
    }
}

/* _____________________________main-section___________________________ */

#slider {
    width: 100%;
    height: 100vh;


    &::after {
        display: none;
    }

    .beer-reveal {

        &::after {
            display: none;
        }
    }

    .beer-handle {
        width: 14px;
        height: 81px;
        background: $white;
        border-radius: 5px;

        &::after, &::before {
            height: 100vh;
            width: 2px;
            background-color: $white;
            border: none;
            transform: none;
            left: 50%;
        }

        &::after {
            transform: rotateX(180deg);
        }
    }
}

.main-section {
    background:url(../images/main-bg-blue.png) center/cover no-repeat;
    height: 100vh;
    
    .blue-content {
        height: 900px;
        color: $white;
        position: relative;

        .main-title-blue {
            position: absolute;
            top: 290px;
            right: 140px;
            text-transform: uppercase;

            @include media ('<widescreen'){
                top: 245px;
                right: -170px;
                transform: rotate(90deg);
            }
        }

        i {
            position: absolute;
        }

        .icon-graph-circle {
            top: 175px;
            left: 60px;
            font-size: 70px;

            @include media ('<desktop'){
                left: 50px;
            }
        }

        .icon-graph {
            top: 120px;
            left: 410px;
            font-size: 60px;

            @include media ('<desktop'){
                left: 200px;
                top: 100px;
            }

            @include media ('<phone'){
                left: 120px;
            }
        }
        
        .icon-money {
            top: 310px;
            left: 180px;
            font-size: 90px;

            @include media ('<desktop'){
                left: 160px;
            }

            @include media ('<phone'){
                left: 30px;
            }
            
        }

        .icon-wifi {
            top: 560px;
            left: 60px;
            font-size: 80px;
        }

        .icon-bitcoin3 {
            top: 670px;
            left: 205px;
            font-size: 70px;

            @include media ('<desktop'){
                left: 200px;
            }

            @include media ('<phone'){
                left: 80px;
            }
        }

        .icon-bag-money {
            top: 155px;
            right: 250px;
            font-size: 68px;

            @include media ('<tablet'){
                right: 130px;
            }

            @include media ('<phone'){
                right: 70px;
            }
        }

        .icon-bitcoin {
            top: 435px;
            right: 120px;
            font-size: 80px;

            @include media ('<phone'){
                right: 60px;
            }
        }

        .icon-money2 {
            top: 600px;
            right: 265px;
            font-size: 95px;

            @include media ('<tablet'){
                right: 140px;
            }

            @include media ('<phone'){
                right: 20px;
            }
        }

        .icon-bitcoin2 {
            top: 735px;
            right: 65px;
            font-size: 55px;
        }
    }

    .red-section {
        background:url(../images/main-bg-red.png) center/cover no-repeat;
    }

    .red-content {
        height: 900px;
        color: $white;
        position: relative;
    }

    .main-title-red {
        position: absolute;
        top: 290px;
        left: 110px;
        text-transform: uppercase;

        @include media ('<widescreen'){
            top: 280px;
            right: none;
            left: -200px;
            transform: rotate(270deg);
        }
    }

    i {
        position: absolute;
    }

    .astronaut1 {
        top: 135px;
        left: 90px;
        font-size: 80px;
        transform: rotateY(180deg);
    }

    .icon-stars {
        top: 70px;
        left: 415px;
        font-size: 100px;
    }
    
    .icon-satellite {
        top: 470px;
        left: 130px;
        font-size: 120px;

        @include media ('<tablet'){
            left: 55px;
        }
    }

    .icon-planet {
        top: 720px;
        left: 75px;
        font-size: 60px;

        @include media ('<tablet'){
            top: 680px;
        }
    }

    .icon-rocket {
        top: 640px;
        left: 280px;
        font-size: 140px;

        @include media ('<tablet'){
            top: 795px;
            left: 60px;
        }
    }

    .icon-alien {
        top: 200px;
        right: 385px;
        font-size: 55px;

        @include media ('<tablet'){
            top: 285px;
            right: 300px;
        }

        @include media ('<phone'){
            right: 200px;
        }
    }

    .icon-meteorite {
        top: 150px;
        right: 70px;
        font-size: 70px;

        @include media ('<tablet'){
            top: 190px;
        }
    }

    .icon-ship {
        top: 360px;
        right: 65px;
        font-size: 80px;
    }

    .icon-circle {
        top: 600px;
        right: 55px;
        font-size: 75px;
    }

    .astronaut2 {
        top: 735px;
        right: 260px;
        font-size: 80px;

        @include media ('<tablet'){
            right: 5px;
        }
    }
}

/* _____________________________alex-section_____________________ */

.alex-section {
    padding: 50px 0 45px 0;

    .alex-main-title {
        text-align: center;
    }

    .alex-text-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 120px;

        @include media ('<desktop'){
            flex-direction: column;
        }
    }
    
    .text-astrophysics-wrap, .text-blockchain-wrap {

        @include media ('<desktop'){
            max-width: 70%;
        }

        @include media ('<tablet'){
            max-width: 85%;
        }

        @include media ('<phone'){
            max-width: 100%;
        }

        .text-astrophysics, .text-blockchain {
            color: $gray;
            text-align: justify;
            font-size: 16px;
            line-height: 25px;
        }
    }

    .text-astrophysics-wrap {
        margin-right: 35px;

        @include media ('<desktop'){
            order: 2;
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    .text-blockchain-wrap {
        margin-left: 35px;

        @include media ('<desktop'){
            order: 3;
            margin-left: 0;
        }
    }

    .slider-cub-wrap {
        max-width: 540px;
        width: 100%;

        @include media ('<desktop'){
            order: 1;
            margin-bottom: 35px;
        }

        .slider-nav-wrap {
            display: flex;
            margin-top: 30px;
            justify-content: center;

            .slider-cub-bullet {
                position: static;
                margin-top: 11px;
    
                @include media ('<tablet'){
                    display: none;
                }
            }
            
            .swiper-pagination-bullet{
                margin: 0 4px;
            }

            .swiper-pagination-bullet-active {
                background: $slid-gray;
            }
    
            .slider-cub-prev, .slider-cub-next {
                color: $slid-gray;
                position: static;
                margin: 0;
                
                &::after {
                    font-size: 10px;
                    font-weight: 900;
                }
    
                @include media ('<tablet'){
                    display: none;
                }
            }
        }
    }

    .slider-events {
        margin-bottom: 45px;

        .slide-events-item {
            color: $gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .slide-events-title {
                margin: 0 0 10px 0;
            }

            .slide-line {
                width: 100%;
                height: 1px;
                background-color: $gray;
                margin: 0 0 30px 0;
            }

            .slide-events-sub-title {
                margin: 0 0 20px 0;
                max-width: 150px;
            }

            .slide-events-text {
                max-width: 150px;
                padding: 0 10px;
            }
        }

        .slide-events-item-first {

            .slide-line {
                width: 50%;
                align-self: flex-end;
            }
        }

        .slide-events-item-last {

            .slide-line {
                width: 50%;
                align-self: flex-start;
            }
        }

        .slider-events-nav-wrap {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            padding: 0 10%;
            
            .slider-events-prev, .slider-events-next {
                color: $slid-gray;
                position: static;
                margin: 0;
                
                &::after {
                    font-size: 15px;
                    font-weight: 900;
                }
            }
       }
    }
}

/* _____________________________awards-section______________________________ */

.awards-section {
    padding: 45px 0 90px 0;
    background: url(../images/awards-bg.png) center/cover no-repeat;

    .awards-title {
        text-align: center;
    }
    
    .awards-content {
        display: flex;
        justify-content: space-between;

        @include media ('<1080px') {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }

    .slider-text {
        width: 50%;
        max-height: 600px;
        margin: 0 30px 0 0;

        @include media ('<1080px') {
            width: 100%;
            text-align: center; 
            margin: 0 30px;
        }

        @include media ('<phone'){
            text-align: justify;
            max-height: 350px;
        }

        
        .slider-text-wrap {
            padding: 0 30px;

            @include media ('<1080px') {
                padding: 0;
            }
        }

        .slide-text-item {
            margin-bottom: 30px;
            height: auto;
        }
        
        .slide-text-title {
            margin-bottom: 0px;
            font-weight: normal;
            cursor: pointer;
            
            &:hover {
                font-weight: bold;
            }

            @include media ('<1080px') {
                padding: 0 45px;
            }

            @include media ('<phone') {
                padding: 0 40px 0 20px;
                font-size: 21px;
            }
        }

        .swiper-slide-thumb-active {

            .slide-text-title {
                font-weight: bold;

            }
        }

        .slide-subtext-title {
            margin-top: 10px;

            @include media ('<1080px') {
                padding: 0 60px;
            }

            @include media ('<phone') {
                padding: 0 40px 0 20px;
                font-size: 12px;
            }
        }

        .swiper-scrollbar {
            right: 99%;

            @include media ('<1080px'){
                right: 0;
            }
        }
    }

    .slider-img {
        max-width: 460px;
        width: 50%;
        padding: 0 30px;

        @include media ('<1080px') {
           margin-bottom: 50px;
           width: 100%;
        }

        .slide-img-wrap {
            margin-bottom: 40px;
        }

        .slide-img {
            display: block;
            margin: 0 auto;
            object-fit:cover;
            object-position: center;
            max-width: none;
            width: 100%;
            height: 100%;
        }

        .swiper-button-prev, .swiper-button-next {
            outline: none;
            z-index: 1000;
            margin: 0;
            top: 40%;
         
            &::after {
                color: #6A6A6A;
                font-size: 30px;
                font-weight: 900;
            }
        }
        .swiper-button-prev{
            left: -5px;
        }

        .swiper-button-next {
            right: -5px;
        }
    }
}

/* _____________________________news-section__________________________ */

.news-section {
    position: relative;

    .slide-news-img-wrap {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        
        .slide-news-img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }

        @include media ('<phone'){
            position: static;
            margin-top: 115px;
        }
    }

    .news-title {
        position: absolute;
        color: $white;
        z-index: 100;
        left: 50%;
        transform: translate(-50%);
        top: 45px;
        font-weight:600;
        font-family: $SF-Pro-Display;
        margin: 0;

        @include media ('<phone'){
            color: $black;
        }
    }

    .slider-news {
        position: relative;
    }

    .slide-news-item {
        display: flex;
        flex-direction: column;
        padding: 0 0 190px 0;
        color: $white; 

        @include media ('<desktop'){
            .container {
                padding: 0;
            }
        }

        @include media ('<phone'){
            padding: 0 0 45px 0;
        }
    }

    .slide-news-item-content {
        display: flex;
        flex-direction: column;

        @include media ('<desktop'){
            align-items: center;
        }

        @include media ('<phone'){
            color: $black;
        }

        .slide-news-title {
            margin: 175px 0 50px 0;

            @include media ('<phone'){
                position: absolute;
                top: 0;
                left: 0;
                color: $white;
                margin: 70% 0 0 5%;
            }
        }
       
        .slide-news-text {
            max-width: 415px;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 60px;

            @include media ('<desktop'){
                max-width: 80%;
                text-align: justify;
            }

            @include media ('<phone'){
                max-width: 90%;
                margin-top: 20px;
            }
        }

        .btn-second {
            margin: 0;

            @include media ('<desktop'){
                width: 100%;
            }
        }
    }

    .slide-nav {
        position: absolute;
        width: 100%;
        z-index: 100;
        display: flex;
        justify-content: center;
        bottom: 100px;
        padding: 0 15px;

        @include media ('<phone'){
            bottom: 0;
        }

        .slide-nav-container {
            position: relative;
            width: 100%;
            max-width: 1390px;
            height: 100%;
            display: flex;
            align-items: center;
            align-self: flex-start;

            @include media ('<desktop'){
                justify-content: center;
            }

            .swiper-button-prev, .swiper-button-next {
                position: static;
                height: 100%;
                max-width: 12px;
                margin: 0;
                outline: none;

                &::after {
                    font-size: 12px;
                    font-weight: 900;
                    color: $slid-gray;
                }
            }
            
            .swiper-pagination {
                position: static;
                height: 100%;
                display: flex;
                margin: 0 20px;

                .swiper-pagination-bullet {
                    width: 12px;
                    height: 12px;
                    margin-right: 10px;
                    background: #313131;
                    outline: none;
                    
                    &:last-child {
                        margin-right: 0;
                    }
                }

                .swiper-pagination-bullet-active {
                   background-color: $slid-gray;
                }
            }
        }

    }
}

/* _____________________________blogs-section____________________________ */

.blogs-section {
    padding: 60px 0 95px 0;

    .blogs-title {
        color: $black;
        text-align: center;
    }

    .card1 {
        max-height: 565px;
        grid-column: span 2;
        
        @include media ('<desktop') {
            grid-column: span 1;
        }
    }
}

.blogs-card-wrap, .blog-item-wrap {
    margin-bottom: 50px;
    text-align: center;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(minmax(670px,1fr));

    @include media ('<desktop') {
        grid-template-columns: auto;
    }
}

.card, .blog-item {
    position: relative;
    color: $white;
    border-radius: 5px;
    height: 100vh;
    max-height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease 0s;

    iframe {
        width: 100%;
        height: 100%;
    }

    .card-img-wrap, .blog-item-img-wrap {
        position: absolute;
        z-index: -1;
        overflow: hidden;
        width: 100%;
        height: 100%;

        .card-img, .blog-item-img {
            width: 100%;
            height: 100%;
            object-fit:cover;
            object-position: center;
            transform: scale(1.2);
            transition: all 0.5s ease 0s;
        }
    }
    

    /* &:hover {

        @include media ('>tablet') {

            .card-img, .blog-item-img {
                transform: scale(1);
                transition: all 0.5s ease 0s;

            }
        }
    } */
}

.card-title, .blog-item-title {
    margin: 85px 0 20px 0;
    color: $white;
}

.card-text, .blog-item-text {
    max-width: 275px;
    font-size: 16px;
    line-height: 25px;
}

/* _____________________________blog-page___________________ */

.blog-section {
    padding: 150px 0 120px 0;

    .blog-title {
        text-align: center;
        margin-bottom: 75px;
    }

    .blog-item-wrap {
        grid-template-columns: 50% 50%;

        @include media ('<desktop'){
            grid-template-columns: 80%;
            justify-content: center;
        }

        @include media ('<tablet'){
            grid-template-columns: 100%;
        }
    }
}

/* _____________________________social-section________________________________ */

.social-section {
    padding: 0 0 100px 0;
    
    .social-title {
        text-align: center;
        color: $black;
    }

    .social-wrap {
        display: flex;
        justify-content: space-between;
        

        @include media ('<desktop') {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }

    .insta-wrap, .twitt-wrap {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .insta-wrap {
        margin-right: 15px;

        @include media ('<desktop') {
            margin:0 0 45px 0;
        }
    }

    .insta-main, .twitt-main {
        margin: 50px 0 60px 0;
    }

    .twitt {
        max-width: 63px;
    }

    .btn-inst, .btn-twitt {
        width: 100%;
        max-width: 190px;
        transition: none;
        color: $white;
    }

    .btn-inst {
        &:hover {
            background: $insta;
        }
    }

    .btn-twitt {
        &:hover {
            background: $twitter;
        }
    }
}

/* _______________________blog-read-section______________________ */

.blog-read-section {
    padding: 150px 0 90px 0;

    @include media("<tablet") {
        padding: 50px 0 40px 0;
    }

    .blog-read-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-title-wrap {
        width: 100%;
        text-align: center;
        padding: 30px 0 60px 0;

        p {
            margin: 15px 0 0 0;

            @include media("<tablet") {
                display: none;
            }
        }
    }

    .blog-title {
        display: flex;
        justify-content: center;
        align-items:center;

        .blog-main-title {
            margin: 0 7% 0; 

            @include media ('<tablet'){
                font-size: 24px;
                margin: 0 4% 0; 
            }

            @include media ('<phone'){
                font-size: 20px;
                margin: 0 2% 0; 
            }
        }                
    }

    .blog-text-wrap {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .blog-text-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media("<1100px") {
            flex-direction: column;
        }

        .blog-text {
            align-self: flex-start;
            font-size: 24px;
            text-align: justify;
            margin-right: 30px;

            @include media("<1100px") {
                max-width: 100%;
                margin-right: 0;
            }  
        }

        .blog-img {
            max-width: 595px;
            min-width: 500px;

            @include media("<1100px") {
                margin-top: 30px;
                min-width: 0;
            }  
        }
    }

    .item2 {
        margin: 50px 0 40px 0;

        .blog-text {
            margin: 0 0 0 80px;

            @include media("<1100px") {
                margin: 0;
            }  
        
            h2 {
                font-size: 32px;
                margin-bottom: 15px;

                @include media("<1100px") {
                    text-align: center;
                }  
            }
        }

        .blog-img2 {
            min-width: 500px;

            @include media("<1100px") {
                display: none;
                min-width: 0;
            }
        }
    }

    .item3 {
        margin-bottom: 30px;
        
        .blog-text {
            display: flex;
            flex-direction: column;
            align-items:center;
            margin: 0;
            
            h3 {
                margin-top: 36px;
                max-width: 528px;
                text-align: center;
            }
        }
        
        .paragraph1 {
            margin: 0 0 30px 0;
        }
    }

    .paragraph2 {
        margin: 0;
        
    }
}