<div class="login-popup popup">
    <div class="popup-btn-close">
        <span class="line1"></span>
        <span class="line2"></span>
    </div>
    <div class="login-content">
        <div class="login-logo">
            <a href="#"><img src="/dist/images/icon/main-logo.svg" alt="logo"></a>
        </div>
        <h2 class="login-title">LOG-IN</h2>
        <form class="login-form" action="#">
            <input type="text" placeholder="Username or email">
            <input type="password" placeholder="Password">
            <button class="form-btn">LOG IN</button>
        </form>
        <p class="text-account">DON'T HAVE AN ACCOUNT? <a class="account-link" href="#"> SIGN UP </a></p>
    </div>
</div>