<div class="singup-popup popup">
    <div class="popup-btn-close">
        <span class="line1"></span>
        <span class="line2"></span>
    </div>
    <div class="singup-content">
        <div class="singup-logo">
            <a href="#"><img src="/dist/images/icon/main-logo.svg" alt="logo"></a>
        </div>
        <h2 class="singup-title">Sing Up</h2>
        <form class="singup-form" action="#">
            <input type="text" placeholder="Username">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button class="form-btn">LOG IN</button>
        </form>
        <p class="text-account">IF YOU ALREDY HAVE AN ACCOUNT <a class="account-link" href="#"> LOG IN </a></p>
    </div>
</div>