body {
    font-family: $oswald;
}

.container{
    width: 100%;
    max-width: 1330px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn {
    min-width: 216px;
    padding: 18px;
    background-color: $orange;
    border: 1px solid $white;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white-2;
    transition: all .3s ease 0s;

    &:hover{
        background-color: $white;
        border: 1px solid $orange;
        color: $orange;
    }
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.mustache-anim{
    margin-bottom: 25px;

    img{
        animation-name: mustache_anim;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;

        @keyframes mustache_anim {
            0% {
                transform: rotateZ(0);
            }

            10% {
                transform: rotateZ(-15deg);
            }

            20% {
                transform: rotateZ(15deg);
            }

            30% {
                transform: rotateZ(0);
            }

            100%{
                transform: rotateZ(0);
            }
        }
    }
}

.stiker{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: $orange;
    margin-bottom: 20px;
}


/* ________________________#main-section____________________ */

.main-section{
    position: relative;
    min-height: 100vh;
    padding: 180px 0;

    &::after{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1D1D1D;
        opacity: 0.4;
        z-index: -1;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: calc(100vh - 360px);
    }

    .content{
        text-align: center;
    }

    .sub-title{
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: $white-2;
        margin-bottom: 17px;
    }

    .blade{
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;

        @include media('<tablet'){
            margin-bottom: 35px;
        }

        @include media('<phone'){
            margin-bottom: 50px;
        }
    }

    .title{
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        margin: 0;

        @include media('<desktop'){
            margin-bottom: 30px;
        }

        @include media('<tablet'){
            font-size: 42px;
        }

        @include media('<phone'){
           font-size: 36px;
        }
    }

    .mouse{
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%);

        @include media('<desktop'){
            display: none;
        }
    }

    .btn{
        display: none;

        @include media('<desktop'){
            display: inline-block;
        }
    }
}

/* ________________________#service-section____________________ */

.service-section{
    padding: 120px 0 60px 0;

    @include media('<desktop'){
        padding: 80px 0 20px 0;
    }

    .container{
        max-width: 1210px;
    }

    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media('<desktop'){
            justify-content: space-evenly;
        }

        @include media('<phone_x'){
            justify-content: center;
        }
    }

    .item{
        width: 23%;
        text-align: center;
        margin-bottom: 40px;

        @include media('<desktop'){
            width: 43%;
            margin-bottom: 60px;
        }

        @include media('<phone_x'){
            width: 100%;
        }
    }

    .icon{
        margin-bottom: 50px;
    }

    .title{
        font-weight: 600;
        font-size: 24px;
        text-transform: uppercase;
        color: $black-2;
        margin-bottom: 15px;
    }

    .sub-title{
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        color: $gray-2;
        margin: 0;
    }
}

/* ________________________#since-section____________________ */

.since-section{
    padding: 100px 0 160px 0;

    @include media('<desktop'){
        padding: 80px 0;
    }

    .container{
        max-width: 1210px;
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media('<tablet'){
            flex-direction: column;
        }
    }

    .img-wrap{
        position: relative;
        width: 100%;
        max-width: 460px;
        min-height: 500px;
        margin-right: 120px;

        @include media('<desktop'){
            margin-right: 80px;
            min-height: 600px;
        }

        @include media('<tablet'){
            margin-right: 0px;
            max-width: 100%;
            margin-bottom: 30px;
        }

        @include media('<phone'){
            min-height: 360px;
        }

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .yer{
        position: absolute;
        top: -90px;
        right: -95px;

        @include media('<desktop'){
            top: -60px;
            right: -50px;
        }

        @include media('<tablet'){
            top: -90px;
            right: auto;
            left: 0;
        }

        @include media('<phone'){
            top: -75px;
        }

        p{
            font-weight: 600;
            font-size: 128px;
            line-height: 1;
            color: $gray-3;
            margin-bottom: 5px;

            @include media('<desktop'){
                font-size: 100px;
            }

            @include media('<phone'){
                font-size: 86px;
            }
        }

        span{
            display: block;
            text-align: right;
            font-weight: 500;
            font-size: 24px;
            color: $gray-3;
            margin: 0;

            @include media('<desktop'){
                font-size: 20px;
            }

            @include media('<phone'){
                font-size: 16px;
            }
        }
    }

    .text{
        max-width: 470px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        @include media('<tablet'){
            max-width: 100%;
            margin-bottom: 0;
        }
    }

    .title{
        font-weight: 600;
        line-height: 112%;
        text-transform: uppercase;
        color: $black-2;
        margin-bottom: 40px;

        @include media('<desktop'){
            font-size: 42px;
        }

        @include media('<phone'){
            font-size: 36px;
            margin-bottom: 20px;
        }
    }

    .discription{
        font-weight: 400;
        font-size: 18px;
        line-height: 172%;
        color: $gray-2;
        margin: 0;

        @include media('<phone'){
            font-size: 16px;
        }
    }
}

/* ________________________#price-section____________________ */

.price-section{
    position: relative;
    padding: 165px 0 90px 0;

    @include media('<desktop'){
        padding: 110px 0 50px 0;
    }

    @include media('<tablet'){
        padding: 80px 0 10px 0;
    }

    &::before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(164.98deg, rgba(20, 18, 16, 0) -13.86%, #141210 89.42%);
    }

    .bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .content{
        position: relative;
        z-index: 1;
    }

    .block{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .title{
        font-weight: 600;
        line-height: 108%;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 120px;

        @include media('<desktop'){
            font-size: 42px;
        }

        @include media('<phone'){
            font-size: 36px;
            margin-bottom: 40px;
        }
    }

    .list{
        font-weight: 600;
        font-size: 26px;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: $orange;
        margin: 0 0 70px 0;
        padding:0;

        @include media('<desktop'){
            font-size: 20px;
        }

        @include media('<tablet'){
            font-size: 16px;
        }
    }

    .item{
        position: relative;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        transition: all .3s ease 0s;

        &:first-child{
            margin-top: 10px;
        }

        &::after{
            content:'';
            position: absolute;
            bottom: 1px;
            left: 50%;
            transform: translate(-50%);
            width: 100%;
            max-width: 1210px;
            height: 1px;
            background-color: $gray-4;
        }

        &:hover{
            background-color: $white;

            p{
                color: $black-2; 
            }

            .tootal{

                @include media('>=desktop'){
                    padding: 16px 36px 16px 28px;
                }

                @include media('<desktop'){
                    padding: 16px 10px;
                }
            }

            .price-btn{
                margin-right: 0px;
            }
        }
    }

    .item-link{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }

    p{
        font-weight: 600;
        font-size: 34px;
        color: $white; 
        text-transform: uppercase;
        margin: 0;
        transition: all .3s ease 0s;

        @include media('<widescreen'){
            font-size: 24px;
        }

        @include media('<desktop'){
            font-size: 18px;
        }

        @include media('<tablet'){
            font-size: 16px;
        }
    }

    .tootal{
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto;
        padding: 16px 0;
        transition: all .3s ease 0s;
    }

    .point{
        padding-right: 30px;
    }

    .price-btn{
        
        @include media('>=desktop'){
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 20px;
            min-width: 262px;
            background-color: $orange;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: $black-2;
            margin-right: -262px;
            transition: all .3s ease 0s;

            svg{
                fill: $black-2;
                margin-left: 22px;
            }
        }

        @include media('<desktop'){
            display: block;
            width: min-content;
            text-align: center;
            margin: 24px 0 0 10px;
            font-size: 0;

            svg{
                fill: $orange;
            }
        }

        @include media('<tablet'){
            margin: 18px 0 0 10px;
        }
    }
}