#header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 24px 0 12px 0;
    z-index: 2;

    &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        max-width: 1240px;
        height: 1px;
        background-color: $white;
        opacity: 0.3;

        @include media('<phone'){
            display: none;
        }
    }

    .container{
        max-width: 1280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .block{
        display: flex;

        &:first-child{
            @include media('<desktop'){
                order: 3;
                flex-direction: row-reverse;
            }
        }

        &:last-child{
            @include media('<desktop'){
                order: 2;
            }
        }
    }

    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        min-width: 52px;
        height: 52px;
        min-height: 52px;
        border-radius: 50%;
        border: 1px solid $white;

        @include media('<desktop'){
            margin-left: 16px;
        }

        svg{
            width: 18px;
            min-width: 18px;
            height: 18px;
            min-height: 18px;
            fill: $orange;
            margin-right: 14px;
        }

        p{
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.14em;
            text-transform: uppercase;
            color: $white-2;
            margin: 0;

            @include media('<widescreen'){
                font-size: 14px;
            }

            @include media('<desktop'){
                display: none;
            }
        }
    }

    .insta{
        background-color: $orange;
        margin-right: 36px;
        transition: all .3s ease 0s;

        @include media('<desktop'){
            margin-right: 0;
        }

        svg{
            width: 24px;
            min-width: 24px;
            height: 24px;
            min-height: 24px;
            fill: $white;
            margin-right: 0;
            transition: all .3s ease 0s;
        }

        &:hover{
            background-color: $white;
            border: 1px solid $orange;

            svg{
                fill: $orange;
            }
        }
    }

    .geo{
        
        svg{
            height: 25px;
            min-height: 25px;
        }
    }

    .phone{

        svg{
            width: 22px;
            min-width: 22px;
            height: 22px;
            min-height: 22px;
        }
    }

    .geo, .phone{

        @include media('>=desktop'){
            position: relative;
            width: auto;
            height: auto;
            border-radius: 0;
            border: none;

            &::before{
                content:'';
                position: absolute;
                display: block;
                height: 1px;
                width: 0%;
                bottom: 7px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $white-2;
                transition: width .3s ease-in-out;
            }
        }

        svg{
            @include media('<desktop'){
                margin-right: 0;
                fill: $white;
            }
        }

        &:hover{
            @include media('>=desktop'){
                &::before{
                    width: 100%;
                }
            }
        }
    }

    .logo{
        margin: 0 20px;

        @include media('<desktop'){
            order: 1;
            flex-grow: 1;
            margin: 0;
        }

        img{
            
            @include media('<phone'){
                width: 82px;
                height: 82px;
            }
        }
    }

    .btn{
        margin-left: 36px;

        @include media('<desktop'){
            display: none;
        }
    }
}