@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Bold.ttf");
    font-style: bold;
    font-weight: 900;
}