body {
    font-family: 'Roboto';
    background: url(../images/bg-img/main-page-bg.svg) 50% 0 no-repeat;
}

.body_lock {
    overflow: hidden;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1250px;
    padding: 0 15px;
}

.main-btn {
    padding: 15px;
    width: 100%;
    max-width: 191px;
    border-radius: 10px;
    background: $blue;
    color: $white;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    box-shadow: 0 5px 5px rgba(122,122,122,0.45);
}

.card-btn {
    color: $white;
    font-size: 16px;
    transition: all 0.5s ease 0s;
    position: relative;
    cursor: pointer;
    line-height: 1; 
    text-decoration: none; 

    &:after {
        content:"";
        display: block;
        position: absolute;
        left: 0; 
        width: 0;
        height: 2px; 
        background-color: $white; 
        transition: width 0.3s ease-out; 
    }

    &:hover:after,
    &:focus:after {
        width: 100%;
    }

    i {
        font-size: 11px;
        padding-left: 10px;
    }
}


/* _____________________________main-section____________________________ */

.main-section {
    padding: 40px 0 120px 0;
    position: relative;
    
    @include media("<tablet") {
        padding: 40px 0 195px 0;
    }

    &::before {
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 50%;
        height: 2px;
        background: $blue;
    }
    
    .main-content {
        position: relative;
    }
    
    .main__item {
        position: relative;
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 5px 5px rgba(122,122,122,0.45);
        background: linear-gradient(180deg, rgba(51, 120, 162, 0.81) 0%, rgba(69, 149, 199, 0.21) 100%);
        box-sizing: border-box;
        padding: 40px 30px;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(51, 120, 162, 0.81) 50%, rgba(69, 149, 199, 0.21) 100%);
            transition: all 0.5s ease 0s;
            opacity: 0;
        }

        &:hover {
            @include media(">tablet") {
                &::before {
                    opacity: 70%;
                    transition: all 0.5s ease 0s;
                }
            }
        }

        .main__item_text {
            position: absolute;
            max-width: 67%;
            z-index: 10;
            color: $white;
        }

        &:last-child {
            @include media(">=1250px") {
                background: linear-gradient(0deg, rgba(51, 120, 162, 0.81) 0%, rgba(69, 149, 199, 0.21) 50%); 

                &::before {
                    background: linear-gradient(0deg, rgba(51, 120, 162, 0.81) 50%, rgba(69, 149, 199, 0.21) 100%);
                }

                .main__item_text {
                    position: absolute;
                    bottom: 15%;
                    max-width: 50%;
                    h4 {
                        font-size: 36px;
                        line-height: 42px;
                    }
                }
            }
        }

    }

    .main__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        box-shadow: none;
        max-width: 53%;

        @include media("<=1250px") {
            text-align: center;
            max-width: 100%;
        }

        @include media("<tablet") {
            text-align: start;
            max-width: 100%;
            margin-bottom: 70px;
        }

        h1 {
            max-width: 540px;
            margin-bottom: 25px;
            margin-top: 170px;

            @include media("<=1250px") {
                margin: 0 auto;
                margin-bottom: 25px;
                max-width: 650px;
                margin-top: 170px;
            }

            @include media("<tablet") {
                margin: 170px 0 42px 0;
            }
        }

        p {
            font-size: 24px;
            line-height: 28px;
        }

        .main-btn {
            margin: 75px 0;

            @include media("<=1250px") {
                margin: 75px auto;
            }
        }
    }

    .main__item_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    ._pc & {
        @include media(">=1250px") {
            transform: none;
            
            .main-content {
                padding: 120px 44% 0 0;
            }   
            
            .swiper-wrapper {
                @include media(">=1250px") {
                    position: static;
                    transform: none;
                    display: flex;
                    justify-content: space-around;
                }
                
                .main__item {
                    &:not(:last-child) {
                        max-width: 190px;
                        width: 33.3%;
                        margin-right: 38px;
                    }
                    
                    &:last-child {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 44%;
                    }
                }
            }
        }

        .swiper-wrapper {
            display: flex;
            justify-content: space-between;
        }

        .main__item {
            min-height: 275px;
        }

        .swiper-slide {
            &:last-child {
                margin-right: 0;
            }

            @include media("<=1250px") {
                max-width: 255px;
            }
    
            @include media("<=1100px") {
                max-width: 230px;
            }
    
            @include media("<=992px") {
                max-width: 200px;
            }
    
            @include media("<=850px") {
                max-width: 170px;
            }
        }   
    }

    ._touch & {
        @include media("<tablet") {

            .main-content {
                position: static;
            }
        
            .main__item {
                min-height: 310px;
    
                @include media("<phone") {
                    min-height: 538px;
                }
            }

            .main-btn {
                position: absolute;
                bottom: 60px;
                left: 50%;
                transform: translate(-50%);
                margin: 0;
            }
        }
    }
}

/* ______________________________services-section_________________________________________ */

.services-section {
    padding: 60px 0 120px 0;
    position: relative;

    @include media("<phone") {
        padding: 60px 0 55px 0;
    }

    &::before {
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 50%;
        height: 2px;
        background: $blue;
    }

    .services-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-bottom: 100px;
            max-width: 400px;
            text-align: center;
            line-height: 28px;

            @include media("<phone") {
                margin-bottom: 50px;
            }
        }
    }

    .services-icon {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 120px;

        @include media("<phone") {
            margin-bottom: 0px;
        }
    }

    .services-icon__item {
        width: 100%;
        max-width: 406px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $blue;
        border-top: none;
        border-right: none;
        
        &:nth-child(1) {
            padding: 10px 30px 40px 0;
            border-left: none;

            @include media("<=841px") {
                border-bottom: 1px solid $blue;
                padding: 40px 0;
            }
        }

        &:nth-child(2) {
            padding: 10px 30px 40px 40px;

            @include media("<=841px") {
                border: none;
                border-bottom: 1px solid $blue;
                padding: 40px 0;
            }
        }

        &:nth-child(3) {
            padding: 10px 30px 40px 40px;

            @include media("<=1247px") {
                border-left:none;
                padding: 40px 30px 40px 0px;
            }

            @include media("<=841px") {
                border: none;
                border-bottom: 1px solid $blue;
                padding: 40px 0;
            }
        }

        &:nth-child(4) {
            padding: 40px 30px 10px 0;
            border-left:none;

            @include media("<=1247px") {
                border-left: 1px solid $blue;
                padding: 40px 30px 40px 40px;
            }
        }

        &:nth-child(5) {
            padding: 40px 30px 10px 40px;

            @include media("<=1247px") {
                border-left: none;
                padding: 40px 30px 10px 0px;
            }
        }

        &:nth-child(6) {
            padding: 40px 30px 0 40px;

            @include media("<=1247px") {
                border-top: 1px solid $blue;
                padding: 40px 30px 10px 40px;
            }
        }

        &:nth-child(4), &:nth-child(5), &:nth-child(6) {
            flex-direction: row-reverse;
            border-bottom: none;

            @include media("<=1247px") {
                flex-direction: row;
            }

            @include media("<=841px") {
                border: none;
                border-bottom: 1px solid $blue;
                padding: 40px 0;
            }
        }

        &:nth-child(n) {
            @include media("<phone") {
                border: none;
                flex-direction: column;
                padding: 0;
            }
        }
        

        i {
            font-size: 100px;
            color: $blue;

            @include media("<phone") {
                font-size: 53px;
                background: #EBEBEB;
                box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
                border-radius: 2px;
            }
        }

        p {
            max-width: 200px;
            width: 100%;
            margin-bottom: 0;
            font-size: 20px;
            line-height: 23px;

            @include media("<phone") {
                max-width: 160px;
                text-align: center;
                margin: 25px 0 85px 0;
            }
        }
    }
}

/* ______________________________offered-section_________________________________ */

.offered-section {
    position: relative;
    padding: 60px 0 70px 0;

    &::before {
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 50%;
        height: 2px;
        background: $blue;
    }

    .offered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        margin: 60px 0 100px 0;
        text-align: center;
    }

    .offered-content__parag {
        font-size: 20px;
        margin-bottom: 60px;
    }

    .offered {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-auto-rows: 260px;
        gap: 30px;
        margin-bottom: 75px;

        @include media ("<tablet") {
            grid-auto-rows: 400px;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        }

        @include media ("<phone") {
            grid-auto-rows: 440px;
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
            gap-column: 0px;
        }
    }
    
    .offered__item {
        position: relative;
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 5px 5px rgba(122,122,122,0.45);
        background: linear-gradient(0deg, rgba(51, 120, 162, 0.81) 0%, rgba(69, 149, 199, 0.21) 100%);
        box-sizing: border-box;
        padding: 10% 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(51, 120, 162, 0.81) 50%, rgba(69, 149, 199, 0.21) 100%);
            transition: all 0.5s ease 0s;
            opacity: 0;
        }

        &:hover {
            @include media(">tablet") {
                &::before {
                    opacity: 70%;
                    transition: all 0.5s ease 0s;
                }
            }
        }

        &:first-child {
            grid-column: span 2;
            grid-row: span 2;

            @include media ("<=1159px") {
                grid-column: span 1;
            }

            @include media ("<=869px") {
                grid-column: span 2;
            }

            @include media ("<tablet") {
                grid-column: span 1;
                grid-row: span 1;
            }
        }
        
        &:nth-child(2) {
            grid-column: span 2;
            padding: 5% 30px;

            @include media ("<tablet") {
                grid-column: span 1;
                padding: 10% 30px;
            }
        }
    }

    .offered__item_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .offered__item_text {
        position: relative;
        color: $white;
        text-align: start;

        h3 {
            margin-bottom: 4%;
        }

        p {
            margin-bottom: 10%;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.03em;
        }
    }
}