body {
    font-family: 'Roboto';
    background: url(../images/bg-img/main-page-bg.svg) 50% 0 no-repeat,
}

.lock {
    overflow: hidden;
}

.test {
    display: block;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1250px;
    padding: 0 15px;
}

.main-btn {
    padding: 15px 30px;
    width: 100%;
    max-width: 191px;
    border-radius: 10px;
    background: $blue;
    color: $white;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    box-shadow: 0 5px 5px rgba(122,122,122,0.45);
    transition: all 0.3s ease 0s;

    &:hover {
        background: #3D8EBF;
    }
}

.card-btn {
    color: $white;
    font-size: 16px;
    transition: all 0.5s ease 0s;
    position: relative;
    cursor: pointer;
    line-height: 1; 
    text-decoration: none; 

    &:after {
        content:"";
        display: block;
        position: absolute;
        left: 0; 
        width: 0;
        height: 2px; 
        background-color: $white; 
        transition: width 0.3s ease-out; 
    }

    &:hover:after,
    &:focus:after {
        width: 100%;
    }

    i {
        font-size: 11px;
        padding-left: 10px;
    }
}

.form__btn {
    width: 100%;
    outline: none;
    border-radius: 10px;
    border:none;
    max-width: 160px;
    padding: 15px;
    text-align: center;

    &:active, &:focus {
        outline: none;
    }
}

.form {
    form {
        display: flex;
        flex-direction: column;
        align-items:center;
        
        input, textarea {
            width: 100%;
            padding: 18px 25px;
            border-radius: 10px;

            @include media ("<phone") {
                padding: 14px 20px;
            }
        }

        .form__name{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include media ("<tablet") {
                flex-direction: column;
            }
        }
    }
}

/* _____________________________main-section____________________________ */

.main-section {
    padding: 40px 0 120px 0;
    position: relative;
    
    @include media("<tablet") {
        padding: 40px 0 195px 0;
    }

    &::before {
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 50%;
        height: 2px;
        background: $blue;
    }
    
    .main-content {
        position: relative;
    }
    
    .main__item {
        position: relative;
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 5px 5px rgba(122,122,122,0.45);
        box-sizing: border-box;
        padding: 40px 30px;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(180deg, rgba(51, 120, 162, 0.81) 50%, rgba(69, 149, 199, 0.21) 100%);
            transition: all 0.5s ease 0s;
            opacity: 0;
        }

        &:hover {
            @include media(">tablet") {
                &::before {
                    opacity: 70%;
                    transition: all 0.5s ease 0s;
                }
            }
        }

        .main__item_text {
            position: absolute;
            max-width: 67%;
            z-index: 10;
            color: $white;
        }

        &:last-child {
            @include media(">=1250px") {

                &::before {
                    background-image: linear-gradient(0deg, rgba(51, 120, 162, 0.81) 50%, rgba(69, 149, 199, 0.21) 100%);
                }

                .gradient {
                    background-image: linear-gradient(0deg, rgba(51, 120, 162, 0.81) 0%, rgba(69, 149, 199, 0.21) 50%); 
                }

                .main__item_text {
                    position: absolute;
                    bottom: 15%;
                    max-width: 50%;
                    h4 {
                        font-size: 36px;
                        line-height: 42px;
                    }
                }
            }
        }

    }

    .main__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        box-shadow: none;
        max-width: 95%;

        @include media("<=1250px") {
            text-align: center;
            max-width: 100%;
        }

        @include media("<tablet") {
            text-align: start;
            max-width: 100%;
            margin-bottom: 70px;
        }

        h1 {
            max-width: 540px;
            margin-bottom: 25px;
            margin-top: 170px;

            @include media("<=1250px") {
                margin: 0 auto;
                margin-bottom: 25px;
                max-width: 650px;
                margin-top: 170px;
            }

            @include media("<tablet") {
                margin: 170px 0 42px 0;
            }
        }

        p {
            font-size: 24px;
            line-height: 28px;
        }

        .main-btn {
            margin: 75px 0;

            @include media("<=1250px") {
                margin: 75px auto;
            }
        }
    }

    .main__item_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .gradient {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        @include media(">tablet"){
            background-image: linear-gradient(180deg, rgba(51, 120, 162, 0.81) 0%, rgba(69, 149, 199, 0.21) 100%);
        }
        
        @include media("<=tablet") {
            background-image: linear-gradient(0deg, rgba(51, 120, 162, 0.81) 0%, rgba(69, 149, 199, 0.21) 100%);
        }
    }

    ._pc & {
        @include media(">=1250px") {
            transform: none;
            
            .main-content {
                padding: 120px 44% 0 0;
            }   
            
            .swiper-wrapper {
                @include media(">=1250px") {
                    position: static;
                    transform: none;
                    display: flex;
                    justify-content: space-around;
                }
                
                .main__item {
                    &:not(:last-child) {
                        max-width: 190px;
                        width: 33.3%;
                        margin-right: 38px;
                    }
                    
                    &:last-child {
                        position: absolute;
                        right: -65px;
                        top: 100px;
                        width: 50%;
                        height: 90%;
                    }
                }
            }
        }

        .swiper-wrapper {
            display: flex;
            justify-content: space-between;
        }

        .main__item {
            min-height: 275px;
        }

        .swiper-slide {
            &:last-child {
                margin-right: 0;
            }

            @include media("<=1250px") {
                max-width: 255px;
            }
    
            @include media("<=1100px") {
                max-width: 230px;
            }
    
            @include media("<=992px") {
                max-width: 200px;
            }
    
            @include media("<=850px") {
                max-width: 170px;
            }
        }   
    }

    ._touch & {
        .main-content {
            position: static;
        }
    
        .main__item {
            min-height: 310px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @include media("<phone") {
                min-height: 538px;
            }
        }

        .main__item_text {
            max-width: none;
            
            &:last-child {
                position: static;
                max-width: none;
            }

            h4 {
                font-size: 36px;
                line-height: 42px;
            }
        }

        .main-btn {
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translate(-50%);
            margin: 0;

            @include media("<tablet") {
                bottom: 60px;
            }
        }

        .main-swiper {
            .swiper-pagination {
                bottom: 85px;
                z-index: 5;

                @include media("<tablet") {
                    bottom: 145px;
                }

                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}

/* ______________________________services-section_________________________________________ */

.services-section {
    padding: 60px 0 120px 0;
    position: relative;

    @include media("<phone") {
        padding: 60px 0 55px 0;
    }

    &::before {
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 50%;
        height: 2px;
        background: $blue;
    }

    .services-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-bottom: 100px;
            max-width: 400px;
            text-align: center;
            line-height: 28px;

            @include media("<phone") {
                margin-bottom: 50px;
            }
        }
    }

    .services-icon {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 120px;

        @include media("<phone") {
            margin-bottom: 0px;
        }
    }

    .services-icon__item {
        width: 100%;
        max-width: 406px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $blue;
        border-top: none;
        border-right: none;
        
        &:nth-child(1) {
            padding: 10px 30px 40px 0;
            border-left: none;

            @include media("<=841px") {
                border-bottom: 1px solid $blue;
                padding: 40px 0;
            }
        }

        &:nth-child(2) {
            padding: 10px 30px 40px 40px;

            @include media("<=841px") {
                border: none;
                border-bottom: 1px solid $blue;
                padding: 40px 0;
            }
        }

        &:nth-child(3) {
            padding: 10px 30px 40px 40px;

            @include media("<=1247px") {
                border-left:none;
                padding: 40px 30px 40px 0px;
            }

            @include media("<=841px") {
                border: none;
                border-bottom: 1px solid $blue;
                padding: 40px 0;
            }
        }

        &:nth-child(4) {
            padding: 40px 30px 10px 0;
            border-left:none;

            @include media("<=1247px") {
                border-left: 1px solid $blue;
                padding: 40px 30px 40px 40px;
            }
        }

        &:nth-child(5) {
            padding: 40px 30px 10px 40px;

            @include media("<=1247px") {
                border-left: none;
                padding: 40px 30px 10px 0px;
            }
        }

        &:nth-child(6) {
            padding: 40px 30px 0 40px;

            @include media("<=1247px") {
                border-top: 1px solid $blue;
                padding: 40px 30px 10px 40px;
            }
        }

        &:nth-child(4), &:nth-child(5), &:nth-child(6) {
            flex-direction: row-reverse;
            border-bottom: none;

            @include media("<=1247px") {
                flex-direction: row;
            }

            @include media("<=841px") {
                border: none;
                border-bottom: 1px solid $blue;
                padding: 40px 0;
            }
        }

        &:nth-child(n) {
            @include media("<phone") {
                border: none;
                flex-direction: column;
                padding: 0;
            }
        }
        

        i {
            font-size: 100px;
            color: $blue;

            @include media("<phone") {
                font-size: 53px;
                background: #EBEBEB;
                box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
                border-radius: 2px;
            }
        }

        p {
            max-width: 200px;
            width: 100%;
            margin-bottom: 0;
            font-size: 20px;
            line-height: 23px;

            @include media("<phone") {
                max-width: 160px;
                text-align: center;
                margin: 25px 0 85px 0;
            }
        }
    }
}

/* ______________________________offered-section_________________________________ */

.offered-section {
    position: relative;
    padding: 60px 0 70px 0;

    &::before {
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 50%;
        height: 2px;
        background: $blue;
    }

    .offered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        margin: 60px 0 100px 0;
        text-align: center;
    }

    .offered-content__parag {
        font-size: 20px;
        margin-bottom: 60px;
    }

    .offered {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-auto-rows: 260px;
        gap: 30px;
        margin-bottom: 75px;

        @include media ("<tablet") {
            grid-auto-rows: 400px;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        }

        @include media ("<phone") {
            grid-auto-rows: 440px;
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
            gap-column: 0px;
        }
    }
    
    .offered__item {
        position: relative;
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 5px 5px rgba(122,122,122,0.45);
        background: linear-gradient(0deg, rgba(51, 120, 162, 0.81) 0%, rgba(69, 149, 199, 0.21) 50%);
        box-sizing: border-box;
        padding: 10% 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(51, 120, 162, 0.81) 50%, rgba(69, 149, 199, 0.21) 80%);
            transition: all 0.5s ease 0s;
            opacity: 0;
        }

        &:hover {
            @include media(">tablet") {
                &::before {
                    opacity: 70%;
                    transition: all 0.5s ease 0s;
                }
            }
        }

        &:first-child {
            grid-column: span 2;
            grid-row: span 2;

            @include media ("<=1159px") {
                grid-column: span 1;
            }

            @include media ("<=869px") {
                grid-column: span 2;
            }

            @include media ("<tablet") {
                grid-column: span 1;
                grid-row: span 1;
            }
        }
        
        &:nth-child(2) {
            grid-column: span 2;
            padding: 5% 30px;

            @include media ("<tablet") {
                grid-column: span 1;
                padding: 10% 30px;
            }
        }
    }

    .offered__item_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .offered__item_text {
        position: relative;
        color: $white;
        text-align: start;

        h3 {
            margin-bottom: 4%;
        }

        p {
            margin-bottom: 10%;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.03em;
        }
    }
}

/* ______________________________portfolio-section_____________________________ */

.portfolio-section {
    padding: 60px 0 30px 0;
    position: relative;

    &::before {
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 50%;
        height: 2px;
        background: $blue;
    }

    .portfolio {
        h2 {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .portfolio__item {
        position: relative;

        h3 {
            margin: 45px 0 50px 0;
            text-align: center;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
        }
    }

    .swiper-scrollbar {
        position: absolute;
        display: block;
        width: 80%;
        height: 3px;
        bottom: -35px;
        left: 50%;
        transform: translate(-50%);
        
    }
    
    .swiper-container-free-mode>.swiper-wrapper {
        margin-bottom: 80px;
    }
    
    .portfolio-swiper__slide {
        h4{
            margin: 15px 10px;
        }

        p{
            margin: 0 10px 10px;
            font-size: 16px;
            line-height: 25px;
        }
    }

    .portfolio-swiper__slide_img {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 275px;
        overflow: hidden;
        border-radius: 10px;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    .swiper-pagination {
        width: 50%;
        background-color: $gray;
        display: flex;
        height: 1px;

        .swiper-pagination-bullet {
            width: 100%;
            border-radius: 3px;
            height: 3px;
        }
    }

    .swiper-container-horizontal>.swiper-pagination-bullets {
        width: 70%;
        left: 50%;
        transform: translate(-50%);
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin:0;
    }
}

/* ______________________________reviews-section__________________________________ */

.reviews-section {
    padding: 40px 0 60px 0;
    position: relative;

    &::before {
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 50%;
        height: 2px;
        background: $blue;
    }

    .reviews-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reviews {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;

        @include media ("<desktop") {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .reviews__item {
        margin: 0 40px;
        padding: 25px;
        border-radius: 10px;
        background: #FBFBFB;
        box-shadow: 0 5px 5px rgba(122,122,122,0.45);
        width: 100%;
        max-width: 325px;

        @include media ("<=1200px") {
            margin: 0 20px;
        }

        @include media ("<desktop") {
            margin-top: 25px;
        }
    }

    .reviews__item__title {
        display: flex;
        align-items: center;
    }

    .reviews__item__title_img {
        width: 50px;
        height: 50px;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        margin: 0 15px 15px 0;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .reviews__item__title_text {
        h3 {
            font-size: 22px;
            margin-bottom: 5px;
        }

        p {
            font-size: 14px;
            line-height: 16px;
            color: $blue;
            margin: 0;
        }
    }

    .main-btn {
        max-width: 245px;
    }
}

/* ______________________________steps-section_______________________________ */

.steps-section {
    padding: 80px 0 105px 0;
    
    @include media ("<tablet") {
        padding: 40px 0 70px 0;
    }

    .container {
        background: url(../images/bg-img/main-page-sm-bg.svg) 100% 65% no-repeat;
    }
    
    .steps-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
        }
    }

    .steps {
        margin: 110px 0;

        @include media ("<=890px"){
            margin: 45px 0 100px 0;
        }
    }

    .steps__ol {
        display: flex;
        padding: 0;
        margin: 0;
        counter-reset: myCounter;

        @include media ("<=890px") {
            flex-direction: column;
        }
    }

    .steps__ol__item {
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 230px;
        min-width: 170px;
        list-style: none;

        @include media ("<=890px") {
            padding: 0 0 60px 40px;
            max-width: 350px;
            text-align: start;
            border-left: 1px solid $blue;

            &:last-child {
                padding: 0 0 0 40px;
                border-left: none;
            }
        }

        @include media ("<phone") {
            max-width: 250px;
        }

        span {
            position: absolute;
            height: 1px;
            width: 100%;
            background: $blue;
            left: 0;

            @include media ("<=890px") {
                display: none;
            }
        }

        &:nth-child(odd){
            &::after {
                counter-increment: myCounter;
                content:counter(myCounter);
                color: white;
                background: $blue;
                display: inline-block;
                text-align: center;
                line-height: 30px;
                width: 30px;
                height: 30px;
                border-radius: 5px;
                position: absolute;
                top: 47%;
                left: 50%;
                transform: translate(-50%);
                z-index: 5;
            }

            span {
                top: 50%;
            }
        }

        &:nth-child(even) {
            padding-top: 300px;

            @include media ("<=890px") {
                padding-top: 0;
            }

            &::before {
                counter-increment: myCounter;
                content:counter(myCounter);
                color: white;
                background: $blue;
                display: inline-block;
                text-align: center;
                line-height: 30px;
                width: 30px;
                height: 30px;
                border-radius: 5px;
                position: absolute;
                top: 47%;
                left: 50%;
                transform: translate(-50%);
                z-index: 5;
            }

            span {
                top: 50%;
            }
        }

        &:nth-child(odd), &:nth-child(even){
            @include media ("<=890px") {
                &::after, &::before {
                    left: -15px;
                    top: 0;
                    transform: none;
                }
            }
        }

        &:first-child, &:last-child {
            @include media (">890px") {
                span {
                    width: 50%;
                }
            }
        }

        &:first-child {
            @include media (">890px") {
                span {
                    left: 50%;
                }
            }
        }


        h3 {
            color: $blue;
            margin: 0 auto;
            margin-bottom: 5px;
            max-width: 140px;

            @include media ("<=890px") {
                margin: 0;
                margin-bottom: 5px;

            }
        }
    } 

    .namber {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 55px;

        @include media ("<tablet") {
            flex-direction: column;
            margin-bottom: 100px;
        }
    }

    .namber__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        @include media ("<tablet") {
            margin-right: 0;
            margin-bottom: 80px;

            &:last-child {
                margin-bottom: 0px;
            }
        }
        

        p {
            font-weight: bold;
            font-size: 100px;
            line-height: 80px;
            color: rgba(65, 65, 65, 0.1);
            margin-bottom: -30px;
        }

        h2 {
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            max-width: 200px;
            color: $blue;
            margin: 0;
        }
    }

    .main-btn {
        margin-top: 40px; 
        max-width: 245px;

        @include media ("<tablet") {
            margin-top: 100px;
        }
    }
}

/* ______________________________form-section_________________________ */

.form-section {
    margin: 50px 0 0 0;
    position: relative;
    height: 10000vh;
    max-height: 600px;

    @include media ("<phone") {
        max-height: 950px;
    }

    .form-section__map {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        max-height: 600px;

        @include media ("<phone") {
            max-height: 950px;
        }

        .iframe {
            width: 100%;
            height: 100%;
        }
    }

    .form-content {
        position: absolute;
        display: inline;
        top: 50px;
        width: 100%;
        max-width: 410px;
        z-index: 50;

        @include media ("<phone") {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
        }
    }

    .form-wrap {
        max-width: 410px;
        background: $white;
        border-radius: 10px;
        padding: 35px 40px;
    }

    form {
        align-items:flex-start;

        h2 {
            margin-bottom: 30px;
        }

        input, textarea {
            margin-bottom: 15px;
            border: 1px solid #414141;

            @include media ("<phone") {
                padding: 10px 15px;
            }
        }

        textarea {
            height: 100vh;
            max-height: 85px;
        }
    }

    .form__btn {
        background-color: $blue;
        color: $white;
    }

    .form-section__social {
        display: none;

        @include media ("<phone") {
            display: block;
            margin: 200px 0 0 0;

            .social-wrap {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;

                a{
                    color: $white;
                    font-size: 38px;
                    margin-right: 15px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .phone-wrap {
                display: flex;
                flex-direction: column;
                align-items: center;

                a {
                    border: 1px solid #55B4ED;
                    box-sizing: border-box;
                    border-radius: 17px;
                    color: #55B4ED;
                    padding: 10px 20px;
                    margin-bottom: 25px;

                    &:last-child {
                        border: none;
                        color: $white;
                        margin-bottom: 0;
                    }

                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

/* ______________________________privacy-section__________________________ */

.privacy-section {
    padding: 170px 0 50px 0;
    min-height: 100vh;

    .privacy__title {
        text-align: center;
    }

    .privacy__text {
        text-align: justify;
    }
}

/* ______________________________marketing_______________________________________ */

.marketing{
    padding: 150px 0 110px 0;
    position: relative;

    @include media ("<tablet"){
        padding: 0 0 65px 0;
    }

    &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 70%;
        height: 1px;
        background-color: $gray;
    }

    .container{
        @include media ("<tablet"){
            padding: 0;
        }
    }

    .marketing-content{
        background: url(../images/marketing-img/mark-main-img.jpg) 0 0/cover no-repeat;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
        padding: 105px 115px 105px 80px;

        @include media ("<desktop"){
            padding: 60px 30px;
        }

        @include media ("<tablet"){
            padding: 40px 55px;
            height: 100vh;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            border-radius: 0px 0px 40px 40px;
        }

        &::before{
            content:'';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: hsla(0, 0%, 0%, 0.5);
            z-index: 1;

            @include media ("<tablet"){
                background-color: hsla(0, 0%, 0%, 0.3);
            }
        }

        &::after{
            @include media ("<tablet"){
                content:'';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 47.04%);
                z-index: 2;
            }
        }
    }

    .marketing__title{
        position: relative;
        z-index: 5;
        color: $white;
        width: 1000%;
        max-width: 535px;
        margin-right: 15px;

        @include media ("<tablet"){
            max-width: 100%;
            width: 100%;
        }

        h1{
            margin-bottom: 10px;

            @include media ("<tablet"){
                margin-bottom: 30px;
                font-size: 30px;
                line-height: 35px;
            }
        }

        p{
            font-size: 20px;
            line-height: 23px;

            @include media ("<tablet"){
                margin-bottom: 30px;
            }
        }
    }

    .marketing__form{
        position: relative;
        z-index: 5;
        width: 1000%;
        max-width: 405px;
        background: rgba(208, 233, 255, 0.6);
        border-radius: 18px;
        overflow: hidden;
        padding: 20px 45px;

        @include media ("<tablet"){
            display: none;
        }
        
        form{
            display: flex;
            flex-direction: column;

            .marketing__form_title{
                text-align: center;
                font-weight: 500;
                font-size: 25px;
                line-height: 30px;
                color: $white;
                margin-bottom: 20px;
            }

            input, textarea{
                background: none;
                border: 1px solid $white;
                box-sizing: border-box;
                border-radius: 10px;
                margin-bottom: 13px;
                padding: 17px 25px;

                &::placeholder{
                    color: $white;
                    font-size: 14px;
                    line-height: 16px;
                }
            }

            textarea{
                width: 100%;
                height: 92px;
            }

            p{
                font-size: 7px;
                line-height: 8px;
                color: $white;
                font-weight: 400;
                margin-bottom: 15px;

                a{
                    color: $white;
                    text-decoration: underline;
                }
            }

            .form__btn {
                margin: 0 auto;
                background-color: $blue;
                color: $white;
                transition: all .3s 0s;

                &:hover{
                    background-color: $blue-hover;
                }
            }
        }
    }

    .card-btn{
        display: none;
        font-size: 32px;
        color: $white;
        z-index: 5;

        @include media ("<tablet"){
            display: block;
        }

        i{
            font-size: 20px;
            margin-left: 15px;
        }
    }
}

/* ______________________________digitalization______________________________ */

.digitalization{
    padding: 60px 0 50px 0;
    position: relative;

    &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 70%;
        height: 1px;
        background-color: $gray;
    }

    .digitalization-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2{
        text-align: center;
        width: 100%;
        max-width: 445px;

        @include media ("<=1130px"){
            margin-bottom: 70px;
        }
    }

    .digitalization__main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include media ("<=1130px"){
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .digitalization__main_text{
        width: 50%;
        padding: 0 0 0 60px;

        @include media ("<=1130px"){
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            order: 2;
            width: 80%;
            padding: 0;
            margin-bottom: 50px;

            @include media ("<tablet"){
                width: 100%;
            }
        }
        
        p{
            width: 1000%;
            max-width: 510px;
            font-size: 20px;
            line-height: 118%;
            color: $main-black;
            margin-bottom: 50px;

            @include media ("<=1130px"){
                max-width: 80%;
            }

            @include media ("<tablet"){
                max-width: 100%;
            }
        }

        ul{
            padding: 0;
            margin: 0;

            li{
                list-style: none;
                font-size: 24px;
                line-height: 58px;

                &::before{
                    content:'- ';
                }
            }
        }
    }

    .digitalization__main_img{
        width: 1000%;
        max-width: 50%;
        position: relative;
        height: 100vh;
        max-height: 630px;
        overflow: hidden;

        @include media ("<=1130px"){
            max-width: 100%;
            max-height: 870px;
            order: 1;
            margin-bottom: 50px;
        }

        @include media ("<tablet"){
            max-height: 644px;
        }

        @include media ("<phone"){
            max-height: 300px;
        }

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .main-btn{
        max-width: 276px;
    }
}

/* ______________________________markservices______________________________ */

.markservices{
    padding: 60px 0 90px 0;
    position: relative;

    &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 70%;
        height: 1px;
        background-color: $gray;
    }

    .container {
        @include media ("<phone"){
            padding: 0;
        }
    }

    .markservices-content{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .markservices__title{
        text-align: center;
        margin-bottom: 45px;

        @include media ("<phone"){
            margin-bottom: 30px;
        }
    }

    .markservices__text{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        @include media ("<tablet"){
            flex-direction: column;
        }

        @include media ("<phone"){
            padding: 0 40px;
        }

        p{
            font-size: 20px;
            line-height: 23px;
            text-align: justify;
            color: $main-black;
            margin-right: 75px;
            margin-bottom: 0;
            
            &:nth-child(even){
                margin-right: 0;
            }

            @include media ("<tablet"){
                margin-right: 0;
            }
        }
    }

    .markservices__main{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
        gap: 20px;

        @include media ("<phone"){
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
            gap: 10px;
        }
    }

    .markservices__main__item{
        height: 100vh;
        max-height: 260px;
        padding: 35px 30px 65px 30px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        &::before{
            content:'';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: hsla(0, 0%, 0%, 0.5);
            z-index: 1;
        }

        img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .markservices__main__item_hover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        padding: 35px 30px 50px 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: $blue;
        transition: all .3s 0s;

        .card-btn{
            z-index: 10;
            max-width: 60px;
        }
    }

    .markservices__main__item_text{
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        h3{
            color: $white;
            margin-bottom: 15px;
        }

        p{
            font-size: 14px;
            line-height: 16px;
            color: $white;
        }
    }

    .markservices__main__item{
        &:hover{
            .markservices__main__item_hover{
                z-index: 5;
                opacity: 1;
            }

            .markservices__main__item_text{
                justify-content: flex-start;
            }
        }
    }
}

/* ______________________________choose___________________________________ */

.choose{
    padding: 60px 0 90px 0;
    position: relative;

    &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 70%;
        height: 1px;
        background-color: $gray;
    }

    @include media ("<phone"){
        padding: 40px 0 90px 0;
    }

    .choose-content{
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .choose__title{
        margin-bottom: 100px;

        @include media ("<phone"){
            margin-bottom: 45px;
        }
    }

    .choose__main{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .choose__main__item{
        width: 1000%;
        max-width: 390px;
        display: flex;
        align-items:center;
        margin-bottom: 135px;

        
        i{
            font-size: 97px;
            margin-right: 35px;
            color: $blue;

            @include media ("<phone"){
                margin-right: 10px;
            }
        }
        
        p{
            width: 1000%;
            max-width: 237px;
            font-size: 19px;
            line-height: 22px;
        }

        @include media ("<phone"){
            margin-bottom: 60px;

            &:nth-child(even) {
                flex-direction: row-reverse;

                i{
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }
    }

    .main-btn{
        max-width: 290px;
    }
}

/* ______________________________clients______________________________ */

.clients{
    padding: 60px 0 90px 0;
    position: relative;

    &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 70%;
        height: 1px;
        background-color: $gray;
    }

    .clients-content{
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .clients__title{
        margin-bottom: 50px;
    }

    .clients__main{
        margin-bottom: 90px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .clients__main_item{
        width: 1000%;
        max-width: 305px;
        display: flex;
        justify-content: center;
        padding: 30px 0;
    }

    .main-btn{
        max-width: 290px;
    }
}

/* ______________________________markreviews___________________________ */

.markreviews{
    padding: 60px 0 90px 0;
    position: relative;

    &::before{
        display: none;
    }

    &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 70%;
        height: 1px;
        background-color: $gray;
    }

    h2{
        margin-bottom: 90px;

        @include media ("<phone"){
            margin-bottom: 60px;
        }
    }

    .main-btn{
        max-width: 290px;
    }
}

/* ______________________________markemail______________________________________ */

.markemail{
    padding: 50px 0;
    position: relative;

    &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 70%;
        height: 1px;
        background-color: $blue;
    }

    .markemail-content{
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .markemail__title{
        margin-bottom: 40px;
        text-align: center;
    }

    form{
        display: flex;
        justify-content: center;
        width: 100%;

        @include media ("<tablet"){
            flex-direction: column;
            align-items:center;
        }

        input{
            width: 1000%;
            max-width: 525px;
            padding: 17px;
            text-align: center;
            border: 1px solid #414141;
            box-sizing: border-box;
            border-radius: 10px;
            margin-right: 30px;

            &::placeholder{
                color: $black;
            }

            @include media ("<tablet"){
                margin-bottom:30px;
                margin-right: 0;
                max-width: 290px;
            }
        }

        .form__btn{
            background: $blue;
            color: $white;
            transition: all .3s 0s;

            &:hover{
                background: $blue-hover;
            }
        }
    }
}

/* ______________________________our-services____________________________ */

.our-services{
    padding: 60px 0;

    .our-services-content{
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .our-services__title{
        margin-bottom: 55px;
        text-align: center;

        h2{
            margin-bottom: 0;
        }

        p{
            width: 1000%;
            max-width: 445px;
            margin-bottom: 0;
            color: #929090;
        }
    }

    .our-services__main{
        display: flex;
        margin-bottom: 50px;

        @include media ("<tablet"){
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .our-services__main__item{
        width: 1000%;
        max-width: 555px;
        overflow: hidden;
        border-radius: 10px; 
        height: 100vh;
        max-height: 260px;
        position: relative;
        padding: 40px 35px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 30px;

        &:last-child{
            margin-right: 0;
        }

        &::before{
            content:'';
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.54) 100%), linear-gradient(180deg, rgba(85, 180, 237, 0) 20%, rgba(85, 180, 237, 0.69) 63.5%, #55B4ED 85.11%), url(ru.freepik.jpg);
            filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
        }

        @include media ("<tablet"){
            margin-right: 0;
            max-height: 350px;
            margin-bottom: 10px;
        }

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }

        h3, p{
            position: relative;
            z-index: 10;
            color: $white;
        }
    }

    .main-btn{
        max-width: 290px;
    }
}